
tg-wysiwyg {
    display: flex;
    margin-bottom: 2rem;
    .editor {
        width: 100%;
    }
    .tools {
        display: none;
        padding-left: .75rem;

        &.visible {
            display: block;
        }
    }
    .mode-editor {
        margin-top: .25rem;
        span {
            color: $gray-light;
            cursor: pointer;
            margin-right: .5rem;
        }
    }
    .markdown {
        outline: none;
        padding: 1rem;

        &:not(.empty) {
            p {
                margin-bottom: 0;
                white-space: pre-wrap;
            }
        }
    }
    .read-mode {
        cursor: pointer;
        .wysiwyg {
            padding: .5rem 0;
        }
        .ck-editor__top {
            display: none;
        }
        .ck.ck-editor__main > .ck-editor__editable {
            border-color: transparent;
        }
    }
    .help-markdown {
        display: flex;
        margin-top: 1rem;
    }
    tg-text-editor {
        button {
            display: none;
        }
    }
    .edit-mode {
        .markdown,
        .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
            border: 1px solid $color-black600;
        }
        tg-text-editor {
            button {
                display: block;
            }
        }
    }
}

tg-html-editor,
.wysiwyg {
    i {
        font-style: revert;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: revert;
    }
    ul,
    ol {
        list-style: revert;
        padding: revert;
    }
}
