
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

button.btn-icon.promote-button.is-editable(
    tg-check-permission="add_us"
    title="{{ 'COMMON.PROMOTE_TO_US' | translate }}"
)
    tg-svg(svg-icon="icon-promote")
