section.admin-membership-table.basic-table
    div.row.title
        div.header-member Member
        div.header-admin Admin
        div.header-role Role
        div.header-status Status
    div.row
        div.row-member
            figure.avatar
                img(alt="username" src="http://thecodeplayer.com/u/uifaces/12.jpg")
                figcaption
                    span.name Pilar
                    span.email pilar.estaban@secuoyas.com
        div.row-admin
            input(type="checkbox", id="is-admin")
            label(for="is-admin") Is admin?
        div.row-role
            select
                option UX
                option Front
                option Back
        div.row-status
            div.active Active
            a(href="#").delete
                span.icon.icon-delete

    div.row
        div.row-member
            figure.avatar
                img(alt="username" src="http://thecodeplayer.com/u/uifaces/12.jpg")
                figcaption
                    span.name Pilar
                    span.email pilar.estaban@secuoyas.com
        div.row-admin
            input(type="checkbox", id="is-admin")
            label(for="is-admin") Is admin?
        div.row-role
            select
                option UX
                option Front
                option Back
        div.row-status
            a(href="#").pending
                | Pending
                span.icon.icon-reload
            a(href="#").delete
                span.icon.icon-delete
