section.admin-membership-table.basic-table
    div.row.title
        div.header-member Member
        div.header-admin Admin
        div.header-role Role
        div.header-status Status

    div.row(ng-repeat="member in memberships")
        div.row-member(tg-memberships-member-avatar="member")
        div.row-admin
            input(type="checkbox", id="is-admin" ng-model="member.is_admin")
            label(for="is-admin") Is admin?
        div.row-role
            select(ng-model="member.role")
                option UX
                option Front
                option Back
        div.row-status(tg-memberships-member-actions="member")
