section.default-values
    fieldset
        label(for="default-points") Default value for points selector
        select(id="default-points")
            option(selected) Name
    fieldset
        label(for="default-value-us") Default value for US status selector
        select(id="default-value-us")
            option(selected) Slug
    fieldset
        label(for="default-value-task") Default value for task status selector
        select(id="default-value-task")
            option(selected) Slug
    fieldset
        label(for="default-value-priority") Default value for priority selector
        select(id="default-value-priority")
            option(selected) Total story points
    fieldset
        label(for="default-value-severity") Default value for severity selector
        select(id="default-value-severity")
            option(selected) Name
    fieldset
        label(for="default-value-issue-type") Default value for issue type selector
        select(id="default-value-issue-type")
            option(selected) Slug
    fieldset
        label(for="default-value-issue-status") Default value for issue status selector
        select(id="default-value-issue-status")
            option(selected) Num. sprints
    fieldset
        a.button.button-green(href="", title="Save") Save
