section.project-values-table
    div.project-values-header
        div.project-values-row
            div.project-values-name
                span Name
            div.project-values-isclosed
                span Is closed?
            div.project-values-settings

    div.project-values-body
        form.sortable
            div(ng-repeat="status in usStatuses")
                div.project-values-row.visualization
                    span.icon.icon-drag-v
                    div.project-values-name
                        span {{ status.name }}
                    div.project-values-isclosed
                        span {{ status.is_closed|yesNo }}
                    div.project-values-settings
                        a.edit-us-status.icon.icon-edit(href="", title="Edit value")
                        a.delete-us-status.icon.icon-delete(href="", title="Delete value")

                div.project-values-row.edition.hidden
                    div.project-values-name
                        input(name="name", type="text", placeholder="Write a name for the new status", ng-model="status.name", data-required="true", data-maxlength="255")
                    div.project-values-isclosed
                        select(name="is_closed", ng-model="status.is_closed", ng-options="e.id as e.name for e in [{'id':true, 'name':'Yes'},{'id':false, 'name': 'No'}]", data-required="true")
                    div.project-values-settings
                        a.save.icon.icon-floppy(href="", title="Add")
                        a.cancel.icon.icon-delete(href="", title="Delete")

        form
            div.project-values-row.new-us-status.hidden
                div.project-values-name
                    input(name="name", type="text", placeholder="Write a name for the new status", ng-model="newUs.name", data-required="true", data-maxlength="255")
                div.project-values-isclosed
                    select(name="is_closed", ng-model="newUs.is_closed", ng-options="e.id as e.name for e in [{'id':true, 'name':'Yes'},{'id':false, 'name': 'No'}]", data-required="true")
                div.project-values-settings
                    a.add-new.icon.icon-floppy(href="", title="Add")
                    a.delete-new.icon.icon-delete(href="", title="Delete")
