section.colors-table
    div.table-header
        div.row
            div.color-column Color
            div.status-name Name
            div.is-closed-column Is closed?
            div.options-column

    div.table-main
        form.sortable
            div(ng-repeat="status in usStatuses")
                div.row.table-main.visualization
                    span.icon.icon-drag-v
                    div.color-column
                        div.current-color(style="background: {{ status.color }}")
                    div.status-name
                        span {{ status.name }}
                    div.is-closed-column
                        span {{ status.is_closed|yesNo }}
                    div.options-column
                        a.edit-us-status.icon.icon-edit(href="", title="Edit value")
                        a.delete-us-status.icon.icon-delete(href="", title="Delete value")

                div.row.table-main.edition.hidden
                    div.color-column
                        div.current-color(style="background: {{ status.color }}")
                        include ../../components/select-color
                    div.status-name
                        input(name="name", type="text", placeholder="Write a name for the new status", ng-model="status.name", data-required="true", data-maxlength="255")
                    div.is-closed-column
                        select(name="is_closed", ng-model="status.is_closed", ng-options="e.id as e.name for e in [{'id':true, 'name':'Yes'},{'id':false, 'name': 'No'}]", data-required="true")
                    div.options-column
                        a.save.icon.icon-floppy(href="", title="Add")
                        a.cancel.icon.icon-delete(href="", title="Delete")

        form
            div.row.table-main.new-us-status.hidden
                div.color-column
                    div.current-color(style="background: {{ status.color }}")
                    include ../../components/select-color
                div.status-name
                    input(name="name", type="text", placeholder="Write a name for the new status", ng-model="newUs.name", data-required="true", data-maxlength="255")
                div.is-closed-column
                    select(name="is_closed", ng-model="newUs.is_closed", ng-options="e.id as e.name for e in [{'id':true, 'name':'Yes'},{'id':false, 'name': 'No'}]", data-required="true")
                div.options-column
                    a.add-new.icon.icon-floppy(href="", title="Add")
                    a.delete-new.icon.icon-delete(href="", title="Delete")
