section.project-values-table
    div.project-values-header
        div.project-values-row
            div.project-values-name
                span Name
            div.project-values-isclosed
                span Is closed?
            div.project-values-settings
    div.project-values-body
        div.project-values-row
            div.project-values-name
                 span Definition needed
            div.project-values-isclosed
                span No
            div.project-values-settings
                a.icon.icon-edit(href="", title="Edit value")
                a.icon.icon-delete(href="", title="Delete value")
        div.project-values-row
            div.project-values-name
                 span Approval pending
            div.project-values-isclosed
                span No
            div.project-values-settings
                a.icon.icon-edit(href="", title="Edit value")
                a.icon.icon-delete(href="", title="Delete value")
        div.project-values-row
            div.project-values-name
                 input(type="text", placeholder="Write a name for the new status")
            div.project-values-isclosed
                select
                    option(selected) No
                    option Yes
            div.project-values-settings
                a.icon.icon-floppy(href="", title="Delete value")
                a.icon.icon-delete(href="", title="Delete value")
