.profile-favs {
    border-top: 1px solid $whitish;
}

.profile-filter {
    align-items: center;
    background: $whitish;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: .5rem 1rem;
    .searchbox {
        align-items: center;
        display: flex;
        flex: 1;
        .icon-search {
            fill: $gray;
            margin-right: .5rem;
        }
        input {
            border: 0;
            border-bottom: 1px solid transparent;
            flex: 1;
            margin-right: 1rem;
            &:focus {
                border-bottom: 1px solid $gray-light;
                outline: none;
                transition: border-bottom .3s ease-in;
            }
        }
    }
    .filters {
        a {
            color: $gray-light;
            display: inline-block;
            padding: 0 .5rem;
            &:hover,
            &.active {
                color: $blackish;
            }
        }
    }
}
