
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

fieldset.create-project-invite
    .create-project-invite-avatars
        tg-single-member(
            tg-repeat="member in vm.members track by member.get('id')"
            disabled="vm.isDisabled(member.get('id'))"
            avatar="member"
            ng-click="vm.onToggleInvitedMember({member: member.get('id')})"
        )
