fieldset.create-project-invite
    .create-project-invite-avatars
        tg-single-member(
            tg-repeat="member in vm.members track by member.get('id')"
            disabled="vm.isDisabled(member.get('id'))"
            avatar="member"
            ng-click="vm.onToggleInvitedMember({member: member.get('id')})"
        )
