.menu-secondary {
    &.filters-bar {
        @include table-flex-child(0, 1px, 0, 1px);
        @include transition(all .2s linear);
        padding: 0;
        &.active {
            @include table-flex-child(1, 260px, 0, 260px);
            @include transition(all .2s linear);
            padding: 2em 1em;

            .filters-inner {
                @include transition (all .4s ease-in);
                opacity: 1;
            }
        }
    }
}

.filters {
    h1 {
        vertical-align: baseline;
        .icon {
            margin: 0;
        }
        a {
            vertical-align: baseline;
        }
    }
    h2 {
        margin-top: 1rem;
        .subfilter {
            @extend %large;
        }
    }
    form {
        input {
            background: $grayer;
            color: $white;
            @include placeholder {
                color: $gray-light;
            }
        }
        .icon-search {
            color: $gray-light;
            position: absolute;
            right: .7rem;
            top: .7rem;
        }
    }
}

.filters-inner {
    opacity: 0;
    @include transition (all .1s ease-in);
}

.filters-applied {
    margin-top: .5rem;
    .single-filter {
        margin-bottom: .5rem;
    }
}

.filters-cats {
    margin-top: 2rem;
    li {
        border-bottom: 1px solid $gray-light;
        text-transform: uppercase;
    }
    a {
        @include transition (color .2s ease-in);
        color: $grayer;
        display: block;
        padding: .5rem 0 .5rem .5rem;
        &:hover {
            @include transition (color .2s ease-in);
            color: $green-taiga;
            .icon {
                @include transition (opacity .2s ease-in);
                opacity: 1;
            }
        }
    }
    .icon {
        @include transition (opacity .2s ease-in);
        color: $grayer;
        float: right;
        opacity: 0;
    }
}
