.filters {
    h1 {
        vertical-align: baseline;
        .icon {
            margin: 0;
        }
        a {
            vertical-align: baseline;
        }
    }
    .breadcrumb {
        @include font-size(large);
        margin-top: 1rem;
        .icon-arrow-right {
            @include svg-size(.7rem);
            margin: 0 .25rem;
            vertical-align: middle;
        }
        .back {
            color: $gray-light;
        }
    }
    input {
        background: $grayer;
        color: $white;
        @include placeholder {
            color: $gray-light;
        }
    }
    .search-action {
        position: absolute;
        right: .7rem;
        top: .7rem;
    }
}

.filters-inner {
    opacity: 0;
    transition: all .1s ease-in;
    .loading {
        margin: 0;
        padding: 8px;
        text-align: center;
        width: 100%;
        .loading-spinner {
            @include loading-spinner;
            max-height: 1rem;
            max-width: 1rem;
        }
    }
}

.filters-applied {
    margin-top: .5rem;
}

.filters-step-cat {
    .save-filters {
        color: $white;
        display: block;
        text-align: center;
    }
    .my-filter-name {
        background: $grayer;
        color: $whitish;
        width: 100%;
        @include placeholder {
            color: $gray-light;
        }
    }
}

.filter-list {
    .single-filter {
        cursor: pointer;
    }
}

.filters-cats {
    margin-top: 2rem;
    li {
        border-bottom: 1px solid $gray-light;
        text-transform: uppercase;
    }
    .custom-filters {
        .title {
            color: $primary;
        }
    }
    a {
        align-items: center;
        color: $grayer;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0 .5rem .5rem;
        transition: color .2s ease-in;
        &:hover {
            color: $primary;
            transition: color .2s ease-in;
            .icon {
                opacity: 1;
                transition: opacity .2s ease-in;
            }
        }
    }
    .icon {
        fill: currentColor;
        float: right;
        height: .9rem;
        opacity: 0;
        transition: opacity .2s ease-in;
        width: .9rem;
    }
}
