.list-filters {
    align-items: center;
    background-color: $whitish;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    ul {
        display: flex;
        margin-bottom: 0;
    }
    li {
        margin-right: 2rem;
        a {
            @extend %large;
            @extend %title;
            opacity: .4;
            &:hover {
                color: $blackish;
                opacity: 1;
                transition: opacity .3s linear;
            }
        }
        .active {
            color: $blackish;
            opacity: 1;
            transition: opacity .3s linear;
        }
        .icon {
            padding-right: .5rem;
        }
    }
}
