<% _.each(filters, function(f) { %>
a.single-filter.selected(data-type!="<%- f.type %>", data-id!="<%- f.id %>")
    span.name(style!="<%- f.style %>")
        | <%- f.name %>
    svg.icon.icon-close.remove-filter
        use(xlink:href="#icon-close")
<% }) %>
