
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.defined-points(title="{{'BACKLOG.EXCESS_OF_POINTS' | translate}}")

.project-points-progress(title="{{'BACKLOG.PENDING_POINTS' | translate}}",
                         style!="width: <%- projectPointsPercentaje %>%")
.closed-points-progress(title="{{'BACKLOG.CLOSED_POINTS' | translate}}",
                        style!="width: <%- closedPointsPercentaje %>%")
