.defined-points(title="{{'BACKLOG.EXCESS_OF_POINTS' | translate}}")

.project-points-progress(title="{{'BACKLOG.PENDING_POINTS' | translate}}",
                         style!="width: <%- projectPointsPercentaje %>%")
.closed-points-progress(title="{{'BACKLOG.CLOSED_POINTS' | translate}}",
                        style!="width: <%- closedPointsPercentaje %>%")
