.defined-points(title="Excess of points")
.project-points-progress(title="Pending Points", style!="width: <%- projectPointsPercentaje %>%")
.closed-points-progress(title="Closed points", style!="width: <%- closedPointsPercentaje %>%")