.sprint-name
    a.icon.icon-arrow-up(href="", title="{{'BACKLOG.COMPACT_SPRINT' | translate}}")
    a(ng-if="::isVisible", href="{{::taskboardUrl}}", title="{{'BACKLOG.GO_TO_TASKBOARD' | translate}}")
        span {{::name}}

    a.icon.icon-edit(ng-if="::isEditable", href="", title="{{'BACKLOG.EDIT_SPRINT' | translate}}")

.sprint-summary
    .sprint-date {{::estimatedDateRange}}
    ul
        li
            span.number {{::closedPoints}}
            span.description(translate="BACKLOG.CLOSED_POINTS")
        li
            span.number {{::totalPoints}}
            span.description(translate="BACKLOG.TOTAL_POINTS")
