ul.popover.pop-points-open
    <% _.each(points, function(point) { %>
    li
        <% if (point.selected) { %>
        a.point(href="", title!="<%- point.name %>", data-point-id!="<%- point.id %>")
            | <%- point.name %>
        <% } else { %>
        a.point.active(href="", title!="<%- point.name %>", data-point-id!="<%- point.id %>")
            | <%- point.name %>
        <% } %>
    <% }); %>
