ul.popover.pop-role
    li
        a.clear-selection.active-popover(href="", title="{{'COMMON.ROLES.ALL' | translate}}", translate="COMMON.ROLES.ALL")
    <% _.each(roles, function(role) { %>
    li
        a(href="", class="role", title!="<%- role.name %>", data-role-id!="<%- role.id %>")
            span.item-text <%- role.name %>
    <% }); %>
