doctype html

div.wrapper.cancel-account
    div.auth
        div.auth-container
            div.logo-svg
                include ../../svg/logo-color.svg
            h1.logo Taiga
            h2.tagline(translate="COMMON.TAG_LINE")

            include ../includes/modules/cancel-account-form
