doctype html

div.wrapper.cancel-account
    div.login-main
        div.login-container
            h1.logo
                img.logo-svg(src="/svg/logo.svg", alt="TAIGA")
            p.tagline(translate="COMMON.TAG_LINE")

            include ../includes/modules/cancel-account-form
