div.wrapper
    div.login-main
        div.login-container
            h1.logo
                img.logo-svg(src="/svg/logo.svg", alt="TAIGA")
            p.tagline Your agile, free, and open source project management tool

            include ../includes/modules/change-email-form
