div.wrapper(tg-user-notifications, ng-controller="UserNotificationsController as ctrl",
                ng-init="section='mail-notifications'")
    sidebar.menu-secondary.sidebar(tg-user-settings-navigation="mail-notifications")
        include ../includes/modules/user-settings-menu

    section.main.admin-common
        header
            h1
                span.green(tg-bo-html="sectionName")

        p.total Notifications By Mail

        include ../includes/modules/user-settings/mail-notifications-table
