doctype html

div.wrapper(tg-user-notifications, ng-controller="UserNotificationsController as ctrl",
                ng-init="section='mail-notifications'")
    nav.menu.hidden(tg-project-menu)

    sidebar.menu-secondary.sidebar(tg-user-settings-navigation="mail-notifications")
        include ../includes/modules/user-settings-menu

    section.main.admin-common
        header
            h1
                span.green {{sectionName | translate}}

        p.total(translate="NOTIFICATION.MAIL")

        include ../includes/modules/user-settings/mail-notifications-table
