div.wrapper(tg-user-change-password, ng-controller="UserChangePasswordController as ctrl",
            ng-init="section='user-settings'")
    sidebar.menu-secondary.sidebar(tg-user-settings-navigation="change-password")
        include ../includes/modules/user-settings-menu

    section.main.user-change-password
        header
            h1
                span.green(tg-bo-html="sectionName")

        form
            fieldset
                label(for="current-password") Current Password
                input(type="password", placeholder="Your current password (or empty if you have no password yet)", id="current-password", ng-model="currentPassword")
            fieldset
                label(for="new-password") New Password
                input(type="password", placeholder="New Password", id="new-password", ng-model="newPassword1")
            fieldset
                label(for="retype-password") Retype Password
                input(type="password", placeholder="Retype Password", id="retype-password", ng-model="newPassword2")
            fieldset
                button.button-green.submit-button(type="submit", title="Save") Save
