.issues-table {
    @include table-flex();
    margin-bottom: 2rem;
    &.empty {
        display: none;
    }
    .row {
        &:hover {
            background: lighten($green-taiga, 60%);
            @include transition (background .2s ease-in);
        }
    }
    .row-selected {
        background: lighten($green-taiga, 60%);
        @include transition (background .2s ease-in);
    }
    .title {
        @extend %medium;
        @extend %bold;
        border-bottom: 1px solid $gray-light;
        &:hover {
            background: transparent;
        }
        div {
            cursor: pointer;
        }
    }
    .table-main {
        @extend %small;
        border-bottom: 1px solid $gray-light;
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            flex-basis: 35px;
        }
        figcaption {
            margin-left: .5rem;
        }
    }
    .level-field {
        @include table-flex-child(1, 50px, 0, 50px);
        text-align: center;
    }
    .subject {
        @include table-flex-child(10, 300px, 0, 300px);
        padding-right: 1rem;
        span {
            &:first-child {
                margin-right: .5rem;
            }
        }
    }
    .issue-field,
    .assigned-field,
    .created-date {
        @include table-flex-child(1, 100px, 0, 150px);
        padding: 0 1rem;
        text-align: left;
    }
}
