.issues-options {
    align-items: center;
    background-color: $whitish;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    .button-bulk {
        margin-left: .2rem;
    }
}
