.warning-users-import-lightbox {
    max-width: 600px;
    .warning-users-import-title {
        text-align: center;
    }
    .actions {
        display: flex;
        margin: 2rem 0;
        button {
            flex: 1;
            &:first-child {
                flex: 0;
                flex-basis: 40%;
                margin-right: .5rem;
            }
        }
        .button-trans {
            color: $grayer;
        }
    }
}
