// THIS IS THE MAIN INCLUDES SASS FILE

// Bourbon
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     true;
$prefix-for-spec:      true;
@import 'bourbon/bourbon';

//#################################################
//             dependencies
//#################################################

@import 'dependencies/helpers';
@import 'dependencies/colors';
@import 'dependencies/typography';
@import 'dependencies/elements';
@import 'dependencies/mixins';
@import 'dependencies/responsive';
@import 'dependencies/forms';

//#################################################
//             components
//#################################################

@import 'components/buttons';
@import 'components/avatar';
@import 'components/summary';
@import 'components/popover';
@import 'components/tag';
@import 'components/filter';
@import 'components/taskboard-task';
@import 'components/kanban-task';
@import 'components/notification-message';
@import 'components/basic-table';
@import 'components/paginator';
@import 'components/watchers';
@import 'components/level';
@import 'components/assigned-to';
@import 'components/wysiwyg';
@import 'components/select-color';

//#################################################
//             Modules
//#################################################

//Common modules
@import 'modules/common/nav';
@import 'modules/common/projects-nav';
@import 'modules/common/lightbox';
@import 'modules/common/colors-table';
@import 'modules/common/category-config';
@import 'modules/common/attachments';
@import 'modules/common/comments';
@import 'modules/common/comment-activity';
@import 'modules/common/activity';

//Project modules
@import 'modules/home-projects-list';
@import 'modules/home-project';
@import 'modules/project-details';

//Issues modules
@import 'modules/issues/issues-table';

//Kanban modules
@import 'modules/kanban/kanban-table';

//Search modules
@import 'modules/search/search-filter';
@import 'modules/search/search-result-table';
@import 'modules/search/search-in';

//Filters modules
@import 'modules/filters/filters';
@import 'modules/filters/list-filters';
@import 'modules/filters/filter-tags';

//Backlog modules
@import 'modules/backlog/sprints';
@import 'modules/backlog/burndown';
@import 'modules/backlog/backlog-table';
@import 'modules/backlog/taskboard-table';

//Login modules
@import 'modules/auth/login-form';
@import 'modules/auth/register-form';
@import 'modules/auth/forgot-form';
@import 'modules/auth/change-password-from-recovery';

//Wiki modules
@import 'modules/wiki/wiki-nav';
@import 'modules/wiki/wiki-summary';

//modules admin
@import 'modules/admin/admin-menu';
@import 'modules/admin/admin-submenu';
@import 'modules/admin/admin-roles';
@import 'modules/admin/admin-functionalities';
@import 'modules/admin/admin-membership-table';
@import 'modules/admin/admin-project-profile';
@import 'modules/admin/default-values';
@import 'modules/admin/project-values';

//Modules user Settings
@import 'modules/user-settings/mail-notifications-table';
@import 'modules/user-settings/user-profile';

//#################################################
//             Layout
//#################################################

@import 'layout/base';
@import 'layout/login';
@import 'layout/invitation';
@import 'layout/backlog';
@import 'layout/taskboard';
@import 'layout/us-detail';
@import 'layout/admin-memberships';
@import 'layout/admin-project-values';
@import 'layout/project-colors';
@import 'layout/kanban';
@import 'layout/issues';
@import 'layout/wiki';

//#################################################
//             Shame
//#################################################

@import 'shame/shame';
