/*
THIS IS THE MAIN INCLUDES SASS FILE
*/

/* Bourbon */
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     true;
$prefix-for-spec:      true;
@import 'bourbon/bourbon';

//Dependencies
@import 'dependencies/helpers';
@import 'dependencies/colors';
@import 'dependencies/typography';
@import 'dependencies/elements';

//Components
@import 'components/buttons';
@import 'components/avatar';
@import 'components/summary';

//Layout
@import 'layout/base';
@import 'layout/backlog';

//Modules
@import 'modules/nav';
@import 'modules/sidebar';

// Responsive
@import 'responsive/mobile';
@import 'responsive/screen';
