// THIS IS THE MAIN INCLUDES SASS FILE

// Bourbon
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     true;
$prefix-for-spec:      true;
@import 'bourbon/bourbon';

//Dependencies
@import 'dependencies/helpers';
@import 'dependencies/colors';
@import 'dependencies/typography';
@import 'dependencies/elements';
@import 'dependencies/mixins';
@import 'dependencies/forms';

//Components
@import 'components/buttons';
@import 'components/avatar';
@import 'components/summary';
@import 'components/popover';
@import 'components/tag';
@import 'components/filter';
@import 'components/taskboard-task';

//Modules
@import 'modules/nav';
@import 'modules/sprints';
@import 'modules/burndown';
@import 'modules/backlog-table';
@import 'modules/filters';
@import 'modules/lightbox';
@import 'modules/taskboard-table';
@import 'modules/search-filter';
@import 'modules/search-result-table';
@import 'modules/search-in';
@import 'modules/issues-table';
@import 'modules/list-filters';
@import 'modules/filter-tags';
@import 'modules/admin-menu';
@import 'modules/admin-submenu';
@import 'modules/admin-membership';
@import 'modules/admin-roles';
@import 'modules/admin-functionalities';
@import 'modules/category-config';
@import 'modules/project-details';

// Responsive
@import 'responsive/mobile';
@import 'responsive/screen';

//Layout
@import 'layout/base';
@import 'layout/backlog';
@import 'layout/taskboard';
