div.summary.large-summary
    div.large-summary-wrapper
        div
            div.summary-progress-bar
                div.current-progress
            div.data
                span.number 30%
                span.description completed
        div.summary-stats
            span.number 12
            span.description project<br />points
        div.summary-stats
            span.number 23
            span.description defined<br />points
        div.summary-stats
            span.number 12
            span.description assigned<br />points
        div.summary-stats.summary-stats-divider
            span.number 23
            span.description closed<br />points

        div.summary-stats
            span.icon.icon-bulk
            span.number 73
            span.description created<br />tasks
        div.summary-stats
            span.number 72
            span.description closed<br />tasks
        div.summary-stats
            span.number 18
            span.description remaining<br />tasks
        div.summary-stats
            span.icon.icon-iocaine
            span.number 10
            span.description iocaine<br />doses
    a.icon.icon-stats.toggle-analytics-visibility(href="", title="Show statistics")
