//- To Aadd a new notification type:
//-
//-     div.hidden.notification-message.notification-message-< type >
//-         (...)
//-         h4 < title >
//-         (...)
//-         p < message >
//-         (...)
//-
//-See coffe/modules/base/confirm.coffee

div.notification-message.notification-message-success
   div.text
       h4.warning(translate="NOTIFICATION.OK")
       p(translate="NOTIFICATION.SAVED")

div.notification-message.notification-message-error
    div.icon.icon-notification-error
    div.text
        h4.warning(translate="NOTIFICATION.WARNING")
        p(translate="NOTIFICATION.WARNING_TEXT")
    a.icon.icon-delete(href="", title="{{'NOTIFICATION.CLOSE' | translate}}")

div.notification-light.notification-message-light-error
    div.text
        h4.warning(translate="NOTIFICATION.WARNING")
        p(translate="NOTIFICATION.WARNING_TEXT")
    a.close(href="", title="{{'NOTIFICATION.CLOSE' | translate}}")
        include ../../../svg/remove.svg
