div.popover.select-color
    ul
        li.color(style="background: #fce94f", data-color="#fce94f")
        li.color(style="background: #edd400", data-color="#edd400")
        li.color(style="background: #c4a000", data-color="#c4a000")
        li.color(style="background: #8ae234", data-color="#8ae234")
        li.color(style="background: #73d216", data-color="#73d216")
        li.color(style="background: #4e9a06", data-color="#4e9a06")
        li.color(style="background: #d3d7cf", data-color="#d3d7cf")
        li.color(style="background: #fcaf3e", data-color="#fcaf3e")
        li.color(style="background: #f57900", data-color="#f57900")
        li.color(style="background: #ce5c00", data-color="#ce5c00")
        li.color(style="background: #729fcf", data-color="#729fcf")
        li.color(style="background: #3465a4", data-color="#3465a4")
        li.color(style="background: #204a87", data-color="#204a87")
        li.color(style="background: #888a85", data-color="#888a85")
        li.color(style="background: #ad7fa8", data-color="#ad7fa8")
        li.color(style="background: #75507b", data-color="#75507b")
        li.color(style="background: #5c3566", data-color="#5c3566")
        li.color(style="background: #ef2929", data-color="#ef2929")
        li.color(style="background: #cc0000", data-color="#cc0000")
        li.color(style="background: #a40000", data-color="#a40000")
        li.color(style="background: #2e3436", data-color="#2e3436")

    input(type="text", placeholder="personalized colors", ng-model="color")
    div.selected-color(ng-style="{'background-color': color}")
