div.summary.large-summary
    div.large-summary-wrapper
        div.summary-progress-wrapper
            div.summary-progress-bar(tg-progress-bar="stats.completedPercentage")
            div.data
                span.number(ng-bind="stats.completedPercentage + '%'")

        div.summary-stats
            span.number(ng-bind="stats.totalPointsSum|default:'--'")
            span.description(translate="BACKLOG.SPRINT_SUMMARY.TOTAL_POINTS")
        div.summary-stats
            span.number(ng-bind="stats.completedPointsSum|default:'--'")
            span.description(translate="BACKLOG.SPRINT_SUMMARY.COMPLETED_POINTS")

        div.summary-stats
            tg-svg(svg-icon="icon-bulk")
            span.number(ng-bind="stats.openTasks|default:'--'")
            span.description(translate="BACKLOG.SPRINT_SUMMARY.OPEN_TASKS")
        div.summary-stats
            span.number(ng-bind="stats.completed_tasks|default:'--'")
            span.description(translate="BACKLOG.SPRINT_SUMMARY.CLOSED_TASKS")

        div.summary-stats(title="{{'COMMON.IOCAINE_TEXT' | translate}}")
            tg-svg(svg-icon="icon-iocaine")
            span.number(ng-bind="stats.iocaine_doses|default:'--'")
            span.description(translate="BACKLOG.SPRINT_SUMMARY.IOCAINE_DOSES")

    div.stats.toggle-analytics-visibility(title="{{'BACKLOG.SPRINT_SUMMARY.SHOW_STATISTICS_TITLE' | translate}}")
        tg-svg(svg-icon="icon-graph")
