
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

div.summary
    div.summary-progress-bar(tg-backlog-progress-bar="stats")

    div.data
        span.number(ng-bind="stats.completedPercentage + '%'")

    div.summary-stats(ng-if="stats.total_points")
        span.number(ng-bind="stats.total_points | number") --
        span.description(translate="BACKLOG.SUMMARY.PROJECT_POINTS")
    div.summary-stats
        span.number(ng-bind="stats.defined_points | number") --
        span.description(translate="BACKLOG.SUMMARY.DEFINED_POINTS")
    div.summary-stats
        span.number(ng-bind="stats.closed_points | number") --
        span.description(translate="BACKLOG.SUMMARY.CLOSED_POINTS")
    div.summary-stats
        span.number(ng-bind="stats.speed | number:0") --
        span.description(translate="BACKLOG.SUMMARY.POINTS_PER_SPRINT")


    div.stats.js-toggle-burndown-visibility-button(
          title="{{'BACKLOG.SPRINT_SUMMARY.TOGGLE_BAKLOG_GRAPH' | translate}}",
          ng-if="!showGraphPlaceholder"
        )
        tg-svg(svg-icon="icon-graph")
