div.summary
    div.summary-progress-bar(tg-backlog-progress-bar="stats")

    div.data
        span.number(ng-bind="stats.completedPercentage + '%'")

    div.summary-stats
        span.number(ng-bind="stats.total_points") --
        span.description(translate="BACKLOG.SUMMARY.PROJECT_POINTS")
    div.summary-stats
        span.number(ng-bind="stats.defined_points") --
        span.description(translate="BACKLOG.SUMMARY.DEFINED_POINTS")
    div.summary-stats
        span.number(ng-bind="stats.closed_points") --
        span.description(translate="BACKLOG.SUMMARY.CLOSED_POINTS")
    div.summary-stats
        span.number(ng-bind="stats.speed | number:0") --
        span.description(translate="BACKLOG.SUMMARY.POINTS_PER_SPRINT")

    a.icon.icon-stats.js-toggle-burndown-visibility-button(href="",
                                      title="{{'BACKLOG.SPRINT_SUMMARY.TOGGLE_BAKLOG_GRAPH' | translate}}")

