div(ng-show="task.isPlaceholder") TODO PLACEHOLDER

div.taskboard-tagline(ng-show="!task.isPlaceholder", tg-colorize-tags="task.tags", tg-colorize-tags-type="taskboard")
div.taskboard-task-inner(ng-show="!task.isPlaceholder")
    div.taskboard-user-avatar(tg-taskboard-user-avatar, users="usersById", task="task", project="project", ng-class="{iocaine: task.is_iocaine}")
    span.icon.icon-iocaine(ng-if="task.is_iocaine", title="{{'COMMON.IOCAINE_TEXT' | translate}}")
    p.taskboard-text
        a.task-assigned(href="", title="{{'TASKBOARD.TITLE_ACTION_ASSIGN' | translate}}")
        span.task-num(tg-bo-ref="task.ref")
        a.task-name(href="", title="#{{ ::task.ref }} {{ ::task.subject }}", ng-bind="task.subject",
                    tg-nav="project-tasks-detail:project=project.slug,ref=task.ref")
    a.icon.icon-edit(tg-check-permission="modify_task",
        href="", title="{{'TASKBOARD.TITLE_ACTION_EDIT' | translate}}")
