div.new-task
    a.button.button-green(href="", ng-click="ctrl.addNewTask(us, 'standakd')", title="Add new task")
        span.text + Add new Task
    a.button.button-bulk(href="", ng-click="ctrl.addNewTask(us, 'bulk')", title="Add new tasks in bulk")
        span.icon.icon-bulk
