div.new-us
    a.button.button-green(tg-check-permission="add_us", href="", ng-click="ctrl.addNewUs('standard')", title="Add a new User Story")
        span.text + Add a new User Story
    a.button.button-bulk(tg-check-permission="add_us", href="", ng-click="ctrl.addNewUs('bulk')", title="Bulk")
        span.icon.icon-bulk
