div.new-us
    a.button.button-green(href="", ng-click="ctrl.addNewUs('standard')", title="Add New US")
        span.text + Add new US
    a.button.button-bulk(href="", ng-click="ctrl.addNewUs('bulk')", title="Bulk")
        span.icon.icon-bulk
