section.us-detail-assigned-to
    div.user-avatar
        a.avatar(href="", title="Assigned to")
            img(src="http://thecodeplayer.com/u/uifaces/18.jpg", alt="username")
    div.assigned-to
        span.assigned-title Assigned to
        span.user-assigned Anler Hernández