div.row.us-item-row(ng-repeat="us in visibleUserstories track by us.id")
    div.user-stories
        div.user-story-name
            input(type="checkbox", name="")
            a(href="") {{ us.subject }}
            span.us-settings
                a.icon.icon-edit(href="", ng-click="ctrl.editUserStory(us)", title="Edit")
                a.icon.icon-delete(href="", ng-click="ctrl.deleteUserStory(us)", title="Delete")
        div.user-story-tags
            span.tag(ng-repeat="tag in us.tags") {{ tag }}

    div.status.width-2(tg-us-status="us" on-update="ctrl.loadProjectStats()")
       a.us-status(href="", title="Status Name")

    div.points(tg-us-points="us")
        a.us-points(href="", title="Points") 0

    a.icon.icon-drag-v(href="", title="Drag")
