div.row.us-item-row(ng-repeat="us in visibleUserstories|orderBy:order track by us.id", tg-draggable)
    div.user-stories
        div.user-story-tags
            span.tag(ng-repeat="tag in us.tags", tg-bind-html="tag", tg-colorize-tag="tag")
        div.user-story-name
            input(type="checkbox", name="")
            a.clickable(tg-nav="project-userstories-detail:project=project.slug,ref=us.ref", title="{{ us.subject }}") {{ us.subject }}
            span.us-settings
                a.icon.icon-edit(href="", ng-click="ctrl.editUserStory(us)", title="Edit")
                a.icon.icon-delete(href="", ng-click="ctrl.deleteUserStory(us)", title="Delete")

    div.status(tg-us-status="us" on-update="ctrl.loadProjectStats()")
        a.us-status(href="", title="Status Name")
            span.us-status-bind
            span.icon.icon-arrow-bottom

    div.points(tg-us-points="us")
        a.us-points(href="", title="Points")
            span.points-value 0
            span.icon.icon-arrow-bottom

    a.icon.icon-drag-v(href="", title="Drag")
