div.row.table-main
    div.user-stories
        div.user-story-name
            input(type="checkbox", name="")
            a(href="") Crear el perfil de usuario Senior en el admin
            span.us-settings
                a.icon.icon-edit(href="", title="Edit")
                a.icon.icon-delete(href="", title="Delete")
        div.user-story-tags
            - for(var y = 0; y < 3; y++)
                include ../components/tag
    div.status Status
    div.points 12
    div.points 54
    a.icon.icon-drag-v(href="", title="Drag")
