div.row(ng-repeat="us in userstories")
    div.user-stories
        div.user-story-name
            input(type="checkbox", name="")
            a(href="") {{ us.subject }}
            span.us-settings
                a.icon.icon-edit(href="", ng-click="ctrl.deleteUserStory(us)", title="Edit")
                a.icon.icon-delete(href="", ng-click="ctrl.deleteUserStory(us)", title="Delete")
        div.user-story-tags
            span.tag Tag name
            span.tag Tag name
    div.status Status
    div.points 12
    div.points 54
    a.icon.icon-drag-v(href="", title="Drag")
