//- NOTE: - Add a lightbox-notion at the end of parent template. Ex:
//-
//-             div.hide.lightbox.lightbox-generic-notion(id="notion-admin-project-values-us-points",
//-                                                       tg-lb-notion)
//-                 include views/modules/help-notions/lightbox-notion-admin-project-values-us-points
//-
//-       - Defined variable 'helpLightboxId' in parent template. Ex:
//-
//-             - var helpLightboxId = "admin-project-values-us-points"
//-             include views/components/help

a.icon.icon-idea.help(href="", title="You need some help?", tg-lb-notion-button=helpLightboxId)
