div.kanban-tagline
    a.kanban-tag(ng-repeat="tag in us.tags", href="", tg-bo-title="tag", tg-colorize-tag-background="tag")
div.kanban-task-inner
    div(tg-kanban-user-avatar="us.assigned_to", ng-model="us")
    div.task-text
        span.task-assigned Username
        span.task-num(tg-bo-ref="us.ref")
        a.task-name(href="", title="", tg-bind-html="us.subject",
                    tg-nav="project-userstories-detail:project=project.slug,ref=us.ref")
        p.task-points
            span(tg-bind-html="us.total_points") --
            span points
    a.icon.icon-edit(tg-check-permission, permission="modify_us", href="", title="Edit", ng-click="ctrl.editUserStory(us)")
    a.icon.icon-drag-h(tg-check-permission, permission="modify_us", href="", title="Drag&Drop")
