div.kanban-tagline
    a.taskboard-tag
div.kanban-task-inner
    p.task-text
        span.task-num #37
        a.task-name(href="", title="task.subject").
            Para IDE de desarrollo (al menos front end) yo recomiendo Aptana Studio.
    figure.avatar
        a(href="", title="UserName")
            img.avatar(src="http://thecodeplayer.com/u/uifaces/12.jpg", alt="")
    span.assigned-to
        a(href="", title="Change assignation")  Username
    a.icon.icon-edit(href="", title="Edit", ng-click="ctrl.editTask(task)")
    a.icon.icon-drag-h(href="", title="Drag&Drop")
    a.task-points(href="", title="task points") 8
