div.kanban-tagline
    a.taskboard-tag
div.kanban-task-inner
    p.task-text
        span.task-num(tg-bo-ref="us.ref")
        a.task-name(href="", title="", tg-bind-html="us.subject",
                    tg-nav="project-userstories-detail:project=project.slug,ref=us.ref")

    tg-kanban-user-avatar(model="us.assigned_to", click="ctrl.changeUsAssignedTo(us)")

    a.icon.icon-edit(href="", title="Edit", ng-click="ctrl.editUserStory(us)")
    a.icon.icon-drag-h(href="", title="Drag&Drop")
    a.task-points(href="", title="task points", tg-bind-html="us.total_points") --
