div.kanban-tagline(tg-colorize-tags="us.tags", tg-colorize-tags-type="kanban")
div.kanban-task-inner
    div(tg-kanban-user-avatar="us.assigned_to", ng-model="us")
    div.task-text
        a.task-assigned(href="", title="Assign User Story")
        span.task-num(tg-bo-ref="us.ref")
        a.task-name(href="", title="See user story detail", ng-bind="us.subject",
                    tg-nav="project-userstories-detail:project=project.slug,ref=us.ref")
        p.task-points(href="", title="Total Us points")
            span(ng-if="us.total_points !== null", ng-bind="us.total_points")
            span(ng-if="us.total_points !== null") points
            span(ng-if="us.total_points === null") Not estimated
    a.icon.icon-edit(tg-check-permission="modify_us", href="", title="Edit")
    a.icon.icon-drag-h(tg-check-permission="modify_us", href="", title="Drag&Drop")
