div.summary.large-summary
    div
        div.summary-progress-bar
            div.current-progress
        div.data
            span.number 30%
            span.description completed
    ul
        li
            span.number 12
            span.description project<br />points
        li
            span.number 23
            span.description defined<br />points
        li
            span.number 12
            span.description assigned<br />points
        li
            span.number 23
            span.description closed<br />points

    ul
        li
            span.icon.icon-bulk
            span.number 73
            span.description created<br />tasks
        li
            span.number 72
            span.description closed<br />tasks
        li
            span.number 18
            span.description remaining<br />tasks
    ul
        li
            span.icon.icon-iocaine
            span.number 10
            span.description iocanie<br />doses
    a.button.button-green.toggle-analytics-visibility(href="", title="Show statistics") Show statistics
