div.popover.select-color
    ul
        li.color(style="background: #fce94f")
        li.color(style="background: #edd400")
        li.color(style="background: #c4a000")
        li.color(style="background: #8ae234")
        li.color(style="background: #73d216")
        li.color(style="background: #4e9a06")
        li.color(style="background: #d3d7cf")
        li.color(style="background: #fcaf3e")
        li.color(style="background: #f57900")
        li.color(style="background: #ce5c00")
        li.color(style="background: #729fcf")
        li.color(style="background: #3465a4")
        li.color(style="background: #204a87")
        li.color(style="background: #888a85")
        li.color(style="background: #ad7fa8")
        li.color(style="background: #75507b")
        li.color(style="background: #5c3566")
        li.color(style="background: #ef2929")
        li.color(style="background: #cc0000")
        li.color(style="background: #a40000")
        li.color(style="background: #2e3436")

    input(type="text", placeholder="personalized colors")
    div.selected-color(style="background-color: red")
