div.summary.large-summary
    div(tg-sprint-progressbar="sprint")
        div.summary-progress-bar
            div.current-progress
        div.data
            span.number -- %

    ul
        li
            span.number(ng-bind="stats.totalPointsSum|default:'--'")
            span.description total<br />points
        li
            span.number(ng-bind="stats.completedPointsSum|default:'--'")
            span.description completed<br />points
        li
            span.number(ng-bind="stats.remainingPointsSum|default:'--'")
            span.description remaining<br />points

    ul
        li
            span.icon.icon-bulk
            span.number(ng-bind="stats.total_tasks|default:'--'")
            span.description created<br />tasks
        li
            span.number(ng-bind="stats.remainingTasks|default:'--'")
            span.description open<br />tasks
        li
            span.number(ng-bind="stats.completed_tasks|default:'--'")
            span.description closed<br />tasks

    ul
        li
            span.icon.icon-iocaine
            span.number(ng-bind="stats.iocaine_doses|default:'--'")
            span.description iocaine<br />doses
