div.summary
    div.summary-progress-bar(tg-backlog-progress-bar="stats.completedPercentage")
        div.current-progress(style="width: {{stats.completedPercentage}}")
    div.data
        span.number(tg-bind-html="stats.completedPercentage + '%'")
    ul
        li
            span.number(tg-bind-html="stats.total_points") --
            span.description project<br />points
        li
            span.number(tg-bind-html="stats.defined_points") --
            span.description defined<br />points
        li
            span.number(tg-bind-html="stats.closed_points") --
            span.description closed<br />points
        li
            span.number(tg-bind-html="stats.speed") --
            span.description points /<br />sprint
