div.summary
    div.summary-progress-bar(tg-backlog-progress-bar="stats")

    div.data
        span.number(ng-bind="stats.completedPercentage + '%'")
    ul
        li
            span.number(ng-bind="stats.total_points") --
            span.description project<br />points
        li
            span.number(ng-bind="stats.defined_points") --
            span.description defined<br />points
        li
            span.number(ng-bind="stats.closed_points") --
            span.description closed<br />points
        li
            span.number(ng-bind="stats.speed | number:0") --
            span.description points /<br />sprint
