div.summary
    div.summary-progress-bar(tg-progress-bar="stats.completedPercentage")
    div.data
        span.number(tg-bind-html="stats.completedPercentage + '%'")
    ul
        li
            span.number(tg-bind-html="stats.total_points") --
            span.description project<br />points
        li
            span.number(tg-bind-html="stats.defined_points") --
            span.description defined<br />points
        li
            span.number(tg-bind-html="stats.assigned_points") --
            span.description assigned<br />points
        li
            span.number(tg-bind-html="stats.closed_points") --
            span.description closed<br />points
