div.summary(tg-backlog-summary)
    div.summary-progress-bar
        div.current-progress
    div.data
        span.number 30%
        span.description completed
    ul
        li
            span.number 12
            span.description project<br />points
        li
            span.number 23
            span.description defined<br />points
        li
            span.number 12
            span.description assigned<br />points
        li
            span.number 23
            span.description closed<br />points
