div.taskboard-tagline
    a.taskboard-tag(ng-repeat="tag in task.tags" href="" title="{{ tag }}")
div.taskboard-task-inner
    figure.avatar
        a(href="", title="UserName")
            img.avatar(src="{{ usersById[task.assigned_to].avatar_url }}", alt="{{ usersById[task.assigned_to].full_name_display }}")
            figcaption {{ usersById[task.assigned_to].full_name_display }}
    p.taskboard-text
        span.task-num(ng-bind="task.ref")
        span.task-name(ng-bind="task.subject")
    a.icon.icon-edit(href="", title="Edit", ng-click="ctrl.editTask(task)")
    a.icon.icon-drag-h(href="", title="Drag&Drop")
