div.taskboard-task(ng-repeat="task in usTasks[us.id][st.id] track by task.id")
    div.taskboard-tagline
        a.taskboard-tag(ng-repeat="tag in task.tags" href="" title="{{ tag }}") {{ tag }}
    div.taskboard-task-inner
        figure.avatar
            a(href="", title="UserName")
                img.avatar(src="http://thecodeplayer.com/u/uifaces/12.jpg", alt="username")
                figcaption Username
        p.taskboard-text
            span.task-num(ng-bind="task.ref")
            span.task-name(ng-bind="task.subject")
        a.icon.icon-edit(href="", title="Edit", ng-click="ctrl.editTask(task)")
        a.icon.icon-drag-h(href="", title="Drag&Drop")
