div.summary
  div.progress-bar
    div.current-progress
    span.number 30%
  ul
    li
      span.number 12
      span.description project points
    li
      span.number 23
      span.description defined points
    li
      span.number 12
      span.description assigned points
    li
      span.number 23
      span.description closed points
