div.taskboard-task
    div.taskboard-tagline
        - for(var y = 0; y < 3; y++)
            a.taskboard-tag(href="", title="tasboard-tag")
    div.taskboard-task-inner
        figure.avatar
            a(href="", title="UserName")
                img.avatar(src="http://thecodeplayer.com/u/uifaces/12.jpg", alt="username")
                figcaption Username
        p.taskboard-text
            span.task-num 125
            span.task-name Crear usuarios que no sepan que tienen que darse de alta para darse de baja y crear contenido bloqueado o no en la plataforma
        a.icon.icon-edit(href="", title="Edit")
        a.icon.icon-drag-h(href="", title="Drag&Drop")
