.attachments {
    margin-bottom: 2rem;
    .gu-transit {
        background: $whitish;
        height: 40px;
        * {
            display: none;
        }
    }
    .gu-mirror {
        opacity: 1;
        form {
            background: lighten($primary, 60%);
            box-shadow: 1px 1px 10px rgba($black, .1);
            transition: background .2s ease-in;
        }
    }
}

.attachments-header {
    align-content: center;
    align-items: center;
    background: $grey-05;
    display: flex;
    justify-content: space-between;
    min-height: 36px;
    .attachments-title {
        @include font-type(semibold);
        @include font-size(medium);
        color: $grayer;
        line-height: 36px;
        padding: 0 1rem;
    }
    .options {
        display: flex;
    }
    label {
        cursor: pointer;
        margin-left: .25rem;
        &.add-attachment-button {
            border: 0;
            display: inline-block;
            padding: .5rem;
        }
        svg {
            fill: $white;
            height: 1.2rem;
            margin-bottom: -.2rem;
            width: 1.2rem;
        }
    }
    button {
        background: none;
        margin-right: .2rem;
        &:hover,
        &.is-active {
            svg {
                fill: $primary-light;
            }
        }
        svg {
            fill: $gray-light;
            height: 1.6rem;
            width: 1.6rem;
        }
    }
    .size-info {
        @include font-size(small);
        @include font-type(light);
        color: $gray;
        padding-left: 1rem;
    }
    input {
        display: none;
    }
}

.attachments-empty {
    @include font-size(large);
    @include font-type(semibold);
    border: 3px dashed $whitish;
    color: $gray-light;
    margin-top: .5rem;
    padding: 1rem;
    text-align: center;
}

.single-attachment {
    @include font-size(small);
    background: rgba($white, .9);
    .attachment-name {
        @include font-type(semibold);
        padding-right: 1rem;
        svg {
            fill: $gray;
            height: .9rem;
            margin-right: .25rem;
            width: .9rem;
        }
    }
    .attachment-size {
        color: $gray-light;
    }
}

.more-attachments {
    @include font-size(small);
    border-bottom: 1px solid $gray-light;
    display: block;
    padding: 1rem 0 1rem 1rem;
    span {
        color: $gray-light;
    }
    .more-attachments-num {
        color: $primary;
        margin-left: .5rem;
    }
    &:hover {
        background: $primary-lighter;
        transition: background .2s ease-in;
    }
}

.attachment-preview {
    .attachment-preview-container {
        svg {
            @include svg-size(3rem);
            fill: $gray-light;
            &:hover {
                fill: $primary-light;
                transition: fill .3s linear;
            }
        }
    }
    .previous {
        left: 3rem;
        position: absolute;
        top: calc(50% - 3rem);
    }
    .next {
        position: absolute;
        right: 3rem;
        top: calc(50% - 3rem);
    }
    img {
        max-height: 80vh;
        max-width: 80vw;
    }
}
