.attachment-list {
    .single-attachment {
        align-items: center;
        border-bottom: 1px solid $color-gray100;
        display: flex;
        padding: .5rem 0 .5rem .5rem;
        position: relative;
        &:hover {
            .settings {
                opacity: 1;
                transition: opacity .2s ease-in;
            }
        }
        &.deprecated {
            color: $color-gray300;
            span,
            .attachment-name a {
                color: $color-gray300;
            }
        }
    }
    .attachment-name {
        flex-basis: 70%;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 1rem;
        width: 70%;
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .attachment-comments,
    .editable-attachment-comment {
        flex: 2;
        flex-basis: 50%;
        margin-right: .5rem;
        span {
            color: $grayer;
        }
    }
    .attachment-size {
        flex-basis: 20%;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
        span {
            color: $color-gray300;
        }
    }
    .attachment-settings {
        flex-basis: 10%;
        flex-grow: 0;
        flex-shrink: 0;
        .settings {
            opacity: 0;
        }
        .editable-settings {
            display: block;
            opacity: 1;
        }
        svg {
            fill: $color-link-tertiary;
            pointer-events: none;
        }
        .icon-edit,
        .icon-save {
            &:hover {
                fill: $color-link-primary;
            }
        }
        .icon-trash,
        .icon-close {
            &:hover {
                fill: $color-link-red;
            }
        }
        .icon-drag {
            cursor: move;
        }
    }
    .editable-attachment-deprecated {
        display: flex;
        padding-left: 1rem;
        span {
            color: $gray-light;
        }
        input {
            margin-right: .2rem;
            vertical-align: middle;
            &:checked+span {
                color: $grayer;
            }
        }
    }
    .percentage {
        background: rgba($primary, .1);
        bottom: 0;
        height: 40px;
        left: 0;
        position: absolute;
        top: 0;
        width: 45%;
    }
}
