.attachments {
    margin-bottom: 2rem;
}

.attachments-header {
    align-content: space-between;
    align-items: center;
    background: $whitish;
    display: flex;
    justify-content: space-between;
    .attachments-title {
        @extend %medium;
        @extend %bold;
        color: $grayer;
        padding: 0 1rem;
    }
    .options {
        display: flex;
    }
    label {
        cursor: pointer;
        margin-left: 1rem;
        &.add-attachment-button {
            background: $gray;
            border: 0;
            display: inline-block;
            padding: .5rem;
            transition: background .25s;
            &:hover {
                background: $primary-light;
            }
        }
        svg {
            fill: $white;
            height: 1.25rem;
            margin-bottom: -.2rem;
            width: 1.25rem;
        }
    }
    button {
        margin-right: .2rem;
        &:hover,
        &.is-active {
            svg {
                fill: $primary-light;
            }
        }
        svg {
            fill: $gray-light;
            height: 1.6rem;
            margin-bottom: -.2rem;
            width: 1.6rem;
        }
    }
    input {
        display: none;
    }
}

.attachments-empty {
    @extend %large;
    @extend %bold;
    border: 3px dashed $whitish;
    color: $gray-light;
    margin-top: .5rem;
    padding: 1rem;
    text-align: center;
}

.single-attachment {
    @extend %small;
    &.ui-sortable-helper {
        background: lighten($primary, 60%);
        box-shadow: 1px 1px 10px rgba($black, .1);
        transition: background .2s ease-in;
    }
    &.sortable-placeholder {
        background: $whitish;
        height: 40px;
    }
    .attachment-name {
        @extend %bold;
        padding-right: 1rem;
        .icon {
            margin-right: .25rem;
        }
        svg {
            height: 1.2rem;
            width: 1.2rem;
        }
    }
    .attachment-size {
        color: $gray-light;
    }
}

.more-attachments {
    @extend %small;
    border-bottom: 1px solid $gray-light;
    display: block;
    padding: 1rem 0 1rem 1rem;
    span {
        color: $gray-light;
    }
    .more-attachments-num {
        color: $primary;
        margin-left: .5rem;
    }
    &:hover {
        background: lighten($primary, 60%);
        transition: background .2s ease-in;
    }
}

.attachment-preview {
    img {
        max-height: 80vh;
        max-width: 80vw;
    }
}
