.attachments {
    margin-bottom: 2rem;
}

.attachments-header {
    background: $whitish;
    @include clearfix;
    padding: .5rem 1rem;
    .button {
        float: right;
    }
    .icon,
    .attachments-num,
    .attachments-text {
        @extend %medium;
        margin-right: .5rem;
        position: relative;
        top: 2px;
    }
}

.single-attachment {
    @include table-flex();
    @extend %small;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    padding: .5rem 0 .5rem 1rem;
    position: relative;
    &:last-child {
        border: 0;
    }
    &:hover {
        .attachment-settings {
            .settings {
                @include transition (opacity .2s ease-in);
                opacity: 1;
            }
        }
    }
    &.ui-sortable-helper {
        @include transition (background .2s ease-in);
        background: lighten($green-taiga, 60%);
        box-shadow: 1px 1px 10px rgba($black, .1);
    }
    &.deprecated {
        color: $gray-light;
        .attachment-name a {
            color: $gray-light;
        }
    }
    &.sortable-placeholder {
        background: $whitish;
        height: 40px;
    }
    .attachment-name {
        @include ellipsis(200px);
        @include table-flex-child(1, 300px);
        @extend %bold;
        padding-right: 1rem;
        .icon {
            margin-right: .5rem;
        }
    }
    .attachment-size {
        @include table-flex-child(1, 100px);
        color: $gray-light;
        margin-right: .5rem;
    }
    .attachment-comments {
        @include table-flex-child(10, 300px);
        span {
            color: $gray;
        }
    }
    .attachment-settings {
        @include table-flex-child(1, 100px);
        .settings,
        .editable-settings {
            @extend %large;
            color: $gray-light;
            display: block;
            position: absolute;
            &:hover {
                color: $green-taiga;
            }
        }
        .settings {
            opacity: 0;
            top: .5rem;
        }
        .editable-settings {
            opacity: 1;
            top: 1rem;
        }
        .icon-edit,
        .icon-floppy {
            right: 4rem;
        }
        .icon-delete {
            right: 2rem;
            &:hover {
                color: $red;
            }
        }
        .icon-drag-v {
            cursor: move;
            right: 0;
        }
    }
    .editable {
        @include table-flex-child(10, 300px);
    }
    .icon-delete {
        @extend %large;
        color: $gray-light;
        &:hover {
            color: $red;
        }
    }
    .editable-attachment-deprecated {
        padding-left: 1rem;
        span {
            color: $gray-light;
        }
        input[type="checkbox"] {
            margin-right: .2rem;
            vertical-align: middle;
            &:checked {
                + span {
                    color: $grayer;
                }
            }
        }
    }
    .percentage {
        background: rgba($green-taiga, .1);
        bottom: 0;
        height: 40px;
        left: 0;
        position: absolute;
        top: 0;
        width: 45%;
    }
}

.more-attachments {
    @extend %small;
    border-bottom: 1px solid $gray-light;
    display: block;
    padding: 1rem 0 1rem 1rem;
    span {
        color: $gray-light;
    }
    .more-attachments-num {
        color: $green-taiga;
        margin-left: .5rem;
    }
    &:hover {
        @include transition (background .2s ease-in);
        background: lighten($green-taiga, 60%);
    }
}
