.colors-table {
    .table-header {
        @include font-size(medium);
        @include font-type(bold);
        border-bottom: 3px solid $whitish;
        &:hover {
            background: transparent;
        }
        .row {
            padding-left: 50px;
        }
    }
    .table-main {
        .row:hover {
            background: lighten($primary, 60%);
            cursor: move;
            transition: background .2s ease-in;
            .icon {
                opacity: 1;
                transition: opacity .2s ease-in;
            }
            .options-column {
                opacity: 1;
                transition: opacity .3s linear;
            }
        }
        .options-column {
            a {
                display: inline-block;
            }
        }
    }
    form {
        &:last-child {
            .row {
                border: 0;
            }
        }
    }
    .row {
        align-items: center;
        border-bottom: 1px solid $whitish;
        display: flex;
        justify-content: center;
        padding: 1rem;
        &:last-child {
            border: 0;
        }
        &.edition {
            .current-color {
                cursor: pointer;
            }
        }
        &.edition,
        &.new-value {
            padding-left: 50px;
        }
        &.hidden {
            display: none;
        }
        .color-column {
            flex-basis: 60px;
            flex-grow: 1;
            max-width: 100px;
            position: relative;
        }
        .is-archived-column,
        .is-closed-column,
        .options-column,
        .status-wip-limit {
            flex-basis: 100px;
            flex-grow: 1;
        }
        .status-name {
            flex-basis: 150px;
            flex-grow: 6;
            padding: 0 10px;
            position: relative;
            span {
                @include ellipsis(100%);
                display: block;
            }
        }
        .status-slug {
            flex-basis: 150px;
            flex-grow: 6;
            padding: 0 10px;
        }
        .options-column {
            max-width: 100px;
            opacity: 0;
            text-align: right;
        }
        .is-archived-column {
            max-width: 130px;
            padding: 0 0 0 10px;
            text-align: center;
        }
        .is-closed-column {
            max-width: 130px;
            text-align: center;
        }
        .status-wip-limit {
            max-width: 130px;
            padding: 0 0 0 10px;
            text-align: center;
        }
    }
    .row-edit {
        .options-column {
            opacity: 1;
        }
    }

    .current-color {
        background-color: $gray-light;
        border-radius: 2px;
        height: 40px;
        width: 40px;
    }
    .icon {
        cursor: pointer;
        fill: $gray-light;
        margin-right: 1rem;
        opacity: 0;
        &:hover {
            fill: $primary;
            transition: all .2s ease-in;
        }
        &.icon-check {
            cursor: default;
            fill: $primary;
            opacity: 1;
        }
        &.icon-drag {
            cursor: move;
        }
        &.icon-trash {
            &:hover {
                fill: $red-light;
            }
        }
    }
    .gu-mirror {
        background: lighten($primary, 60%);
        opacity: 1;
    }
    .gu-transit {
        * {
            visibility: hidden;
        }
    }
}
