.us-activity {
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.activity-title {
    display: block;
    padding: .5rem;
    &:hover {
        .icon {
            @include transform(rotate(180deg));
            @include transition(all.2s linear);
            color: $green-taiga;
        }
    }
    .icon {
        @include transform(rotate(0));
        @include transition(all.2s linear);
        color: $grayer;
        float: right;
    }
}

.activity-inner {
    @include table-flex;
    border-bottom: 1px solid $gray-light;
    padding: 1rem 0;
    &:last-child {
        border-bottom: 0;
    }
    .activity-changed,
    .activity-fromto {
        @include table-flex-child(1, 50px, 0);
    }
    .activity-changed {
        @extend %bold;
    }
    .activity-fromto {
        @extend %small;
    }
}
