.duty-custom-fields {
    margin-bottom: 2rem;
    .custom-fields-header {
        @include font-type(semibold);
        align-content: space-between;
        align-items: center;
        background: $grey-05;
        color: $grey-70;
        display: flex;
        justify-content: space-between;
        padding: .5rem 1rem;
        .icon {
            cursor: pointer;
        }
        .collapse {
            display: block;
            transform: rotate(-90deg);
            transition: .1s ease-out;
        }
        .open {
            transform: rotate(0);
        }
    }
    .custom-field-single {
        border-bottom: 1px solid $whitish;
        display: flex;
        justify-content: flex-start;
        padding: .7rem;
        &:hover {
            .custom-field-options {
                opacity: 1;
            }
        }
        &.editable {
            .custom-field-options {
                margin-top: .5rem;
            }
        }
    }
    .custom-field-options {
        margin: 0;
        opacity: 0;
        transition: opacity .2s linear;
        a {
            display: inline-block;
        }
        svg {
            fill: $gray-light;
            &:hover {
                fill: $primary;
            }
        }
    }
    .custom-field-data {
        flex: 0;
        flex-basis: 200px;
        .custom-field-name {
            display: block;
        }
        .custom-field-description {
            @include font-size(small);
            @include font-type(light);
            color: lighten($gray, 20%);
            display: block;
            line-height: .9rem;
        }
    }
    .custom-field-value {
        @include font-type(light);
        align-items: flex-start;
        flex: 1;
        padding: 0 1rem 0 2rem;
        &.js-value-view-mode {
            white-space: pre-line;
            &.wysiwyg {
                white-space: normal;
            }
        }
        a {
            color: $primary;

            &:hover {
                color: $primary-75;
            }
        }
    }
    form {
        label {
            cursor: pointer;
        }
        input {
            width: 100%;
        }
    }
}

.custom-fields-body {
    display: flex;
    flex-wrap: wrap;
    &.collapse-fields {
        .custom-attribute {
            flex-basis: 50%;
            @include until($widescreen) {
                flex-basis: 100%;
                &:nth-child(even) {
                    padding: 0;
                }
                &:nth-child(odd) {
                    padding: 0;
                }
            }
            &:nth-child(even) {
                padding: 0 0 0 2rem;
            }
            &:nth-child(odd) {
                padding: 0 2rem 0 0;
            }
        }
    }
    .custom-attribute {
        flex-basis: 100%;
        &:nth-child(even) {
            padding: 0;
        }
        &:nth-child(odd) {
            padding: 0;
        }
    }
    .custom-field-single {
        height: 100%;
    }
}
