.duty-custom-fields {
    margin-bottom: 2rem;
    .custom-fields-header {
        @include font-type(bold);
        align-content: space-between;
        align-items: center;
        background: $mass-white;
        display: flex;
        justify-content: space-between;
        padding: .5rem 1rem;
        .icon {
            cursor: pointer;
        }
        .collapse {
            display: block;
            transform: rotate(-90deg);
            transition: .1s ease-out;
        }
        .open {
            transform: rotate(0);
        }
    }
    .custom-field-single {
        border-bottom: 1px solid $whitish;
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
        &:hover {
            .custom-field-options {
                opacity: 1;
            }
        }
        &.editable {
            .custom-field-options {
                margin-top: .5rem;
            }
        }
    }
    .custom-field-options {
        margin: 0;
        opacity: 0;
        transition: opacity .2s linear;
        a {
            display: inline-block;
        }
        svg {
            fill: $gray-light;
            &:hover {
                fill: $primary;
            }
        }
    }
    .custom-field-data {
        flex: 0;
        flex-basis: 200px;
        .custom-field-name {
            display: block;
        }
        .custom-field-description {
            @include font-size(small);
            @include font-type(light);
            color: lighten($gray, 20%);
            display: block;
            line-height: .9rem;
        }
    }
    .custom-field-value {
        @include font-type(light);
        align-items: flex-start;
        flex: 1;
        padding: 0 1rem 0 2rem;
        &.js-value-view-mode {
            white-space: pre-line;
            &.wysiwyg {
                white-space: normal;
            }
        }
    }
    form {
        label {
            cursor: pointer;
        }
        input {
            width: 100%;
        }
    }
}
