tg-project-menu {
    background-color: $color-black800;
    z-index: $layout-layer;

    .sticky-project-menu {
        height: calc(100vh - 48px);
        position: sticky;
        top: 0;

        &.unblock {
            height: 100vh;
        }
    }

    tg-legacy-loader {
        display: block;
        height: 100%;
        width: 100%;
    }
}
