$top-icon-color: #11241f;

.navbar {
    background: rgba($black, .5);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    &:after {
        background: url('../images/menu-vert.png') repeat top left;
        background-size: 100%;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 200%;
        z-index: -1;
    }
    .nav-left,
    .nav-right {
        align-content: center;
        align-items: center;
        display: flex;
    }
    .nav-left {
        a {
            padding: .5rem 1.5rem;
            &.logo {
                background: rgba($black, .2);
                padding: .4rem .75rem;
            }
            svg {
                height: 1.6rem;
                max-width: 2rem;
            }
            path {
                fill: $white;
            }
        }
    }
    .nav-right {
        a {
            padding: .5rem 2rem;
        }
    }
    a {
        color: $white;
        display: inline-block;
        transition: all .2s linear;
        &:hover {
            background: rgba($black, .2);
            color: $fresh-taiga;
            svg path {
                fill: $white;
            }
        }
        &.user-avatar {
            padding: 0;
            padding-left: 2rem;
            span {
                padding-right: 1rem;
            }
        }

    }
    img {
        height: 2.5rem;
        padding-left: .3rem;
        vertical-align: middle;
    }
    svg {
        height: 1.2rem;
        max-width: 1.2rem;
        path {
            fill: $dark-taiga;
            transition: all .2s;
        }
    }
}
