.projects-nav {
    background-color: $gray;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 2rem 1rem;
    position: fixed;
    top: 0;
    transform: translate3d(-300px, 0, 0);
    width: 300px;
    z-index: 99;
    form {
        flex-shrink: 0;
    }
    h1 {
        color: $white;
        flex-shrink: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
    input {
        background-color: $gray;
        color: $whitish;
    }
    .icon-search {
        position: absolute;
        right: .7rem;
        top: .7rem;
    }
    ul {
        left: 0;
        margin-bottom: 0;
        margin-top: 1rem;
        position: relative;
        top: 0;
        width: 100%;
    }
    .projects-pagination {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        min-height: 1px; //firefox bug #2057
    }
    .create-project-button-wrapper {
        display: flex;
        flex-shrink: 0;
        margin-top: 1rem;
        .create-project-button {
            flex-grow: 8;
            margin-right: .2rem;
            text-align: center;
        }
        .import-project-button {
            flex-grow: 1;
            padding-left: .5rem;
            padding-right: .5rem;
            text-align: center;
            .icon {
                color: $grayer;
                margin: 0;
            }
        }
    }
    .v-pagination-previous,
    .v-pagination-next {
        flex-shrink: 0;
    }
}

.projects-list {
    a {
        @extend %large;
        @extend %title;
        color: $whitish;
        display: block;
        padding: 1rem;
        position: relative;
        text-transform: uppercase;
        width: 100%;
        &.active,
        &:hover {
            background-color: $gray;
            color: $green-taiga;
            transition: background-color .3s linear;
            .icon {
                opacity: 1;
                transition: opacity .3s linear;
            }
        }
        .project-name {
            display: block;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .icon {
        color: $whitish;
        opacity: 0;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    li {
        border-bottom: 2px solid $gray;
    }
}

.projects-nav-overlay {
    // @include transition (all 1s ease);
    @extend %background-taiga;
    // background-blend-mode: multiply;
    // background-color: $green-taiga;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99900;
    .container {
        left: -200px;
        margin: 0 auto;
        margin-top: 15%;
        opacity: 0;
        position: relative;
        transform: translateY(-50%);
        width: 150px;
    }
    p {
        @extend %medium;
        color: $fresh-taiga;
        padding-top: 20px;
        text-align: center;
    }
}
