.related-tasks {
    margin-bottom: 2rem;
    position: relative;
}

.related-tasks-header {
    align-content: space-between;
    align-items: center;
    background: $whitish;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    .related-tasks-title {
        @extend %medium;
        @extend %bold;
    }
    .icon {
        @extend %large;
        color: $grayer;
        cursor: pointer;
        &:hover {
            color: $primary;
            transition: color .2s ease-in;
        }
    }
}

.related-tasks-body {
    width: 100%;
    .row {
        @extend %small;
        align-content: center;
        align-items: center;
        border-bottom: 1px solid $whitish;
        display: flex;
        justify-content: center;
        padding: .5rem 0 .5rem .5rem;
        position: relative;
        text-align: left;
        width: 100%;
        &:hover {
            background: transparent;
            .task-settings {
                opacity: 1;
                transition: all .2s ease-in;
            }
        }
        &:last-child {
            border: 0;
        }
        .tasks {
            overflow: hidden;
            width: 100%;
        }
        .status {
            flex-shrink: 0;
            width: 100px;
        }
        .assigned-to {
            cursor: pointer;
            flex-shrink: 0;
            width: 150px;
        }
    }
    .related-task-create-form {
        padding: 0;
        &.active {
            padding: .5rem 0 .5rem .5rem;
        }
    }
    .status {
        position: relative;
        text-align: left;
        &:hover {
            .icon {
                opacity: 1;
                transition: opacity .2s ease-in;
            }
        }
        .not-clickable {
            &:hover {
                color: $grayer;
            }
        }
        .popover {
            a {
                text-align: left;
                width: 100%;
            }
            .point {
                text-align: center;
            }
        }
        .icon {
            color: $gray-light;
            margin-left: .2rem;
            opacity: 0;
        }
    }
    .pop-status {
        @include popover(200px, 0, 40%);
        padding-right: 1rem;
        &.fix {
            bottom: 0;
            top: auto;
        }
    }
    .task-name {
        display: flex;
        position: relative;
        a {
            display: inline-block;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        input {
            @extend %medium;
            margin-right: 1rem;
            padding: 3px;
            width: 85%;
        }
        &.loading {
            margin: 0;
            padding: 8px;
            text-align: center;
            width: 100%;
            span {
                animation: loading .5s linear, spin 1s linear infinite;
            }
        }
    }
    .blocked,
    .blocked:hover {
        background: $red-light;
        color: $white;
        a {
            color: $white;
            &:hover {
                color: $white;
            }
        }
        .icon {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
    .icon-iocaine {
        display: none;
    }
    .iocaine,
    .iocaine:hover {
        background: rgba($primary-light, .3);
        .icon-iocaine {
            @extend %large;
            display: inline-block;
            margin-right: .5rem;
            vertical-align: top;
        }
    }
    .task-settings {
        margin: 0 0 0 2rem;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 10%;
        a {
            @extend %large;
            color: $gray-light;
            transition: all .2s ease-in;
            &:hover {
                color: $grayer;
                transition: all .2s ease-in;
            }
        }
    }
    .assigned-to {
        position: relative;
        text-align: left;
    }
    .task-assignedto {
        position: relative;
        &.editable {
            cursor: pointer;
        }
        &:hover {
            .icon {
                opacity: 1;
                transition: opacity .3s linear;
            }
        }
        figcaption {
            max-width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .icon {
            opacity: 0;
            position: absolute;
            right: .5rem;
            top: .5rem;
            transition: opacity .3s linear;
        }
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            flex-basis: 35px;
            // width & height they are only required for IE
            height: 35px;
            width: 35px;
        }
        figcaption {
            margin-left: .5rem;
        }
    }
}
