.related-tasks {
    margin-bottom: 2rem;
    position: relative;
}

.related-tasks-header {
    align-content: center;
    align-items: center;
    background: $mass-white;
    display: flex;
    justify-content: space-between;
    min-height: 36px;
    .related-tasks-title {
        @include font-size(medium);
        @include font-type(bold);
        margin-left: 1rem;
    }
    .add-button {
        background: $grayer;
        border: 0;
        display: inline-block;
        padding: .5rem;
        transition: background .25s;
        &:hover,
        &.is-active {
            background: $primary-light;
        }
        svg {
            fill: $white;
            height: 1.25rem;
            margin-bottom: -.2rem;
            width: 1.25rem;
        }
    }
}

.related-tasks-body {
    width: 100%;
    .row {
        @include font-size(small);
        align-items: center;
        border-bottom: 1px solid $whitish;
        display: flex;
        padding: .5rem 0 .5rem .5rem;
        &:hover {
            .task-settings {
                opacity: 1;
                transition: all .2s ease-in;
            }
        }
        .task-name {
            flex: 1;
        }
        .task-settings {
            flex-shrink: 0;
            width: 60px;
        }
        .status {
            flex-shrink: 0;
            width: 125px;
        }
        .assigned-to {
            cursor: pointer;
            flex-shrink: 0;
            width: 150px;
        }
    }
    .single-related-task {
        &:hover {
            background: rgba($primary-light, .05);
            .icon-drag {
                opacity: 1;
            }
        }
        .task-reorder {
            display: flex;
            margin-right: 1rem;
        }
        .icon-drag {
            @include svg-size(.75rem);
            cursor: move;
            fill: $whitish;
            opacity: 0;
            transition: opacity .1s;
        }
    }
    .related-task-create-form {
        padding: 0;
        &.active {
            padding: .5rem 0 .5rem .5rem;
        }
    }

    .iocaine {
        background: rgba($primary-light, .1);
        border-left: 10px solid $primary-light;
    }
    .task-name {
        display: flex;
        margin-right: 1rem;
        span {
            margin-right: .25rem;
        }
        input {
            @include font-size(medium);
            margin-right: 1rem;
            padding: 3px;
            width: 85%;
        }
        &.loading {
            margin: 0;
            padding: 8px;
            text-align: center;
            width: 100%;
            span {
                animation: loading .5s linear, spin 1s linear infinite;
            }
        }
    }
    .status {
        position: relative;
        .not-clickable {
            &:hover {
                color: $grayer;
            }
        }
        .popover {
            left: 0;
            top: 1rem;
            a {
                display: block;
            }
        }
        .icon {
            @include svg-size(.8rem);
            fill: currentColor;
            margin-left: .2rem;
        }
    }
    .closed,
    .closed:hover {
        border-left: 10px solid $whitish;
        color: $whitish;
        a,
        svg {
            fill: $whitish;
        }
        .task-name a {
            color: $whitish;
            text-decoration: line-through;

        }
    }
    .icon-iocaine {
        display: none;
    }
    .pop-status {
        @include popover(200px, 0, 40%);
        padding-right: 1rem;
        &.fix {
            bottom: 0;
            top: auto;
        }
    }
    .blocked,
    .blocked:hover {
        background: rgba($red-light, .2);
        border-left: 10px solid $red-light;
    }
    .task-settings {
        align-items: center;
        display: flex;
        opacity: 0;
        svg {
            @include svg-size(1.1rem);
            fill: $gray-light;
            margin-right: .5rem;
            transition: fill .2s ease-in;
            &:hover {
                fill: $gray;
            }
        }
        a {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .edit-task,
    .save-task,
    .delete-task {
        &:hover {
            .icon-edit {
                fill: $grayer;
            }
            .icon-save {
                fill: $primary;
            }
            .icon-trash {
                fill: $red-light;
            }
        }
    }
    .task-assignedto {
        position: relative;
        &.editable {
            cursor: pointer;
        }
        &:hover {
            .icon {
                opacity: 1;
                transition: opacity .3s linear;
            }
        }
        figcaption {
            max-width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .icon {
            @include svg-size(.8rem);
            fill: $gray-light;
            opacity: 0;
            position: absolute;
            right: .5rem;
            top: .5rem;
            transition: opacity .3s linear;
        }
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            flex-basis: 35px;
            // width & height they are only required for IE
            height: 35px;
            width: 35px;
        }
        figcaption {
            margin-left: .5rem;
        }
    }
}
