section.search-result-table

script(type="text/ng-template", id="search-issues")
    include ./search-result-table-issues

script(type="text/ng-template", id="search-epics")
    include ./search-result-table-epics

script(type="text/ng-template", id="search-userstories")
    include ./search-result-table-us

script(type="text/ng-template", id="search-tasks")
    include ./search-result-table-tasks

script(type="text/ng-template", id="search-wikipages")
    include ./search-result-table-wiki
