.sass-cache/
dist/
node_modules/
app/vendor
vendor/
config/main.coffee
bower_components
app/coffee/modules/locales/locale*.coffee
*.swp
*.swo
.#*
/tags
tmp/
app/config/main.coffee
scss-lint.log
e2e/screenshots/
e2e/reports/
app/modules/compile-modules/
yarn.lock
