nav.menu(ng-if="vm.project")
    div(class="menu-container")
        ul(class="main-nav")
            li(id="nav-search")
                a(href="", ng-class="{active: vm.active == 'search'}", title="{{'PROJECT.SECTION.SEARCH' | translate}}", tabindex="1", ng-click="vm.search()")
                    span(class="icon icon-search")
                    span.helper(translate="PROJECT.SECTION.SEARCH")

            li(id="nav-backlog", ng-if="vm.menu.get('backlog')")
                a(ng-class="{active: vm.active == 'backlog'}", title="{{'PROJECT.SECTION.BACKLOG' | translate}}", tg-nav="project-backlog:project=vm.project.get('slug')", tabindex="2")
                    span(class="icon icon-backlog")
                    span.helper(translate="PROJECT.SECTION.BACKLOG")

            li(id="nav-kanban", ng-if="vm.menu.get('kanban')")
                a(ng-class="{active: vm.active == 'kanban'}", title="{{'PROJECT.SECTION.KANBAN' | translate}}", tg-nav="project-kanban:project=vm.project.get('slug')", tabindex="3")
                    span(class="icon icon-kanban")
                    span.helper(translate="PROJECT.SECTION.KANBAN")

            li(id="nav-issues", ng-if="vm.menu.get('issues')")
                a(ng-class="{active: vm.active == 'issues'}", title="{{'PROJECT.SECTION.ISSUES' | translate}}", tg-nav="project-issues:project=vm.project.get('slug')", tabindex="4")
                    span(class="icon icon-issues")
                    span.helper(translate="PROJECT.SECTION.ISSUES")

            li(id="nav-wiki", ng-if="vm.menu.get('wiki')")
                a(ng-class="{active: vm.active == 'wiki'}", title="{{'PROJECT.SECTION.WIKI' | translate}}", tg-nav="project-wiki:project=vm.project.get('slug')", tabindex="5")
                    span(class="icon icon-wiki")
                    span.helper(translate="PROJECT.SECTION.WIKI")

            li(id="nav-team")
                a(ng-class="{active: vm.active == 'team'}", title="{{'PROJECT.SECTION.TEAM' | translate}}", tg-nav="project-team:project=vm.project.get('slug')", tabindex="6")
                    span(class="icon icon-team")
                    span.helper(translate="PROJECT.SECTION.TEAM")

            li(id="nav-video", ng-if="vm.project.get('videoconferenceUrl')")
                a(ng-href="{{vm.project.get('videoconferenceUrl')}}", target="_blank", title="{{'PROJECT.SECTION.MEETUP' | translate}}", tabindex="7")
                    span(class="icon icon-video")
                    span.helper(translate="PROJECT.SECTION.MEETUP")

            li(id="nav-admin", ng-if="vm.project.get('i_am_owner')")
                a(ng-class="{active: vm.active == 'admin'}", tg-nav="project-admin-home:project=vm.project.get('slug')", title="{{'PROJECT.SECTION.ADMIN' | translate}}", tabindex="8")
                    span(class="icon icon-settings")
                    span.helper(translate="PROJECT.SECTION.ADMIN")
