doctype html

div.wrapper
    div.auth
        div.auth-container
            div.logo-svg
                include ../../svg/logo-color.svg
            h1.logo Taiga

            include ../includes/modules/change-password-from-recovery-form
