
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

div.wrapper
    div.invitation-main
        div.centered.invitation-container(tg-invitation)
            a.avatar(href="", tg-bo-title="invitation.invited_by.full_name_display")
                img(
                    tg-avatar="invitation.invited_by"
                    tg-bo-alt="invitation.invited_by.full_name_display"
                )
                span.person-name(tg-bo-bind="invitation.invited_by.full_name_display")

            span.invitation-text
                p(translate="AUTH.INVITED_YOU")
                p.project-name(tg-bo-bind="invitation.project_name")

            div.invitation-form
                include ../includes/modules/invitation-login-form
                include ../includes/modules/invitation-register-form
