
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

div.wrapper
    div.invitation-main
        div.centered.invitation-container(tg-invitation)
            a.avatar(href="", tg-bo-title="invitation.invited_by.full_name_display")
                img(
                    tg-avatar="invitation.invited_by"
                    tg-bo-alt="invitation.invited_by.full_name_display"
                )
                span.person-name(tg-bo-bind="invitation.invited_by.full_name_display")

            span.invitation-text
                p(translate="AUTH.INVITED_YOU")
                p.project-name(tg-bo-bind="invitation.project_name")

            div.invitation-form
                include ../includes/modules/invitation-login-form
                include ../includes/modules/invitation-register-form
