doctype html

div
  include ../includes/components/beta

div.wrapper
    div.login-main
        div.login-container
            img.logo-svg(src="/svg/logo.svg", alt="TAIGA")
            h1.logo Taiga
            h2.tagline(translate="COMMON.TAG_LINE_2")

            include ../includes/modules/login-form
