doctype html

div.wrapper
    div.auth
        div.auth-container
            div.logo-svg
                include ../../svg/logo-color.svg
            h1.logo Taiga
            h2.tagline(translate="COMMON.TAG_LINE_2")

            include ../includes/modules/login-form
