.profile-contacts {
    border-top: 1px solid $whitish;
    display: flex;
    flex-direction: column;
}

.profile-contact-filters {
    align-self: center;
    display: flex;
    a {
        border-bottom: 2px solid $white;
        color: $gray-light;
        display: inline-block;
        padding: 1rem 1.5rem;
        transition: all .2s linear;
        &:hover,
        &.active {
            border-bottom: 2px solid $gray-light;
            color: $primary;
        }
    }
}
.profile-contact-single {
    border-bottom: 1px solid $whitish;
    display: flex;
    flex-wrap: wrap;
    padding: .8rem 1rem;
    .profile-contact-picture {
        flex-grow: 0;
        margin-right: 1rem;
        max-width: 54px;
        img {
            border-radius: .2rem;
            width: 100%;
        }
    }
    .profile-contact-data {
        flex: 1;
        h1 {
            @extend %text;
            @extend %large;
            align-items: center;
            display: flex;
            line-height: 1.6;
            margin-bottom: 0;
            text-transform: none;
            span {
                @extend %text;
                @extend %small;
                background: $whitish;
                color: $gray;
                margin-left: 1rem;
                padding: .1rem .3rem;
            }
        }
        p {
            color: $gray;
            margin-bottom: 0;
        }
        .extra-info {
            @extend %light;
            color: $gray;
        }
        .position {
            margin-right: .3rem;
        }
    }
    .profile-project-stats {
        display: flex;
        flex-grow: 0;
        margin-left: auto;
        width: 100px;
        div {
            color: $gray-light;
            margin-right: .5rem;
            .icon {
                margin-right: .2rem;
                vertical-align: center;
            }
        }
    }
}
