.profile-bar {
    .profile-image-wrapper {
        height: 200px;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;
        &:hover {
            img {
                filter: brightness(40%) saturate(150%) hue-rotate(60deg);
                transition: all .2s cubic-bezier(.01, .7, 1, 1);
            }
            .edit-profile {
                opacity: 1;
                transition: opacity .2s cubic-bezier(.01, .7, 1, 1);
            }
        }
    }
    .profile-img {
        max-width: 100%;
    }
    .edit-profile {
        @extend %large;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        &:hover {
            .profile-edition {
                opacity: 1;
                transition: all .2s cubic-bezier(.01, .7, 1, 1);
                transition-delay: .2s;
            }
        }

    }
    .profile-edition {
        @extend %small;
        background: rgba($white, .1);
        color: $white;
        height: 30px;
        left: calc(50% - 55px);
        opacity: 0;
        padding: .4rem;
        position: absolute;
        top: calc(50% - 5px);
        width: 110px;
        .icon-edit {
            color: $white;
            margin-right: .3rem;
        }
        &:hover {
            background: rgba($white, .4);
            color: $white;
            transition: all .2s cubic-bezier(.77, .01, .97, .85);
        }
    }
    .button-green {
        display: block;
        margin-bottom: 1rem;
    }
    .profile-data {
        position: relative;
    }
    .flag {
        position: absolute;
        right: 0;
        top: 0;
        width: 12px;
        path {
            fill: $gray-light;
            transition: all .2s linear;
        }
        &:hover {
            path {
                fill: $red;
                transition: all .2s linear;
            }
        }
    }
    h1,
    h2 {
        @extend %bold;
        @extend %small;
    }
    h1 {
        @extend %xlarge;
        line-height: 1;
        margin-bottom: 0;
        text-transform: none;
    }
    h2 {
        @extend %large;
        color: $gray-light;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    .location {
        color: $gray-light;
        margin-bottom: 1rem;
        svg {
            position: relative;
            top: 2px;
            width: .75rem;
        }
        path {
            fill: $gray-light;
        }
    }
    .profile-stats {
        border-bottom: 1px solid $whitish;
        border-top: 1px solid $whitish;
        color: $gray;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.25rem;
        padding: 1rem .5rem;
        .stat {
            padding: 0 .2rem;
            text-align: center;
        }
        .stat-number {
            @extend %xlarge;
            @extend %bold;
            display: block;
            line-height: 1;
        }
        .stat-name {
            @extend %title;
            @extend %small;
            display: block;
        }
    }

    .profile-organizations {
        border-bottom: 1px solid $whitish;
        border-top: 1px solid $whitish;
        margin-bottom: 1rem;
        padding: 1rem 0;
        h3 {
            @extend %bold;
            margin-bottom: .5rem;
        }
        .profile-organizations-wrapper {
            display: flex;
            justify-content: space-between;
        }
        .organization {
            background: $gray-light;
            border-radius: 5px;
            height: 45px;
            margin-right: .2rem;
            width: 45px;
        }
    }

    .profile-quote {
        @extend %light;
        @extend %large;
        background: url('/images/quote.png') no-repeat top left;
        line-height: 1.4;
        padding: .5rem;
    }
}
