p.register-text(
    ng-if="privacyPolicyUrl && termsOfServiceUrl"
    translate="LEGAL.TERMS_OF_SERVICE_AND_PRIVACY_POLICY_AD"
    translate-values="{termsOfServiceUrl: termsOfServiceUrl, privacyPolicyUrl: privacyPolicyUrl}"
)
