a.move-to-sprint-button.is-editable(
  title="{{ 'TASKBOARD.MOVE_TO_SPRINT.TITLE_ACTION_MOVE_UNFINISHED' | translate }}"
  ng-class="{'disabled': !vm.hasOpenItems || vm.disabled}"
  ng-click="vm.openLightbox()"
)
    tg-svg(svg-icon="icon-move")
