div.wrapper
    div.notifications-page.centered
        header.header
            h1.title {{ 'EVENTS.MY_EVENTS' | translate }}
            a.action(
                href="",
                ng-if="!vm.notificationsList.get(0).get('read')",
                ng-click="vm.setAllAsRead()") {{ 'EVENTS.DISMISS_ALL' | translate }}
            span.action.disabled(ng-if="vm.notificationsList.get(0).get('read')") {{ 'EVENTS.DISMISS_ALL' | translate }}
        tg-notifications-list()
