.notifications-page {
    margin-top: 1.5em;
    min-width: initial;
    padding-bottom: 5em;
    .header {
        align-items: center;
        background: $mass-white;
        display: flex;
        margin: 0;
        padding: .5em 1em;
    }
    .title {
        color: $primary;
        flex-grow: 1;
        font-size: 1.8em;
        line-height: 1.8em;
        margin: 0;
        text-transform: uppercase;
    }

    .action {
        color: $primary;
        font-size: 1em;
        line-height: .75em;
        margin-right: 1em;
        &.disabled {
            color: $gray-lighter;
        }
        &:not(.disabled):hover {
            color: $primary-light;
        }
    }
    .empty {
        margin: 4rem auto;
        text-align: center;
        width: 100%;
    }
    .notifications-list .entry {
        align-items: center;
        font-size: .95rem;
        margin: .5rem 0;
        padding: 1rem .6rem;
        &.new {
            background-color: $primary-lighter;
        }
        .entry-content {
            font-size: 1.05rem;
        }
        .entry-project {
            color: $grey-50;
            max-width: initial;
            text-overflow: initial;
            white-space: initial;
        }
        .entry-avatar {
            flex-basis: 3rem;
            margin-right: 1rem;
            width: 3rem;
        }
        .entry-date {
            font-size: .85rem;
            margin-right: .5rem;
        }
    }
}

.notifications-list {
    .entry {
        color: $color-black600;
        display: flex;
        font-size: .9rem;
        margin-bottom: .1rem;
        padding: .8rem .5rem;
        position: relative;
        p {
            line-height: 1.25em;
            margin-bottom: 0;
        }
        a {
            @include font-type(semibold);
            &.user-link,
            &.project-link {
                color: $color-black600;
            }
        }
        .entry-avatar {
            border-radius: .1rem;
            flex-basis: 2.5rem;
            flex-shrink: 0;
            margin-right: .7rem;
            vertical-align: center;
            width: 2.5rem;
            img {
                width: 100%;
            }
        }
        .entry-project {
            @include font-type(semibold);
            display: inline-block;
            font-size: .9rem;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .entry-date {
            font-size: .7rem;
            margin-right: 2rem;
            white-space: nowrap;
        }
        .entry-extra-data {
            align-items: center;
            display: flex;
            margin-top: .5rem;
        }
        &.new {
            background-color: $white;

            .entry-date {
                position: relative;
                &::after {
                    @include font-type(bold);
                    background: $color-solid-red;
                    border-radius: 50%;
                    content: '';
                    height: 6px;
                    position: absolute;
                    right: -6px;
                    width: 6px;
                }
            }
        }
    }
    .spin {
        margin: 5% auto;
        width: 3rem;
        img {
            @include loading-spinner;
            max-height: 3rem;
            max-width: 3rem;
        }
    }
}
