.cancel-account {
    fieldset {
        text-align: center;
    }
    p {
        color: $grayer;
        margin-bottom: .5rem;
        text-align: center;
    }
    form {
        margin-top: 1rem;
    }
}
