.change-email-form,
.verify-email-form {
    fieldset {
        text-align: center;
    }
    p {
        color: $color-white;
        margin-bottom: .5rem;
        text-align: center;
    }
    form {
        margin-top: 1rem;
    }
}
