.change-password-text {
    color: $grayer;
    text-align: center;
}

.change-password-form-container {
    .token-change-password {
        position: relative;
    }
    input:focus {
        +.get-token {
            @include transition(opacity .5s linear);
            opacity: 0;
        }
    }
    .get-token {
        @include transition(all .3s linear);
        @extend %small;
        color: $gray-light;
        opacity: 1;
        position: absolute;
        right: 1rem;
        top: .5rem;
        &:hover {
            @include transition(color .3s linear);
            color: $grayer;
        }
    }
}
