.change-password-text {
    color: $grayer;
    text-align: center;
}

.change-password-form-container {
    .token-change-password {
        position: relative;
    }
    input:focus {
        +.get-token {
            opacity: 0;
            transition: opacity .5s linear;
        }
    }
    .get-token {
        @extend %small;
        color: $gray-light;
        opacity: 1;
        position: absolute;
        right: 1rem;
        top: .5rem;
        transition: all .3s linear;
        &:hover {
            color: $grayer;
            transition: color .3s linear;
        }
    }
}
