.login-form-container {
    .login-password {
        position: relative;
    }
    input {
        &:focus {
            +.forgot-pass {
                opacity: 0;
                transition: opacity .3s linear;
            }
        }
    }

    .forgot-pass {
        @include font-size(small);
        color: $gray;
        opacity: 1;
        position: absolute;
        right: 1rem;
        top: .6rem;
        transition: all .3s linear;
        &:hover {
            color: $grayer;
            transition: color .3s linear;
        }
    }
}
