.register-form-container {
    display: block;
    .register-text-top {
        display: block;
        margin: 1rem 0;
        text-align: center;
    }
    .register-text {
        @include font-size(small);
    }
}
