/* stylelint-disable color-named */

.master,
.menu-secondary,
.menu-tertiary,
.extrabar,
tg-filter {
    background: $white;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
}

tg-project-menu {
    background-color: $black;
}

.navbar {
    .nav-right {
        a:hover,
        a.active {
            background: white;
            color: black;
            svg {
                fill: black;
                stroke: black;
            }
        }
        svg {
            fill: white;
            stroke: white;
        }
        .active svg {
            fill: black;
            stroke: black;
        }
    }
}

.button-gray {
    background: black;
}
.more-attachments {
    span {
        color: $black;
    }
}

.history-tabs {
    a {
        color: $black;
    }
}


.ticket-detail-settings label,
.ticket-detail-settings .assign-issue-button,
.ticket-detail-settings .item-block,
.ticket-detail-settings .item-unblock,
.ticket-detail-settings .promote-button {
    background: black;
    color: white;
    * {
        color: white;
    }
}

.related-userstories-header,
.related-tasks-header,
.custom-fields-header,
.attachments-header {
    border-bottom: 1px solid $black;
    padding-bottom: .2rem;
}

a,
.clickable {
    text-decoration: underline;
}

.menu-secondary,
.menu-tertiary {
    ul li a.active,
    ul li a:hover {
        background: black;
        color: white;
    }
}

.lb-user-list .user-list-item.is-active {
    background: grey;
    color: white;
    * {
        color: white;
    }
}

.taskboard-actions {
    background: grey;
}

.card {
    border: 1px solid black;
}

//// OVERRIDE

.topnav-dropdown-wrapper .counter {
    color: black;
}

/* stylelint-enable color-named */
