//*************************
//** COLORS
//************************
//************************

$primary: #000;
$primary-75: #000;
$primary-50: #000;
$primary-25: #fff;
$primary-10: #fff;

$secondary: #000;
$secondary-50: #000;

$tertiary: #767676;

$red:  #f00;
$red-25: #ff5252;
$red-10: #FFE6E6;

$white: #fff;
$grey-02: #fff;
$grey-05: #fff;
$grey-10: #fff;
$grey-20: #fff;
$grey-30: #fff;
$grey-40: #000;
$grey-50: #000;
$grey-60: #000;
$grey-70: #000;
$grey-80: #000;
$grey-90: #000;
$black: #000;

// Color aliases for retrocompatibility with external plugins
$blackish: $grey-90;
$grayer: $grey-70;
$gray: $grey-60;
$gray-light: $grey-50;
$gray-lighter: $grey-30;
$whitish: $grey-10;
$mass-white: $grey-05;
$primary-light: $primary-75;
$primary-lighter: $primary-10;
$primary: $primary;
$primary-dark: $primary-50;
$primary-background: $primary-25;
$secondary-light: $secondary-50;
$secondary-dark: #767676;
$red-light: $red-25;

//Status colors
$green-light: #62ff62;
$red-light: #ff0062;
$red: #ff2400;
$my-sin: #fcaf3e;
$yellow-green: #9dce0a;

//Card color
$card: #F0EFD1;
$card-hover: $black;
$card-dark: $black;

$green-japanese-laurel: #009688;
$green-olive: #cddc39;
$red-amaranth: #e91e63;
$purple-eggplant: #9c27b0;
$yellow-pear: #ffc107;

$tribe-primary: #107a8a;
$tribe-secondary: darken($tribe-primary, 10%);

$top-icon-color: $white;
$dropdown-color: rgba(darken($primary-dark, 20%), 1);
$code-bg: #272822;

$highlight: white;

/* Overwrite mixins */

@mixin triangled-bg {
    background: url('https://farm9.staticflickr.com/8449/7893171238_a201af22bc_k_d.jpg') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('https://farm9.staticflickr.com/8449/7893171238_a201af22bc_k_d.jpg') no-repeat center center;
    background-size: cover;
}

// TAIGA 6

// Primary colors
$color-solid-primary: #83EEDE;
$color-link-primary: #008AA8;
$color-link-tertiary: #70728F;

// Grayscale
$color-gray100: #F9F9FB;
$color-gray200: #ECEFF4;
$color-gray300: #E5E9F0;
$color-gray400: #D8DEE9;

$color-black600: #4C566A;
$color-black700: #434C5E;
$color-black800: #3B4252;
$color-black900: #2E3440;

// State colors
$color-solid-red: #E44057;
$color-solid-orange: #EA7B4B;
$color-solid-yellow: #F6C95C;
$color-solid-green: #93C45D;
$color-solid-purple: #CA81BE;
