
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

<% _.each(tags, function(tag) { %>
span(
    class="tag"
    style!="<%- tag.style %>"
)
    span.tag-name <%- tag.name %>
    a.remove-tag(href="", title="{{'COMMON.TAGS.DELETE' | translate}}")
        tg-svg(svg-icon="icon-close")
<% }); %>
