.tags-container
input.tag-input(
    type="text"
    placeholder="{{'COMMON.TAGS.PLACEHOLDER' | translate}}"
)
span.save.hidden(title="{{'COMMON.SAVE' | translate}}")
    svg.icon.icon-save
        use(xlink:href="#icon-save")
