<% _.each(tags, function(tag) { %>
span(class="tag", style!="<%- tag.style %>")
    span.tag-name <%- tag.name %>
    svg.icon.icon-close.remove-tag(title="{{ 'COMMON.TAGS.DELETE' | translate }}")
        use(xlink:href="#icon-close")
<% }); %>
