
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.tags-container
input.tag-input(
    type="text"
    placeholder="{{'COMMON.TAGS.PLACEHOLDER' | translate}}"
)
span.save.hidden(title="{{'COMMON.SAVE' | translate}}")
    tg-svg(svg-icon="icon-save")
