<% _.each(tags, function(tag) { %>
span(class="tag", style!="<%- tag.style %>")
    span.tag-name <%- tag.name %>
    a(href="", title="{{ 'COMMON.TAGS.DELETE' | translate }}", class="icon icon-delete")
<% }); %>
