.tags-container
a(href="#", class="add-tag hidden", title="Add tag")
    span.icon.icon-plus
    span.add-tag-text Add tag

input(type="text", placeholder="I'm it! Tag me...", class="tag-input hidden")
a(href="", title="Save", class="save icon icon-floppy hidden")