<% _.each(tags, function(tag) { %>
span(class="tag", style!="border-left: 5px solid <%- tag.color %>;")
    span.tag-name <%- tag.name %>
    <% if (isEditable) { %>
    a(href="", title="delete tag", class="icon icon-delete")
    <% } %>
<% }); %>