
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

<% _.each(tags, function(tag) { %>
<% if (tag.name == deleteTagLoading) { %>
div(tg-loading="true")
<% } else { %>
span.tag(style!="border-left: 5px solid <%- tag.style %>;")
    span.tag-name <%- tag.name %>
    <% if (isEditable) { %>
    a.remove-tag(
        href=""
        title="{{'COMMON.TAGS.DELETE' | translate}}"
    )
        tg-svg(svg-icon="icon-close")
    <% } %>
<% } %>
<% }); %>
div(tg-loading!="<%- loading %>")
