doctype html

div.wrapper.roles(ng-init="section='admin'", ng-controller="ContribController as ctrl")
    nav.menu.hidden(tg-project-menu)
    sidebar.menu-secondary.sidebar(tg-admin-navigation="contrib")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar
        include ../includes/modules/admin/admin-submenu-contrib

    section.main.admin-common.admin-contrib(ng-include="pluginTemplate")
