
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

- var hash = "#";
span.belong-to-epic-pill-wrapper(tg-repeat="epic in immutable_epics track by epic.get('id')")
    .belong-to-epic-pill(
        ng-style="{'background': epic.get('color'), 'border-color': '{{ epic.get('color') | darker: -0.2 }}'}"
        title="#{hash}{{epic.get('ref')}} {{epic.get('subject')}}"
    )
