.belong-to-epic-pill-wrapper {
    display: inline-block;
    position: relative;
    &:hover {
        .belong-to-epic-pill-data {
            display: block;
        }
    }
}

.belong-to-epic-pill {
    background-color: $mass-white;
    border-radius: 50%;
    display: inline-block;
    height: .7rem;
    margin: 0 .1rem;
    position: relative;
    width: .7rem;
}

.belong-to-epic-text-wrapper {
    margin-right: 1rem;
}

.belong-to-epic-text {
    margin-left: .25rem;
}
.belong-to-epic-label {
    @include font-type(light);
    @include font-size(xsmall);
    background: $grayer;
    border-radius: .25rem;
    color: $white;
    margin: 0 .5rem;
    padding: .1rem .25rem;
}
