.belong-to-epic-pill-wrapper {
    display: inline-block;
    position: relative;
    &:hover {
        .belong-to-epic-pill-data {
            display: block;
        }
    }
}
.belong-to-epic-pill {
    background-color: $grayer;
    border-radius: 50%;
    display: inline-block;
    height: .75rem;
    margin-left: .25rem;
    position: relative;
    width: .75rem;
}
.belong-to-epic-pill-data {
    animation: dropdownFade .2s;
    background: rgba($black, .9);
    bottom: 1.25rem;
    color: $white;
    display: none;
    left: -100px;
    padding: .5rem 1rem;
    position: absolute;
    width: 200px;
    z-index: 99;
}
