- var hash = "#";
.belong-to-epic-pill-wrapper(tg-repeat="epic in epics")
    .belong-to-epic-pill(
        ng-style="{'background': epic.get('color')}"
        title="#{hash}{{epic.get('id')}} {{epic.get('subject')}}"
    )
