
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

- var hash = "#";
span.belong-to-epic-pill-wrapper(tg-repeat="epic in immutable_epics track by epic.get('id')")
    .belong-to-epic-pill(
        ng-style="{'background': epic.get('color'), 'border-color': '{{ epic.get('color') | darker: -0.2 }}'}"
        title="#{hash}{{epic.get('ref')}} {{epic.get('subject')}}"
    )
