section.profile-timeline
    div(ng-if="!vm.timelineList.size")
        p Loading... (TODO)

    div(infinite-scroll="vm.loadTimeline()", infinite-scroll-distance="3", infinite-scroll-disabled="vm.scrollDisabled")
        div(tg-repeat="timeline in vm.timelineList", tg-user-timeline-item="timeline")
