section.profile-timeline
    div(infinite-scroll="vm.loadTimeline()", infinite-scroll-distance="3", infinite-scroll-disabled="vm.loadingData")
        div(tg-repeat="timeline in vm.timelineList", tg-user-timeline-item="timeline")
