a(href="{{ ::vm.duty.get('url') }}", title="{{ ::duty.get('subject') }}")

    img.avatar(ng-if="::vm.duty.get('assigned_to_extra_info')"
        ng-src="{{ ::vm.duty.get('assigned_to_extra_info').get('photo') }}"
        title="{{ ::vm.duty.get('assigned_to_extra_info').get('full_name_display') }}")

    img.avatar(ng-if="::!vm.duty.get('assigned_to_extra_info')"
        src="/images/unnamed.png"
        title="{{'ACTIVITY.VALUES.UNASSIGNED' | translate}}")

    div.duty-data
        div
            span.duty-type {{ ::vm.getDutyType() }}
            span.duty-status(ng-style="{'color': vm.duty.get('status_extra_info').get('color')}") {{ ::vm.duty.get('status_extra_info').get('name') }}
        span.duty-title
            span.duty-id(tg-bo-ref="duty.get('ref')")
            span.duty-name {{ ::duty.get('subject') }}
    div.duty-project {{ ::vm.duty.get('projectName')}}
