.working-on,
.watching {
    margin-bottom: 2rem;
    .duty-single {
        border-bottom: 1px solid $whitish;
        cursor: pointer;
        transition: background .2s;
        transition-delay: .2s;
        &:hover {
            background: $primary-10;
            .button-hide {
                opacity: 1;
            }
        }
        &:last-child {
            border: 0;
        }
        >a {
            align-items: center;
            border-bottom: 0;
            display: flex;
            flex-direction: row;
            &.blocked {
                background: $red-10;
                color: $red;
            }
        }
    }
    .see-more {
        display: block;
        margin: 2rem 30%;
    }
    .button-hide {
        color: $gray;
        opacity: 0;
        padding: .5rem;
        svg {
            fill: $gray-lighter;
            height: 24px;
            width: 24px;
        }
        &:hover svg {
            fill: $primary-light;
        }
    }
}
