.working-on,
.watching {
    margin-bottom: 2rem;
    .duty-single {
        border-bottom: 1px solid $whitish;
        cursor: pointer;
        padding: .5rem;
        &:last-child {
            border: 0;
        }
        &.blocked {
            background: rgba($red-light, .2);
            .duty-type,
            .duty-status {
                color: $red;
            }
        }
        >a {
            align-items: center;
            display: flex;
            flex-direction: row;
        }
        &:hover {
            .duty-type-image {
                // scss-lint:disable ImportantRule
                background-color: rgba($green-taiga, .6) !important;
                transition: all .3s;
            }
        }
    }
    .duty-type-image {
        background-blend-mode: overlay;
        background-position: center center;
        background-size: 3.5rem 3.5rem;
        border-radius: 5px;
        flex-basis: 3.5rem;
        height: 3.5rem;
        margin-right: 1rem;
        opacity: .75;
        width: 3.5rem;
        svg {
            height: 60%;
            width: 60%;
        }
        path {
            fill: $white;
            opacity: 1;
        }
    }
    .duty-type-svg {
        align-items: center;
        border-radius: 5px;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
    .duty-data {
        flex: 1;
        margin-right: .5rem;
    }
    .duty-type,
    .duty-status {
        @extend %small;
        color: $gray;
        margin-right: .3rem;
    }
    .duty-title {
        display: block;
        margin-top: .25rem;
    }
    .duty-id {
        color: $gray-light;
        margin-right: .3rem;
    }
    .duty-project {
        @extend %small;
        align-self: flex-start;
        color: $gray-light;
        margin-left: auto;
        text-align: right;
        width: 120px;
    }
    .see-more {
        display: block;
        margin: 2rem 30%;
    }
}
