section.us-activity.hidden
    div.activity-single(tg-comment, ng-repeat="comment in comments")
        div.activity-user
            a.avatar(href="", tg-bo-title="ctrl.getUserFullName(comment.user.pk)")
                img(tg-bo-src="ctrl.getUserAvatar(comment.user.pk)", tg-bo-alt="ctrl.getUserFullName(comment.user.pk)")

        div.activity-content
            div.activity-username
                a.username(href="TODO", tg-bo-title="ctrl.getUserFullName(comment.user.pk)" tg-bo-html="ctrl.getUserFullName(comment.user.pk)")
                span.date {{ comment.created_at | date:'yyyy-MM-dd HH:mm' }}

            div.activity-inner(ng-repeat="(key, change) in comment.values_diff")
                div.activity-changed
                    span(tg-bo-html="key")
                div.activity-fromto
                    p
                        strong from <br /> {{ ctrl.getChangeText(change[0]) }}
                    p
                        strong to <br /> {{ ctrl.getChangeText(change[1]) }}

    //a.more-activity(href="", title="show more comments")
    //     span show previous activity
    //     span.prev-activity-num (3 more)
