section.us-activity.hidden
    div.activity-single(tg-change, ng-model="change", mode="activity", ng-repeat="change in history")

    //a.more-activity(href="", title="show more comments")
    //     span show previous activity
    //     span.prev-activity-num (3 more)
