section.us-activity.hidden
    //- modules/common.coffee - ChangeDirective
    div.activity-list(tg-changes, ng-model="history", mode="activity")

    //- TODO
    //- a.more-activity(href="", title="show more comments")
    //-     span show previous activity
    //-     span.prev-activity-num (3 more)
