section.admin-menu
    header
        h1 Admin

    nav
        ul
            li#adminmenu-project-profile
                a(href="", tg-nav="project-admin-project-profile-details:project=project.slug")
                    span.title Project profile
                    span.icon.icon-arrow-right
            li#adminmenu-project-values
                a(href="", tg-nav="project-admin-project-values-us-status:project=project.slug")
                    span.title Project values
                    span.icon.icon-arrow-right
            li#adminmenu-memberships
                a(href="" tg-nav="project-admin-memberships:project=project.slug")
                    span.title Memberships
                    span.icon.icon-arrow-right
            li#adminmenu-roles
                a(href="")
                    span.title Roles
                    span.icon.icon-arrow-right
