section.admin-menu-roles
    header
        h1 Roles

    nav
        ul
            li
                a(href="") UX
                  span.icon.icon-arrow-right
            li
                a(href="") Product Owner
                  span.icon.icon-arrow-right
            li
                a(href="") Designer
                  span.icon.icon-arrow-right
            li
                a(href="") Back
                  span.icon.icon-arrow-right
            li
                a(href="") Front
                  span.icon.icon-arrow-right

        a.button-gray(href="", title="Add New US")
            span.text + New role