section.admin-menu
    header
        h1 Admin

    nav
        ul
            li
                a(href="") Memberships
                  span.icon.icon-arrow-right
            li
                a(href="") Role
                  span.icon.icon-arrow-right
            li
                a(href="") Sprints
                  span.icon.icon-arrow-right
            li
                a(href="") Project values
                  span.icon.icon-arrow-right
            li
                a(href="") Project profiles
                  span.icon.icon-arrow-right