section.admin-submenu
    header
        h1 P... Profile

    nav
        ul
            li#adminmenu-details
                a(href="", tg-nav="project-admin-project-profile-details:project=project.slug")
                    span.title Project Details
                    span.icon.icon-arrow-right
            li#adminmenu-values
                a(href="")
                    span.title Default Values
                    span.icon.icon-arrow-right
            li#adminmenu-features
                a(href="", tg-nav="project-admin-project-profile-features:project=project.slug")
                    span.title Features
                    span.icon.icon-arrow-right
