section.admin-submenu
    header
        h1 Third parties

    nav
        ul
            li#adminmenu-third-parties-github
                a(href="", tg-nav="project-admin-third-parties-github:project=project.slug")
                    span.title Github
                    span.icon.icon-arrow-right
