//- NOTE: You must to define 'var attachModel' with the object model
//-       that have attachments

section.attachments(tg-attachments, ng-model=attachModel, ng-if="#{attachModel}.id")
    div.attachments-header
        h3.attachments-title
            span.icon.icon-attachments
            span.attachments-num 0
            span.attachments-text attachments
            a.button.button-gray.add-attach(href="", title="Add new attachment")
                span +new file
            input.hidden.add-attach(type="file", multiple="multiple")

    div.attachment-body.sortable
        div.hidden.single-attachment(ng-repeat="attach in attachments",
                                     tg-attachment="attach")

        //- See modules/common/attachments.coffee - AttachmentDirective

        div.single-attachment(ng-repeat="file in uploadingFiles")
            div.attachment-name
                a(href="", tg-bo-title="file.name", tg-bo-bind="file.name")
            div.attachment-size
                span.attachment-size(tg-bo-bind="file.size")
            div.attachment-comments
                span(ng-bind="file.progressMessage")
                div.percentage(ng-style="{'width': file.progressPercent}")

        a.hidden.more-attachments(href="", title="show deprecated atachments")
            span.text + show deprecated atachments
            span.more-attachments-num (0 deprecated)
