//- NOTE: You must to define 'var attachModel' with the object model
//-       that have attachments

section.attachments(tg-attachments, ng-model=attachModel)
    div.attachments-header
        h3.attachments-title
            span.icon.icon-attachments
            span.attachments-num 0
            span.attachments-text attachments
            a.button.button-gray.add-attach(href="", title="Add new attachment")
                span +new file
            input.hidden.add-attach(type="file", multiple="multiple")

    div.attachment-body.sortable
        div.hidden.single-attachment(ng-repeat="attach in attachments",
                                     tg-attachment="attach")

        //- See modules/common/attachments.coffee - AttachmentDirective
        //-
        //- An attachment ('deprecated' class for deprecxated attachments)
        //-div.single-attachment
        //-    div.attachment-name
        //-        a(href="", title="Attachment pefildeusuario.png") pefildeusuariopefuario.png
        //-    div.attachment-comment
        //-        span.attachment-size (42 B)
        //-        span A sort description
        //-    a.settings.icon.icon-edit(href="", "Edit")
        //-    a.settings.icon.icon-delete(href="", "Delete")
        //-    a.settings.icon.icon-drag-v(href="", "Drag")
        //-
        //- An edittable attachment ('deprecated' class for deprecxated attachments)
        //-div.single-attachment
        //-    div.attachment-name
        //-        a(href="", title="Attachment pefildeusuario.png") pefildeusuariopefuario.png
        //-    div.editable.editable-attachment-comment
        //-        span.attachment-size (42 B)
        //-        input(type="text")
        //-    div.editable.editable-attachment-deprecated
        //-        label Deprecated?
        //-        input(type="checkbox")
        //-    a.editable.icon.icon-floppy(href="#", "Save")
        //-    a.editable.icon.icon-delete(href="#", "Cancel")

        //- div.single-attachment(ng-repeat="file in uploadingFiles")
        //-    div.attachment-name
        //-        span
        //-        a(href="", title="{{ file.name }}") file.name
        //-    div.attachment-comment
        //-        span.attachment-size ({{ file.size }})
        //-        span(ng-if="file.progressMessage", style="color:#72a114; font-weight: bold;") {{ file.progressMessage }}  |  {{ file.progressPercent }}%

        div.single-attachment(ng-repeat="file in uploadingFiles")
            div.attachment-name
                a(href="", title="{{ file.name }}") {{ file.name }}
            div.attachment-size
                span.attachment-size {{ file.size }}
            div.attachment-comments
                span {{ file.progressMessage }}
                div.percentage(style="width:  {{ file.progressPercent }}%")
            div.attachment-settings

        a.hidden.more-attachments(href="", title="show deprecated atachments")
            span.text + show deprecated atachments
            span.more-attachments-num (0 deprecated)
