section.attachments
    div.attachments-header
        div.attachments-inner
            h3.attachments-title
                span.icon.icon-attachment
                span.attachments-num {{5}}
                span.attachemnts-text attachments
            a.button.button-gray(href="", title="Add new attachment")
                span +new file
    div.attachment-body
        div.attachments-inner
            div.attachment-single
                div.attachment-name
                    span.icon.icon-document
                    span pefildeusuario.png
                div.attachment-comment
                    span Comentario sobre el contenido
                    span.attachment-size (125kb.)
                a.icon.icon-edit(href="","Edit")
                a.icon.icon-drag-v(href="","Drag")
