section.backlog-table-header
    div.row.backlog-table-title
        div.user-stories User Stories
        div.status Status
        div.points(tg-us-role-points-selector)
            span Points
section.backlog-table-body
    include ../components/backlog-row
