section.backlog-table-header
    div.row.backlog-table-title
        div.user-stories User Stories
        div.status Status
        div.points Points
        div.points
    div.row.backlog-table-subtitle
        div.user-stories.width-4
        div.status.width-2
        div.points.width-1 Front
        div.points.width-1 Total
section.backlog-table-body
    // - for (var x = 0; x < 40; x++)
    //     div.row
    //         div.user-stories
    //             div.user-story-name
    //                 input(type="checkbox", name="")
    //                 a(href="") Crear el perfil de usuario Senior en el admin
    //                 span.us-settings
    //                     a.icon.icon-edit(href="", title="Edit")
    //                     a.icon.icon-delete(href="", title="Delete")
    //             div.user-story-tags
    //                 - for(var y = 0; y < 3; y++)
    //                     include ../components/tag
    //         div.status.width-2
    //             a(href="", title="Status Name") Status Name
    //             ul.popover.pop-status
    //                 li
    //                     a(href="", title="Status 1") Status 1
    //                 li
    //                     a(href="", title="Status 2") Status 2
    //                 li
    //                     a(href="", title="Status 3") Status 3
    //         div.points
    //             a(href="", title="") 24
    //         div.points
    //             a(href="", title="Total Points") 43
    //             ul.popover.pop-status
    //                 li
    //                     a(href="", title="Status 1") Status 1
    //                 li
    //                     a(href="", title="Status 2") Status 2
    //                 li
    //                     a(href="", title="Status 3") Status 3
    //         a.icon.icon-drag-v(href="", title="Drag")
    // hr.doom-line

    script(type="text/ng-template" id="backlog-row.html")
        include ../components/backlog-row
