div.general-category
    | Can do estimations?
    div.check
        input(type="checkbox", checked)
        div
div.category-config-list
    div.category-config
        div.resume
            div.resume-title Attachments
            div.count 2/7
            div.summary-role
                div.role-summary-single.active
                div.role-summary-single.inactive
                div.role-summary-single.inactive
                div.role-summary-single.active
                div.role-summary-single.inactive
                div.role-summary-single.inactive
            div.icon.icon-arrow-bottom

    div.category-config
        div.resume
            div.resume-title User stories
            div.count 2/7
            div.summary-role
                div.role-summary-single.active
                div.role-summary-single.inactive
            div.icon.icon-arrow-bottom

    div.category-config
        div.resume
            div.resume-title Issues
            div.count 2/7
            div.summary-role
                div.role-summary-single.active
                div.role-summary-single.inactive
            div.icon.icon-arrow-up
        div.category-items
            div.category-item
                | Can modify owned user stories
                div.check
                    input(type="checkbox")
                    div
            div.category-item
                | Can delete user story status
                div.check
                    input(type="checkbox", checked)
                    div
            div.category-item
                | Can delete user story status
                div.check.enabled
                    input(type="checkbox")
                    div
            div.category-item
                | Can delete user story statsu
                div.check
                    input(type="checkbox", checked)
                    div
            div.category-item
                | Can delete user story status
                div.check
                    input(type="checkbox")
                    div

    div.category-config
        div.resume
            div.resume-title User stories
            div.count 2/7
            div.summary-role
                div.role-summary-single.active
                div.role-summary-single.inactive
            div.icon.icon-arrow-bottom
