div.change-password-form-container(tg-change-password-from-recovery)
    p.change-password-text
        strong Create a new Taiga pass <br />
        span And hey, you may want to eat some more iron-rich food, it's good for your brain :P

    form(ng-submit="ctrl.submit()")
        fieldset
            input(type="password", name="password", ng-model="data.password", data-required="true",
                  placeholder="New password")
        fieldset
            input(type="password", name="repassword", ng-model="data.password2", data-required="true",
                  placeholder="Re-type new password")
        fieldset
            a.button.button.button-gray(href="", title="Reset Password") Reset Password
            input(type="submit", style="display:none")
