div.change-password-form-container(tg-forgot-Password)
    p.change-password-text
        strong Create a new Taiga pass <br />
        span And hey, you may want to eat some more iron-rich food, it's good for your brain :P

    form(ng-submit="ctrl.submit()")
        fieldset
            input(type="password", name="password", placeholder="new password")
        fieldset
            input(type="password", name="repassword", placeholder="re-type new password")
        fieldset
            a.button.button.button-green(href="", title="Reset Password") Reset Password
