section.colors-table
    div.table-header
        div.row
            div.color-column Color
            div.status-name Name
            div.is-closed-column Is closed?
            div.options-column

    div.table-main
        div.row.row-edit
            div.color-column
                div.current-color
                include ../components/select-color

            div.status-name
                input(type="text")
            div.is-closed-column
                input(type="checkbox")
            div.options-column
                a.icon.icon-floppy(href="#")
                a.icon.icon-delete(href="#")

    - for (var x = 0; x < 50; x++)
        div.row.table-main
            div.color-column
                div.current-color
                include ../components/select-color

            div.status-name Ready for test
            div.is-closed-column
                div.icon.icon-check-square
            div.options-column
                a.icon.icon-edit(href="#")
                a.icon.icon-delete(href="#")
