section.colors-table
    div.row.title
        div.width-1.color-column Color
        div.width-6 Name
        div.width-2.is-closed-column Is closed?
        div.width-1.options-column

    div.row.table-main
        div.width-1.color-column
            div.color
            div.popover.select-color
                ul
                    - for (var z = 0; z < 21; z++)
                        li.color
                input(type="text", placeholder="personalized colors")
                div.selected-color(style="background-color: red")

        div.width-6
            input(type="text")
        div.width-2.is-closed-column
            input(type="checkbox")
        div.width-1.options-column
            a.icon.icon-floppy(href="#")

    - for (var x = 0; x < 50; x++)
        div.row.table-main
            div.width-1.color-column
                div.color
                div.popover.select-color
                    ul
                        - for (var z = 0; z < 21; z++)
                            li.color
                    input(type="text", placeholder="personalized colors")
                    div.selected-color(style="background-color: red")

            div.width-6 Ready for test
            div.width-2.is-closed-column
                div.icon.icon-notification-success
            div.width-1.options-column
                a.icon.icon-delete(href="#")
                a.icon.icon-edit(href="#")
