section.us-comments
    div.add-comment
        textarea(placeholder="Write here a new commet")
        a.button.button-green(href="", title="Comment") Comment
    div.comment-list
        div.comment-single(ng-repeat="comment in comments")
            div.comment-user
                a.avatar(href="", title="User preferences")
                    img(src="http://thecodeplayer.com/u/uifaces/12.jpg", alt="username")
            div.comment-content
                a.username(href="", title="User name") User Name
                //- includes module activity
                include comment-activity
                p.comment
                    {{ comment.comment }}
                p.date 15 junio 2014 15:30h
                a.delete-comment.icon.icon-delete(href="", title="delete comment")

         //a.more-comments(href="", title="show more comments")
                //span show previous comments
                //span.prev-comments-num (3 more)
