div.us-activity
    a.activity-title(href="", title="Show activity")
        span made {{ comment.diff }} changes
        span.icon.icon-arrow-up
    - for(var y = 0; y < 2; y++)
        div.activity-inner
            div.activity-changed
                span US status
            div.activity-fromto
                p
                    strong from <br />
                    Este es el título que tenía la historia
                p
                    strong to <br />
                    Este es el título que tenía la historia modificado
