section.us-comments
    div.add-comment
        textarea(placeholder="Write here a new commet")
        a.button.button-green(href="", title="Comment") Comment
    div.comment-list
        div.comment-single(tg-comment, ng-repeat="comment in comments")
            div.comment-user
                a.avatar(href="", tg-bo-title="ctrl.getUserFullName(comment.user.pk)")
                    img(tg-bo-src="ctrl.getUserAvatar(comment.user.pk)", tg-bo-alt="ctrl.getUserFullName(comment.user.pk)")
            div.comment-content
                a.username(href="TODO", tg-bo-title="ctrl.getUserFullName(comment.user.pk)" tg-bo-html="ctrl.getUserFullName(comment.user.pk)")
                //- includes module activity
                include comment-activity
                p.comment {{ comment.comment }}
                p.date {{ comment.created_at | date:'yyyy-MM-dd HH:mm' }}
                a.delete-comment.icon.icon-delete(href="", title="delete comment")

         //a.more-comments(href="", title="show more comments")
                //span show previous comments
                //span.prev-comments-num (3 more)
