//- NOTE: You must to define 'var commentModel' with the object model
//-       You must to define 'var noSaveButton = true' if save button is not necessary

section.us-comments
    //- modules/common.coffee - ChangeDirective
    div.comment-list(tg-changes, mode="comment", ng-model="comments")

        div.comment-single

        //- TODO
        //- a.more-comments(href="", title="show more comments")
        //-     span show previous comments
        //-     span.prev-comments-num (3 more)

    div.add-comment(tg-check-permission, tg-toggle-comment, permission="modify_"+commentModel)
        textarea(placeholder="Write here a new commet", ng-model="commentModel.comment", tg-markitup)

        unless noSaveButton
            a.button.button-green.save-comment(href="", title="Comment") Comment
