//- NOTE: You must to define 'var commentModel' with the object model
//-       You must to define 'var noSaveButton = true' if save button is not necessary

section.us-comments
    div.add-comment(tg-check-permission, tg-toggle-comment, permission="modify_"+commentModel)
        textarea(placeholder="Write here a new commet", ng-model="commentModel.comment", tg-markitup)

        unless noSaveButton
            a.button.button-green.save-comment(href="", title="Comment") Comment

    div.comment-list
        //- modules/common.coffee - ChangeDirective
        div.comment-single(tg-change, mode="comment", ng-model="comment", ng-repeat="comment in comments")

        //- TODO
        //- a.more-comments(href="", title="show more comments")
        //-     span show previous comments
        //-     span.prev-comments-num (3 more)
