section.filters
    div.filters-inner
        h1
            a.title(href="", title="back to categories") filters
            a.subfilter(href="", title="cat-name")
                span.icon.icon-arrow-right
                span status
        form
            fieldset
                input(type="text", placeholder="Search by subject...", ng-model="filters.subject")
                a.icon.icon-search(href="", title="search")

        //- First step for selecting category
        div.filters-step-cat
            //- $(.filters-applied) only visible when filters are being applied
            div.filters-applied
                // a.single-filter.selected
                //     span.name Filter23
                //     span.icon.icon-delete
            div.filters-cats
                ul
                    li
                        a(href="", title="Status", data-type="statuses")
                            span.title Status
                            span.icon.icon-arrow-right
                    // li
                    //     a(href="", title="Type", data-type="types")
                    //         span.title Type
                    //         span.icon.icon-arrow-right
                    li
                        a(href="", title="Severity", data-type="severities")
                            span.title Severity
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Priorities", data-type="priorities")
                            span.title Priorities
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Tags", data-type="tags")
                            span.title Tags
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Assigned to", data-type="assignedTo")
                            span.title Assigned to
                            span.icon.icon-arrow-right

        //- Second step for selecting single filters to apply
        div.filter-list.hidden
