section.filters
    div.filters-inner
        h1 filters
        form
            fieldset
                input(type="text", placeholder="Filter Filters", ng-model="filtersSearch.$")
                a.icon.icon-search(href="", title="search")
        div.filter-list
            a.single-filter(ng-repeat="tag in filters.tags|filter:filtersSearch:strict" ng-class="{selected: tag.selected}")
                span.name(tg-bo-html="tag.name")
                span.number(tg-bo-html="tag.count")
