// This template is now not used. It is replaced with
// issues-filters.jade and filters-backlog.jade.

section.filters
    div.filters-inner
        h1
            span.title filters

        form
            fieldset
                input(type="text", placeholder="Search by subject or reference...", ng-model="filtersQ")
                a.icon.icon-search(href="", title="search")
        h2
            a.hidden(href="", title="cat-name")
                span.title status
        div.filters-step-cat
            div.filters-applied
            div.filters-cats
                ul
                    li
                        a(href="", title="Status", data-type="statuses")
                            span.title Status
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Severity", data-type="severities")
                            span.title Severity
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Priorities", data-type="priorities")
                            span.title Priorities
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Tags", data-type="tags")
                            span.title Tags
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Assigned to", data-type="assignedTo")
                            span.title Assigned to
                            span.icon.icon-arrow-right

        div.filter-list.hidden
