div.forgot-form-container(tg-forgot-password)
    p.forgot-text
        <strong>Oh! Did you forget your password?</strong><br />
        Give us your username or email and we'll sent you instructions to get a new one

    form(ng-submit="ctrl.submit()")
        fieldset
            input(type="text", name="username", ng-model="data.username", data-required="true",
                  placeholder="Username or email")
        fieldset
            a.button.button-forgot.button-gray(href="", title="Reset Password") Reset Password
            input(type="submit", style="display:none")

        a(href="", title="Login", tg-nav="login") No, I still keep my password, let's go to login page
