div.forgot-form-container(tg-forgot-Password)
    p.forgot-text
        strong Don't worry, it happens even in the best families :-) <br />
        span Give us your username or email and we'll sent you instructions to get a new one

    form(ng-submit="ctrl.submit()")
        fieldset
            input(type="text", name="username", ng-model="data.username", data-required="true",
                  placeholder="Username or email")
        fieldset
            a.button.button-forgot.button-gray(href="", title="Reset Password") Reset Password
