div.forgot-form-container
    p.forgot-text
        strong Don't worry, it happens even in the best families :-) <br />
        span Give us your mail and we'll sent you instructions to get a new one
    form
        fieldset
            input(type="text", placeholder="Your email")
        fieldset
            a.button.button-forgot.button-green(href="", title="Reset Password") Reset Password
