div.forgot-form-container(tg-forgot-password)
    p.forgot-text
        strong
            | Oops, did you forget your password?
        br
        | Enter your username or email to get a new one

    form(ng-submit="ctrl.submit()")
        fieldset
            input(type="text", name="username", ng-model="data.username", data-required="true",
                  placeholder="Username or email")
        fieldset
            a.button.button-forgot.button-gray(href="", title="Reset Password") Reset Password
            input(type="submit", style="display:none")

        a(href="", title="Login", tg-nav="login") Nah, take me back. I think I remember it.
