form.register-form
    fieldset
        input(type="text" placeholder="Pick a username", data-required="true")
    fieldset
        input(type="text" placeholder="Your email", data-required="true")
    fieldset
        input(type="password"  placeholder="Set a password", data-required="true")
    fieldset
        a.button.button-register.button-gray(href="", title="Sign up") Sign up
        input(type="submit", style="display:none")

    p.register-text
        // TODO
        span By clicking "Sign up", you agree to our <br />
        a(href="", title="See terms of service")  terms of service
        span  and
        a(href="", title="See privacy policy")  privacy policy.

