form.register-form
    fieldset
        input(type="text", name="username", ng-model="dataRegister.username", data-required="true",
              placeholder="Pick a username")
    fieldset
        input(type="text", name="full_name", ng-model="dataRegister.full_name", data-required="true",
              placeholder="Pick your display name")
    fieldset
        input(type="text", name="email", ng-model="dataRegister.email", data-required="true",
              placeholder="Your email")
    fieldset
        input(type="password", name="password", ng-model="dataRegister.password", data-required="true",
              placeholder="Set a password")
    fieldset
        a.button.button-register.button-gray(href="", title="Sign up") Sign up
        input(type="submit", style="display:none")

        p.register-text(ng-if="termsOfServiceUrl && privacyPolicyUrl")
            span By clicking "Sign up", you agree to our <br />
            a(tg-bo-href="termsOfServiceUrl", title="See terms of service", target="_blank")  terms of service
            span  and
            a(tg-bo-href="privacyPolicyUrl", title="See privacy policy", target="_blank")  privacy policy.
        p.register-text(ng-if="termsOfServiceUrl && !privacyPolicyUrl")
            span By clicking "Sign up", you agree to our <br />
            a(tg-bo-href="termsOfServiceUrl", title="See terms of service", target="_blank")  terms of service
        p.register-text(ng-if="!termsOfServiceUrl && privacyPolicyUrl")
            span By clicking "Sign up", you agree to our <br />
            a(tg-bo-href="privacyPolicyUrl", title="See privacy policy", target="_blank")  privacy policy.
