section.issues-table.basic-table
    div.row.title
        div.level-field Severity
        div.level-field Priority
        div.subject Subject
        div.issue-field Status
        div.assigned-field Assigned to
    div.row.table-main(ng-repeat="issue in issues track by issue.id")
        div.level-field(tg-issue-severity="issue")
        div.level-field(tg-issue-priority="issue")
        div.subject
            a(href="", tg-nav="project-issues-detail:project=project.slug,ref=issue.ref",
              tg-bo-html="issue.subject")
        div.issue-field(tg-issue-status="issue")
        div.assigned-field(tg-issue-assignedto="issue")
