section.issues-table.basic-table
    div.row.title
        div.level-field.width-1 Severity
        div.level-field.width-1 Priority
        div.width-7.subject Subject
        div.width-2 Status
        div.width-2 Assigned to
    div.row.table-main(ng-repeat="issue in issues track by issue.id")
        div.level-field.width-1
            div.level
        div.level-field.width-1
            div.level
        div.width-7.subject(tg-bo-html="issue.subject")
        div.width-2
            In progress
        div.width-2
            figure.avatar
                img(src="http://thecodeplayer.com/u/uifaces/12.jpg", alt="username")
                figcaption Pilar

section.issues-paginator