section.issues-header
    ul
        li
            a(href="#").active
                span.icon.icon-issues
                | SHOW LIST

        li
            a(href="#")
                span.icon.icon-graph
                | SHOW GRAPH

    div.new-issue
        a.button-green(href="")
            span.text
                | + NEW ISSUE
        a.button-bulk(href="")
            span.icon.icon-bulk