section.filters
    div.filters-inner
        h1
            a.title(href="", title="back to categories") filters
        form
            fieldset
                input(type="text", placeholder="Search by subject...", ng-model="filtersSubject")
                a.icon.icon-search(href="", title="search")
        div.filters-step-cat
            div.filters-applied
            h2
                a.hidden.subfilter(href="", title="cat-name")
                    span.title status
            div.filters-cats
                ul
                    li
                        a(href="", title="Type", data-type="types")
                            span.title Type
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Status", data-type="statuses")
                            span.title Status
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Severity", data-type="severities")
                            span.title Severity
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Priorities", data-type="priorities")
                            span.title Priorities
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Tags", data-type="tags")
                            span.title Tags
                            span.icon.icon-arrow-right
                    li
                        a(href="", title="Assigned to", data-type="assignedTo")
                            span.title Assigned to
                            span.icon.icon-arrow-right

        div.filter-list.hidden
