a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title
    p
        span.subtitle
        span.message
    div.options
        a.button.button-green(href="", title="Accept")
            span Accept
        a.button.button-red(href="", title="Delete")
            span Cancel
