a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Delete Taiga Account
    p
        span.question Are you sure you want to delete your Taiga account?
        span.subtitle We're going to miss you! :-(
    div.options
        a.button.button-green(href="", title="Accept")
            span Accept
        a.button.button-red(href="", title="Cancel")
            span Cancel
