a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title(tr="task.title-new")
    fieldset
        input(type="text", ng-model="task.subject", placeholder="A task subject",
              data-required="true", data-maxlength="500")

    fieldset
        select(ng-model="task.status", ng-options="s.id as s.name for s in taskStatusList",
               placeholder="Task status")

    fieldset
        select(ng-model="task.assigned_to", ng-options="s.id as s.full_name_display for s in users",
               placeholder="Assigned to")
            option(value="") Unassigned

    fieldset(ng-switch="isNew")
        div(ng-switch-when="true", tg-tag-line, ng-model="task.tags", required-perm="add_task")
        div(ng-switch-default, tg-tag-line, ng-model="task.tags", required-perm="modify_task")

    fieldset
        textarea.description(placeholder="Type a short description", ng-model="task.description")

    div.settings
        fieldset.iocaine-flag(title="Feeling a bit overwhelmed by a task? Make sure others know about it by clicking on Iocaine when editing a task. It's possible to become immune to this (fictional) deadly poison by consuming small amounts over time just as it's possible to get better at what you do by occasionally taking on extra challenges!")
            input(type="checkbox", ng-model="task.is_iocaine", name="iocaine-task", id="iocaine-task", ng-value="true")
            label.iocaine(for="iocaine-task")
                span.icon.icon-iocaine(for="iocaine-task icon-iocaine")
                span Iocaine

        fieldset.blocking-flag
            input(type="checkbox", ng-model="task.is_blocked", name="blocked-task", id="blocked-task", ng-value="true")
            label.blocked(for="blocked-task", tr="common.blocked")

    tg-blocking-message-input(watch="task.is_blocked", ng-model="task.blocked_note")

    a.button.button-green(href="", title="Save")
        span Create
