a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Add Issue
    fieldset
        input(type="text", placeholder="Issue description")
    div.fieldset-row
        fieldset
            select.type
                option(value="Type") Type
        fieldset
            select.priority
                option(value="priority") Priority
        fieldset
            select.severity
                option(value="severity") Severity
    //-
        div.fieldset-row
            fieldset
                select.assigned-to
                    option(value="assigned-to") Assigned to
            fieldset
                select.status
                    option(value="status") Status
            fieldset
                input(type="checkbox", id="is-blocked")
                label(for="is-blocked") is blocked?
    fieldset
        input(type="text", placeholder="Add tags")
    fieldset
        div.markdown-preview
            a.edit.active(href="", title="Edit") Edit
            a.preview(href="", title="Preview") Preview
        textarea.description(placeholder="description")
        div.description-preview.hidden
    include lightbox-attachments
    a.button.button-green(href="", title="Save")
        span Create
