a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Search
    input(type="text", placeholder="What are you looking for?")
    a.button.button-green(href="", title="Accept")
        span Search