a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Use gravatar as image
    p
        span.subtitle You really want to delete your current photo and use the gravatar image?
    div.options
        a.button.button-green(href="", title="Accept")
            span Accept
        a.button.button-red(href="", title="Delete")
            span Cancel
