a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Add watchers
    fieldset
        input(type="text", data-maxlength="500", placeholder="Search for users", ng-model="usersSearch")
    div.watchers //- The content of this is rendered by directive
