a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title(tr="common.new-bulk")
    fieldset
        textarea(cols="200", wrap="off", tg-limit-line-length, tr="placeholder:common.one-item-line", ng-model="form.data", data-required="true")
    a.button.button-green(href="", tr="title:common.save")
        span(tr="common.save")
