a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Delete User Story
    p
        span.question Are you sure you want to delete?
        span.subtitle #125 Crear el perfil de usuario senior en el admin
        span.replacement What value do you want to use as replacement?
        select.choices
    div.options
        a.button.button-green(href="", title="Accept")
            span Accept
        a.button.button-red(href="", title="Delete")
            span Cancel
