a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Create Project
    form
        fieldset
            input(type="text", name="name", ng-model="data.name", data-required="true",
                  placeholder="Name")
        fieldset
            input(type="text", name="description", ng-model="data.description", data-required="true",
                  placeholder="Description")
        fieldset
            input(type="text", name="total_story_point", ng-model="data.total_story_point", data-required="true",
                  placeholder="Total story point")
        fieldset
            a.button.button-green(href="", title="Create") Create
            input(type="submit", class="hidden")
