a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title New Sprint
    fieldset
        input.sprint-name(type="text", name="name", placeholder="sprint name", ng-model="sprint.name",
                          data-required="true", data-maxlength="500")
        label.last-sprint-name

    fieldset.dates
        div
            input.date-start(type="text", name="estimated_start", placeholder="Estimated Start",
                             ng-model="sprint.estimated_start", data-required="true", tg-date-selector)
        div
            input.date-end(type="text", name="estimated_finish", placeholder="Estimated End",
                           ng-model="sprint.estimated_finish", data-required="true", tg-date-selector)

    button(type="submit", class="hidden")
    a.button.button-green.submit-button(href="", title="Create")
        span Create

    div(tg-check-permission="delete_milestone")
        span.delete-sprint.hidden Do you want to delete this sprint?
            a.icon.icon-delete(href="", title="delete sprint")
