a.close(href="", title="close")
    span.icon.icon-delete
section
    h2.title Our Oompa Loompas are importing your project
    p This process could take a few minutes </br> We will send you an email to [email] when ready
    div.options
        a.button.button-green(href="", title="Accept")
            span Accept
