a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title
    fieldset
        textarea.reason(placeholder="Please explain the reason")

    a.button.button-green(href="")
        span Save
