a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Add Issue
    fieldset
        input(type="text", ng-model="issue.subject", placeholder="Issue description",
              data-required="true", data-maxlength="500")
    div.fieldset-row
        // fieldset
        //     select.type
        //         option(value="Type") Type
        fieldset
            select.priority(ng-model="issue.priority", ng-options="p.id as p.name for p in priorityList")
        fieldset
            select.severity(ng-model="issue.severity", ng-options="s.id as s.name for s in severityList")

    fieldset
        input(type="text", placeholder="Tags", tg-tags, ng-model="issue.tags")

    fieldset
        textarea.description(placeholder="description", ng-model="issue.description")

    // include lightbox-attachments
    input(type="submit", style="display:none")
    a.button.button-green(href="", title="Save")
        span Create
