a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title New Member

    a.button.button-green(href="", title="Save")
        span Create

    p.help-text We will add directly the users if they are registered, send an invitation to register if not
