a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Delete User Story
    p
        span.us-delete-question Are you sure you want to delete?
        span.us-to-delete #125 Crear el perfil de usuario senior en el admin
    div.delete-options
        a.button.button-green(href="", title="Accept")
            span Accept
        a.button.button-red(href="", title="Delete")
            span Cancel