a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title New Sprint
    fieldset
        input.sprint-name(ng-model="sprint.name", type="text", placeholder="sprint name", name="name", data-required="true")
        label.last-sprint-name
    fieldset.dates
        input.date-start(tg-date-selector, ng-model="sprint.estimated_start", type="text", placeholder="Estimated Start", data-required="true")
        input.date-end(tg-date-selector, ng-model="sprint.estimated_finish", type="text", placeholder="Estimated End", data-required="true")
    a.button.button-green(href="", title="Save")
        span Create
    span.delete-sprint.hidden Do you want to delete this sprint?
        a.icon.icon-delete(href="", title="delete sprint")
