a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title(tg-i18n="us.title-new")
    fieldset
        input(type="text", name="subject", ng-model="us.subject", tg-i18n="placeholder:common.subject",
              data-required="true", data-maxlength="500")
    // Add estimation points
    fieldset.estimation
        ul.points-per-role
            li.total
                span.points 40
                span.role UX
            li.total
                span.points 30
                span.role Front
            li.total
                span.points 20
                span.role Design
            li.total
                span.points 10
                span.role Back
    // Remove status input
    //-fieldset
    //-    select(name="status", ng-model="us.status", ng-options="s.id as s.name for s in usStatusList",
    //-           tg-i18n="placeholder:common.status")
    fieldset
        div(tg-tag-line, editable="true", ng-model="us.tags")

    fieldset
        textarea.description(name="description", ng-model="us.description",
                             placeholder="Please add descriptive text to help others better understand this US")
    div.settings
        fieldset.team-requirement
            input(type="checkbox", name="team_requirement", ng-model="us.team_requirement",
                  id="team-requirement", ng-value="true")
            label.requirement(for="team-requirement", tg-i18n="us.team-requirement")

        fieldset.client-requirement
            input(type="checkbox", name="client_requirement", ng-model="us.client_requirement",
                  id="client-requirement", ng-value="true")
            label.requirement(for="client-requirement", tg-i18n="us.client-requirement")

        fieldset.blocking-flag
            input(type="checkbox", name="is_blocked", ng-model="us.is_blocked", id="blocked-us" ng-value="true")
            label.blocked(for="blocked-us", tg-i18n="common.blocked")

    tg-blocking-message-input(watch="us.is_blocked", ng-model="us.blocked_note")

    a.button.button-green(href="", title="Save")
        span Create
