a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title(tg-i18n="common.new-bulk")
    fieldset
        textarea(tg-i18n="placeholder:common.one-item-line", ng-model="new.bulk", data-required="true")
    a.button.button-green(href="", tg-i18n="title:common.save")
        span(tg-i18n="common.save")
