a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Tell us something...
    fieldset
        textarea(ng-model="feedback.comment", data-required="true",
                 placeholder="...a bug, some suggestions, something cool... or even your worst nightmare with Taiga")
    fieldset
        button(type="submit", class="hidden")
        a.button.button-green.submit-button(href="", title="Send feedback")
            span Send feedback
