a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title New Bulk
    fieldset
        textarea(placeholder="One user story per line")
    a.button.button-green(href="", title="Save")
        span Create
