a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Search
    fieldset
        input(type="text", name="text", id="search-text", placeholder="What are you looking for?", data-required="true")
    fieldset
        input.hidden(type="submit")
        a.button.button-green(href="", title="Accept")
            span Search
