a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title New Member

    //- Form is set in a directive
    .add-member-forms

    a.button.button-green(href="", title="Save")
        span Create

    p.help-text If users are already registered on Taiga, they will be added automatically. Otherwise they will receive an invitation.
