a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title New Sprint
    fieldset
        label.last-sprint-name last sprint is <strong> {{sprintname}} ;-) </strong>
        input(type="text", placeholder="sprint name")
    fieldset.dates
        input.date-start(type="text", placeholder="Estimated Start")
        input.date-end(type="text", placeholder="Estimated End")
    a.button.button-green(href="", title="Save")
        span Create
