section.list-filters
    ul
        li
            a(href="#").active
                span.icon.icon-filter
                | SHOW FILTERS

        li
            a(href="#")
                span.icon.icon-tag
                | SHOW TAGS

        li
            a(href="#")
                span.icon.icon-graph
                | HIDE CFD GRAPH

    div.new-issue
        a.button-green(href="")
            span.text
                | + NEW TASK
        a.button-bulk(href="")
            span.icon.icon-bulk