section.list-filters
    ul
        li
            a.trans-button(href="#")
                span.icon.icon-filter
                | SHOW FILTERS

    div.new-issue
        a.button.button-green(href="")
            span.text
                | + NEW TASK
        a.button-bulk(href="")
            span.icon.icon-bulk
