div.login-form-container
    form.login-form()
        fieldset
            input(type="text", name="username", ng-model="form.username", placeholder="User name")
        fieldset.login-password
            input(type="password", name="password", ng-model="form.password")
            //-This should be hidden when focus on pass
            a.forgot-pass(href="", title="Did you forgot your pass?") Forgot it?
        fieldset
            input.remember-me(type="checkbox", checked="checked", id="remember-me")
            label(for="remember-me") remember me on this computer
        fieldset
            a.button.button-login.button-gray(href="", ng-click="ctrl.submit()", title="Log in") Enter
    p.login-text
        span Not registered yet?
        a(href="", title="Register")  create your free account here
