div.login-form-container
    form.login-form(ng-submit="ctrl.submit()")
        fieldset
            input(type="text", name="username", ng-model="form.username", placeholder="User name")
        fieldset
            input(type="password", name="password", ng-model="form.password")
            //-This should be hidden when focus on pass
            a.forgot-pass(href="", title="Did you forgot your pass?") Forgot it?
        fieldset
            input.remember-me(type="checkbox", checked="checked")
            label remember me on this computer
        fieldset
            a.button.button-login.button-green(href="", title="Log in") Enter
    p.login-text
        span Not registered yet?
        a(href="", title="Register")  create your free account here
