div.login-form-container(tg-login)
    form.login-form
        fieldset
            input(type="text", name="username", ng-model="data.username", data-required="true",
                  placeholder="Username or Email")
        fieldset.login-password
            input(type="password", name="password", ng-model="data.password", data-required="true",
                  placeholder="Password")
            // This should be hidden when focus on pass
            a.forgot-pass(href="", tg-nav="forgot-password", title="Did you forgot your password?") Forgot it?

        fieldset
            a.button.button-login.button-gray(href="", ng-click="ctrl.submit()", title="Sign in") Sign in
            input(type="submit", style="display:none")

    p.login-text(ng-if="pubblicRegisterEnabled")
        span Not registered yet?
        a(href="", tg-nav="register", title="Register")  create your free account here
