div.login-form-container(tg-login)
    form.login-form
        fieldset
            input(type="text", name="username", data-required="true",
                  placeholder="Username or Email (case sensitive)")
        fieldset.login-password
            input(type="password", name="password", data-required="true",
                  placeholder="Password (case sensitive)")
            // This should be hidden when focus on pass
            a.forgot-pass(href="", tg-nav="forgot-password", title="Did you forgot your password?") Forgot it?

        fieldset
            a.button.button-login.button-gray(href="", title="Sign in") Sign in
            input(type="submit", style="display:none")

        fieldset
            a.button.button-github(href="", title="enter with your github account")
                span.icon.icon-github
                span Login with Github
            input(type="submit", style="display:none")

    tg-public-register-message
