// This menu is deprecated and it is only available
// for correct not integrated pages.
// The compiled version of this is embedded in coffescript
// due to mandatory tricky hacks related to scope resolution.
nav.menu
    h1.logo
        a(href="", title="Home")
            img(src="/images/logo.png", alt="Taiga")
    ul.main-nav
        li(data-name="search")
            a(href="", title="Search", tg-nav="project-search:project=project.slug")
                span.icon.icon-search
                span.item Search
        li(data-name="backlog", tg-nav="project-backlog:project=project.slug")
            a.active(href="", title="Backlog")
                span.icon.icon-backlog
                span.item Backlog
        li(data-name="kanban")
            a(href="", title="Kanban")
                span.icon.icon-kanban
                span.item Kanban
        li(data-name="issues")
            a(href="", title="Issues", tg-nav="project-issues:project=project.slug")
                span.icon.icon-issues
                span.item Issues
        li(data-name="wiki")
            a(href="", title="Wiki")
                span.icon.icon-wiki
                span.item Wiki
        li(data-name"video")
            a(href="", title="Video")
                span.icon.icon-video
                span.item Video
    div.user
        div.user-settings
            ul.popover
                li
                    a(href="", title="Change profile photo") Change profile photo
                li
                    a(href="", title="Account settings") Account settings
                li
                    a(href="", title="Logout") Logout
            a.avatar(href="", title="User preferences")
                img(src="http://thecodeplayer.com/u/uifaces/12.jpg", alt="username")

    div.settings
        a(href="", title="User preferences") Pilar
        a(href="", title="Site preferences")
            span.icon.icon-settings
