nav.menu
  h1.logo
    a(href="", title="Home")
      img(src="/images/logo.png", alt="Taiga")
  ul.main-nav
    li
      a(href="", title="Search")
        span.icon.icon-search
        span.item Search
    li
      a.active(href="", title="Backlog")
        span.icon.icon-backlog
        span.item Backlog
    li
      a(href="", title="Kanban")
        span.icon.icon-kanban
        span.item Kanban
    li
      a(href="", title="Issues")
        span.icon.icon-issues
        span.item Issues
    li
      a(href="", title="Wiki")
        span.icon.icon-wiki
        span.item Wiki
    li
      a(href="", title="Video")
        span.icon.icon-video
        span.item Video
  div.user
    div.user-settings
        ul.popover
            li
                a(href="", title="Change profile photo") Change profile photo
            li
                a(href="", title="Account settings") Account settings
            li
                a(href="", title="Logout") Logout
        a.avatar(href="", title="User preferences")
        img(src="http://thecodeplayer.com/u/uifaces/12.jpg", alt="username")
    div.settings
      a(href="", title="User preferences") Pilar
      a(href="", title="Site preferences")
        span.icon.icon-settings
