.projects-nav-overlay
    div.container
        include ../components/spinner
        p Loading project...

div.lightbox.lightbox_create-project.hidden(tg-lb-create-project)
    include lightbox_create-project

nav.projects-nav(ng-controller="ProjectsNavigationController", tg-projects-nav)
