nav.projects-nav(tg-projects-nav)
    h1 Your projects
    form
        fieldset
            input(type="text" placeholder="Search in...", ng-model="projectsSearch.$")
            a.icon.icon-search

    div.projects-pagination(tg-projects-pagination, active="projects.length && !projectsSearch.$.length")
        ul.projects-list
            li(ng-repeat="project in projects|filter:projectsSearch:strict track by project.id")
                a(href="", tg-bo-html="project.name", tg-nav="project-backlog:project=project.slug")
                    span.icon.icon-arrow-right
