nav.project-nav
    h1 Your projects
    form
        fieldset
            input(type="text" placeholder="Search in...")
            a.icon.icon-search

    ul.projects-list
        li
            a(href="") Decathlon
                span.icon.icon-arrow-right

        li
            a.active(href="") Yump
                span.icon.icon-arrow-right

        li
            a(href="") Taiga
                span.icon.icon-arrow-right

        li
            a(href="") Wine and people
                span.icon.icon-arrow-right