div.register-form-container(tg-register)
    form.register-form
        fieldset
            input(type="text", name="username", ng-model="data.username", data-required="true",
                  placeholder="Pick a username")
        fieldset
            input(type="text", name="full_name", ng-model="data.full_name", data-required="true",
                  placeholder="Pick your full name")
        fieldset
            input(type="text", name="email", ng-model="data.email", data-required="true",
                  placeholder="Your email")
        fieldset
            input(type="password", name="password", ng-model="data.password", data-required="true",
                  placeholder="Set a password")
        fieldset
            a.button.button-register.button-gray(href="", title="Sign up") Sign up
            input(type="submit", class="hidden")

        p.register-text(ng-if="termsOfServiceUrl && privacyPolicyUrl")
            span By clicking "Sign up", you agree to our <br />
            a(tg-bo-href="termsOfServiceUrl", title="See terms of service", target="_blank")  terms of service
            span  and
            a(tg-bo-href="privacyPolicyUrl", title="See privacy policy", target="_blank")  privacy policy.
        p.register-text(ng-if="termsOfServiceUrl && !privacyPolicyUrl")
            span By clicking "Sign up", you agree to our <br />
            a(tg-bo-href="termsOfServiceUrl", title="See terms of service", target="_blank")  terms of service
        p.register-text(ng-if="!termsOfServiceUrl && privacyPolicyUrl")
            span By clicking "Sign up", you agree to our <br />
            a(tg-bo-href="privacyPolicyUrl", title="See privacy policy", target="_blank")  privacy policy.

        a.register-text-top(href="", title="Login", tg-nav="login") Are you already registered? Log in
