div.register-form-container
    form.register-form
        fieldset
            input(type="text" placeholder="Pick a username")
        fieldset
            input(type="email" placeholder="Your email")
        fieldset
            input(type="password"  placeholder="Set a password")
        fieldset
            a.button.button-register.button-green(href="", title="Sign up") Sign up
    p.register-text
        span By clicking "Sign up", you agree to our <br />
        a(href="", title="See terms of service")  terms of service
        span  and
        a(href="", title="See privacy policy")  privacy policy.