section.related-tasks(tg-related-tasks)
    div.related-tasks-header
        span.related-tasks-title Related tasks
        div(tg-related-task-create-button)
    div.related-tasks-body
        div.row.single-related-task(ng-repeat="task in tasks", ng-class="{closed: task.is_closed, blocked: task.is_blocked, iocaine: task.is_iocaine}",
                                    tg-related-task-row, ng-model="task")
        div.row.single-related-task.related-task-create-form(tg-related-task-create-form)
