section.search-result-table.basic-table
    div.row.title
        div.user-stories.width-4 User Stories
        div.status.width-2 Status
        div.points.width-1 Points
        div.points.width-1 Sprints
    - for (var x = 0; x < 50; x++)
        div.row.table-main
            div.user-stories.width-4
                div.user-story-name
                    a(href="") Crear el perfil de usuario Senior en el admin
            div.status.width-2 Status
            div.points.width-1 12
            div.points.width-1 54