section.search-result-table.basic-table
    div.row.title
        div.user-stories.width-6 Issue
        div.status.width-2 Status
        div.points.width-1 Assigned to
    - for (var x = 0; x < 50; x++)
        div.row.table-main
            div.user-stories.width-6
                div.user-story-name
                    a(href="") Crear el perfil de usuario Senior en el admin
            div.status.width-2 Status
            div.points.width-1
                figure.avatar
                    img(src="http://thecodeplayer.com/u/uifaces/12.jpg", alt="username")
                    figcaption Pilar