section.search-filter
    ul
        li.userstories(data-name="userstories")
            a.active(href="#")
                span.icon.icon-bulk
                span.num 0
                span.name User Stories

        li.issues(data-name="issues")
            a(href="#")
                span.icon.icon-issues
                span.num 0
                span.name Issues

        li.tasks(data-name="tasks")
            a(href="#")
                span.icon.icon-bulk
                span.num 0
                span.name Task

        li.wikipages(data-name="wikipages")
            a(href="#")
                span.icon.icon-wiki
                span.num 0
                span.name Wiki Pages

        // li
        //     a(href="#")
        //         span.icon.icon-edit
        //         | 3 Users