section.sprints
    header
        h1 SPRINTS
        div.summary
            ul
                li
                    span.number(tg-bo-html="stats.total_milestones") --
                    span.description <br/>sprints
            div.new-sprint
              a.button.button-green(ng-click="ctrl.addNewSprint()", href="", title="Add New US")
                span.text + New sprint

    section.sprint(ng-repeat="sprint in sprints track by sprint.id", tg-backlog-sprint="sprint")
        header
            div.sprint-summary
                a.icon.icon-arrow-up(href="", title="compact Sprint")
                span.sprint-name {{ sprint.name }}
                span.sprint-date(tg-date-range="sprint.estimated_start,sprint.estimated_finish")
            ul
                li
                    span.number(tg-bo-html="sprint.closed_points") --
                    span.description closed<br />points
                li
                    span.number(tg-bo-html="sprint.total_points") --
                    span.description total<br />points
        div.sprint-progress-bar
            div.current-progress(tg-sprint-progressbar="sprint")
        div.sprint-table
            div.row.milestone-us-item-row(ng-repeat="us in sprint.user_stories track by us.id")
                div.column-us.width-8
                    a.us-name(href="", title="")
                        span(tg-bo-ref="us.ref")
                        span(tg-bo-html="us.subject")
                div.column-points.width-1(tg-bo-html="us.total_points")
        a.button.button-gray(href="", tg-nav="project-taskboard:project=project.slug,sprint=sprint.id",
                             title="Current Sprint Taskboard")
            span Sprint Taskboard
