section.sprints
    header
        h1 SPRINTS
        div.summary
            ul
                li
                    span.number(ng-bind="project.total_milestones") --
                    span.description <br/>sprints
            div.new-sprint
                a.button.button-green(href="", title="Add New sprint",
                                      ng-click="ctrl.addNewSprint()",
                                      tg-check-permission="add_milestone")
                    span.text + New sprint

    section.sprint(ng-repeat="sprint in openSprints track by sprint.id" tg-backlog-sprint="sprint")
        include sprint

    div(class="filter-closed-sprints")
        a(href="", tg-backlog-toggle-closed-sprints-visualization="ctrl.excludeClosedSprints") Show closed sprints

    section.sprint(ng-repeat="sprint in closedSprints track by sprint.id" tg-backlog-sprint="sprint")
        include sprint
