div.taskboard-table
    div.taskboard-table-header
        div.taskboard-table-inner(tg-taskboard-row-width-fixer)
            h2.task-colum-name "User story"
            //- Add class .colum-hfold in .task-column
            h2.task-colum-name(ng-repeat="s in taskStatusList track by s.id",
                               ng-style="{'border-top-color':s.color}", tg-bo-title="s.name")
                span(tg-bo-bind="s.name")
                a.icon.icon-vfold.hfold(href="", title="Fold Column")
                a.icon.icon-vunfold.hunfold.hidden(href="", title="Unfold Column")

    div.taskboard-table-body(tg-taskboard-table-height-fixer)
        div.taskboard-table-inner(tg-taskboard-row-width-fixer)
            div.task-row(ng-repeat="us in userstories track by us.id", ng-class="{blocked: us.is_blocked}")
                div.taskboard-userstory-box.task-column(tg-bo-title="us.blocked_note")
                    h3.us-title
                        a(href="", tg-nav="project-userstories-detail:project=project.slug,ref=us.ref",
                          tg-bo-title="'#' + us.ref + ' ' + us.subject")
                            span.us-ref(tg-bo-ref="us.ref")
                            span(ng-bind="us.subject")
                    p.points-value
                        span(ng-bind="us.total_points")
                        span points
                    include ../components/addnewtask.jade
                //- Add class .colum-hfold in .task-column
                div.taskboard-tasks-box.task-column(ng-repeat="st in taskStatusList track by st.id",
                                                    tg-taskboard-sortable)
                        div.taskboard-task(ng-repeat="task in usTasks[us.id][st.id] track by task.id",
                                           tg-taskboard-task)
                            include ../components/taskboard-task

            div.task-row(ng-init="us = null")
                div.taskboard-userstory-box.task-column
                    h3.us-title
                        span Unassigned tasks
                    include ../components/addnewtask.jade
                //- Add class .colum-hfold in .task-column
                div.taskboard-tasks-box.task-column(ng-repeat="st in taskStatusList track by st.id",
                                                    tg-taskboard-sortable)
                    div.taskboard-task(ng-repeat="task in usTasks[null][st.id] track by task.id",
                                       tg-taskboard-task)
                        include ../components/taskboard-task
