div.taskboard-table
    div.taskboard-table-header
        div.taskboard-table-inner(tg-taskboard-taskrow)
            h2.task-colum_name "User story"
            h2.task-colum_name(ng-repeat="s in statusList track by s.id", tg-bo-html="s.name")
    div.taskboard-table-body
        div.taskboard-table-inner
            div.task-row(ng-repeat="us in userstories track by us.id", tg-taskboard-taskrow)
                div.taskboard_task-list.task-column
                    div.tag-list
                        - for(var y = 0; y < 5; y++)
                            include ../components/tag
                    h3.task-title
                        span.task-num 125
                        span Invitacion de los usuarios a la plataforma
                    ul.task-list
                        li.task-status Open
                        li UX
                            span 4.5
                        li Diseño
                            span 4.5
                        li Front
                            span 4.5
                        li Back
                            span 4.5
                    include ../components/addnewus
                div.taskboard_task-playground.task-column(ng-repeat="s in statusList track by s.id")
                    include ../components/taskboard-task
