div.taskboard-table
    div.taskboard-table-header
        div.taskboard-table-inner(tg-taskboard-row-size-fixer)
            h2.task-colum_name "User story"
            h2.task-colum_name(ng-repeat="s in taskStatusList track by s.id", tg-bo-html="s.name")
    div.taskboard-table-body
        div.taskboard-table-inner
            div.task-row(ng-repeat="us in userstories track by us.id", tg-taskboard-taskrow)
                div.taskboard_us-list.task-column
                    div.tag-list
                        span.tag(ng-repeat="tag in us.tags") {{ tag }}
                    h3.us-title
                        span.us-ref(tg-bo-ref="us.ref")
                        span(ng-bind="us.subject")
                    div.status(tg-us-status="us" on-update="ctrl.loadSprintState()")
                        a.us-status(href="", title="Status Name")
                    ul.points-list
                        li UX
                            span 4.5
                        li Diseño
                            span 4.5
                        li Front
                            span 4.5
                        li Back
                            span 4.5
                    include ../components/addnewtask

                div.taskboard_task-playground.task-column(ng-repeat="s in taskStatusList track by s.id")
                    include ../components/taskboard-task
