div.taskboard-table
    div.taskboard-table-header
        div.taskboard-table-inner(tg-taskboard-row-size-fixer)
            h2.task-colum_name "User story"
            h2.task-colum_name(ng-repeat="s in taskStatusList track by s.id",
                               ng-style="{'border-top-color':s.color}")
                span(tg-bo-html="s.name")

    div.taskboard-table-body
        div.taskboard-table-inner(tg-taskboard-row-size-fixer)
            div.task-row(ng-repeat="us in userstories track by us.id")
                div.taskboard-userstory-box.task-column
                    div.tag-list
                        span.tag(ng-repeat="tag in us.tags") {{ tag }}
                    h3.us-title
                        span.us-ref(tg-bo-ref="us.ref")
                        span(ng-bind="us.subject")
                    p.points-value
                        span(ng-bind="us.total_points")
                        span points

                    a.icon.icon-plus(href="", title="Add new task",
                                     ng-click="ctrl.addNewTask('standard', us)")
                    a.icon.icon-bulk(href="", title="Add new tasks in bulk",
                                     ng-click="ctrl.addNewTask('bulk', us)")

                div.taskboard-tasks-box.task-column(ng-repeat="st in taskStatusList track by st.id",
                                                    tg-taskboard-sortable)
                    div.taskboard-task(ng-repeat="task in usTasks[us.id][st.id] track by task.id",
                                       tg-taskboard-task)
                        include ../components/taskboard-task

            div.task-row(ng-init="us = null")
                div.taskboard-userstory-box.task-column
                    h3.us-title
                        span Unassigned tasks
                    include ../components/addnewtask

                div.taskboard-tasks-box.task-column(ng-repeat="st in taskStatusList track by st.id",
                                                    tg-taskboard-sortable)
                    div.taskboard-task(ng-repeat="task in usTasks[null][st.id] track by task.id",
                                       tg-taskboard-task)
                        include ../components/taskboard-task
