section.admin-menu
    header
        h1 User Settings

    nav
        ul
            li#usersettingsmenu-user-profile
                a(href="", tg-nav="project-admin-project-profile-details:project=project.slug")
                    span.title User profile
                    span.icon.icon-arrow-right
            li#usersettingsmenu-avatar
                a(href="" tg-nav="project-admin-memberships:project=project.slug")
                    span.title User avatar
                    span.icon.icon-arrow-right
            li#usersettingsmenu-mail-notifications
                a(href="", tg-nav="project-admin-project-values-us-status:project=project.slug")
                    span.title Email notificiations
                    span.icon.icon-arrow-right
