section.admin-menu
    header
        h1 User Settings

    nav
        ul
            li#usersettingsmenu-user-profile
                a(href="", tg-nav="user-settings-user-profile:project=project.slug")
                    span.title User profile
                    span.icon.icon-arrow-right
            li#usersettingsmenu-avatar
                a(href="" tg-nav="user-settings-user-avatar:project=project.slug")
                    span.title User avatar
                    span.icon.icon-arrow-right
            li#usersettingsmenu-mail-notifications
                a(href="", tg-nav="user-settings-mail-notifications:project=project.slug")
                    span.title Email notificiations
                    span.icon.icon-arrow-right
