section.watchers
    div.watchers-header
        span.title watchers
        a.icon.icon-plus(href="", title="Add watcher")
    div.watchers-content
        - for(var y=0; y<5; y++)
            div.watcher-single
                div.watcher-avatar
                    a.avatar(href="", title="Assigned to")
                        img(src="http://thecodeplayer.com/u/uifaces/32.jpg", alt="username")
                a.watcher-name(href="", title="Jesús Espino") Jesús