div.summary.wiki-summary
    ul
        li
            span.number 20
            span.description document <br />created
        li
            span.number 20
            span.description document <br />attached
        li
            span.number 125
            span.description times <br />edited
        li
            span.number 12/05/2014
            span.description last <br />edit
        li.username-edition
            figure.avatar
                img(src="http://thecodeplayer.com/u/uifaces/34.jpg", alt="username")
            span.description last modification
            span.username Anler Hernández
    //- Do we really need a button for this?
    a.button.button-green(href="", title="See history") See history
