section.wiki-nav
    header
        h1 Links
    nav
        ul
            li
                a(href="", title="link-name")
                    span Link1
                    span.icon.icon-arrow-right
            li
                a(href="", title="link-name")
                    span Link1
                    span.icon.icon-arrow-right
            li
                a(href="", title="link-name")
                    span Link1
                    span.icon.icon-arrow-right
            li
                a(href="", title="link-name")
                    span Link1
                    span.icon.icon-arrow-right
            li
                a(href="", title="link-name")
                    span Link1
                    span.icon.icon-arrow-right
    a.button.button-green(href="", title="Edit page") Edit page
    a.button.button-gray(href="", title="Add page") Add page
    a.button.button-red(href="", title="Delete page") Delete page
