form
    section.wizard-step.create-step1(data-step="step1")
        div.title
            h1 Choose a template
            p Which template would fit better in your project?
        div.template-wrapper
            div.template-inner
                fieldset(ng-repeat="template in templates")
                    input(type="radio", name="template", id="template-{{ template.id }}",
                          ng-value='template.id', ng-model="data.creation_template",
                          data-required="true")
                    label.backlog(for="template-{{ template.id }}")
                        span.icon.icon-backlog
                        h2 {{ template.name }}
                    p {{ template.description }}

        fieldset
            a.button-next.button.button-green(href="", title="Next") Next

    section.wizard-step.create-step2.active(data-step="step2")
        div.title
            h1 Create Project
            p Fresh and clean. So exciting!
        fieldset
            input(type="text", name="name", ng-model="data.name", data-required="true", placeholder="Name", maxlength="45")
        fieldset
            textarea(name="description", ng-model="data.description", data-required="true",  placeholder="Description")
        fieldset.wizard-action
            div
                a.button-prev.button.button-gray(href="", title="Prev") Prev
                a.button-submit.button.button-green(href="", title="Create") Create

div.progress-bar
    div.progress-state
        span Template selection
        span Name and description
        // span Final touches
    div.progress-bar-wrapper
        div.bar

a.close(href="" title="close")
    span.icon.icon-delete
