form
    section.wizard-step.create-step1.active(data-step="step1")
        div.title
            h1 Create Project
            p Fresh and clean. So exciting!
        fieldset
            input(type="text", name="name", ng-model="data.name", data-required="true", placeholder="Name", maxlength="45")
        fieldset
            textarea(name="description", ng-model="data.description", data-required="true",  placeholder="Description")
        fieldset
            a.button-next.button.button-green(href="", title="Next") Next
    section.wizard-step.create-step2(data-step="step2")
        div.title
            h1 Choose a template
            p Which template would fit better in your project?
        div.template-wrapper
            div.template-inner
                fieldset(ng-repeat="template in templates")
                    input(type="radio", name="template", id="template-{{ template.id }}",
                          ng-value='template.id', ng-model="data.creation_template",
                          data-required="true")
                    label.backlog(for="template-{{ template.id }}")
                        span.icon.icon-backlog
                        h2 {{ template.name }}
                    p {{ template.description }}

        fieldset.wizard-action
            div
                a.button-prev.button.button-gray(href="", title="Prev") Prev
                a.button-submit.button.button-green(href="", title="Create") Create

    // section.wizard-step.create-step3(data-step="step3")
    //     div.title
    //         h1 Final Touch
    //         p Give a final touch and make this project totally yours
    //     fieldset
    //         input(type="number", name="total_story_points", min="0", ng-model="data.total_story_points", data-type="digits", data-required="true", placeholder="Total story points")
    //     fieldset
    //         input(type="number", name="total_milestones", min="0", ng-model="data.total_milestones", data-type="digits", placeholder="Total milestones")
    //     fieldset.wizard-action
    //         div
    //             a.button-prev.button.button-gray(href="", title="Prev") Prev
    //             a.button-submit.button.button-green(href="", title="Create") Create

div.progress-bar
    div.progress-state
        span Name and description
        span Template selection
        // span Final touches
    div.progress-bar-wrapper
        div.bar

a.close(href="" title="close")
    span.icon.icon-delete
