config = {
    host: "localhost:8000"
    scheme: "http"

    debug: true

    defaultLanguage: "en"
    languageOptions: {
        "en": "English"
    }

    pubblicRegisterEnabled: true
    privacyPolicyUrl: null
    termsOfServiceUrl: null
}

angular.module("taigaLocalConfig", []).value("localconfig", config)
