config = {
    host: "localhost:8000"
    scheme: "http"

    debug: true

    defaultLanguage: "en"
    languageOptions: {
        "en": "English"
    }

    publicRegisterEnabled: true
    privacyPolicyUrl: null
    termsOfServiceUrl: null

    feedbackEnabled: true
}

angular.module("taigaLocalConfig", []).value("localconfig", config)
