
// Button primary //
// button.btn-primary

.btn-primary {
    @include font-size(medium);
    align-items: center;
    background-color: $color-solid-primary;
    border: 0;
    border-radius: 4px;
    color: $color-black900;
    display: flex;
    height: 40px;
    justify-content: center;
    line-height: 2.5;
    padding: .75rem 4.5rem;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        background-color: $color-link-primary;
        color: $color-white;
    }
    &:disabled {
        background-color: $color-gray400;
        color: rgba($color-black900, .5);
    }
    & [svg-icon] {
        fill: currentColor;
        margin-right: .4rem;
    }
}

// .btn-small {
//     &[variant="primary"] {
//         &:hover {

//         }
//         &:disabled {

//         }
//     }
//     &[variant="secondary"] {
//         &:hover {

//         }
//         &:disabled {

//         }
//     }
// }

// .btn-icon {
//     &:hover {

//     }
//     &:disabled {

//     }
//     & [svg-icon] {

//     }
// }

// .btn-link {
//     &[variant="icon-first"] {
//         & [svg-icon] {

//         }
//     }
//     &[variant="icon-last"] {
//         & [svg-icon] {

//         }
//     }
//     &:hover {
//         & [svg-icon] {

//         }
//     }
// }


// .btn-form {
//     &:hover {
//     }
// }

// .btn-filters {
//     &:hover {
//     }
// }
