.check {
    background-color: $color-gray400;
    border: 2px solid $color-gray400;
    border-radius: 24px;
    cursor: pointer;
    height: 18px;
    overflow: hidden;
    position: relative;
    transition: all .2s linear;
    width: 32px;
    &.active {
        background-color: $color-link-primary;
        transition: all .2s linear;
    }
    input {
        cursor: pointer;
        height: 18px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 32px;
        z-index: 999;
    }
    div {
        background-color: $color-white;
        border-radius: 50%;
        height: 10px;
        left: 10%;
        position: relative;
        top: calc(50% - 5px);
        transition: all .2s linear;
        width: 10px;
    }
    input:disabled,
    input:checked:disabled {
        cursor: auto;
        + div {
            background-color: $gray-lighter;
        }
        ~ .check-text {
            color: $whitish;
        }
    }
    input:checked {
        + div {
            background-color: $color-white;
            margin-left: 50%;
            transition: all .2s linear;
        }
    }
}

// .check-toggle {
//     background-color: $grey-20;
//     &.active {
//         background-color: $grey-70;
//     }
// }
