.ticket-created-by {
    display: flex;
    margin-bottom: 1rem;
    margin-top: .5rem;
    position: relative;
    .user-avatar {
        flex-basis: 3rem;
        flex-grow: 0;
        margin-right: .5rem;
        img {
            width: 100%;
        }
    }
    .created-by {
        .created-title,
        .created-date {
            @extend %light;
            @extend %small;
            color: $gray;
            display: block;
            line-height: 1.5;
        }
        .created-title {
            color: $primary;
            &.editable {
                cursor: pointer;
            }
        }
    }
}
