.wysiwyg-help {
    background: $whitish;
    display: flex;
    justify-content: space-between;
    margin-top: -.5rem;
    padding: .25rem .5rem;
}

.drag-drop-help {
    @extend %xsmall;
    color: $gray;
}

.help-markdown,
.help-button {
    &:hover {
        span {
            transition: color .2s linear;
        }
        .icon {
            fill: $primary-light;
            transition: fill .2s linear;
        }
    }
    span {
        vertical-align: text-top;
    }
    .icon {
        fill: $gray-light;
        margin-right: .2rem;
    }
}
