@mixin estimation {
    .points-per-role {
        display: flex;
        flex-direction: column;
    }
    .ticket-role-points {
        background: $grey-05;
        color: $gray;
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin-bottom: .1rem;
        min-height: 2rem;
        padding: .5rem 1rem;
        position: relative;
        &.clickable {
            &:hover,
            &.active {
                background: rgba($gray-lighter, .1);
                .points,
                .role,
                .icon-arrow-bottom {
                    color: currentColor;
                    fill: currentColor;
                }
            }
        }
        &:last-child {
            background: rgba($gray-lighter, .4);
            border-bottom: 0;
            color: $gray;
            .points,
            .role,
            .icon-arrow-bottom {
                @include font-type(text);
                color: currentColor;
                fill: currentColor;
            }
        }
        .icon-arrow-down {
            fill: currentColor;
            height: .6rem;
            margin-left: .25rem;
            width: .6rem;
        }
        .points {
            @include font-type(light);
            color: $gray;
        }
        .role {
            @include font-type(light);
        }
    }
    .popover {
        @include popover(
            200px,
            $top: 100%,
            $left: .5rem,
            $arrow-width: 10px,
            $arrow-top: -5px,
            $arrow-left: 10px,
            $arrow-height: 10px
        );
        li {
            display: inline-block;
            width: 23%;
        }
        a {
            display: block;
            text-align: center;
            &:hover,
            &.active {
                background: $primary-light;
                color: $white;
            }
        }
        &.fix {
            @include popover(
                200px,
                $top: 100%,
                $left: -160px,
                $arrow-width: 10px,
                $arrow-top: -5px,
                $arrow-left: 90%,
                $arrow-height: 10px
            );
        }
    }
}

.ticket-estimation {
    @include estimation;
}
