.single-filter {
    @extend %large;
    @include clearfix;
    display: block;
    font-family: 'ostrichSans';
    height: 32px;
    margin-bottom: 1rem;
    opacity: .5;
    position: relative;
    &:hover {
        @include transition (opacity .2s linear);
        color: $grayer;
        opacity: 1;
    }
    .name,
    .number {
        padding: 8px 10px;
    }
    .name {
        background: darken($whitish, 10%); // Fallback
        display: block;
        width: 100%;
    }
    .number {
        background: darken($whitish, 20%); // Fallback
        position: absolute;
        right: 0;
        top: 0;
    }
}
