.single-filter {
    @include font-size(large);
    @include font-type(text);
    @include clearfix;
    align-items: center;
    background: darken($whitish, 10%); // Fallback
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    opacity: .5;
    padding-right: .5rem;
    position: relative;
    &:hover {
        color: $grayer;
        opacity: 1;
        transition: opacity .2s linear;
    }
    &.selected,
    &.active {
        color: $grayer;
        opacity: 1;
        transition: opacity .2s linear;
    }
    .name,
    .number {
        padding: 8px 10px;
    }
    .name {
        @include ellipsis(100%);
        display: block;
        width: 100%;
    }
    .number {
        background: darken($whitish, 20%); // Fallback
        position: absolute;
        right: 0;
        top: 0;
    }
    .remove-filter {
        display: block;
        svg {
            fill: $gray;
            transition: fill .2s linear;
        }
        &:hover {
            svg {
                fill: $red;
            }
        }
    }
}
