a.help {
    @include transition(color .2s linear);
    color: $gray-light;
    position: absolute;
    right: 1rem;
    top: 1rem;
    &:hover {
        @include transition(color .2s linear);
        color: $green-taiga;
    }
}
