a.help {
    color: $gray-light;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: color .2s linear;
    &:hover {
        color: $green-taiga;
        transition: color .2s linear;
    }
}
