.loader {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    .bg {
        background-color: $black;
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 20;
    }
    .info {
        background-color: $black;
        color: $white;
        padding: .5rem 3rem;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 25;
    }
    &.active {
        display: block;
        .bg {
            opacity: .7;
        }
    }
}
