.loading {
    @include display(flex);
    @include align-items(stretch);
    @include flex-direction(row);
    @include justify-content(flex-start);
    .item {
        @include animation-duration(5s);
        @include animation-iteration-count(infinite);
        @include animation-name(loadBar);
        @include animation-timing-function(ease-in);
        @include flex(1);
        background: $gray;
        height: 5px;
    }

    $colors-list: #bbe831 #237400 #e43050 #810061 #618000;
    @each $current-color in $colors-list {
        $i: index($colors-list, $current-color) - 1;
        .item-#{$i} {
            @include animation-delay(#{$i}s);
            background: $current-color;
        }
    }
}
