a.help-markdown,
a.help-button {
    @extend %small;
    color: $gray-light;
    &:hover {
        span {
            color: $grayer;
            transition: color .2s linear;
        }
        .icon {
            color: $primary-light;
            transition: color .2s linear;
        }
    }
    .icon {
        color: $gray-light;
        margin-right: .2rem;
    }
}
