.notification-message {
    @include transform(translateY(-100%));
    @include transition (all .6s ease-in-out);
    background: rgba($gray-light, .95);
    color: $white;
    padding: 1rem;
    padding-bottom: .5em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99920;
    &.active {
        @include transform(translateY(0));
        @include transition (all .6s ease-in-out);
    }
    .text {
        display: inline-block;
        margin-left: .5rem;
        width: 80%;
    }
    .warning {
        @extend %xlarge;
        @extend %bold;
        color: $white;
        line-height: 2.4rem;
    }
    .icon-delete {
        color: $white;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}

.notification-message-success {
    background: rgba($fresh-taiga, .95);
    .icon-notification-success {
        @extend %xxlarge;
        display: inline;
        vertical-align: sub;
    }
}

.notification-message-error {
    background: rgba($red, .95);
    .icon-notification-error {
        @extend %xxlarge;
        display: inline;
        vertical-align: sub;
    }
}

.notification-light {
    @include transform(translateY(-100%));
    @include transition (all .6s ease-in-out);
    background: rgba($gray-light, .95);
    color: $white;
    left: calc(50% - 200px);
    padding: 1rem 1rem .2rem;
    position: absolute;
    top: 0;
    width: 400px;
    z-index: 9999;
    &.active {
        @include transform(translateY(0));
        @include transition (all .6s ease-in-out);
    }
    .text {
        display: inline-block;
        margin-left: .5rem;
        width: 80%;
    }
    .warning {
        @extend %large;
        @extend %bold;
        color: $white;
        line-height: 2.4rem;
    }
    .icon-delete {
        color: $white;
        position: absolute;
        right: 1rem;
    }
}

.notification-message-light-error {
    background: rgba($red, .95);
}
