.paginator {
    margin: 2rem 0;
    ul {
        display: flex;
        margin-left: 1rem;
    }
    li {
        margin-right: .4rem;
    }
    a,
    .active span,
    .dots {
        background: $gray-light;
        color: $white;
        padding: .5rem 1rem;
        transition: all .3s linear;
    }
    a {
        &:hover {
            background: $blackish;
            color: $white;
            transition: all .3s linear;
        }
    }
    .active {
        span {
            background: $primary-light;
        }
    }
    .dots {
        background: transparent;
        color: $gray-light;
    }
}

.v-pagination-list {
    overflow: hidden;
}

.v-pagination-next,
.v-pagination-previous {
    background-color: $gray;
    color: $whitish;
    display: block;
    padding: .1rem 0;
    text-align: center;
    visibility: hidden;
    width: 100%;
    &:hover {
        background-color: $blackish;
        transition: background .3s linear;
    }
}
