.paginator {
    margin: 2rem 0;
    ul {
        margin-left: 1rem;
    }
    li {
        display: inline-block;
    }
    a,
    .active span,
    .dots {
        @include transition (all .3s linear);
        background: $gray-light;
        color: $white;
        margin-right: .1rem;
        padding: .5rem 1rem;
    }
    a {
        &:hover {
            @include transition (all .3s linear);
            background: $button-gray-hover;
            color: $white;
        }
    }
    .active {
        span {
            background: $fresh-taiga;
        }
    }
    .dots {
        background: transparent;
        color: $gray-light;
    }
}

.v-pagination-list {
    overflow: hidden;
}

a.v-pagination-next,
a.v-pagination-previous {
    background-color: $button-gray;
    color: $whitish;
    display: block;
    padding: .1rem 0;
    text-align: center;
    visibility: hidden;
    width: 100%;
    &:hover {
        @include transition (background .3s linear);
        background-color: $button-gray / 2;
    }
}
