@mixin popover($width, $top: '', $left: '', $bottom: '', $right: '', $arrow-width: 0, $arrow-top: '', $arrow-left: '', $arrow-bottom: '') {
    background: $blackish;
    bottom: #{$bottom};
    color: $white;
    display: none;
    font-family: 'DroidSans';
    left: #{$left};
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    right: #{$right};
    top: #{$top};
    width: $width;
    z-index: 99;
    a {
        @extend %small;
        border-bottom: 1px solid $grayer;
        color: $white;
        display: block;
        padding: 10px 2px;
        &:last-child {
            border: 0;
        }
        &:hover {
            color: $fresh-taiga;
            @include transition (color .3s linear);
        }
    }
    &:after {
        background: $blackish;
        bottom: #{$arrow-bottom};
        content: '';
        height: 15px;
        left: #{$arrow-left};
        position: absolute;
        top: #{$arrow-top};
        transform: rotate(45deg);
        width: #{$arrow-width};
    }
}
