.private {
    display: inline-block;
    margin-left: .5rem;
    width: .5rem;
    svg {
        @include svg-size();
    }
    path {
        fill: $gray-light;
        transition: fill .3s linear;
    }
}
