.select-color {
    @include popover(
        $width: 304px,
        $top: 0,
        $left: 50px,
        $bottom: '',
        $right: '',
        $arrow-width: 15px,
        $arrow-top: 12px,
        $arrow-left: -7px,
    );
    border-radius: 0 10px 10px 0;
    padding: 15px;


    li {
        float: left;
        margin: 0 .5rem .5rem 0;
        &:nth-child(7n) {
            margin-right: 0;
        }
        &:nth-last-child(-n+7) {
            margin-bottom: 0;
        }
    }
    .color {
        background-color: $color-link-tertiary;
        border-radius: 2px;
        cursor: pointer;
        height: 2rem;
        width: 2rem;
    }
    .empty-color {
        @include empty-color(33);
    }
    ul {
        float: left;
        margin-bottom: .5rem;
    }
    input {
        @include font-size(medium);
        @include font-type(regular);
        background-color: $color-white;
        height: 2rem;
        width: 232px;
        @include placeholder {
            color: $color-link-tertiary;
        }
    }
    .selected-color {
        background: $color-link-tertiary;
        border-radius: 2px;
        cursor: pointer;
        float: right;
        height: 2rem;
        width: 2rem;
    }
}
