.spinner {
    background: rgba($green-taiga, .9);
    border-radius: 4%;
    box-shadow: 1px 1px 10px rgba($fresh-taiga, .9);
    height: 8rem;
    margin: 0 auto;
    padding: 1.5rem;
    position: relative;
    width: 7rem;
    .icon {
        @include animation(fadeIn infinite 6s ease-in-out);
        @extend %xxlarge;
        border-radius: 5%;
        color: darken($green-taiga, 15%);
        font-size: 60px;
        height: 80%;
        left: 24%;
        margin: auto;
        opacity: 0;
        position: absolute;
        text-shadow: 1px 1px 3px $green-taiga, 0 0 0 $black, 1px 1px 3px darken($green-taiga, 15%);
        top: 24%;
    }

    .icon-kanban {
        @include animation-delay(1s);
    }
    .icon-settings {
        @include animation-delay(2s);
    }
    .icon-iocaine {
        @include animation-delay(3s);
    }
    .icon-floppy {
        @include animation-delay(4s);
    }
    .icon-wiki {
        @include animation-delay(5s);
    }
}
