.tag {
    @extend %light;
    @extend %small;
    background: $whitish; // Fallback
    border-radius: 0 5px 5px 0;
    color: $grayer;
    display: inline-block;
    margin-right: .5rem;
    padding: .5rem .75rem;
    text-align: center;
    .icon-delete {
        color: $gray-light;
        margin-left: 1rem;
        &:hover {
            color: $red;
        }
    }
}

.ui-autocomplete {
    background: $white;
    border: 1px solid $gray-light;
    z-index: 99910;
    .ui-state-focus {
        background: $primary-light;
    }
    li {
        cursor: pointer;
    }
}

.ui-helper-hidden-accessible {
    display: none;
}

.tags-block {
    .tags-container {
        display: inline-block;
    }
    input {
        padding: .4rem;
        width: 14rem;
    }
    .tag {
        @extend %small;
        margin: 0 .5rem .5rem 0;
        padding: .5rem;
    }
    .add-tag {
        color: $gray-light;
        &:hover {
            color: $primary-light;
        }
    }
    .icon-plus {
        @extend %large;
    }
    .add-tag-text {
        @extend %small;
    }
}
