.tag {
    @include font-type(light);
    @include font-size(small);
    background: $whitish; // Fallback
    border-radius: 0 5px 5px 0;
    color: $grayer;
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    padding: .5rem;
    text-align: center;
    .icon-delete {
        color: $gray-light;
        margin-left: 1rem;
        &:hover {
            color: $red;
        }
    }
}

.ui-autocomplete {
    background: $white;
    border: 1px solid $gray-light;
    z-index: 99910;
    .ui-state-focus {
        background: $primary-light;
    }
    li {
        cursor: pointer;
    }
}

.ui-helper-hidden-accessible {
    display: none;
}

.tags-block {
    .tags-container {
        display: inline-block;
    }
    input {
        margin-right: .25rem;
        padding: .4rem;
        width: 14rem;
    }
    .save {
        cursor: pointer;
        display: inline-block;
        margin-left: .5rem;
    }
    .icon-save {
        @include svg-size();
        fill: $grayer;
        &:hover {
            fill: $primary;
            transition: .2s linear;
        }
    }
    .tag {
        @include font-size(small);
        margin: 0 .5rem .5rem 0;
        padding: .5rem;
    }
    .icon-close {
        @include svg-size(.7rem);
        fill: $gray-light;
        margin-left: .25rem;
        &:hover {
            cursor: pointer;
            fill: $red;
        }
    }
    .add-tag {
        color: $gray-light;
        display: inline-block;
        &:hover {
            color: $primary-light;
        }
    }
    .icon-add {
        @include svg-size(.9rem);
    }
    .add-tag-text {
        @include font-size(small);
    }
    .remove-tag {
        display: inline-block;
    }
}
