.tag {
    background: $grayer; // Fallback
    color: $white;
    display: inline-block;
    margin: 0 0 .5rem 0;
    padding: .2rem .5rem;
    text-align: center;
    .icon-delete {
        color: $white;
        margin-left: 1rem;
        &:hover {
            color: $red;
        }
    }
}
