.tag {
    background: $whitish; // Fallback
    color: $grayer;
    display: inline-block;
    margin-right: .5rem;
    padding: .2rem .5rem;
    text-align: center;
    .icon-delete {
        color: $gray-light;
        margin-left: 1rem;
        &:hover {
            color: $red;
        }
    }
}
