.taskboard-task {
    background: $card;
    border: 1px solid $card-hover;
    box-shadow: none;
    cursor: move;
    margin: .2rem;
    position: relative;
    &:hover {
        .icon-edit {
            display: block;
            fill: $card-dark;
            opacity: 1;
            transition: color .3s linear, opacity .3s linear;
        }
    }
    &.gu-mirror {
        box-shadow: 1px 1px 15px rgba($black, .4);
        transition: box-shadow .3s linear;
    }
    .blocked {
        background: $red;
        border: 1px solid darken($red, 10%);
        color: $white;
        svg,
        span {
            color: $white;
            fill: $white;
        }
        &:hover {
            .icon-edit {
                fill: currentColor;
            }
        }
    }
    &.card-placeholder {
        background: darken($whitish, 2%);
        border: 3px dashed darken($whitish, 8%);
        cursor: default;
    }
    .taskboard-tagline {
        border-color: $card-hover;
        display: flex;
        height: .6rem;
    }
    .taskboard-tag {
        border-top: .3rem solid $card-hover;
        flex-basis: 0;
        flex-grow: 1;
        height: .6rem;
        z-index: 90;
    }
    .taskboard-task-inner {
        display: flex;
        padding: .5rem;
    }
    .taskboard-user-avatar {
        flex-basis: 50px;
        flex-grow: 1;
        max-width: 55px;
        a {
            @include font-size(small);
            display: block;
            text-align: center;
        }
        img {
            margin: 0 auto;
            &:hover {
                border: 2px solid $primary;
                transition: border .3s linear;
            }
        }
    }
    .iocaine {
        left: .2rem;
        position: absolute;
        top: 1rem;
        img {
            filter: hue-rotate(150deg) saturate(200%);
        }
    }
    .icon-iocaine {
        background: $black;
        border-radius: 5px;
        fill: $white;
        height: 1.75rem;
        padding: .25rem;
        width: 1.75rem;
    }
    .task-assigned {
        @include font-size(small);
        color: $card-dark;
        display: block;
        &:hover {
            color: $primary;
        }
    }
    .task-num {
        color: $grayer;
        margin-right: .5em;
    }
    .task-name {
        @include font-type(bold);
    }
    .taskboard-text {
        @include font-size(small);
        flex-basis: 50px;
        flex-grow: 10;
        padding: 0 .5rem 0 1rem;
        word-wrap: break-word;
    }
    .icon {
        transition: color .3s linear, opacity .3s linear;
    }
    .loading {
        bottom: .5rem;
        position: absolute;
    }
    .edit-task {
        bottom: .5rem;
        position: absolute;
        top: auto;
    }
    .icon-edit {
        @include svg-size(1.1rem);
        cursor: pointer;
        fill: $card-hover;
        opacity: 0;
        &:hover {
            fill: $card-dark;
        }
    }
    .icon-edit,
    .loading {
        right: 1rem;
    }
}

.task-drag {
    @include box-shadow();
}
