.taskboard-task {
    @include transition (box-shadow .4s linear);
    background: $very-light-gray;
    box-shadow: none;
    min-height: 7rem;
    position: relative;
    &:hover {
        .icon {
            @include transition(color .3s linear);
            color: $gray-light;
        }
    }
    &.ui-sortable-helper {
        box-shadow: 1px 1px 15px rgba($black, .1);
    }
    &.ui-sortable-placeholder {
        background: $grayer;
    }
    .taskboard-tagline {
        @include table-flex();
        height: .4rem;
    }
    .taskboard-tag {
        @include table-flex-child(1, 0, 0, 0);
        background: $postit-hover; //Fallback
        height: .1rem;
    }
    .taskboard-task-inner {
        @include table-flex();
        padding: 1rem .5rem;
    }
    .avatar {
        @include table-flex-child($flex-basis: 50px);
        a {
            @extend %small;
            display: block;
            text-align: center;
        }
        img {
            border: 0;
            margin: 0 auto;
        }
        figcaption {
            color: darken($postit-hover, 15%);
            display: none;
            //display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
    .task-assigned {
        @extend %bold;
        display: block;
    }
    .task-num {
        color: $grayer;
        margin-right: .5em;
    }
    .taskboard-text {
        @extend %small;
        @include table-flex-child($flex-grow: 10, $flex-basis: 50px);
        padding: 0 .5rem 0 1rem;
    }
    .icon {
        @include transition(color .3s linear);
    }
    .icon-edit,
    .icon-drag-h {
        @extend %large;
        bottom: .5rem;
        color: $whitish;
        position: absolute;
        &:hover {
            color: $grayer;
        }
    }
    .icon-edit {
        right: 1rem;
    }
    .icon-drag-h {
        @extend %xlarge;
        cursor: move;
        right: 45%;
    }
    &:hover {
        .icon-edit,
        .icon-drag-h {
            display: block;
        }
    }
}

.task-drag {
    @include box-shadow();
}
