.taskboard-task {
    background: $card;
    border: 1px solid $card-hover;
    box-shadow: none;
    cursor: move;
    margin: .2rem;
    position: relative;
    &:hover {
        .icon-edit,
        .icon-drag-h {
            color: $card-dark;
            display: block;
            opacity: 1;
            transition: color .3s linear, opacity .3s linear;
        }
    }
    &.ui-sortable-helper {
        box-shadow: 1px 1px 15px rgba($black, .4);
        transition: box-shadow .3s linear;
    }
    &.ui-sortable-placeholder {
        background: $grayer;
    }
    &.blocked {
        background: $red;
        border: 1px solid darken($red, 10%);
        color: $white;
        a,
        span {
            color: $white;
        }
        &:hover {
            .icon-edit,
            .icon-drag-h {
                color: $white;
            }
        }
    }
    .taskboard-tagline {
        border-color: $card-hover;
        display: flex;
        height: .6rem;
    }
    .taskboard-tag {
        border-top: .3rem solid $card-hover;
        flex-basis: 0;
        flex-grow: 1;
        height: .6rem;
        z-index: 90;
    }
    .taskboard-task-inner {
        display: flex;
        padding: .5rem;
    }
    .taskboard-user-avatar {
        flex-basis: 50px;
        flex-grow: 1;
        max-width: 55px;
        a {
            @extend %small;
            display: block;
            text-align: center;
        }
        img {
            margin: 0 auto;
            &:hover {
                border: 2px solid $primary;
                transition: border .3s linear;
            }
        }
    }
    .iocaine {
        img {
            filter: hue-rotate(150deg) saturate(200%);
        }
    }
    .icon-iocaine {
        @extend %large;
        background: $black;
        border-radius: 5px;
        color: $white;
        left: .2rem;
        padding: .1rem;
        position: absolute;
        top: 1rem;
    }
    .task-assigned {
        @extend %small;
        color: $card-dark;
        display: block;
        &:hover {
            color: $primary;
        }
    }
    .task-num {
        color: $grayer;
        margin-right: .5em;
    }
    .task-name {
        @extend %bold;
    }
    .taskboard-text {
        @extend %small;
        flex-basis: 50px;
        flex-grow: 10;
        padding: 0 .5rem 0 1rem;
        word-wrap: break-word;
    }
    .icon {
        transition: color .3s linear, opacity .3s linear;
    }
    .icon-edit,
    .icon-drag-h {
        @extend %large;
        bottom: .5rem;
        color: $card-hover;
        opacity: 0;
        position: absolute;
        &:hover {
            color: $card-dark;
        }
    }
    .icon-edit {
        right: 1rem;
    }
    .icon-drag-h {
        @extend %xlarge;
        cursor: move;
        right: 45%;
    }
}

.task-drag {
    @include box-shadow();
}
