
.track-buttons-container {
    @include font-size(small);
    position: relative;
}

.track-button {
    align-items: stretch;
    border-radius: 4px;
    display: flex;
    margin: 0;
    padding: 0;
    &.active {
        .track-inner {
            background: darken($primary-10, 15%);
        }
        .icon {
            fill: $primary;
        }
        .track-button-counter {
            background: darken($primary-10, 25%);
        }
    }
    &:hover .track-icon svg {
        fill: $primary;
        stroke: $primary;
    }
    &.is-hover {
        .track-inner {
            background-color: $red-25;
            color: $white;
        }
        .track-icon svg {
            fill: $red;
            stroke: $red;
        }
        .track-button-counter {
            background-color: $red;
            color: $white;
        }
    }
    .watch-options-arrow {
        margin-left: auto;
    }
    .icon-arrow-down {
        @include svg-size(.75rem);
    }
}

.track-inner {
    align-items: center;
    background-color: $grey-05;
    border-radius: 4px 0 0 4px;
    color: $grey-90;
    display: flex;
    flex: 1;
    flex-basis: 140px;
    justify-content: flex-start;
    min-width: 140px;
    padding: .25rem 1rem;
    &:hover {
        background-color: $grey-05;
        color: $grey-90;
    }
}

.track-icon {
    fill: $grayer;
    margin-right: .5rem;
    position: relative;
    top: 2px;
}

.track-button-counter {
    align-items: center;
    background: darken($whitish, 5%);
    border-radius: 0 4px 4px 0;
    color: $grey-90;
    padding: .25rem .75rem;
}

.contact-team {
    background-color: $grey-05;
    border-radius: 4px;
    padding: .25rem .75rem;
    &:hover {
        background: darken($whitish, 5%);
        svg {
            fill: $primary;
            stroke: $primary;
        }
    }
}

.watch-options {
    animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) alternate;
    background: rgba($black, .9);
    border-radius: 4px;
    margin: 0;
    margin-top: 2.5rem;
    min-width: 300px;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    &.hidden {
        animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) reverse;
    }
    li {
        margin: 0;
        &:last-child a {
            border: 0;
        }
    }
    a {
        border-bottom: 1px solid rgba($gray-light, .3);
        color: $white;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        &.active {
            color: $primary-50;
        }
        &:hover {
            color: $primary-50;
        }
    }
    .watch-check {
        height: 1.25rem;
        width: 1.25rem;
        svg {
            fill: $primary-50;
        }
    }
}
