//////////////////////
//Watch like buttons
//////////////////////

.track-buttons-container {
    @include font-size(small);
    position: relative;
}

.track-button {
    align-items: stretch;
    display: inline-flex;
    position: relative;
    .track-inner {
        align-items: center;
        background: $whitish;
        border-radius: 4px 0 0 4px;
        display: flex;
        flex: 1;
        flex-basis: 140px;
        justify-content: flex-start;
        margin-right: .1rem;
        min-width: 140px;
        &:hover {
            background: darken($whitish, 5%);
            transition: background .3s;
        }
        .icon-arrow-down {
            height: .6rem;
            margin: 0 .5rem 0 auto;
            width: .6rem;
        }
    }
    &:hover {
        color: $blackish;
    }
    &.active {
        .track-inner {
            background: rgba($primary-light, .2);
        }
        .track-icon {
            svg {
                fill: $primary;
            }
        }
    }
    &.watch-container {
        margin-right: 1rem;
        position: relative;
    }
    .track-icon {
        padding: .3rem .6rem .3rem .75rem;
        svg {
            fill: $grayer;
            position: relative;
            top: 2px;
        }
    }
    .track-button-counter {
        align-items: center;
        border: 1px solid $whitish;
        display: flex;
        justify-content: center;
        min-width: 2rem;
    }
}
.watch-button,
.like-button {
    &.active {
        &.is-hover {
            .track-inner {
                background: $red;
                color: $whitish;
                transition: background .3s;
            }
            svg {
                fill: $red-light;
            }
        }
    }
}

.watch-options {
    animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) alternate;
    background: rgba($black, .9);
    border-radius: 4px;
    margin: 0;
    margin-top: 2.5rem;
    min-width: 300px;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    &.hidden {
        animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) reverse;
    }
    li {
        margin: 0;
        &:last-child a {
            border: 0;
        }
    }
    a {
        @include font-type(light);
        border-bottom: 1px solid rgba($gray-light, .3);
        color: $white;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        &.active {
            color: $primary-light;
        }
    }
    .watch-check {
        height: 1.25rem;
        width: 1.25rem;
        svg {
            fill: $primary-light;
        }
    }
}

.upvote-btn {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex: 0;
    flex-basis: 3rem;
    justify-content: center;
    margin-right: .3rem;
    .vote-inner {
        background: $whitish;
        color: $gray-light;
        display: block;
        padding: 1rem;
        text-align: center;
    }
    a {
        &:hover {
            background: darken($whitish, 5%);
            color: $primary-dark;
            transition: background .3s;
            path {
                fill: $primary-dark;
            }
        }
        &.active {
            background: rgba($primary-light, .2);
            color: $primary;
            transition: all .3s;
            svg {
                fill: $primary;
            }
        }
        &.is-hover {
            background: $red;
            color: $whitish;
            svg {
                fill: $red-light;
                transform: rotate(180deg);
                transition: all .3s;
            }
        }
    }
    svg {
        fill: $gray-light;
        height: 1rem;
        width: 1rem;
    }
    span {
        display: block;
    }
}
