.watchers {
    margin-top: 1rem;
    .watchers-header {
        border-bottom: 2px solid $gray-light;
        padding: .5rem;
        position: relative;
        .title {
            @extend %large;
            @extend %title;
            text-transform: uppercase;
        }
        .icon {
            @extend %large;
            position: absolute;
            right: 1rem;
        }
        &.no-watchers {
            border-bottom: 0;
        }
    }
    .watcher-single {
        align-content: center;
        align-items: center;
        background: transparent;
        border-bottom: 1px solid $gray-light;
        display: flex;
        justify-content: center;
        padding: .5rem 0 .3rem;
        vertical-align: middle;
        &:last-child {
            border: 0;
        }
        &:hover {
            .icon-delete {
                opacity: 1;
                transition: opacity .2s ease-in;
            }
        }
    }
    .watcher-avatar {
        flex-basis: 3rem;
        max-width: 3rem;
        img {
            width: 100%;
        }
    }
    .watcher-name {
        @extend %small;
        color: $grayer;
        flex-grow: 8;
        margin-left: 1rem;
        position: relative;
    }
    .icon-delete {
        opacity: 0;
        position: absolute;
        right: .5rem;
        top: 0;
        transition: all .2s ease-in;
        &:hover {
            color: $red;
            transition: color .3s ease-in;
        }
    }
}
