.wysiwyg {
    line-height: 1.4rem;
    margin-bottom: 2rem;
    overflow: auto;
    padding: 1rem;
    h1 {
        @include font-size(xlarge);
        @include font-type(text);
        line-height: 2.5rem;
        text-transform: uppercase;
    }
    h2 {
        @include font-size(large);
        @include font-type(bold);
        margin-bottom: .5rem;
        text-transform: uppercase;
    }
    h3 {
        @include font-type(bold);
        text-transform: uppercase;
    }
    ul,
    ol {
        list-style-position: outside;
        margin-left: 1rem;
    }
    ul {
        list-style-type: disc;
    }
    dl {
        dt {
            font-size: 1em;
            font-style: italic;
            font-weight: bold;
            margin-top: 16px;
            padding: 0;
        }
        dd {
            margin-bottom: 16px;
            padding: 0 16px;
        }
    }
    a {
        color: $primary;
        &:hover {
            color: $primary-light;
        }
    }
    p {
        margin-bottom: 1rem;
        word-wrap: break-word;
    }
    .codehilite {
        overflow: auto;
    }
    pre,
    code {
        @include font-size(small);
        background: lighten($grayer, 10%);
        color: $whitish;
        direction: ltr;
        font-family: 'courier new', 'monospace';
        margin-bottom: 1rem;
        overflow: auto;
        unicode-bidi: embed;
        white-space: pre;
    }
    pre {
        line-height: 1.4rem;
        padding: .5rem;
    }
    table {
        border: $gray-light 1px solid;
        margin-bottom: 1rem;
        tbody {
            tr:last-child {
                border-bottom: 0;
            }
        }
    }
    tr {
        border-bottom: $gray-light 1px solid;

    }
    th {
        border-right: $gray-light 1px solid;
        padding: 1rem 1rem 1rem .5rem;
        &:last-child {
            border-right: 0;
        }
    }
    td {
        border-right: $gray-light 1px solid;
        padding: .5rem;
        &:last-child {
            border-right: 0;
        }
    }
    img {
        max-width: 100%;
    }
    textarea {
        background: $white;
        max-height: none;
    }
}
