.wysiwyg {
    h1 {
        @extend %xlarge;
        @extend %text;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }
    h2 {
        @extend %large;
        @extend %bold;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }
    h3 {
        @extend %bold;
        text-transform: uppercase;
    }
    ul,
    ol {
        list-style-position: inside;
    }
    ul {
        list-style-type: disc;
    }
    a {
        color: $green-taiga;
        &:hover {
            color: $fresh-taiga;
        }
    }
    pre {
        background: $whitish;
        direction: ltr;
        font-family: 'courier new', 'monospace';
        padding: 1rem;
        unicode-bidi: embed;
        white-space: pre;
    }
    table {
        border: $gray-light 1px solid;
        margin-bottom: 1rem;
        tbody {
            tr:last-child {
                border-bottom: 0;
            }
        }
    }
    tr {
        border-bottom: $gray-light 1px solid;

    }
    th {
        border-right: $gray-light 1px solid;
        padding: 1rem 1rem 1rem .5rem;
        &:last-child {
            border-right: 0;
        }
    }
    td {
        border-right: $gray-light 1px solid;
        padding: .5rem;
        &:last-child {
            border-right: 0;
        }
    }
}
