svg.close.icon.icon-close(href="", title="{{'COMMON.CLOSE' | translate}}")
    use(xlink:href="#icon-close")

div.form
    h2.title(translate="LIGHTBOX.ASSIGNED_TO.SELECT")
    fieldset
        input(type="text", data-maxlength="500", placeholder="{{'LIGHTBOX.ASSIGNED_TO.SEARCH' | translate}}", ng-model="usersSearch")

    //-This block is rendered by the directive
    .assigned-to-list
