tg-lightbox-close

div.form
    h2.title
    fieldset
        textarea.reason(ng-attr-placeholder="{{'COMMON.BLOCKED_REASON' | translate}}")

    a.button-green.button-large.button-block(href="")
        span(translate="COMMON.SAVE")
