a.close(href="", title="close")
    span.icon.icon-delete
div.form
    h2.title(translate="LIGHTBOX.ASSIGNED_TO.SELECT")
    fieldset
        input(type="text", data-maxlength="500", placeholder="{{'LIGHTBOX.ASSIGNED_TO.SEARCH' | translate}}", ng-model="usersSearch")

    //-This block is rendered by the directive
    div.watchers
