a.close(href="", title="{{'COMMON.CLOSE' | translate}}")
    span.icon.icon-delete
div.form
    h2.title(translate="COMMON.WATCHERS.ADD")
    fieldset
        input(type="text", data-maxlength="500", placeholder="{{'LIGHTBOX.ASSIGNED_TO.SEARCH' | translate}}", ng-model="usersSearch")
    div.ticket-watchers
        //- The content of this is rendered by directive
