
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

tg-lightbox-close

div.form
    h2.title
    fieldset
        textarea.reason(ng-attr-placeholder="{{'COMMON.BLOCKED_REASON' | translate}}")

    button.btn-big.button-block.js-block-item
        span(translate="COMMON.SAVE")
