.attachment-preview
    tg-lightbox-close

    a(href="{{::file.get('url')}}", title="{{::file.get('description')}}", target="_blank", download="{{::file.get('name')}}")
        img(src="{{::file.get('url')}}")
