a.close(href="", title="{{'COMMON.CLOSE' | translate}}")
    span.icon.icon-delete
div.form
    h2.title
    fieldset
        textarea.reason(placeholder="{{'COMMON.BLOCKED_REASON' | translate}}")

    a.button-green(href="")
        span(translate="COMMON.SAVE")
