a.close(href="", title="close")
    span.icon.icon-delete
div.form
    h2.title Select assigned to
    fieldset
        input(type="text", data-maxlength="500", placeholder="Search for users", ng-model="usersSearch")

    //-This block is rendered by the directive
    div.watchers
