.attachment-preview
    a.close(href="", title="{{'COMMON.CLOSE' | translate}}")
        span.icon.icon-delete

    a(href="{{::file.get('url')}}", title="{{::file.get('description')}}", target="_blank", download="{{::file.get('name')}}")
        img(src="{{::file.get('url')}}")