tg-lightbox-close

div.form
    h2.title
    fieldset
        textarea.reason(ng-attr-placeholder="{{'COMMON.TIME_SPENT_NOTE' | translate}}")

    a.button-green(href="")
        span(translate="COMMON.SAVE")
