section.profile-projects
    div.project-list-single(tg-repeat="project in vm.projects")
        div.project-list-single-left

            div.project-list-single-title
                h1
                    a(href="#", tg-nav="project:project=project.slug", title="{{ ::project.name }}") {{::project.name}}
                p {{ ::project.description | limitTo:300 }}

            div.project-list-single-tags.tags-container
                span.tag(style='border-left: 5px solid {{::tag.color}};', ng-repeat="tag in ::project.colorized_tags")
                    span.tag-name {{::tag.name}}

        div.project-list-single-right

            div.project-list-single-stats
                div.stat-comments(title="2 comments")
                    span.icon.icon-comment
                    span.stat-num 2
                div.stat-favorite.active(title="2 favorites")
                    span.icon.icon-star-fill
                    span.stat-num 4
                div.stat-viewer(title="2 followers")
                    span.icon.icon-open-eye
                    span.stat-num 4

            div.project-list-single-members
                a(href="", title="View {{ user.nickname }} profile")
                    img(src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg")
                a(href="", title="View {{ user.nickname }} profile")
                    img(src="https://s3.amazonaws.com/uifaces/faces/twitter/annapickard/128.jpg")
                a(href="", title="View {{ user.nickname }} profile")
                    img(src="https://s3.amazonaws.com/uifaces/faces/twitter/nexy_dre/128.jpg", alt="{{ user.nickname }}")
                a(href="", title="View {{ user.nickname }} profile")
                    img(src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg", alt="{{ user.nickname }}")
                a(href="", title="View {{ user.nickname }} profile")
                    img(src="https://s3.amazonaws.com/uifaces/faces/twitter/cbillins/128.jpg", alt="{{ user.nickname }}")
                a(href="", title="View {{ user.nickname }} profile")
                    img(src="https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg", alt="{{ user.nickname }}")
                a(href="", title="View {{ user.nickname }} profile")
                    img(src="https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg", alt="{{ user.nickname }}")
                a(href="", title="View {{ user.nickname }} profile")
                    img(src="https://s3.amazonaws.com/uifaces/faces/twitter/syswarren/128.jpg", alt="{{ user.nickname }}")
