//Table basic shared vars

$column-width: 300px;
$column-folded-width: 30px;
$column-flex: 0;
$column-shrink: 0;
$column-margin: 0 10px 0 0;

.kanban-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
    .vfold {
        &.task-colum-name {
            align-items: center;
            cursor: pointer;
            display: flex;
            justify-content: center;
            opacity: .8;
            padding: .5rem 0;
            transition: opacity .3s linear;
            .icon-plus,
            .icon-bulk,
            .icon-vfold,
            .icon-vunfold,
            .icon-open-eye,
            .icon-closed-eye,
            span {
                display: none;
            }
            .hunfold {
                margin: 0;
            }
        }
        &.task-colum-name,
        &.task-column {
            flex-flow: 1;
            max-width: $column-folded-width;
            min-height: 2.5rem;
            min-width: $column-folded-width;
            width: $column-folded-width;
        }
        .kanban-task {
            display: none;
        }
        .kanban-column-intro {
            display: none;
        }
    }
    .readonly {
        cursor: auto;
    }
}

.kanban-table-header {
    margin-bottom: .5rem;
    min-height: 40px;
    position: relative;
    width: 100%;
    .kanban-table-inner {
        display: flex;
        overflow: hidden;
        position: absolute;
    }
    .task-colum-name {
        @extend %medium;
        align-items: center;
        background: $whitish;
        border-top: 3px solid $gray-light;
        color: $gray;
        display: flex;
        flex-basis: $column-width;
        flex-grow: $column-flex;
        flex-shrink: $column-shrink;
        justify-content: space-between;
        margin: $column-margin;
        max-width: $column-width;
        padding: .5rem .5rem .5rem 1rem;
        position: relative;
        text-transform: uppercase;
        &:last-child {
            margin-right: 0;
        }
        span {
            @include ellipsis(65%);
        }
        .icon {
            @extend %medium;
            color: $gray-light;
            margin-right: .3rem;
            transition: color .2s linear;
            &.hfold,
            &.hunfold {
                display: inline-block;
                transform: rotate(90deg);
            }
        }
    }
    .icon-open-eye,
    .icon-closed-eye {
        display: inline-block;
        svg {
            fill: $gray-light;
            height: 1.1rem;
            margin-top: .25rem;
            width: 1.1rem;

        }
        &:hover {
            svg {
                fill: $primary;

            }
        }
    }
    .icon-open-eye {
        .svg-eye-closed {
            display: none;
        }
        .svg-eye-open {
            display: block;
        }
    }
    .icon-closed-eye {
        .svg-eye-closed {
            display: block;
        }
        .svg-eye-open {
            display: none;
        }
    }
}

.kanban-table-body {
    @extend %medium;
    display: flex;
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    .task-column {
        flex-basis: $column-width;
        flex-grow: $column-flex;
        flex-shrink: $column-shrink;
        margin: $column-margin;
        max-width: $column-width;
        overflow-y: auto;
        widows: $column-width;
        &:last-child {
            margin-right: 0;
        }
        .kanban-column-intro {
            @extend %bold;
            @extend %small;
            color: $gray-light;
            margin: 1rem 2rem;
            &.active {
                color: $blackish;
            }
        }
        .kanban-wip-limit {
            background: $red;
            border-radius: 2px;
            height: 4px;
            margin: .5rem 0;
            padding: 0;
        }
    }
    .kanban-uses-box {
        background: $whitish;
    }
}

.kanban-table-inner {
    display: flex;
    flex-wrap: nowrap;
}
