extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-project-values, ng-controller="ProjectValuesController as ctrl",
                ng-init="section='admin'; resource='userstories'; type='points'; sectionName='Us points'",
                type="points")
        sidebar.menu-secondary.sidebar(tg-admin-navigation="project-values")
            include views/modules/admin-menu

        sidebar.menu-tertiary.sidebar(tg-admin-navigation="values-us-points")
            include views/modules/admin-submenu-project-values

        section.main.admin-roles
            header
                include views/components/mainTitle
                - var helpText = "About User Story (US) Points: Most people start off with 1 point = 1 man day of effort. If you're new to scrum & agile start there. After the first week if you and your team expected to accomplish 25 points (i.e. 5 people 5 full days) and only got half done, learn from your findings, and adjust expectations for the following week. By doing so you'll learn your teams true 'velocity.'"
                include views/components/help

            div.project-values-options
                a.button.button-green.show-add-new(href="", title="Add New")
                    span Add new point

            include views/modules/admin/project-points
