extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(tg-project-values, ng-controller="ProjectValuesController as ctrl",
                ng-init="section='admin'; resource='issues'; type='issue-statuses'; sectionName='Issue Statuses'",
                type="issue-statuses")
        sidebar.menu-secondary.sidebar(tg-admin-navigation="project-values")
            include views/modules/admin-menu

        sidebar.menu-tertiary.sidebar(tg-admin-navigation="values-issue-status")
            include views/modules/admin-submenu-project-values

        section.main.admin-common
            include views/components/mainTitle
            p.admin-subtitle Specify the column headers that you will use to classify Issues

            div.project-values-options
                a.button.button-green.show-add-new(href="", title="Add New")
                    span Add new status

            include views/modules/admin/project-status
