extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(tg-project-default-values, ng-controller="ProjectProfileController as ctrl",
                ng-init="section='admin'; sectionName='Default values'")
        sidebar.menu-secondary.sidebar(tg-admin-navigation="project-profile")
            include views/modules/admin-menu

        sidebar.menu-tertiary.sidebar(tg-admin-navigation="default-values")
            include views/modules/admin-submenu-project-profile

        section.main.admin-common
            header
                include views/components/mainTitle

            p.total Default Values

            include views/modules/admin/default-values
