extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper.memberships(ng-controller="MembershipsController as ctrl",
                            ng-init="section='admin'", tg-memberships)
        sidebar.menu-secondary.sidebar(tg-admin-navigation="memberships")
            include views/modules/admin-menu

        section.main.admin-membership
            header
                include views/components/mainTitle

            a.button.button-green(title="Add new member" href="" ng-click="ctrl.addNewMembers()")
               span.text + New member

            include views/modules/admin/admin-membership-table

            div.paginator.memberships-paginator

        div.lightbox.lightbox_add-member.hidden(tg-lb-create-members)
            include views/modules/lightbox_add-member
