extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper.roles(ng-controller="RolesController as ctrl",
                            ng-init="section='admin'", tg-roles)
        sidebar.menu-secondary.sidebar(tg-admin-navigation="roles")
            include views/modules/admin-menu
        sidebar.menu-tertiary.sidebar
            include views/modules/admin-submenu-roles

        section.main.admin-roles
            header
                include views/components/mainTitle

            a.button.button-red.delete-role(href="", title="Delete", ng-click="ctrl.delete()") Delete

            p.total
                | {{ role.name }}
                span ({{ role.members_count }} members with this role)

            div.general-category
                | Can do estimations?
                div.check
                    input(type="checkbox", ng-model="role.computable", ng-change="ctrl.setComputable()")
                    div

            div(tg-role-permissions, ng-model="role")
