extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-backlog, ng-controller="BacklogController as ctrl",
                ng-init="section='backlog'")
        sidebar.menu-secondary.extrabar.filters-bar(tg-backlog-filters)
            include views/modules/backlog-filters
        section.main.backlog
            include views/components/mainTitle
            include views/components/summary
            div.graphics-container.burndown-container
                div.burndown(tg-gm-backlog-graph)
                    include views/modules/burndown
            div.backlog-menu
                a.trans-button.move-to-current-sprint(href="", title="Move to Current Sprint",
                                                      id="move-to-current-sprint")
                    span.icon.icon-move
                    span.text Move to current Sprint
                a.trans-button(href="", title="Show Filters", id="show-filters-button")
                    span.icon.icon-filter
                    span.text Show Filters
                a.trans-button(href="", title="Show Tags", id="show-tags")
                    span.icon.icon-tag
                    span.text Show Tags
                include views/components/addnewus
            section.backlog-table(ng-class="{'empty': !visibleUserstories.lenght}")

                div.empty-container(ng-show="!visibleUserstories.lenght")
                    span.icon.icon-idea
                    span Your backlog is empty.
                    a(href="", title+"Create a new US", ng-click="ctrl.addNewUs('standard')",
                        tg-check-permission="tg-check-permission", permission="add_us") Create a new User Story
                include views/modules/backlog-table
        sidebar.menu-secondary.sidebar
            include views/modules/sprints
    div.lightbox.lightbox_add-new-us(tg-lb-create-edit-userstory)
        include views/modules/lightbox_add-new-us
    div.lightbox.lightbox_add-bulk(tg-lb-create-bulk-userstories)
        include views/modules/lightbox_add-bulk
    div.lightbox.lightbox_add-sprint(tg-lb-create-edit-sprint)
        include views/modules/lightbox_add-edit-sprint
