div.error-main
    div.error-container
        object.logo-svg(type="image/svg+xml", data="/svg/logo-optimized.svg")
            img(src="/images/logo.png", alt="TAIGA")
        h1.logo Taiga
        p.error-text Something happened and our Oompa Loompas are working on it.</br> Try reloading again soon.
        a(href="/", title="") Take me home
