div.error-main
    div.error-container
        img(src="/images/logo.png", alt="Taiga")
        h1 Ops, that's embarrasing
        p.error-text Something happened and our Oompa Loompas are working on it.</br> Try reloading again soon.
        a(href="/", title="") Take me home
