extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper
        div.login-main
            div.login-container
                img.logo-svg(src="/svg/logo.svg", alt="TAIGA")
                h1.logo Taiga
                h2.tagline LOVE YOUR PROJECT

                include views/modules/forgot-form
