extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper
        div.invitation-main
            div.invitation-container
                figure.avatar
                    a(href="", title="UserName")
                        img.avatar(src="http://thecodeplayer.com/u/uifaces/12.jpg", alt="username")
                        figcaption Username
                p.invitation-text has sent you an invitation to join to the taiga project
                    span.project-name taiga

                div.invitation-form
                    include views/modules/invitation-login-form
                    include views/modules/invitation-register-form

