extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper
        div.invitation-main
            div.invitation-container(tg-invitation)
                figure.avatar
                    a(href="", tg-bo-title="invitation.invited_by.full_name_display")
                        img.avatar(tg-bo-src="invitation.invited_by.photo",
                                   tg-bo-alt="invitation.invited_by.full_name_display")
                        | {{ invitation.invited_by.full_name_display }}
                p.invitation-text has sent you an invitation to join to the taiga project
                    span.project-name(tg-bo-bind="invitation.project_name")

                div.invitation-form
                    include views/modules/invitation-login-form
                    include views/modules/invitation-register-form
