extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper.issues(tg-issues, ng-controller="IssuesController as ctrl", ng-init="section='issues'")
        sidebar.menu-secondary.extrabar.filters-bar(tg-issues-filters)
            include views/modules/issues-filters

        section.main.issues-page
            header
                include views/components/mainTitle

            include views/modules/list-filters
            include views/modules/issues-table

            // Paginator is rended using js.
            div.paginator.issues-paginator

        div.lightbox.lightbox-select-user(tg-lb-assignedto)

        div.lightbox.lightbox-create-issue(tg-lb-create-issue)
            include views/modules/lightbox-create-issue

        div.lightbox.lightbox-generic-bulk(tg-lb-create-bulk-issues)
            include views/modules/lightbox-issue-bulk
