extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-issue-detail, ng-controller="IssueDetailController as ctrl",
                ng-init="section='issues'")
        div.main.us-detail
            div.us-detail-header
                include views/components/mainTitle
                a.button.button-green(href="", title="Edit", tg-nav="project-issues-detail-edit:project=project.slug,ref=issue.ref") Edit

            section.us-story-main-data
                div.us-title
                    h2.us-title-text
                        span.us-number(tg-bo-html="issue.ref")
                        span.us-name(ng-bind="issue.subject")
                    div.issue-nav
                        a.icon.icon-arrow-left(ng-show="nextUrl", href="{{ nextUrl }}", title="next issue")
                        a.icon.icon-arrow-right(ng-show="previousUrl",href="{{ previousUrl }}", title="previous issue")

                div.blocked-warning(ng-show="issue.is_blocked")
                    span.icon.icon-warning
                    p.blocked Blocked!
                    p(tg-bind-html="issue.blocked_note || 'This issue is blocked'")

                div.user-story-tags(tg-tag-line, ng-model="issue.tags")

            section.us-content.wysiwyg(tg-bind-html="issue.description_html")

            // include views/modules/attachments
            section.us-activity
                ul.us-activity-tabs
                    li
                        a.active(href="#")
                            span.icon.icon-bulk
                            span.tab-title Comments

                    li
                        a(href="#")
                            span.icon.icon-issues
                            span.tab-title Activity

                include views/modules/comments
                include views/modules/activity

        sidebar.menu-secondary.sidebar
            section.us-status(tg-issue-status, ng-model="issue")
            section.us-assigned-to(tg-assigned-to, ng-model="issue")
            section.watchers(tg-watchers, ng-model="issue.watchers")

        div.lightbox.lightbox_block.hidden
            include views/modules/lightbox_block
