extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-issue-detail, ng-controller="IssueDetailController as ctrl",
                ng-init="section='issues'")
        div.main.us-detail
            div.us-detail-header
                include views/components/mainTitle
                a.button.button-green.save-issue(href="", title="Save") Save

            section.us-story-main-data
                div.us-title
                    input(type="text", ng-model="issue.subject")

                div.blocked-warning(ng-hide="!issue.is_blocked")
                    span.icon.icon-warning
                        p.blocked Blocked!
                        p(tg-bind-html="issue.blocked_note_html")
                        a.button.button-red.button-block.unblock(ng-click="ctrl.unblock()", href="", title="Unblock US") Unblock

                div.user-story-tags(tg-tag-line, editable="true", ng-model="issue.tags")

            section.us-content
                // TODO Placeholder should be a WYSIWYG with issue.description
                textarea(placeholder="Write a description of your issue", ng-model="issue.description")

            // include views/modules/attachments
            section.us-activity
                ul.us-activity-tabs
                    li
                        a.active(href="#")
                            span.icon.icon-bulk
                            span.tab-title Comments

                    li
                        a(href="#")
                            span.icon.icon-issues
                            span.tab-title Activity
                include views/modules/comments
                // include views/modules/activity
        sidebar.menu-secondary.sidebar
            section.us-status(tg-issue-status, ng-model="issue", editable="true")
            section.us-assigned-to(tg-assigned-to, ng-model="issue.assigned_to", editable="true")
            section.watchers(tg-watchers, ng-model="issue.watchers", editable="true")

            section.us-detail-settings
                    //TODO: remove commented from issues-detail when copied to user-story-detail
                    //fieldset
                    //    label.clickable.button.button-green(for="client-requirement", ng-class="{true:'active', false:''}[issue.client_requirement]") Client requirement
                    //    input(ng-model="issue.client_requirement", type="checkbox", id="client-requirement", name="client-requirement")
                    //fieldset
                    //    label.clickable.button.button-green(for="team-requirement", ng-class="{true:'active', false:''}[issue.team_requirement]") Team requirement
                    //    input(ng-model="issue.team_requirement", type="checkbox", id="team-requirement", name="team-requirement")

                    a.button.button-gray.clickable(ng-hide="issue.is_blocked", ng-click="ctrl.block()") Block
                    a.button.button-red(href="") Delete

        div.lightbox.lightbox_block.hidden(tg-lb-block, title="Blocking issue", ng-model="issue")
            include views/modules/lightbox_block

        div.lightbox.lightbox_select_user.hidden(tg-lb-add-assigned-to)
            include views/modules/lightbox-assigned-to

        div.lightbox.lightbox_select_user.hidden(tg-lb-add-watcher)
            include views/modules/lightbox_users
