extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-issue-detail, ng-controller="IssueDetailController as ctrl",
                ng-init="section='issues'")
        div.main.us-detail
            div.us-detail-header
                include views/components/mainTitle
                a.button.button-green.save-issue(href="", title="Save") Save

            section.us-story-main-data
                div.us-title
                    input(type="text", ng-model="issue.subject")

                // div.blocked-warning
                //     span.icon.icon-warning
                //     p.blocked Blocked!
                //     p We need Pilar to make a prototype out of this or we are not sure
                //     a.button.button-red.button-block(href="", title="Unblock US") Unblock

                div.user-story-tags(tg-tag-line, editable="true", ng-model="issue.tags")

            section.us-content
                // TODO Placeholder should be a WYSIWYG with issue.description
                textarea(placeholder="Write a description of your issue", ng-model="issue.description")

            // include views/modules/attachments
            section.us-activity
                ul.us-activity-tabs
                    li
                        a.active(href="#")
                            span.icon.icon-bulk
                            span.tab-title Comments

                    li
                        a(href="#")
                            span.icon.icon-issues
                            span.tab-title Activity
                include views/modules/comments
                // include views/modules/activity
        sidebar.menu-secondary.sidebar
            section.us-status(tg-issue-status, ng-model="issue", editable="true")
            section.us-assigned-to(tg-assigned-to, ng-model="issue.assigned_to", editable="true")
            section.watchers(tg-watchers, ng-model="issue.watchers", editable="true")

            section.us-detail-settings
                    fieldset
                        label.button.button-gray(for="client-requirement") Client requirement
                        input(type="checkbox", id="client-requirement")
                    fieldset
                        label.button.button-gray(for="team-requirement") Team requirement
                        input(type="checkbox", id="client-requirement")
                    fieldset
                        label.button.button-red(for="Block") Block
                        input(type="checkbox", id="Block")

        div.lightbox.lightbox_block.hidden
            include views/modules/lightbox_block

        div.lightbox.lightbox_select_user.hidden(tg-lb-add-assigned-to)
            include views/modules/lightbox-assigned-to

        div.lightbox.lightbox_select_user.hidden(tg-lb-add-watcher)
            include views/modules/lightbox_users
