extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-issue-detail, ng-controller="IssueDetailController as ctrl",
                ng-init="section='issues'")
        div.main.us-detail
            div.us-detail-header
                include views/components/mainTitle
                a.button.button-green(href="", title="Edit") Edit
            section.us-story-main-data
                div.us-title
                    // TODO Placeholder should be issue.subject
                    input(type="text", placeholder="issue.subject")

                // div.blocked-warning
                //     span.icon.icon-warning
                //     p.blocked Blocked!
                //     p We need Pilar to make a prototype out of this or we are not sure
                //     a.button.button-red.button-block(href="", title="Unblock US") Unblock

                div.user-story-tags(tg-tag-line="editable", ng-model="issue.tags")
                    div.tags-container
                        div.tag
                            span.tag-name attachments
                            a.icon.icon-delete.hidden(href="", title="delete tag")
                    input.hidden(type="text", placeholder="Write tag...")

            section.us-content
                // TODO Placeholder should be a WYSIWYG with issue.description
                textarea(placeholder="Write a description of your issue")

            // include views/modules/attachments
            section.us-activity
                ul.us-activity-tabs
                    li
                        a.active(href="#")
                            span.icon.icon-bulk
                            span.tab-title Comments

                    li
                        a(href="#")
                            span.icon.icon-issues
                            span.tab-title Activity
                include views/modules/comments
                // include views/modules/activity
        sidebar.menu-secondary.sidebar
            // TODO: should be replaced with correct html
            // for issues detail
            h1
                span Open
                span.us-detail-status In progress

            div.us-detail-progress-bar
                div.current-progress
                span.tasks-completed 6/7 tasks completed

            ul.points-per-role
                li.total
                    span.points 10
                    span.role total

                li(ng-repeat="role in roles track by role.id")
                    span.points 10
                    span.role UX

            include views/components/assigned-to
            section.watchers
                include views/components/watchers

            // NOTE: only for user story?
            // section.us-detail-settings
            //     a.button.button-gray(href="", title="Client requirement") Client requirement
            //     a.button.button-gray(href="", title="Team requirement") Team requirement
            //     a.button.button-red(href="", title="Block") Block

    div.lightbox.lightbox_block.hidden
        include views/modules/lightbox_block

    div.lightbox.lightbox_watchers.hidden
        include views/modules/lightbox_watchers
