extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-issue-detail, ng-controller="IssueDetailController as ctrl",
                ng-init="section='issues'")
        div.main.us-detail
            div.us-detail-header
                include views/components/mainTitle
                a.button.button-green.save-issue(href="", title="Save") Save

            section.us-story-main-data
                div.us-title
                    input(type="text", ng-model="issue.subject")

                div.blocked-warning(ng-show="issue.is_blocked")
                    span.icon.icon-warning
                    p.blocked Blocked!
                    p(tg-bind-html="issue.blocked_note || 'This issue is blocked'")
                    a.button.button-red.button-block.unblock(ng-click="ctrl.unblock()", href="", title="Unblock US") Unblock

                div.user-story-tags(tg-tag-line, editable="true", ng-model="issue.tags")

            section.us-content
                textarea(placeholder="Write a description of your issue", ng-model="issue.description", tg-markitup)

            // include views/modules/attachments
            textarea(ng-model="issue.comment", placeholder="Write here a new commet")

        sidebar.menu-secondary.sidebar
            section.us-status(tg-issue-status, ng-model="issue", editable="true")
            section.us-assigned-to(tg-assigned-to, ng-model="issue", editable="true")
            section.watchers(tg-watchers, ng-model="issue.watchers", editable="true")

            section.us-detail-settings
                    a.button.button-gray.clickable(ng-show="!issue.is_blocked", ng-click="ctrl.block()") Block
                    a.button.button-red(ng-click="ctrl.delete()", href="") Delete

        div.lightbox.lightbox_block.hidden(tg-lb-block, title="Blocking issue", ng-model="issue")
            include views/modules/lightbox_block

        div.lightbox.lightbox_select_user.hidden(tg-lb-assignedto)
            include views/modules/lightbox-assigned-to

        div.lightbox.lightbox_select_user.hidden(tg-lb-add-watcher)
            include views/modules/lightbox_users
