extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    form.wrapper(tg-issue-detail, ng-controller="IssueDetailController as ctrl",
                 ng-init="section='issues'")
        div.main.us-detail
            div.us-detail-header
                include views/components/mainTitle
                a.button.button-green.save-issue(href="", title="Save") Save
                a.button.button-red.cancel(tg-nav="project-issues-detail:project=project.slug,ref=issue.ref", href="", title="Cancel") Cancel

            section.us-story-main-data
                div.us-title(ng-class="{blocked: issue.is_blocked}")
                    input(type="text", ng-model="issue.subject", data-required="true", data-maxlength="500")
                    p.block-desc-container(ng-show="issue.is_blocked")
                        span.block-description-title Blocked
                        span.block-description(tg-bind-html="issue.blocked_note || 'This issue is blocked'")
                        a.unblock(ng-click="ctrl.unblock()", href="", title="Unblock issue") Unblock

                div.user-story-tags(tg-tag-line, editable="true", ng-model="issue.tags")

            section.us-content
                textarea(placeholder="Write a description of your issue", ng-model="issue.description", tg-markitup)

            - var attachModel = "issue"
            - var permissionSuffix = "issue"
            include views/modules/attachments

            textarea(ng-model="issue.comment", placeholder="Write here a new commet")

        sidebar.menu-secondary.sidebar
            section.us-status(tg-issue-status, ng-model="issue", editable="true")
            section.us-assigned-to(tg-assigned-to, ng-model="issue", editable="true")
            section.watchers(tg-watchers, ng-model="issue", editable="true")

            section.us-detail-settings
                a.button.button-gray.clickable(ng-show="!issue.is_blocked", ng-click="ctrl.block()") Block
                a.button.button-red(tg-check-permission, permission="delete_issue", ng-click="ctrl.delete()", href="") Delete

        div.lightbox.lightbox_block.hidden(tg-lb-block, title="Blocking issue", ng-model="issue")
        div.lightbox.lightbox_select_user.hidden(tg-lb-assignedto)
        div.lightbox.lightbox_select_user.hidden(tg-lb-watchers)
