extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-issue-detail, ng-controller="IssueDetailController as ctrl",
                ng-init="section='issues'")
        div.main.us-detail
            div.us-detail-header
                include views/components/mainTitle
                a.button.button-green.save-issue(href="", title="Save") Save

            section.us-story-main-data
                div.us-title
                    input(type="text", ng-model="issue.subject")

                // div.blocked-warning
                //     span.icon.icon-warning
                //     p.blocked Blocked!
                //     p We need Pilar to make a prototype out of this or we are not sure
                //     a.button.button-red.button-block(href="", title="Unblock US") Unblock

                div.user-story-tags(tg-tag-line, editable="true", ng-model="issue.tags")

            section.us-content
                // TODO Placeholder should be a WYSIWYG with issue.description
                textarea(placeholder="Write a description of your issue", ng-model="issue.description")

            // include views/modules/attachments
            section.us-activity
                ul.us-activity-tabs
                    li
                        a.active(href="#")
                            span.icon.icon-bulk
                            span.tab-title Comments

                    li
                        a(href="#")
                            span.icon.icon-issues
                            span.tab-title Activity
                include views/modules/comments
                // include views/modules/activity
        sidebar.menu-secondary.sidebar
            // TODO: should be replaced with correct html
            // for issues detail
            h1
                span Open
                span.us-detail-status In progress

            div.issue-data
                div.severity-data
                    span.level
                    span.severity-status Important
                    span.level-name severity
                div.priority-data
                    span.level
                    span.priority-status low
                    span.level-name priority
                div.status-data
                    span.level
                    span.status-status new
                    span.level-name status

            include views/components/assigned-to
            section.watchers(tg-watchers, ng-model="issue.watchers", editable="true")

            // NOTE: only for user story?
            // section.us-detail-settings
            //     a.button.button-gray(href="", title="Client requirement") Client requirement
            //     a.button.button-gray(href="", title="Team requirement") Team requirement
            //     a.button.button-red(href="", title="Block") Block

        div.lightbox.lightbox_block.hidden
            include views/modules/lightbox_block

        div.lightbox.lightbox_watchers.hidden(tg-lb-add-watcher)
            include views/modules/lightbox_watchers
