extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-issues, ng-controller="IssuesController as ctrl",
                ng-init="section='issues'")
        sidebar.menu-secondary.sidebar.filters-container
            // TODO: maybe everything related to this section
            // should be done in one unique include?
            header
                h1 Filters
            include views/modules/search-in
            include views/modules/filter-tags
        section.main.issues-page
            header
                include views/components/mainTitle
            include views/modules/list-filters
            include views/modules/issues-table
