extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper.issues(tg-issues, ng-controller="IssuesController as ctrl", ng-init="section='issues'")
        sidebar.menu-secondary.extrabar.filters-bar(tg-issues-filters)
            include views/modules/issues-filters

        section.main.issues-page
            header
                include views/components/mainTitle

            include views/modules/list-filters
            include views/modules/issues-table

            // Paginator is rended using js.
            div.paginator.issues-paginator

        div.hidden.lightbox.lightbox_select_user(tg-lb-assignedto)

        div.hidden.lightbox.lightbox_add-issue(tg-lb-create-issue)
            include views/modules/lightbox_add-issue

        div.hidden.lightbox.lightbox_add-bulk(tg-lb-create-bulk-issues)
            include views/modules/lightbox_add-bulk
