extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-issue-detail, ng-controller="IssueDetailController as ctrl",
                ng-init="section='issues'")
        div.main.us-detail
            div.us-detail-header
                include views/components/mainTitle
                a.button.button-green(href="", title="Edit", tg-nav="project-issues-detail-edit:project=project.slug,ref=issue.ref") Edit

            section.us-story-main-data
                div.us-title
                    h2.us-title-text
                        span.us-number(tg-bo-html="issue.ref")
                        span.us-name(ng-bind="issue.subject")
                    div.issue-nav
                        a.icon.icon-arrow-left(href="", title="next issue")
                        a.icon.icon-arrow-right(href="", title="previous issue")

                // div.blocked-warning
                //     span.icon.icon-warning
                //     p.blocked Blocked!
                //     p We need Pilar to make a prototype out of this or we are not sure
                //     a.button.button-red.button-block(href="", title="Unblock US") Unblock

                div.user-story-tags(tg-tag-line, ng-model="issue.tags")

            section.us-content(tg-bind-html="issue.description_html")

            // include views/modules/attachments
            section.us-activity
                ul.us-activity-tabs
                    li
                        a.active(href="#")
                            span.icon.icon-bulk
                            span.tab-title Comments

                    li
                        a(href="#")
                            span.icon.icon-issues
                            span.tab-title Activity
                include views/modules/comments
                // include views/modules/activity
        sidebar.menu-secondary.sidebar
            h1
                span Open
                span.us-detail-status In progress

            div.issue-data
                div.severity-data
                    span.level
                    span.severity-status Important
                    span.level-name severity
                div.priority-data
                    span.level
                    span.priority-status low
                    span.level-name priority
                div.status-data
                    span.level
                    span.status-status new
                    span.level-name status

            section.us-detail-assigned-to(tg-assigned-to, ng-model="issue.assigned_to")
            section.watchers(tg-watchers, ng-model="issue.watchers")

            section.us-detail-settings
                a.button.button-gray(href="", title="Client requirement") Client requirement
                a.button.button-gray(href="", title="Team requirement") Team requirement
                a.button.button-red(href="", title="Block") Block

        div.lightbox.lightbox_block.hidden
            include views/modules/lightbox_block
