extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(tg-kanban, ng-controller="KanbanController as ctrl"
                ng-init="section='kanban'")
        section.main.kanban
            header
                include views/components/mainTitle
            //-    div.kanban-settings
            //-        // a.button.button-trans(href="", title="Filter")
            //-        //     span.icon.icon-filter
            //-        //     span Filters
            //-        //a.button.button-gray(href="", title="Filter")
            //-        //    span Show Statistics
            //-include views/components/large-summary
            //-include views/modules/burndown
            //-include views/modules/list-filters-kanban
            include views/modules/kanban-table

        div.lightbox.lightbox-generic-form(tg-lb-create-edit-userstory)
            include views/modules/lightbox-us-create-edit

        div.lightbox.lightbox-generic-bulk(tg-lb-create-bulk-userstories)
            include views/modules/lightbox-us-bulk

        div.lightbox.lightbox-select-user.hidden(tg-lb-assignedto)
