extends login-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(ng-controller="AuthController as ctrl")
        div.login-main
            div.login-container
                h1.logo
                    img(src="/images/logo.png", alt="TAIGA")
                p.tagline Project management web application with scrum in the mind!
                form(ng-submit="ctrl.submit()")
                    input(type="text", name="username", ng-model="form.username", placeholder="User name")
                    input(type="password", name="password", ng-model="form.password")
                    a.button.button-login.button-gray(href="", title="Log in") Log in
                    a.button.button-signup(href="", title="Log in") Sign up
                    input(type="submit", value="I am an horrible button to be deleted. Click me to login for the moment")
