extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper
        div.login-main
            div.login-container
                object.logo-svg(type="image/svg+xml", data="/images/logo-optimized.svg")
                    img(src="/images/logo.png", alt="TAIGA")
                h1.logo Taiga
                h2.tagline ENJOY YOUR PROJECT,FINALLY

                include views/modules/login-form
