extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-user-profile, ng-controller="UserSettingsController as ctrl",
                    ng-init="section='mail-notifications'")
        sidebar.menu-secondary.sidebar(tg-user-settings-navigation="mail-notifications")
            include views/modules/user-settings-menu

        section.main.admin-roles
            header
                include views/components/mainTitle

            p.total Notifications By Mail

            include views/modules/user-settings/mail-notifications-table
