extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper
        sidebar.menu-secondary.sidebar
            include views/modules/admin-menu

        section.main.admin-membership
            header
                include views/components/mainTitle
                a.button.button-green(title="Add New US" href="")
                   span.text + New role

            include views/modules/admin/admin-membership-table

        div.lightbox.ligbox_add-member
            include views/modules/lightbox_add-member
