div.error-main
    div.error-container
        img(src="/images/logo.png", alt="Taiga")
        h1 Not found
        p.error-text Error 404. The page you are looking for no longer exists. Perhaps you can return back to TAIGA homepage and see if you can find what you are looking for.
        a(href="#", title="") Go back to login
