extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(ng-controller="ProjectController as ctrl")
        section.main.home-projects-list
            ul
                li(ng-repeat="project in ctrl.projects")
                    a(href="", tg-nav="project-backlog:project=project.slug")
                        span(tg-bo-html="project.name")
                        span.icon.icon-arrow-right
