extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    .home-project(ng-controller="ProjectController as ctrl")
        .inner
            h1(tg-bo-html="ctrl.project.name")

            ul.home-project-info-list
                li
                    span.info-num(tg-bo-html="stats.total_points")
                    span.info-text projects points
                li
                    span.info-num(tg-bo-html="stats.defined_points")
                    span.info-text defined points
                li
                    span.info-num(tg-bo-html="stats.assigned_points")
                    span.info-text assigned points
                li
                    span.info-num(tg-bo-html="stats.closed_points")
                    span.info-text closed points


            p.description(tg-bo-html="project.description")

            .home-project-bottom
                ul
                    li(ng-repeat="member in project.active_memberships")
                        img(src="{{member.photo}}")
