extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.home-projects-list(ng-controller="ProjectsController as ctrl")
        .home-projects-wrapper
            .home-projects-list-inner
                div.recent-projects
                    ul
                        li(ng-repeat="project in ctrl.projects.recents")
                            .project-content
                                a(href="{{ project.url }}")
                                    h2(tg-bo-bind="project.name")
                                    p(tg-bo-bind="project.description")

                div.all-projects
                    h1 Projects
                    div(tg-projects-pagination, active="ctrl.projects.all.length")
                        ul
                            li(ng-repeat="project in ctrl.projects.all")
                                a.button(tg-bo-bind="project.name", href="{{ project.url }}")

                    .create-project-button-wrapper
                        a.button.button-green(href="", ng-click="ctrl.newProject()") Create project
