extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper
        sidebar.menu-secondary.sidebar
            include views/modules/admin-menu

        sidebar.menu-tertiary.sidebar
            include views/modules/admin-submenu

        section.main.project-colors
            header
                include views/components/mainTitle

            div.project-colors-options
                a.button.button-green.new-color(href="")
                    span.text
                        | + Add new status

            include views/modules/colors-table
