extends dummy-layout
//extends login-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(ng-controller="AuthController as ctrl")
        div.login-main
            div.login-container
                h1.logo
                    img(src="/images/logo.png", alt="TAIGA")
                p.tagline Project management web application with scrum in mind!
                p.login-error
                    span.title Ooops! Something went wrong!
                    span.text According to our Oompa Loompas, your username or password are incorrect.
                    a.icon.icon-delete(href="", title="Close message")

                include views/modules/register-form
