extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper
        div.login-main
            div.login-container
                h1.logo
                    img(src="/images/logo.png", alt="TAIGA")
                p.tagline Your agile, free, and open source project management tool

                include views/modules/register-form
