extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper
        sidebar.menu-secondary.sidebar
            include views/modules/search-in

        section.main.search-result
            include views/components/mainTitle
            include views/modules/search-filter
            include views/modules/search-result-issues-table

    script.
        setTimeout(function () {
            document.body.className = 'open-project-nav';
        }, 1000);

        setTimeout(function () {
            document.body.className = 'closed-project-nav';
        }, 6000);
