extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(tg-taskboard, ng-controller="TaskboardController as ctrl",
                ng-init="section='backlog'")
        section.main.taskboard
            h1
                span(tg-bo-bind="project.name", class="project-name-short")
                span.green(tg-bo-bind="sprint.name")
                span.date(tg-date-range="sprint.estimated_start,sprint.estimated_finish")
            //- include views/components/sprint-summary

            div.graphics-container
                div.burndown(tg-sprint-graph)
                    include views/modules/burndown

            include views/modules/taskboard-table

        div.lightbox.lightbox-generic-form(tg-lb-create-edit-task)
            include views/modules/lightbox-task-create-edit

        div.lightbox.lightbox-generic-bulk.lightbox-task-bulk(tg-lb-create-bulk-tasks)
            include views/modules/lightbox-task-bulk

        div.lightbox.lightbox-select-user(tg-lb-assignedto)
            include views/modules/lightbox-assigned-to
