extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    form.wrapper(tg-task-detail, ng-controller="TaskDetailController as ctrl",
                ng-init="section='backlog'")
        div.main.us-detail
            div.us-detail-header.header-with-actions
                include views/components/mainTitle
                .action-buttons
                    a.button.button-green.save-task(href="", title="Save") Save
                    a.button.button-red.cancel(tg-nav="project-tasks-detail:project=project.slug,ref=task.ref", href="", title="Cancel") Cancel

            section.us-story-main-data
                div.us-title(ng-class="{blocked: task.is_blocked}")
                    div.us-edit-name-inner
                        span.us-number(tg-bo-ref="task.ref")
                        input(type="text", ng-model="task.subject", data-required="true", data-maxlength="500")
                    p.block-desc-container(ng-show="task.is_blocked")
                        span.block-description-title Blocked
                        span.block-description(tg-bind-html="task.blocked_note || 'This task is blocked'")
                        a.unblock(ng-click="ctrl.unblock()", href="", title="Unblock task") Unblock

                div(tg-tag-line, editable="true", ng-model="task.tags")

            section.us-content
                textarea(placeholder="Write a description of your task", ng-model="task.description", tg-markitup)

            tg-attachments(ng-model="task", type="task")
            tg-history(ng-model="task", type="task", mode="edit")

        sidebar.menu-secondary.sidebar
            section.us-status(tg-task-status, ng-model="task", editable="true")
            section.us-assigned-to(tg-assigned-to, ng-model="task", editable="true")
            section.watchers(tg-watchers, ng-model="task", editable="true")

            section.us-detail-settings
                  fieldset(title="Feeling a bit overwhelmed by a task? Make sure others know about it by clicking on Iocaine when editing a task. It's possible to become immune to this (fictional) deadly poison by consuming small amounts over time just as it's possible to get better at what you do by occasionally taking on extra challenges!")
                      label.clickable.button.button-gray(for="is-iocaine", ng-class="{'active': task.is_iocaine}") Iocaine
                      input(ng-model="task.is_iocaine", type="checkbox", id="is-iocaine", name="is-iocaine")

                  a.button.button-gray.clickable(ng-show="!task.is_blocked", ng-click="ctrl.block()") Block
                  a.button.button-red(tg-check-permission="delete_task", ng-click="ctrl.delete()", href="") Delete

        div.lightbox.lightbox_block.hidden(tg-lb-block, title="Blocking task", ng-model="task")
        div.lightbox.lightbox-select-user.hidden(tg-lb-assignedto)
        div.lightbox.lightbox-select-user.hidden(tg-lb-watchers)
