extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(tg-task-detail, ng-controller="TaskDetailController as ctrl",
                ng-init="section='backlog'")
        div.main.us-detail
            div.us-detail-header.header-with-actions
                include views/components/mainTitle
                .action-buttons
                    a.button.button-green(tg-check-permission, permission="modify_task", href="", title="Edit", tg-nav="project-tasks-detail-edit:project=project.slug,ref=task.ref") Edit

            section.us-story-main-data
                div.us-title(ng-class="{blocked: task.is_blocked}")
                    h2.us-title-text
                        span.us-number(tg-bo-ref="task.ref")
                        span.us-name(ng-bind="task.subject")
                    p.block-desc-container(ng-show="task.is_blocked")
                        span.block-description-title Blocked
                        span.block-description(tg-bind-html="task.blocked_note || 'This task is blocked'")
                    div.issue-nav
                        a.icon.icon-arrow-left(ng-show="previousUrl",href="{{ previousUrl }}", title="previous task")
                        a.icon.icon-arrow-right(ng-show="nextUrl", href="{{ nextUrl }}", title="next task")

                div(tg-tag-line, ng-model="task.tags", ng-show="task.tags")

            section.us-content.wysiwyg(tg-bind-html="task.description_html")

            - var attachModel = "task"
            - var permissionSuffix = "task"
            include views/modules/attachments

            tg-history(ng-model="task", type="task")

        sidebar.menu-secondary.sidebar
            section.us-status(tg-task-status, ng-model="task")
            section.us-assigned-to(tg-assigned-to, ng-model="task")
            section.watchers(tg-watchers, ng-model="task")

            section.us-detail-settings
                span.button.button-gray(href="", title="Is iocaine", ng-class="{'active': task.is_iocaine }") Iocaine
