extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-taskboard, ng-controller="TaskboardController as ctrl",
                ng-init="section='backlog'")
        section.main.taskboard
            h1
                span(tg-bo-html="project.name")
                span.green(tg-bo-html="sprint.name")
                span.date(tg-date-range="sprint.estimated_start,sprint.estimated_finish")
            include views/components/sprint-summary
            include views/modules/burndown
            include views/modules/taskboard-table
