extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-us-detail, ng-controller="UserStoryDetailController as ctrl",
                ng-init="section='backlog'")
        div.main.us-detail
            div.us-detail-header
                include views/components/mainTitle
                a.button.button-green(tg-check-permission, permission="modify_us", href="", title="Edit", tg-nav="project-userstories-detail-edit:project=project.slug,ref=us.ref") Edit

            section.us-story-main-data
                div.us-title(ng-class="{blocked: us.is_blocked}")
                    h2.us-title-text
                        span.us-number(tg-bo-bind="us.ref")
                        span.us-name(ng-bind="us.subject")

                    p.block-desc-container(ng-show="us.is_blocked")
                        span.block-description-title Blocked
                        span.block-description(tg-bind-html="us.blocked_note || 'This user story is blocked'")
                    div.issue-nav
                        a.icon.icon-arrow-left(ng-show="nextUrl", href="{{ nextUrl }}", title="next user story")
                        a.icon.icon-arrow-right(ng-show="previousUrl",href="{{ previousUrl }}", title="previous user story")


                div.user-story-tags(tg-tag-line, ng-model="us.tags", ng-show="us.tags")

            section.us-content.wysiwyg(tg-bind-html="us.description_html")

            - var attachModel = "us"
            - var permissionSuffix = "us"
            include views/modules/attachments

            section.us-activity
                ul.us-activity-tabs
                    li
                        a.active(href="#")
                            span.icon.icon-bulk
                            span.tab-title Comments

                    li
                        a(href="#")
                            span.icon.icon-issues
                            span.tab-title Activity

                - var commentModel = "us"
                include views/modules/comments
                include views/modules/activity

        sidebar.menu-secondary.sidebar
            section.us-status(tg-us-status-detail, ng-model="us")
            section.us-assigned-to(tg-assigned-to, ng-model="us")
            section.watchers(tg-watchers, ng-model="us")

            section.us-detail-settings
                span.button.button-gray(href="", title="Client requirement", ng-class="us.client_requirement ? 'active' : ''") Client requirement
                span.button.button-gray(href="", title="Team requirement", ng-class="us.team_requirement ? 'active' : ''") Team requirement
