extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    form.wrapper(tg-us-detail, ng-controller="UserStoryDetailController as ctrl",
                ng-init="section='backlog'")
        div.main.us-detail
            div.us-detail-header.header-with-actions
                include views/components/mainTitle
                .action-buttons
                    a.button.button-green.save-us(href="", title="Save") Save
                    a.button.button-red.cancel(tg-nav="project-userstories-detail:project=project.slug,ref=us.ref", href="", title="Cancel") Cancel

            section.us-story-main-data
                div.us-title(ng-class="{blocked: us.is_blocked}")
                    input(type="text", ng-model="us.subject", data-required="true", data-maxlength="500")
                    p.block-desc-container(ng-show="us.is_blocked")
                        span.block-description-title Blocked
                        span.block-description(tg-bind-html="us.blocked_note || 'This US is blocked'")
                        a.unblock(ng-click="ctrl.unblock()", href="", title="Unblock US") Unblock

                div.user-story-tags(tg-tag-line, editable="true", ng-model="us.tags")

            section.us-content
                textarea(placeholder="Write a description of your user story", ng-model="us.description", tg-markitup)

            - var attachModel = "us"
            - var permissionSuffix = "us"
            include views/modules/attachments

            section.us-activity
                ul.us-activity-tabs
                    li
                        a.active(href="#")
                            span.icon.icon-bulk
                            span.tab-title Comments

                    li
                        a(href="#")
                            span.icon.icon-issues
                            span.tab-title Activity

                - var commentModel = "us"
                - var noSaveButton = true
                include views/modules/comments
                include views/modules/activity

        sidebar.menu-secondary.sidebar
            section.us-status(tg-us-status-detail, ng-model="us", editable="true")
            section.us-assigned-to(tg-assigned-to, ng-model="us", editable="true")
            section.us-created-by(tg-created-by, ng-model="us")
            section.watchers(tg-watchers, ng-model="us", editable="true")

            section.us-detail-settings
                fieldset
                    label.clickable.button.button-gray(for="client-requirement", ng-class="{'active': us.client_requirement}") Client requirement
                    input(ng-model="us.client_requirement", type="checkbox", id="client-requirement", name="client-requirement")
                fieldset
                    label.clickable.button.button-gray(for="team-requirement", ng-class="{'active': us.team_requirement}") Team requirement
                    input(ng-model="us.team_requirement", type="checkbox", id="team-requirement", name="team-requirement")

                a.button.button-gray.clickable(ng-show="!us.is_blocked", ng-click="ctrl.block()") Block
                a.button.button-red(tg-check-permission, permission="delete_us", ng-click="ctrl.delete()", href="") Delete

        div.lightbox.lightbox_block.hidden(tg-lb-block, title="Blocking issue", ng-model="us")
        div.lightbox.lightbox_select_user.hidden(tg-lb-assignedto)
        div.lightbox.lightbox_select_user.hidden(tg-lb-watchers)
