extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper
        div.main.us-detail
            div.us-detail-header
                h1
                    span ProjectName
                    span.green User Story
                a.button.button-green(href="", title="Edit") Edit
            section.us-story-main-data
                h2.us-title
                    span.us-number 125
                    span.us-name Tagear contenido dentro de las catas privadas
                div.blocked-warning
                    span.icon.icon-warning
                    p.blocked Blocked!
                    p We need Pilar to make a prototype out of this or we are not sure what to show at this part.
                    a.button.button-red.button-block(href="", title="Unblock US") Unblock
                div.user-story-tags
                    - for(var y = 0; y < 6; y++)
                        include views/components/tag
                    input(type="text", placeholder="Add Tag")
            section.us-content
                p Hay que cambiar el texto "Hola NombreDelUsuario" por "Nivel de conexion al XX%"
                p La propuesta que esperábamos de UX debía incluir nombre y nivel de conexión. Esperamos nueva propuesta corregida donde aparezca tanto el nombre como el % de conexión
                p <strong>Test de aceptación</strong>
                ul
                    li Entro en la aplicación
                    li Compruebo que el indicador crece
                p <strong>Prototipos</strong><br /><a href="">share.axure.com/lalala</a>
                p <strong>Prototipos</strong><br /><a href="">share.axure.com/lalala</a>
            include views/modules/attachments
            section.us-activity
                ul.us-activity-tabs
                    li
                        a.active(href="#")
                            span.icon.icon-bulk
                            span.tab-title Comments

                    li
                        a(href="#")
                            span.icon.icon-issues
                            span.tab-title Activity
                //-include views/modules/comments
                include views/modules/activity
        sidebar.menu-secondary.sidebar
             h1
                 span Open
                 span.us-detail-status In progress
             div.us-detail-progress-bar
                 div.current-progress
                 span.tasks-completed 6/7 tasks completed
             ul.points-per-role
                 li.total
                     span.points 10
                     span.role total
                 - for(var x=0; x<5; x++)
                     li.total
                         span.points 10
                         span.role UX
                 section.us-detail-assigned-to
                     div.user-avatar
                         a.avatar(href="", title="Assigned to")
                             img(src="http://thecodeplayer.com/u/uifaces/18.jpg", alt="username")
                     div.assigned-to
                         span.assigned-title Assigned to
                         span.user-assigned Anler Hernández
                 section.watchers
                     div.watchers-header
                         span.title watchers
                         a.icon.icon-plus(href="", title="Add watcher")
                     div.watchers-content
                         - for(var y=0; y<5; y++)
                             div.watcher-single
                                 div.watcher-avatar
                                     a.avatar(href="", title="Assigned to")
                                         img(src="http://thecodeplayer.com/u/uifaces/32.jpg", alt="username")
                                 a.watcher-name(href="", title="Jesús Espino") Jesús Espino
                section.us-detail-settings
                    a.button.button-gray(href="", title="Client requirement") Client requirement
                    a.button.button-gray(href="", title="Team requirement") Team requirement
                    a.button.button-red(href="", title="Block") Block
