extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-user-profile, ng-controller="UserSettingsController as ctrl",
                ng-init="section='user-settings'")
        sidebar.menu-secondary.sidebar(tg-user-settings-navigation="user-profile")
            include views/modules/user-settings-menu

        section.main.user-profile
            header
                h1
                    span.green(tg-bo-html="sectionName")

            form
                fieldset.avatar(tg-user-avatar)
                    img.avatar(ng-src="{{user.big_photo}}" alt="avatar")
                    input(type="file", id="avatar-field", tg-avatar-model="avatarAttachment" class="hidden")
                    p The image will be cropped to 80x80 size.
                    a.button.button-green.change Change
                    a.use-gravatar Use gravatar image

                fieldset
                    label(for="email") Email
                    input(type="text", name="email", placeholder="email", id="email",
                          ng-model="user.email", data-type="email")

                fieldset
                    label(for="full-name") Full name
                    input(type="text", name="full_name", placeholder="Full name", id="full-name",
                          ng-model="user.full_name")

                fieldset
                    label(for="bio") Bio
                    textarea(name="bio", placeholder="Bio", id="bio", ng-model="user.bio")

                fieldset.submit
                    input(type="submit", class="hidden")
                    a.button.button-green.save-profile(href="") Save
                    a.delete-account(href="", title="Delete Taiga account",
                                     ng-click="ctrl.openDeleteLightbox()") Delete Taiga account

    div.lightbox.lightbox-delete-account.hidden(tg-lb-delete-user)
        include views/modules/lightbox-delete-account

    div.lightbox.lightbox_confirm-use-gravatar.hidden
        include views/modules/lightbox-use-gravatar
