extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper
        sidebar.menu-secondary.sidebar
            include views/modules/admin-menu

        sidebar.menu-tertiary.sidebar
            include views/modules/admin-submenu-project-profile

        section.main.user-profile
            header
                include views/components/mainTitle

            form
                fieldset
                    label(for="user-email") Email
                    input(type="text", placeholder="Email", id="user-email")
                fieldset
                    label(for="current-password") Current Password
                    input(type="password", placeholder="Password", id="current-password")
                fieldset
                    label(for="new-password") New Password
                    input(type="password", placeholder="New Password", id="new-password")
                fieldset
                    label(for="retype-password") Retype Password
                    input(type="password", placeholder="Retype Password", id="retype-password")
                fieldset
                    input(type="submit", class="hidden")
                    a.button.button-green(href="") Save
                    a.delete-account(href="", title="Delete Taiga account") Delete Taiga account
    div.lightbox.lightbox-delete-account
        include views/modules/lightbox-delete-account