extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-wiki-detail, ng-controller="WikiDetailController as ctrl",
                ng-init="section='wiki'")
        sidebar.menu-secondary.extrabar(tg-check-permission, permission="view_wiki_links")
            section.wiki-nav(tg-wiki-nav, ng-model="wikiLinks")
        section.main.wiki
            .header-with-actions
                h1
                    span(tg-bo-bind="project.name", class="project-name-short")
                    span.green Wiki
                    span.wiki-title(tg-bo-bind='wiki.slug|unslugify')
                .action-buttons
                    a.button.button-red.delete-wiki(tg-check-permission, permission="delete_wiki_page",
                        href="", title="Delete", ng-click="ctrl.delete()") Delete

                    a.button.button-green.edit-wiki(tg-check-permission, permission="modify_wiki_page",
                        href="", title="Edit", ng-click="ctrl.edit()") Edit

            include views/modules/wiki-summary

            section.wiki-content.wysiwyg(tg-bind-html="wiki.html")

            - var attachModel = "wiki"
            - var permissionSuffix = "wiki_page"
            include views/modules/attachments
