extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-wiki-detail, ng-controller="WikiDetailController as ctrl",
                ng-init="section='wiki'")
        sidebar.menu-secondary.extrabar
            section.wiki-nav(tg-wiki-nav, ng-model="wikiLinks")
        section.main.wiki
            //Include views/components/mainTitle
            header
                h1
                    span(tg-bo-html="project.name")
                    span.green Wiki
                    span.wiki-title(tg-bo-html='wiki.slug|unslugify')
            .action-buttons
                a.button.button-red.delete-wiki(href="", title="Delete", ng-click="ctrl.delete()") Delete
                a.button.button-green.edit-wiki(href="", title="Edit", ng-click="ctrl.edit()") Edit

            include views/modules/wiki-summary

            section.wiki-content.wysiwyg(tg-bind-html="wiki.html")

            include views/modules/attachments
