extends dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(tg-wiki-edit, ng-controller="WikiEditController as ctrl",
                ng-init="section='wiki'")
        sidebar.menu-secondary.extrabar(tg-check-permission="view_wiki_links")
            section.wiki-nav(tg-wiki-nav, ng-model="wikiLinks")
        section.main.wiki
            div.header-with-actions
                h1
                    span(tg-bo-bind="project.name", class="project-name-short")
                    span.green Wiki
                    span.wiki-title(tg-bo-bind='wikiSlug|unslugify')
                .action-buttons
                    a.button.button-green.save-wiki(href="", title="Save", ng-click="ctrl.save()") Save
                    a.button.button-red.cancel-wiki(href="", title="CAncel", ng-click="ctrl.cancel()") Cancel

            section.wysiwyg
                textarea(placeholder="Write a your wiki page", ng-model="wiki.content", tg-markitup)

            - var attachModel = "wiki"
            - var permissionSuffix = "wiki_page"
            include views/modules/attachments
