extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-wiki-edit, ng-controller="WikiEditController as ctrl",
                ng-init="section='wiki'")
        sidebar.menu-secondary.extrabar
            section.wiki-nav(tg-wiki-nav, ng-model="wikiLinks")
        section.main.wiki
            //Include views/components/mainTitle
            header
                h1
                    span(tg-bo-bind="project.name")
                    span.green Wiki
                    span.wiki-title(tg-bo-bind='wikiSlug|unslugify')
            .action-buttons
                a.button.button-green.save-wiki(href="", title="Save", ng-click="ctrl.save()") Save

            section.wysiwyg
                textarea(placeholder="Write a your wiki page", ng-model="wiki.content", tg-markitup)

            - var attachModel = "wiki"
            - var permissionSuffix = "wiki_page"
            include views/modules/attachments
