extends dummy-layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    div.wrapper(tg-wiki-edit, ng-controller="WikiEditController as ctrl",
                ng-init="section='wiki'")
        sidebar.menu-secondary.extrabar
            section.wiki-nav(tg-wiki-nav, ng-model="wikiLinks")
        section.main.backlog
            //Include views/components/mainTitle
            header
                h1
                    span(tg-bo-html="project.name")
                    span.green Wiki
                    span.green(tg-bo-html='wikiSlug')
                    a.button.button-green.save-wiki(href="", title="Save", ng-click="ctrl.save()") Save

            section.wysiwyg
                textarea(placeholder="Write a your wiki page", ng-model="wiki.content", tg-markitup)

            //include views/modules/attachments
