aside.profile-sidebar
    h4 Your profile
    p Lots of people could see what do you do and what are you working on. Add tags so you will give an enhanced version of your information.
    a.trans-button
        span Add info

    h4
        span.icon.icon-help
        span Hint

    p Did you know you can archive user Stories?
    p Archived User Stories help you organize better your columns and remove old cards.
        a(href="", title="visit our archived user stories support page")  If you want to know how to use it visit our archived user stories support page

