section.profile-bar
    div.profile-image-wrapper
        img.profile-img(src="http://i.imgur.com/gPiHzHN.jpg", alt="{{ user.nickname }}")
        div.edit-profile(title="Edit profile")
            a.profile-edition(title="Edit Profile", href="")
                span.icon.icon-edit
                span Edit Profile
    a.button-green
        span Follow
    div.profile-data
        h1 Silvia Rodríguez
        // If user has no defined role in its profile use all its project defined roles followed by an &
        h2 Backend Developer & Stackeholder
        div.location
            include ../../../svg/location.svg
            span Madrid
        // Remove Abuse Flag when a user is seeing itself
        a.flag(href="", title="Report Abuse")
            include ../../../svg/flag.svg
    // These values in profile stats are not defined yet in UX. Please ask
    div.profile-stats
        div.stat
            span.stat-number 3
            span.stat-name projects
        div.stat
            span.stat-number 67
            span.stat-name us done
        div.stat
            span.stat-number 34
            span.stat-name contacts
    // TODO Hide until organizations come
        div.profile-organizations
            h3 Organizations
            div.profile-organizations-wrapper
                div.organization
                div.organization
                div.organization
                div.organization

    div.profile-quote
        span "Small minds talk about people, average minds discuss events, great minds discuss ideas"
