section.profile-timeline(ng-controller="ProfileTimeline as ctrl")
    div(infinite-scroll="ctrl.loadTimeline()", infinite-scroll-distance="3", infinite-scroll-disabled='ctrl.loadingData')
        div(ng-repeat="timeline in ctrl.timelineList", tg-profile-timeline-item="timeline")
