
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

aside.profile-sidebar
    div(ng-if="::vm.isCurrentUser")
        h4(translate="USER.PROFILE_SIDEBAR.TITLE")
        p(translate="USER.PROFILE_SIDEBAR.DESCRIPTION")
        button.btn-big.edit-profile(tg-nav="user-settings-user-profile")
            span(translate="USER.PROFILE_SIDEBAR.ADD_INFO")

    div.profile-hints(tg-profile-hints)
