div.activity-image
    span.activity-date {{::vm.activity.created_formated}}
    div.activity-info
        div.profile-contact-picture
            a(tg-nav="user-profile:username=vm.activity.user.username", title="{{::vm.activity.user.name }}")
                img(ng-src="{{::vm.activity.user.photo}}", alt="{{::vm.activity.user.name}}")

        p(tg-compile-html="vm.activity.title")

    blockquote.activity-comment-quote(ng-if="::vm.activity.description")
        p(ng-bind-html="vm.activity.description")

    .activity-member-view(ng-if="::vm.activity.member")
        .profile-member-picture
            img(ng-src="{{::vm.activity.member.user.photo}}", alt="{{::vm.activity.member.user.name}}")
        .activity-member-info
            a(tg-nav="user-profile:username=vm.activity.member.user.username", title="{{::vm.activity.member.user.name }}")
                span {{::vm.activity.member.user.name}}
            p {{::vm.activity.member.role.name}}

div(ng-repeat="attachment in vm.activity.attachments")
        div(tg-profile-timeline-attachment="vm.attachment")
