.search-list {
    .show-closed {
        align-content: center;
        align-items: center;
        display: flex;
        float: right;
        font-size: .9em;
        svg {
            height: 1em;
            margin-right: .25em;
            width: 1em;
        }
    }
    ul {
        background: $mass-white;
        border: 1px solid $gray-light;
        height: 200px;
        margin: .25em 0 0;
        max-height: 200px;
        overflow-y: auto;
    }
    .choice {
        cursor: pointer;
        padding: .25em .5em;
        &.selected {
            background: $yellow-green;
            color: $white;
            .info {
                color: $white;
            }
        }
        &[disabled] {
            color: $gray-lighter;
            cursor: not-allowed;
            .info {
                color: $gray-lighter;
            }
        }
        ng-include {
            display: flex;
            width: 100%;
            .title {
                flex-grow: 1;
                text-align: left;
            }
            .info {
                color: $gray-light;
                text-align: right;
            }
        }
        .title span {
            margin-right: .5em;
        }
    }
}
