.us-activity {
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.activity-title {
    display: block;
    padding: .5rem;
    &:hover {
        .icon {
            @include transform(rotate(180deg));
            @include transition(all.2s linear);
            color: $green-taiga;
        }
    }
    .icon {
        @include transform(rotate(0));
        @include transition(all.2s linear);
        color: $grayer;
        float: right;
    }
}

.activity-inner {
    @include table-flex;
    border-bottom: 1px solid $gray-light;
    padding: 1rem 0;
    &:last-child {
        border-bottom: 0;
    }
    .activity-changed,
    .activity-fromto {
        @include table-flex-child(1, 50px, 0);
    }
    .activity-changed {
        @extend %bold;
    }
    .activity-fromto {
        @extend %small;
    }
}

.activity-single {
    @include table-flex;
    border-bottom: 2px solid $gray-light;
    padding: 2rem 0;
    position: relative;
    &:first-child {
        margin-top: 0;
    }
    .username {
        color: $green-taiga;
        margin-bottom: 1rem;
    }
    .activity-user {
        @include table-flex-child(1, 50px, 0);
        img {
            max-width: 70px;
            width: 100%;
        }
    }
    .activity-username {
        border-bottom: 1px dotted $gray-light;
        color: $green-taiga;
        margin-bottom: 1rem;
    }
    .activity-content {
        @include table-flex-child(20, 150px, 0);
    }
    .us-activity {
        background: $whitish;
        .activity-inner {
            display: none;
        }
    }
    .date {
        @extend %small;
        color: $gray-light;
        margin-left: 1rem;
    }
}

.more-activity {
    @extend %small;
    border-bottom: 1px solid $gray-light;
    color: $gray-light;
    display: block;
    padding: 1rem;
    .prev-activity-num {
        color: $green-taiga;
        margin-left: .5rem;
    }
}
