.backlog-table-header,
.backlog-table-body {
    @include table-flex();
    width: 100%;
    .row {
        @include table-flex();
        padding: 1rem 0 1rem 1rem;
        text-align: left;
        width: 100%;
    }
    .row { //Previously table-main
        @extend %small;
        border-bottom: 1px solid $gray-light;
    }
    .backlog-table-title,
    .backlog-table-subtitle,
    .row {
        &:hover {
            background: transparent;
        }
        .user-stories {
            @include table-flex-child(20, 100px, 0, 0);
        }
        .status {
            @include table-flex-child(2, 100px, 0, 0);
        }
        .points {
            @include table-flex-child(1, 100px, 0, 0);
        }
    }
    .status,
    .points {
        position: relative;
    }
    .pop-role {
        @include popover(150px, '', 30px, 10px, '');
    }
    .pop-status {
        @include popover(150px, '', 30px, 10px, '');
    }
    .pop-points {
        @include popover(150px, '', 30px, 10px, '');
    }
    .pop-points-open {
        @include popover(200px, '', 30px, 10px, '');
        li {
            display: inline-block;
            width: 23%;
        }
        a {
            display: block;
            text-align: center;
            &:hover {
                background: $fresh-taiga;
                color: $white;
            }
        }
    }
}

.backlog-table-header {
    .backlog-table-title {
        @extend %medium;
        font-family: 'DroidSans-Bold';
    }
    .backlog-table-subtitle {
        @extend %small;
        background: $whitish;
        border-bottom: 2px solid $grayer;
        font-family: 'DroidSans';
        &:hover {
            background: $whitish;
        }
    }
}

.backlog-table-body {
    .row {
        &:hover {
            @include transition (background .2s ease-in);
            background: lighten($green-taiga, 60%);
            .us-settings {
                @include transition (opacity .2s ease-in);
                opacity: 1;
            }
        }
    }
    .row-selected {
        @include transition (background .2s ease-in);
        background: lighten($green-taiga, 60%);
    }
    .user-story-name {
        flex-basis: 500px;
        input {
            vertical-align: top;
        }
        span {
            display: inline-block;
            max-width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .icon {
            color: $gray-light;
            &:hover {
                color: $grayer;
                @include transition (color .3s linear);
            }
        }
    }
    .user-story-tags {
        display: none;
        margin-top: .3rem;
    }
    .blocked {
        background: $red-light;
        color: $white;
        &:hover {
            background: $red;
            @include transition (background .2s ease-in);
        }
        a {
            color: $white;
            &:hover {
                color: $white;
            }
        }
        .icon {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
    .doom-line {
        background: $red;
        border-bottom: 2px solid lighten($red, 10%);
        border-top: 2px solid darken($red, 10%);
        height: 4px;
        margin: .5rem 0;
        width: 100%;
    }
    .us-settings {
        float: right;
        margin-right: 2rem;
        opacity: 0;
        @include transition (opacity .2s ease-in);
    }
}
