.category-config {
    border-bottom: 1px solid $gray-light;
    &:first-child {
        border-top: 1px solid $gray-light;
    }
    .resume {
        @include table-flex();
        cursor: pointer;
        padding: 1rem;
        position: relative;
    }
    .resume-title {
        @include table-flex-child(1, 280px, 0);
    }
    .count {
        @include table-flex-child(1, 0, 0);
        color: $gray-light;
    }
    .summary-role {
        @include table-flex-child(3, 280px, 0);
        .role-summary-single {
            background: $gray-light;
            display: inline-block;
            height: 20px;
            margin-right: .1rem;
            width: 15px;
            &.active {
                background: $green-taiga;
            }
            &.inactive {
                background: $gray;
            }
        }
    }
    .icon {
        @include table-flex-child(1, 0, 0);
        @extend %xlarge;
        text-align: right;
    }
    .category-items {
        background-color: $whitish;
        padding: 2rem 1rem;
        width: 100%;
    }
    .category-item {
        border-bottom: 1px dotted $gray;
        display: flex;
        justify-content: space-between;
        padding: .5rem .5rem .5rem 2rem;
        &:last-child {
            border-bottom: 0;
        }
    }
}
