.create-project {
    @extend %triangled-bg;
    align-content: center;
    align-items: center;
    bottom: 0;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    fieldset {
        margin-bottom: 1rem;
    }
    .create-project-container {
        flex-basis: 400px;
        flex-grow: 0;
    }
    h1 {
        color: $white;
        text-align: center;
    }
    .logo,
    .tagline {
        margin-bottom: 1rem;
        text-align: center;
    }
    .tagline {
        @extend %xlarge;
        @extend %title;
        color: $white;
        line-height: 2rem;
        text-transform: uppercase;
    }
    form {
        margin-bottom: 2rem;
    }
    input {
        background: $white;
        @include placeholder {
            color: $gray-light;
        }
    }
    .button {
        color: $white;
        display: block;
        margin-bottom: .5rem;
        text-align: center;
        &:hover {
            background: $fresh-taiga;
       }
    }
    a {
        &:hover {
            color: $white;
        }
    }
}
