.home-projects-list {
    background: url('/images/invitation_bg.jpg') no-repeat center center;
    background-size: cover;
    a {
        @extend %large;
        @extend %title;
        color: $whitish;
        display: block;
        padding: 1rem;
        text-transform: uppercase;
        &.active,
        &:hover {
            @include transition (background-color .3s linear);
            background-color: $gray;
            .icon {
                @include transition (opacity .3s linear);
                opacity: 1;
            }
        }
    }
    li {
        border-bottom: 2px solid $gray;
        &:last-child {
            border-bottom: 0;
        }
    }
    ul {
        background-color: #232323;
        padding: 1rem;
        width: 50%;
    }
    .icon {
        color: $whitish;
        float: right;
        opacity: 0;
    }
}
