.home-projects-list,
.home-project {
    @extend %backgound-taiga;
    background-color: $black;
    @include table-flex(center, center, flex, row, wrap, center);
    background-position: center center;
    background-size: cover;
    height: 100%;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.home-projects-wrapper {
    @include table-flex-child(0, 1200px, 0, 1200px);
}

.home-projects-list-inner {
    @include table-flex();
}

.recent-projects {
    @include table-flex-child(8, 0, 0, 800px);
    ul {
        @include table-flex();
        margin: 0;
        padding: 0;
    }
    li {
        @include table-flex-child(1, 230px, 0, 23.5%);
        @include transition(background-color .3s linear);
        background-color: rgba($white, .5);
        color: $whitish;
        margin-bottom: 1rem;
        margin-right: 1rem;
        overflow: hidden;
        padding: 1rem;
        position: relative;
        &:hover {
            @include transition(background-color .3s linear);
            background-color: rgba($fresh-taiga, .5);
            cursor: pointer;
            p {
                @include transition(color .3s linear);
                color: $gray-light;
            }
        }
    }
    h2 {
        color: $whitish;
        line-height: 2rem;
    }
    p {
        @include transition(color .3s linear);
        color: $grayer;
    }
}

.all-projects {
    @include table-flex-child(1, 285px, 0, 285px);
    background-color: rgba(0, 0, 0, .5);
    margin-left: 1rem;
    padding: 1rem;
    h1 {
        color: $whitish;
        text-align: center;
    }
    .v-pagination-list {
        height: 385px;
    }
    ul {
        left: 0;
        margin-bottom: 0;
        position: relative;
        top: 0;
        width: 100%;
    }
    li {
        border-bottom: 2px solid $gray;
        a {
            @extend %large;
            @extend %title;
            color: $whitish;
            display: block;
            padding: 1rem;
            text-transform: uppercase;
            width: 100%;
            &.active,
            &:hover {
                @include transition (background-color .3s linear);
                background-color: $gray;
                .icon {
                    @include transition (opacity .3s linear);
                    opacity: 1;
                }
            }
        }
    }
    .create-project-button-wrapper {
        position: relative;
        width: 100%;
    }
    .button-green {
        color: $whitish;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        &:hover {
            color: $whitish;
        }
    }
    .v-pagination-next {
        margin-bottom: 1rem;
    }
}
