.issues-table {
    @include table-flex();
    .row {
        &:hover {
            background: lighten($green-taiga, 60%);
            @include transition (background .2s ease-in);
        }
    }
    .row-selected {
        background: lighten($green-taiga, 60%);
        @include transition (background .2s ease-in);
    }
    .title {
        @extend %medium;
        @extend %bold;
        border-bottom: 1px solid $gray-light;
        &:hover {
            background: transparent;
        }
    }
    .table-main {
        @extend %small;
        border-bottom: 1px solid $gray-light;
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            flex-basis: 35px;
        }
        figcaption {
            margin-left: 1rem;
        }
    }
    .level {
        background-color: $gray-light;
        border-radius: 9px;
        height: 18px;
        margin: 0 auto;
        width: 18px;
    }
    .level-field {
        @include table-flex-child(1, 50px, 0, 50px);
        text-align: center;
    }
    .subject {
        @include table-flex-child(7, 300px, 0, 300px);
        padding-right: 1rem;
    }
    .issue-field,
    .assigned-field {
        @include table-flex-child(1, 150px, 0, 150px);
        padding: 0 1rem;
        text-align: left;
    }
}
