.issues-table {
    .row {
        &:hover {
            background: lighten($green-taiga, 60%);
            @include transition (background .2s ease-in);
        }
    }
    .row-selected {
        background: lighten($green-taiga, 60%);
        @include transition (background .2s ease-in);
    }
    .title {
        @extend %medium;
        border-bottom: 1px solid $gray-light;
        font-family: 'DroidSans-Bold';
        &:hover {
            background: transparent;
        }
    }
    .table-main {
        @extend %small;
        border-bottom: 1px solid $gray-light;
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            flex-basis: 35px;
        }
        figcaption {
            margin-left: 1rem;
        }
    }
    .level {
        background-color: $gray-light;
        border-radius: 9px;
        height: 18px;
        margin: 0 auto;
        width: 18px;
    }
    .level-field {
        text-align: center;
    }
    .subject {
        padding-right: 1rem;
    }
}
