//Table basic shared vars

$column-width: 300px;
$column-flex: 1;
$column-shrink: 0;
$column-margin: 0 10px 0 0;

.kanban-table {
    overflow: hidden;
    width: 100%;
}

.kanban-table-header {
    @include table-flex();
    margin-bottom: .5rem;
    overflow: hidden;
    width: 100%;
    .task-colum_name {
        @include table-flex-child($column-flex, $column-width, $column-shrink, $column-width);
        @extend %large;
        background: $whitish;
        margin: $column-margin;
        padding: .5rem 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        &:last-child {
            margin-right: 0;
        }
        .icon {
            @include transition(color .2s linear);
            color: $gray-light;
            position: absolute;
            right: .5rem;
            top: .5rem;
            &:hover {
                color: $green-taiga;
            }
        }
    }
}

.kanban-table-body {
    height: 700px;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    .task-column {
        @include table-flex-child($column-flex, $column-width, $column-shrink, $column-width);
        margin: $column-margin;
        overflow-y: auto;
        padding: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
    .taskboard_task-playground {
        background: $whitish;
    }
}

.kanban-table-inner {
    @include table-flex(stretch, stretch, flex, row,  nowrap, flex-start);
}
