.lightbox {
    @include background-opacity($white, .95);
    @include table-flex(center, center, flex, row, wrap, center);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    .close {
        @extend %large;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }
    .title {
        text-align: center;
    }
    input,
    select {
        margin-bottom: 1rem;
    }
    textarea {
        resize: vertical;
    }
    .button-green {
        display: block;
        padding: 12px;
        text-align: center;
    }
}

.lightbox_add-new-us {
    form {
        @include table-flex-child(0, 600px, 0, 600px);
    }
    fieldset {
        position: relative;
    }
    .markdown-preview {
        display: inline-block;
        margin-bottom: .5rem;
        a {
            @extend %button;
            @extend %small;
            color: $gray-light;
            padding: 3px 20px;
            &:first-child {
                border-right: 1px solid $gray-light;
            }
            &:hover {
                color: $grayer;
                @include transition(color .2s linear);
            }
        }
        .active {
            color: $grayer;
        }
    }
    textarea {
        margin-bottom: 1rem;
        max-height: 9rem;
        min-height: 7rem;
    }
    .new-us-settings {
        align-content: flex-start;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 1rem;
        fieldset {
            flex-basis: 30%;
            flex-grow: 1;
            flex-shrink: 0;
            margin-right: .5rem;
            text-align: center;
            &:last-child {
                margin: 0;
            }
        }
        label {
            @extend %button;
            @include transition(all .2s ease-in);
            border: 1px solid $gray-light;
            cursor: pointer;
            display: block;
            padding: 7px 30px;
        }
        .requirement,
        .iocaine {
            &:hover {
                @include transition(all .2s ease-in);
                background: $fresh-taiga;
                border: 1px solid $fresh-taiga;
                color: $white;
            }
            &.selected {
                @include transition(all .2s ease-in);
                background: $green-taiga;
                border: 1px solid $green-taiga;
                color: $white;
            }
        }
        .blocked {
            &:hover {
                @include transition(all .2s ease-in);
                background: $red-light;
                border: 1px solid $red-light;
                color: $white;
            }
            &.selected {
                @include transition(all .2s ease-in);
                background: $red;
                border: 1px solid $red;
                color: $white;
            }
        }
        input[type="checkbox"] {
            display: none;
        }
    }
}

.lightbox_add-bulk {
    form {
        @include table-flex-child(0, 600px, 0, 600px);
    }
    textarea {
        margin-bottom: 1rem;
        max-height: 12rem;
        min-height: 15rem;
    }
}

.ligbox_add-member {
    display: none;
    fieldset {
        @include clearfix;
        margin-bottom: 1rem;
    }
    input[type=email],
    select {
        float: left;
        margin-bottom: 0;
    }
    input[type=email] {
        width: 430px;
    }
    select {
        margin-left: .5rem;
        width: 255px;
    }
    .icon {
        @extend %large;
        float: left;
        line-height: 40px;
        margin-left: .5rem;
    }
    .icon-delete {
        &:hover {
            color: $red;
        }
    }
    .button {
        margin-top: 2rem;
    }
    .help-text {
        @extend %small;
        padding: .5rem 1rem;
    }
}

.lightbox_add-sprint {
    form {
        @include table-flex-child(0, 600px, 0, 600px);
    }
    .sprint-name {
        &:focus {
            &+.last-sprint-name {
                @include transition (opacity .3s linear);
                opacity: 0;
            }
        }
    }
    .last-sprint-name {
        @include transition (opacity .3s linear);
        color: $gray;
        opacity: 1;
        position: absolute;
        right: 1rem;
        top: .5rem;
    }
    .dates {
        margin-bottom: 1rem;
        input {
            float: left;
            margin-right: 1%;
            width: 49%;
            &:last-child {
                margin: 0;
                width: 50%;
            }
        }
    }
}

.lightbox_confirm-delete {
    form {
        @include table-flex-child(0, 420px, 0, 420px);
    }
    .delete-question,
    .subtitle {
        display: block;
        line-height: 2rem;
        text-align: center;
    }
    .subtitle {
        @extend %large;
        @extend %title;
    }
    .delete-options {
        @include table-flex();
        a {
            @include table-flex-child(1, 0, 0);
            padding: 8px 0;
            text-align: center;
        }
    }
}


.lightbox-generic-error {
    section {
        @include table-flex-child(0, 420px, 0, 420px);
    }
    .delete-options {
        @include table-flex();
        a {
            @include table-flex-child(1, 0, 0);
            padding: 8px 0;
            text-align: center;
        }
    }
}

