.list-filters {
    align-items: center;
    background-color: $whitish;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    ul {
        display: flex;
        margin-bottom: 0;
    }
    li {
        margin-right: 2rem;
        a {
            @extend %large;
            font-family: 'ostrichSans';
            opacity: .4;
            &.active,
            &:hover {
                @include transition (opacity .3s linear);
                color: $blackish;
                opacity: 1;

            }
        }
        .icon {
            padding-right: .5rem;
        }
    }
}
