.menu {
    background-attachment: fixed;
    background-image: url('../images/menu.png');
    background-position: left bottom;
    flex-wrap: wrap;
    font-family: 'ostrichSans';
    height: 100%;
    padding: 2rem .3rem;
    position: fixed;
    width: 90px;
}

.logo {
    margin-bottom: 2rem;
    img {
        width: 100%;
    }
}

.main-nav {
    list-style: none;
    padding: 0;
    position: relative;
    text-align: center;
    li {
        margin-bottom: 1rem;
    }
    a {
        color: $white;
        display: block;
        text-align: center;
        &:hover {
            @include transition (color .3s linear);
            color: $fresh-taiga;
        }
        span {
            display: block;
        }
        .icon {
            @extend %xlarge;
            line-height: 2.2rem;
        }
        .item {
            @extend %large;
        }
    }
    .active {
        @include transition (color .3s linear);
        color: $fresh-taiga;
    }
}

.user {
    bottom: 1rem;
    padding: 0 10px;
    position: absolute;
    width: 80px;
    .popover {
        @include popover(150px, '', 30px, 30px);
        a {
            @extend %small;
            color: $white;
            text-align: left;
            &:hover {
                @include transition (color .2s linear);
                color: $fresh-taiga;
            }
        }
    }
    .user-settings {
        position: relative;
        img {
            border: 1px solid transparent;
            border-radius: 50%;
            width: 100%;
            &:hover {
                @include transition (all .6s ease-in-out);
                border: 2px solid $fresh-taiga;
            }
        }
    }
    .settings {
        text-align: center;
        a {
            color: $whitish;
            margin-right: .5rem;
            &:hover {
                @include transition (color .3s linear);
                color: $fresh-taiga;
            }
        }
    }
}
