.menu {
    width: 90px;
    background-image: url("../images/menu.png");
    background-attachment: fixed;
    background-position: left bottom;
    flex-wrap: wrap;
    padding: 2em .3em;
    font-family: 'ostrichSans';
    height: 100%;
    position: fixed;
}

.logo {
    margin-bottom: 1em;
    img {
        width: 100%;
    }
}

.main-nav {
    text-align: center;
    margin-bottom: 3em;
    list-style: none;
    padding: 0;
    position: relative;
    li {
        margin-bottom: 1em;
    }
    a {
        color: $white;
        display: block;
        text-align:center;
        &:hover {
            @include transition (color .3s linear);
            color: $freshTaiga;
        }
        span {
            display: block;
        }
        .icon{
            @extend .xlarge;
            line-height: 2.2rem;
        }
        .item {
            @extend .large;
        }
    }
    .active {
        @include transition (color .3s linear);
        color: $freshTaiga;
    }
}

.user-settings {

}

.user {
    width: 80px;
    padding: 0 10px;
    position: absolute;
    bottom: 1em;
    .popover {
        @include popover(150px, "", 30px, 30px);
        a{
            text-align: left;
            @extend .small;
            color: $white;
            &:hover {
                color: $freshTaiga;
                @include transition (color .2s linear);
            }
        }
    }
    .user-settings{
        position: relative;
        img{
          border: 1px solid transparent;
          width: 100%;
          border-radius: 50%;
          &:hover {
              border: 2px solid $freshTaiga;
              @include transition (all .6s ease-in-out);
          }
        }
    }
    .settings {
        text-align: center;
        a {
            margin-right: .5em;
            color: $whitish;
            &:hover {
                @include transition (color .3s linear);
                color: $freshTaiga;
            }
        }
    }
}
