.project-details {
    input[type="text"],
    textarea {
        @extend %title;
        background-color: $very-light-gray;
    }
    fieldset {
        margin-bottom: 1rem;
    }
    textarea {
        height: 300px;
    }
    .button-green {
        display: block;
        padding: 12px;
        text-align: center;
    }
    .half {
        width: 45%;
    }
}
