.search-filter {
    ul {
        border-bottom: 3px solid $gray-light;
        display: flex;
        padding-bottom: .5rem;
    }
    li {
        margin-right: 1rem;
    }
    a {
        @extend %large;
        @extend %title;
        opacity: .2;
        &.active,
        &:hover {
            @include transition (opacity .3s linear);
            color: $blackish;
            opacity: 1;
        }
    }
    .icon {
        margin-right: .4rem;
    }

    span.name {
        padding-left: 5px;
    }
}
