.sprints {
    .summary {
        background: $gray-light;
        @include clearfix;
        ul {
            width: 40%;
        }
        li {
            color: $grayer;
        }
    }
    .new-sprint {
        float: right;
    }
    .sprint-name {
        @extend %large;
        display: inline-block;
        font-family: 'ostrichSans';
        margin-right: 3px;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }
    .sprint-date {
        @extend %large;
        color: $gray-light;
        font-family: 'ostrichSans';
    }
    .sprint {
        margin-bottom: 2rem;
        .sprint-summary {
            display: inline-block;
            width: 65%;
        }
        .icon {
            display: inline-block;
            &:hover {
                @include transform(rotate(180deg));
                @include transition (all .2s ease-in);
            }
        }
        .number {
            @extend %large;
        }
        .description {
            @extend %xsmall;
            line-height: .6rem;
            margin-top: 5px;
        }
        ul {
            float: right;
            width: 32%;
        }
        li {
            display: inline-block;
            &:first-child {
                margin-right: 3px;
            }
        }
    }
    .sprint-progress-bar {
        background: $gray-light;
        border-radius: 2px;
        height: 8px;
        margin-bottom: 0;
        margin-top: .5rem;
        position: relative;
        width: 100%;
        .current-progress {
            background: $green-taiga;
            border-radius: 2px;
            height: 8px;
            left: 0;
            position: absolute;
            top: 0;
            width: calc(30% - 4px);
        }
    }
    .sprint-table {
        align-content: stretch;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        @for $i from 1 through 8 {
            .width-#{$i} {
                flex-basis: 50px;
                flex-grow: $i;
                flex-shrink: 0;
            }
        }
        .row {
            align-content: stretch;
            align-items: stretch;
            border-bottom: 1px solid $gray-light;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            padding: .5em 0;
            text-align: left;
            width: 100%;
            &:hover {
                background: lighten($gray-light, 12%);
                @include transition (background .2s ease-in);
                cursor: move;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        .column-us {
            @extend %small;
            padding: 0 4px;
        }
        .us-name {
            @include ellipsis(250px);
            display: block;
        }
        .column-points {
            padding: 0 4px;
            text-align: right;
        }
    }
    .button {
        display: block;
        text-align: center;
    }
}

// If Sprint is open but date is old
.sprint-old-open {
    .sprint-summary {
        .icon {
            @include transform(rotate(180deg));
            &:hover {
                @include transform(rotate(0));
                @include transition (all .2s ease-in);
            }
        }
    }
    .sprint-table {
        display: none;
    }
}

// If sprint is closed and date is old
.sprint-closed {
    .sprint-summary {
        .icon {
            @include transform(rotate(180deg));
            &:hover {
                @include transform(rotate(0));
                @include transition (all .2s ease-in);
            }
        }
    }
    .number,
    .description {
        color: $gray-light;
    }
    .sprint-progress-bar {
        .current-progress {
            background: darken($gray-light, 10%);
        }
    }
    .sprint-table {
        display: none;
    }
}
