.wiki-link {
    @include font-type(text);
    align-items: center;
    border-bottom: 1px solid $gray-light;
    cursor: move;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    text-transform: uppercase;
    &:hover {
        .remove-wiki-page {
            cursor: pointer;
            opacity: 1;
            transition: opacity .2s linear;
            transition-delay: .2s;
        }
        .dragger {
            cursor: move;
            fill: $gray-light;
            opacity: 1;
            transition: opacity .2s linear;
            transition-delay: .2s;
        }
    }
    .dragger {
        margin-right: .5rem;
        opacity: 0;
        svg {
            @include svg-size(.9rem);
        }
    }
    .remove-wiki-page {
        opacity: 0;
        &:hover {
            .icon {
                fill: $red;
            }
        }
    }
    .link-title {
        cursor: pointer;
        flex-grow: 1;
    }
    .icon-trash {
        fill: $gray-light;
    }
}

.wiki-nav {
    .add-button {
        color: $white;
        display: block;
        margin-bottom: .5rem;
        text-align: center;
    }
    input[type="text"] {
        @include font-type(text);
        @include font-size(medium);
        background: $grayer;
        color: $whitish;
        @include placeholder {
            color: $gray-light;
        }
    }
    .loading {
        margin: 0;
        padding: 8px;
        text-align: center;
        width: 100%;
    }
}
