.wiki-summary {
    @include clearfix();
    figure {
        float: left;
        margin-right: .5rem;
        vertical-align: sub;
        width: 32px;
    }
    ul {
        @include display(flex);
        @include align-items(flex-start);
        @include flex-direction(row);
        @include justify-content(flex-start);
    }
    .username-edition {
        min-width: 240px;
        span {
            display: block;
            float: none;
        }
        .username {
            @extend %large;
            color: $fresh-taiga;
            white-space: nowrap;
        }
    }
    .button {
        color: $white;
        float: right;
    }
}
