.wiki-nav {
    li {
        @extend %large;
        @extend %title;
        border-bottom: 1px solid #cdcdcd;
        text-transform: uppercase;
        &:hover {
            .icon {
                @include transition (opacity 1s linear);
                opacity: 1;
            }
        }
        a {
            display: block;
            padding: 1rem 0 1rem 1rem;
            span {
                cursor: pointer;
            }
        }
        .icon {
            @include transition (opacity 1s linear);
            color: $blackish;
            float: right;
            opacity: 0;
        }
        input {
            background: $grayer;
            color: $whitish;
            @include placeholder {
                color: $gray-light;
            }
        }
        &.loading {
            background: $grayer;
            border: 1px solid #b8b8b8;
            margin: 0;
            padding: 8px;
            text-align: center;
            width: 100%;
            .icon-spinner {
                float: none;
                color: $whitish;
            }
            span {
                @include animation (loading .5s linear);
                @include animation (spin 1s linear infinite);
            }
        }
    }
    .button {
        color: $white;
        display: block;
        margin-bottom: .5rem;
        text-align: center;
    }
}
