.contact-team {
    margin-left: .75rem;
    &-large {
        @include font-size(small);
        @include font-type(light);
        justify-content: center;
        margin-left: 0;
        width: 100%;
        .icon-mail {
            margin-right: .5rem;
            vertical-align: center;
        }
    }
}
