.lb-select-user-form {
    margin: 0 .5rem;

    .lb-select-user-list {
        max-height: 28.5rem;
        overflow-y: auto;
    }
}

.lb-select-user-actions {
    margin: 2rem 0 0;
    text-align: center;
}

.lb-select-user-confirm {
    border-radius: 0;
    margin: 0 auto;
    min-width: 10rem;
}

.lb-select-user-link-back {
    color: $primary;
    text-transform: uppercase;
    &:hover {
        color: $primary-light;
    }
}
