doctype html

div.error-main
    div.error-container
        object.logo-svg(type="image/svg+xml", data="/svg/logo.svg")
            img(src="/#{v}/images/logo.png", alt="TAIGA")
        h1.logo Taiga
        p.error-text(translate="ERROR.TEXT1")
        a(href="/", title="", translate="COMMON.GO_HOME")
