doctype html

div.error-main
    div.error-container
        img(src="/#{v}/svg/logo.svg", alt="TAIGA")
        h1.logo Taiga
        p.error-text(translate="ERROR.TEXT1")
        a(href="/", title="", translate="COMMON.GO_HOME")
