doctype html

div.error-main
    div.error-container
        img(src="/#{v}/svg/logo.svg", alt="TAIGA")
        h1.logo(translate="ERROR.NOT_FOUND")
        p.error-text(translate="ERROR.NOT_FOUND_TEXT")
        a(href="/", title="", translate="COMMON.GO_HOME")
