doctype html

div.error-main
    div.error-container
        object.logo-svg(type="image/svg+xml", data="/#{v}/svg/logo.svg")
            img(src="/#{v}/images/logo.png", alt="TAIGA")
        h1.logo(translate="ERROR.NOT_FOUND")
        p.error-text(translate="ERROR.NOT_FOUND_TEXT")
        a(href="/", title="", translate="COMMON.GO_HOME")
