.profile-favorites {
    border-top: 1px solid $whitish;
    display: flex;
    flex-direction: column;
    .profile-favorites-filters {
        align-self: flex-start;
        display: flex;
        a {
            border-bottom: 2px solid $white;
            color: $gray-light;
            display: inline-block;
            padding: 1rem 1.5rem;
            transition: all .2s linear;
            &:hover,
            &.active {
                border-bottom: 2px solid $gray-light;
                color: $green-taiga;
            }
        }
    }
}
