div.navbar-dropdown.dropdown-user
    ul
        li
            a(href="#", title="{{ user.fullname }} profile") View Profile
        li
            a(href="#", title="Edit your profile") Edit Profile
        li
            a(href="#", title="Edit your organizations") Edit Organizations
        li
            a(href="#", title="Edit your settings") Settings
        li
            a(href="#", title="Edit your notifications") Notifications
        li
            a(href="#", title="Send feedback") Feedback
        li
            a(href="#", title="Go to support") Help
        li
            a(href="#", title="Logout") Logout

