div.navbar-dropdown.dropdown-organization-list
    ul
        - for (var x = 0; x < 4; x++)
            li
                a(href="#", title="{{ project.title }}") Organization 1
    a.create-organization-btn.button-green(href="#", title="Create Organization") Create Organization
