nav.navbar
    div.nav-left
        img.logo(src="svg/logo-nav.svg", alt="Taiga")
        a(href="#", title="Discover trending projects") Discover
        a(href="#", title="Taiga Support Page") Help
    div.nav-right
        a(href="", title="Dashboard") Dashboard
        a(href="", title="Projects") Projects
            //ul.dropdown.projects-list
            //    li
            //        a(href="#", title="{{ project-name }}") Project Name
            //    li
            //        a(href="#", title="{{ project-name }}") Project Name
            //    li
            //        a(href="#", title="{{ project-name }}") Project Name
            //    li
            //        a(href="#", title="{{ project-name }}") Project Name

        a(href="#", title="Organizations") Organizations
        a(href="#", title="{{ user.fullname }} profile")
            span Sebastián Sanchís
            img(src="#", alt="{{ user.fullname }} picture")
