nav.navbar
    div.nav-left
        a.logo(href="#", title="Dashboard")
            include ../../../../svg/logo.svg
        a(href="#", title="Discover trending projects") Discover
        a(href="#", title="Taiga Support Page") Help
    div.nav-right
        a(href="", title="Dashboard")
            include ../../../../svg/dashboard.svg
        div.top-nav-dropdown
            a(href="", title="Projects")
                include ../../../../svg/projects.svg
            ul.project-list
                - for (var x = 0; x < 5; x++)
                    li
                        a(href="#", title="{{ project.title }}") Project 1
        a(href="#", title="Organizations")
            include ../../../../svg/organizations.svg
        a.user-avatar(href="#", title="{{ user.fullname }} profile")
            span Sebastián Sanchís
            img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg", alt="{{ user.fullname }} picture")
