extends lightbox-generic-notion

block title
    About User Story (US) Points:

block content
    p
        | Most people start off with 1 point = 1 man day of effort. If you're new to scrum & agile start there.
    p
        | After the first week if you and your team expected to accomplish 25 points (i.e. 5 people 5 full days)
        | and only got half done, learn from your findings, and adjust expectations for the following week.
        | By doing so you'll learn your teams true 'velocity.'
