a.close(href="", title="close")
    span.icon.icon-delete

section
    h2.title
        block title

    block content

    div.options
        a.button-green(href="", title="Accept")
            span Accept
