section.attachments
    .attachments-header
        h3.attachments-title
            span.attachments-num(tg-bind-html="ctrl.attachmentsCount")
            span.attachments-text attachments
        .add-attach(tg-check-permission!="modify_<%- type %>", title!="Add new attachment. <%- maxFileSizeMsg %>")
            <% if (maxFileSize){ %>
            span.size-info.hidden [Max. size:  <%- maxFileSize %>]
            <% }; %>
            label(for="add-attach", class="icon icon-plus related-tasks-buttons")
            input(id="add-attach", type="file", multiple="multiple")

    .attachment-body.sortable
        .single-attachment(ng-repeat="attach in ctrl.attachments|filter:ctrl.filterAttachments track by attach.id" tg-attachment="attach")

        .single-attachment(ng-repeat="file in ctrl.uploadingAttachments")
            .attachment-name
                a(href="", tg-bo-title="file.name", tg-bo-bind="file.name")
            .attachment-size
                span.attachment-size(tg-bo-bind="file.size")
            .attachment-comments
                span(ng-bind="file.progressMessage")
                .percentage(ng-style="{'width': file.progressPercent}")

        a.more-attachments(href="", title="show deprecated atachments", ng-if="ctrl.deprecatedAttachmentsCount > 0")
            span.text(data-type="show") + show deprecated atachments
            span.text.hidden(data-type="hide")
                | - hide deprecated atachments
            span.more-attachments-num
                | ({{ctrl.deprecatedAttachmentsCount }} deprecated)
