.attachment-name
    a(href!="<%- url %>", title!="<%- title %>", target="_blank")
        span.icon.icon-documents
        span <%- name %>
.attachment-size
    span <%- size %>

.attachment-comments
    <% if (isDeprecated){ %>
    span.deprecated-file {{ 'ATTACHMENT.DEPRECATED' | translate}}
    <% } %>
    span <%- description %>

<% if (modifyPermission) {%>
.attachment-settings
    a.settings.icon.icon-edit(href="", title="{{'COMMON.EDIT' | translate}}")
    a.settings.icon.icon-delete(href="", title="{{'COMMON.DELETE' | translate}}")
    a.settings.icon.icon-drag-v(href="", title="{{'COMMON.DRAG' | translate}}")
<% } %>
