.attachment-name
    span.icon.icon-document
    a(href!="<%- url %>", title!="{{ 'ATTACHMENT.TITLE' | translate}}", target="_blank")
        | <%- name %>
.attachment-size
    span <%- size %>

.editable.editable-attachment-comment
    input(type="text", name="description", maxlength="140",
        value!="<%- description %>", placeholder="{{'ATTACHMENT.DESCRIPTION' | translate}}")

.editable.editable-attachment-deprecated
    input(type="checkbox", name="is-deprecated",
        id!="attach-<%- id %>-is-deprecated")
    label(for!="attach-<%- id %>-is-deprecated", translate="{{'ATTACHMENT.DEPRECATED_FILE' | translate}}")

.attachment-settings
    a.editable-settings.icon.icon-floppy(href="", title="{{'COMMON.SAVE' | translate}}")
    a.editable-settings.icon.icon-delete(href="", title="{{'COMMON.CANCEL' | translate}}")
