section.attachments
    .attachments-header
        h3.attachments-title
            span.attachments-num(tg-bind-html="ctrl.attachmentsCount")
            span.attachments-text(translate="ATTACHMENT.SECTION_NAME")
        .add-attach(tg-check-permission!="modify_<%- type %>", title!="{{'ATTACHMENT.ADD' | translate}}")
            <% if (maxFileSize){ %>
            span.size-info.hidden(translate="ATTACHMENT.MAX_FILE_SIZE", translate-values!="{ 'maxFileSize': '<%- maxFileSize %>'}")
            <% }; %>
            label(for="add-attach", class="icon icon-plus related-tasks-buttons")
            input(id="add-attach", type="file", multiple="multiple")

    .attachment-body.sortable
        .single-attachment(ng-repeat="attach in ctrl.attachments|filter:ctrl.filterAttachments track by attach.id" tg-attachment="attach", tg-bind-scope)

        .single-attachment(ng-repeat="file in ctrl.uploadingAttachments")
            .attachment-name
                a(href="", tg-bo-title="file.name", tg-bo-bind="file.name")
            .attachment-size
                span.attachment-size(tg-bo-bind="file.size")
            .attachment-comments
                span(ng-bind="file.progressMessage")
                .percentage(ng-style="{'width': file.progressPercent}")

        a.more-attachments(href="", title="{{'ATTACHMENT.SHOW_DEPRECATED' | translate}}", ng-if="ctrl.deprecatedAttachmentsCount > 0")
            span.text(data-type="show", translate="ATTACHMENT.SHOW_DEPRECATED")
            span.text.hidden(data-type="hide", translate="ATTACHMENT.HIDE_DEPRECATED")
            span.more-attachments-num(translate="ATTACHMENT.COUNT_DEPRECATED")
