.most-liked(ng-if="vm.highlighted.size")
    .header
        .title-wrapper
            include ../../../../svg/like.svg
            h1.title {{ 'DISCOVER.MOST_LIKED' | translate }}
        tg-discover-home-order-by(on-change="vm.orderBy(orderBy)", order-by="vm.currentOrderBy")
    tg-highlighted(
        loading="vm.loading",
        highlighted="vm.highlighted"
        order-by="vm.order_by"
    )

.empty-highlighted-project(
    ng-if="!vm.highlighted.size"
)
    include ../../../../svg/like.svg
    span {{ 'DISCOVER.MOST_LIKED_EMPTY' | translate }}
