.home-wrapper {
    display: flex;
    @include until($desktop) {
        flex-direction: column;
    }
    .duty-summary {
        flex: 1;
        @include until($widescreen) {
            flex-direction: column;
        }
    }
    .dashboard-container {
        display: flex;
        flex-direction: row;
        margin-right: 1.5rem;
        @include until ($desktop) {
            margin-right: 0;
        }
        @include mobile {
            flex-direction: column;
        }
    }
    .watching-container,
    .working-on-container {
        flex: 1;
    }
    .working-on-container {
        margin-right: 2rem;
        @include mobile {
            margin-right: 0;
        }
    }
    .toggle-hidden {
        border-top: 1px solid $gray-lighter;
        margin: 2rem 0;
        padding-top: .5rem;
        text-align: center;
    }
    .project-list {
        flex-basis: 300px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .see-more-projects-btn {
        display: block;
    }
    .title-bar {
        @include font-type(regular);
        @include font-size(large);
        align-content: center;
        background: $mass-white;
        display: flex;
        margin: 0 0 .5rem;
        padding: .5rem 1rem;
    }
}
