.home-wrapper {
    display: flex;
    .duty-summary {
        flex: 1;
        margin-right: 2rem;
    }
    .project-list {
        width: 250px;
    }
    .see-more-projects-btn {
        display: block;
    }
    .title-bar {
        @include font-type(light);
        @include font-size(larger);
        align-content: center;
        background: $whitish;
        display: flex;
        margin: 0 0 .5rem;
        padding: .9rem 1rem;
    }
}
