doctype html

include ../../partials/includes/components/beta
div.home-wrapper.centered
    div.duty-summary
        div.title-bar.working-on-title(ng-show="vm.assignedTo.size", translate="HOME.WORKING_ON_SECTION")
        section.working-on(ng-show="vm.assignedTo.size")
            div.duty-single(tg-duty="duty", tg-repeat="duty in vm.assignedTo", ng-class="{blocked: duty.is_blocked}")

        div.title-bar.watching-title(translate="HOME.WATCHING_SECTION")

        section.watching-empty(ng-show="!vm.watching.size")
            include ../../svg/hide.svg
            p(translate="HOME.EMPTY_WATCHING")

        section.watching(ng-show="vm.watching.size")
            div.duty-single(tg-duty="duty", tg-repeat="duty in vm.watching", ng-class="{blocked: duty.is_blocked}")

    aside.project-list(tg-home-project-list)
