.tasks
    .task-name
        input(type='text', value!='<%- task.subject %>', placeholder="{{'TASK.PLACEHOLDER_SUBJECT' | translate}}")
        .task-settings
          a.icon.icon-floppy(href='', title="{{'COMMON.SAVE' | translate}}")
          a.icon.icon-delete.cancel-edit(href='', title="{{'COMMON.CANCEL' | translate}}")

.status(tg-related-task-status='task', ng-model='task')
  a.task-status(href='', title="{{'COMON.TITLE_SELECT_STATUS' | translate}}")
    span.task-status-bind
    span.icon.icon-arrow-bottom

.assigned-to(tg-related-task-assigned-to-inline-edition='task')
  .task-assignedto(title="{{'COMMON.FIELDS.ASSIGNED_TO' | translate}}")
    figure.avatar
    span.icon.icon-arrow-bottom
