.tasks
    .task-name
        input(type='text', placeholder="{{'TASK.PLACEHOLDER_SUBJECT' | translate}}")
        .task-settings
          svg.icon.icon-save(title="{{'COMMON.SAVE' | translate}}")
              use(xlink:href="#icon-save")
          svg.icon.icon-close.cancel-edit(href='', title="{{'COMMON.CANCEL' | translate}}")
              use(xlink:href="#icon-close")

.status(tg-related-task-status='newTask', ng-model='newTask', not-auto-save='true')
  a.task-status(href='', title="{{'TASK.TITLE_SELECT_STATUS' | translate}}")
    span.task-status-bind
    svg.icon.icon-arrow-down
        use(xlink:href="#icon-arrow-down")

.assigned-to(tg-related-task-assigned-to-inline-edition='newTask', not-auto-save='true')
  .task-assignedto(title="{{'COMMON.FIELDS.ASSIGNED_TO' | translate}}")
    figure.avatar
    svg.icon.icon-arrow-down
        use(xlink:href="#icon-arrow-down")
