.tasks
    .task-name
        input(type='text', value!='<%- task.subject %> sdfdsf', placeholder='Type the task subject')
        .task-settings
          a.icon.icon-floppy(href='', title='Save')
          a.icon.icon-delete.cancel-edit(href='', title='Cancel')

.status(tg-related-task-status='task', ng-model='task')
  a.task-status(href='', title='Status Name')
    span.task-status-bind
    span.icon.icon-arrow-bottom

.assigned-to(tg-related-task-assigned-to-inline-edition='task')
  .task-assignedto(title='Assigned to')
    figure.avatar
    span.icon.icon-arrow-bottom
