div.title-bar.working-on-title(translate="HOME.WORKING_ON_SECTION")

section.working-on(ng-show="vm.assignedTo.size")
    div.duty-single(tg-duty="duty", tg-repeat="duty in vm.assignedTo", ng-class="{blocked: duty.is_blocked}")

section.working-on-empty(ng-show="!vm.assignedTo.size")
    p(translate="HOME.EMPTY_WORKING_ON")
    include empty.jade

div.title-bar.watching-title(translate="HOME.WATCHING_SECTION")

section.watching(ng-show="vm.watching.size")
    div.duty-single(tg-duty="duty", tg-repeat="duty in vm.watching", ng-class="{blocked: duty.is_blocked}")

section.watching-empty(ng-show="!vm.watching.size")
    p(translate="HOME.EMPTY_WATCHING")
    include empty.jade
