.project-archived-banner {
    background: lighten($color-link-orange, 35%);
    border-bottom: 2px solid lighten($color-link-orange, 15%);
    margin-bottom: 2em;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: -16px;
    padding: .5rem .5rem;
    position: relative;
    width: 100vw;

    .archived-banner-content {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .archived-banner-icon {
        flex-shrink: 0;
        margin-right: 1rem;

        svg {
            fill: $color-link-orange;
            height: 24px;
            width: 24px;
        }
    }

    .archived-banner-message {
        @include font-size(small);
        color: darken($color-link-orange, 20%);
    }
}

