div.wrapper
    sidebar.menu-secondary.sidebar
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar
        include ../includes/modules/admin-submenu

    section.main.project-colors
        header
            include ../includes/components/mainTitle

        div.project-colors-options
            a.button-green.new-color(href="")
                span.text
                    | + Add new status

        include ../includes/modules/colors-table
