doctype html

div.wrapper(ng-controller="ProjectController as ctrl")
    section.main.single-project
        h1
            span.green(tg-bo-bind="project.name", class="project-name")
        div.summary
            div.summary-stats
                span.number(ng-bind="stats.total_points") --
                span.description(translate="BACKLOG.SUMMARY.PROJECT_POINTS")
            div.summary-stats
                span.number(ng-bind="stats.defined_points") --
                span.description(translate="BACKLOG.SUMMARY.DEFINED_POINTS")
            div.summary-stats
                span.number(ng-bind="stats.closed_points") --
                span.description(translate="BACKLOG.SUMMARY.CLOSED_POINTS")
            div.summary-stats
                span.number(ng-bind="stats.speed | number:0") --
                span.description(translate="BACKLOG.SUMMARY.POINTS_PER_SPRINT")

        div.project-data-container
            p.description(tg-bo-bind="project.description")
            ul
                li(ng-repeat="member in project.memberships")
                    figure.avatar
                        img(tg-bo-src="member.photo", tg-bo-alt="member.full_name")
