div.wrapper(ng-controller="ProjectController as ctrl")
    section.main.single-project
        h1
            span.green(tg-bo-bind="project.name", class="project-name")
        div.summary
            div.summary-stats
                span.info-num(tg-bo-bind="stats.total_points")
                span.info-text project<br/> points
            div.summary-stats
                span.info-num(tg-bo-bind="stats.defined_points")
                span.info-text defined<br/> points
            div.summary-stats
                span.info-num(tg-bo-bind="stats.assigned_points")
                span.info-text assigned<br/> points
            div.summary-stats
                span.info-num(tg-bo-bind="stats.closed_points")
                span.info-text closed<br/> points
        div.project-data-container
            p.description(tg-bo-bind="project.description")
            ul
                li(ng-repeat="member in project.memberships")
                    figure.avatar
                        img(tg-bo-src="member.photo", tg-bo-alt="member.full_name")
