div(tg-projects-pagination)
      ul.projects-list
        <% _.each(projects, function(project) { %>
        li
          a.button(href!='<%- project.url %>')
            <%- project.name %>
         <% }) %>
