doctype html

div.wrapper(ng-controller="ProjectController as ctrl")
    nav.menu.hidden(tg-project-menu)
    div.main.centered.single-project
        section.single-project-intro
            h1
                span.green(tg-bo-bind="project.name", class="project-name")
                span.private(ng-if="project.is_private", title="{{'PROJECT.PRIVATE' | translate}}")
                    include ../../svg/lock.svg
            p.description(tg-bo-bind="project.description")
            div.project-list-single-tags.tags-container(ng-if="::project.tags")
                div.tags-block(tg-colorize-tags="project.tags", tg-colorize-tags-type="backlog")
        div.project-data
            section.timeline
                span TODO. Missing the amazing timeline around!!
            section.involved-data
                h2.title Team
                ul.involved-team
                    a(href="", title="{{member.full_name}}", ng-repeat="member in project.memberships")
                        img(tg-bo-src="member.photo", alt="{{member.full_name}}")

                h2.title Organizations
                div.involved-organization
                    a(href="", title="User Name")
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/dan_higham/48.jpg", alt="{{member.full_name}}")

    //
        div.summary
            div.summary-stats
                span.number(ng-bind="stats.total_points") --
                span.description(translate="BACKLOG.SUMMARY.PROJECT_POINTS")
            div.summary-stats
                span.number(ng-bind="stats.defined_points") --
                span.description(translate="BACKLOG.SUMMARY.DEFINED_POINTS")
            div.summary-stats
                span.number(ng-bind="stats.closed_points") --
                span.description(translate="BACKLOG.SUMMARY.CLOSED_POINTS")
            div.summary-stats
                span.number(ng-bind="stats.speed | number:0") --
                span.description(translate="BACKLOG.SUMMARY.POINTS_PER_SPRINT")

        div.project-data-container
            p.description(tg-bo-bind="project.description")
            ul
                li(ng-repeat="member in project.memberships")
                    figure.avatar
                        img(tg-bo-src="member.photo", tg-bo-alt="member.full_name")
