section.duty-custom-fields(ng-show="ctrl.customAttributesValues")
    div.custom-fields-header
        span Custom Fields
        // Remove .open class on click on this button in both .icon and .custom-fields-body to close
        a.icon.icon-arrow-bottom(class!="<% if (!collapsed) { %>open<% } %>")
    div.custom-fields-body(class!="<% if (!collapsed) { %>open<% } %>")
        div(ng-repeat="att in ctrl.customAttributes", tg-custom-attribute-value="ctrl.getAttributeValue(att)", required-edition-perm!="<%- requiredEditionPerm %>")
