form.custom-field-single.editable
    div.custom-field-data
        label.custom-field-name(for="custom-field-description")
            <%- name %>
        <% if (description){ %>
        span.custom-field-description
            <%- description %>
        <% } %>

    div.custom-field-value
        input#custom-field-description(name="description", type="text", value!="<%- value %>")

    div.custom-field-options
        a.icon.icon-floppy(href="", title="{{'COMMON.CUSTOM_ATTRIBUTES.SAVE' | translate}}")
