.custom-field-single
    .custom-field-data
        span.custom-field-name
            <%- name %>
        <% if (description){ %>
        span.custom-field-description
            <%- description %>
        <% } %>

    .custom-field-value.js-value-view-mode
        span
            <% if (type=="url") { %>
            a(href!="<%- value %>")
                <%- value %>
            <% } else { %>
            <%- value %>
            <% } %>

    <% if (isEditable) { %>
    .custom-field-options
        a.js-edit-description(href="", title="{{'COMMON.CUSTOM_ATTRIBUTES.EDIT' | translate}}")
            tg-svg(svg-icon="icon-edit")
    <% } %>
