.custom-field-single
    .custom-field-data
        span.custom-field-name
            <%- name %>
        <% if (description){ %>
        span.custom-field-description
            <%- description %>
        <% } %>

    <% if (type=="url") { %>
    .custom-field-value.js-value-view-mode
        span
            a(href!="<%- value %>")
                <%- value %>
    <% } else if (type=="richtext") { %>
    .custom-field-value.js-value-view-mode.wysiwyg
        div(ng-bind-html="attributeHtml")
    <% } else if (type=="checkbox") { %>
    .custom-field-value.js-value-view-mode
        <% if (value) { %>
        span {{ 'COMMON.YES' | translate }}
        <% } else { %>
        span {{ 'COMMON.NO' | translate }}
        <% } %>
    <% } else { %>
    .custom-field-value.js-value-view-mode
        span
            <%- value %>
    <% } %>

    <% if (isEditable) { %>
    .custom-field-options
        a.js-edit-description(href="", title="{{'COMMON.CUSTOM_ATTRIBUTES.EDIT' | translate}}")
            tg-svg(svg-icon="icon-edit")
    <% } %>
