div.custom-field-single
    div.custom-field-data
        span.custom-field-name
            <%- name %>
        <% if (description){ %>
        span.custom-field-description
            <%- description %>
        <% } %>

    div.custom-field-value.js-value-view-mode
        span
            <%- value %>

    <% if (isEditable) { %>
    div.custom-field-options
        a.icon.icon-edit(href="", title="{{'COMMON.CUSTOM_ATTRIBUTES.EDIT' | translate}}")
    <% } %>
