$dropdown-width: 350px;

.navbar {
    display: flex;
    height: $navbar;
    justify-content: space-between;
    position: relative;
    &::after {
        background-size: 200%;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .nav-left,
    .nav-right {
        align-content: center;
        align-items: center;
        display: flex;
    }
    .nav-left {
        >a {
            color: $white;
            padding: .5rem 1.5rem;
            &.logo {
                background: rgba($black, .2);
                padding: .4rem .75rem;
            }
            svg {
                height: 1.6rem;
                max-height: 1.6rem;
                max-width: 2rem;
                width: 1.6rem;
            }
            path {
                fill: $white;
            }
        }
    }
    .nav-right {
        margin-left: auto;
        a {
            color: $white;
            padding: .5rem 2rem;
        }
    }
    a {
        color: $white;
        display: inline-block;
        transition: all .2s linear;
        svg {
            fill: rgba($primary-dark, .8);
            transition: all .2s linear;
        }
        &:hover {
            background: rgba($black, .2);
            color: $primary-light;
            svg {
                fill: $white;
            }

        }
        &.user-avatar {
            min-width: 200px;
            padding: 0;
            padding-left: 2rem;
            text-align: right;
            span {
                padding-right: 1rem;
            }
        }

    }
    img {
        height: 2.5rem;
        margin-left: .5rem;
        vertical-align: middle;
    }
    svg {
        height: 1.2rem;
        max-height: 1.2rem;
        max-width: 1.2rem;
        width: 1.2rem;
    }
    .topnav-dropdown-wrapper {
        position: relative;
        &:hover {
            .navbar-dropdown {
                animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) both;
                display: block;
            }
        }
    }
    .navbar-dropdown {
        a {
            padding: .8rem .5rem;
        }
    }
    %dropdown {
        border-radius: 2px;
        display: none;
        left: calc(50% - #{$dropdown-width}/2);
        min-width: $dropdown-width;
        position: absolute;
        top: 2.4rem;
        z-index: 999;
    }
}

.navbar-dropdown {
    @extend %dropdown;
    background: $blackish;
    border: 1px solid $black;
    padding: .3rem;
    &.dropdown-user {
        left: calc(50% - 200px/2);
        min-width: 200px;
        ul {
            margin-bottom: 0;
        }
    }
    ul {
        @include arrow('bottom', $blackish, $blackish, 1, 8);
        margin: 0;
        margin-bottom: .5rem;
        padding: 0;
    }
    .plugin {
        &:hover {
            .new {
                color: $white;
            }
        }
        .new {
            @include font-size(small);
            background: $red-light;
            float: right;
            margin-left: auto;
            padding: .1rem .25rem;
        }
    }
    a {
        color: $gray-light;
        display: block;
        padding: .8rem .5rem;
        &:hover {
            background: rgba($white, .1);
            color: $primary-light;
        }
        &.see-more-projects-btn,
        &.create-organization-btn,
        &.create-project-btn {
            color: $white;
            text-align: center;
            &:hover {
                color: $white;
            }
        }
        &.see-more-projects-btn {
            margin-bottom: .3rem;
        }
        &.import-project-button {
            padding: .8rem 1rem;
        }
        &.create-project-btn {
            flex: 1;
        }
        &.blocked-project {
            color: $gray;
            svg {
                margin-left: .5rem;
                position: relative;
                top: .25rem;
            }
        }
    }
    .import-project-button {
        &:hover {
            svg {
                fill: $primary-light;
            }
        }
        svg {
            fill: $white;
        }
    }
    .create-options {
        display: flex;
        flex-direction: row;
    }
}
