<% _.each(filters, function(f) { %>
<% if (f.selected) { %>
a.single-filter.active(data-type!="<%- f.type %>", data-id!="<%- f.id %>")
    span.name(style!="<%- f.style %>")
        | <%- f.name %>
    <% if (f.count){ %>
    span.number <%- f.count %>
    <% } %>
<% } else { %>
a.single-filter(data-type!="<%- f.type %>", data-id!="<%- f.id %>")
    span.name(style!="<%- f.style %>")
        | <%- f.name %>
    <% if (f.count){ %>
    span.number <%- f.count %>
    <% } %>
<% } %>
<% }) %>