div.kanban-tagline(tg-colorize-tags="us.tags", tg-colorize-tags-type="kanban", ng-hide="us.isArchived")
div.kanban-task-inner(ng-class="{'task-archived': us.isArchived}")
    div.avatar-wrapper(tg-kanban-user-avatar="us.assigned_to", ng-model="us", ng-hide="us.isArchived")
    div.task-text(ng-hide="us.isArchived")
        a.task-assigned(href="", title="Assign User Story")
        span.task-num(tg-bo-ref="us.ref")
        a.task-name(href="", title="See user story detail", ng-bind="us.subject",
                    tg-nav="project-userstories-detail:project=project.slug,ref=us.ref")

        p.task-points(href="", title="Total Us points")
            span(ng-if="us.total_points !== null", ng-bind="us.total_points")
            span(ng-if="us.total_points !== null") points
            span(ng-if="us.total_points === null") Not estimated

    div.task-archived-text(ng-show="us.isArchived")
        p You have archived
        p
            span.task-num(tg-bo-ref="us.ref")
            span.task-name(ng-bind="us.subject")
        p Drag & drop again to undo

    a.icon.icon-edit(tg-check-permission="modify_us", href="", title="Edit", ng-hide="us.isArchived")
