include ../common/components/wysiwyg.jade

.view-wiki-content
    section.wysiwyg(tg-bind-html='wiki.html')
    span.edit.icon.icon-edit(title="{{'COMMON.EDIT' | translate}}", ng-if="wiki")

.edit-wiki-content(style='display: none;')
    textarea(ng-attr-placeholder="{{'WIKI.PLACEHOLDER_PAGE' | translate}}",
             ng-model='wiki.content', tg-markitup='tg-markitup')
    +wysihelp

    span.action-container
        a.save.icon.icon-floppy(href='', title="{{'COMMON.SAVE' | translate}}")
        a.cancel.icon.icon-delete(href='', title="{{'COMMON.CANCEL' | translate}}")
