header
  h1(translate="WIKI.NAVIGATION.SECTION_NAME")

nav
  ul
    <% _.each(wikiLinks, function(link, index) { %>
    li.wiki-link(data-id!="<%- index %>")
      a(title!="<%- link.title %>")
          span.link-title <%- link.title %>
          <% if (deleteWikiLinkPermission) { %>
          svg.js-delete-link.icon.icon-trash
              use(xlink:href="#icon-trash")
          <% } %>
      input(type="text" placeholder="{{'COMMON.FIELDS.NAME' | translate}}" class="hidden" value!="<%- link.title %>")
    <% }) %>
    li.new.hidden
      input(type="text" placeholder="{{'COMMON.FIELDS.NAME' | translate}}")
<% if (addWikiLinkPermission) { %>
a(href="" title="{{'WIKI.NAVIGATION.ACTION_ADD_LINK' | translate}}" class="add-button button-gray")
    span(translate="WIKI.NAVIGATION.ACTION_ADD_LINK")
<% } %>
