.wiki-username-edition
    .avatar
        img(src!="<%- user.imgUrl %>" alt!="<%- user.name %>")
    .wiki-user-modification
        span.description(translate="WIKI.SUMMARY.LAST_MODIFICATION")
        span.username <%- user.name %>

.wiki-last-modified
    span.number <%- lastModifiedDate %>
    span.description(translate="WIKI.SUMMARY.LAST_EDIT")
    
.wiki-times-edited
    span.number <%- totalEditions %>
    span.description(translate="WIKI.SUMMARY.TIMES_EDITED")
