section.admin-submenu
    header
        h1(translate="ADMIN.SUBMENU_PROJECT_ATTRIBUTES.TITLE")

    nav
        ul
            li#adminmenu-values-status
                a(href="", tg-nav="project-admin-project-values-status:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.STATUS")
                    span.icon.icon-arrow-right

            li#adminmenu-values-points
                a(href="", tg-nav="project-admin-project-values-points:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.POINTS")
                    span.icon.icon-arrow-right

            li#adminmenu-values-priorities
                a(href="", tg-nav="project-admin-project-values-priorities:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.PRIORITIES")
                    span.icon.icon-arrow-right

            li#adminmenu-values-severities
                a(href="", tg-nav="project-admin-project-values-severities:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.SEVERITIES")
                    span.icon.icon-arrow-right

            li#adminmenu-values-types
                a(href="", tg-nav="project-admin-project-values-types:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.TYPES")
                    span.icon.icon-arrow-right

            li#adminmenu-values-custom-fields
                a(href="", tg-nav="project-admin-project-values-custom-fields:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.CUSTOM_FIELDS")
                    span.icon.icon-arrow-right
