section.admin-submenu
    nav
        ul
            li#adminmenu-details
                a(href="", tg-nav="project-admin-project-profile-details:project=project.slug")
                    span.title(translate="ADMIN.PROJECT_PROFILE.PROJECT_DETAILS")
            li#adminmenu-default-values
                a(href="", tg-nav="project-admin-project-profile-default-values:project=project.slug")
                    span.title(translate="ADMIN.PROJECT_DEFAULT_VALUES.TITLE")
            li#adminmenu-modules
                a(href="", tg-nav="project-admin-project-profile-modules:project=project.slug")
                    span.title(translate="ADMIN.MODULES.TITLE")
            li#adminmenu-export
                a(href="", tg-nav="project-admin-project-profile-export:project=project.slug")
                    span.title(translate="ADMIN.PROJECT_EXPORT.TITLE")
            li#adminmenu-reports
                a(href="", tg-nav="project-admin-project-profile-reports:project=project.slug")
                    span.title(translate="ADMIN.REPORTS.TITLE")
