
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

section.admin-submenu
    nav
        ul
            li#adminmenu-details
                a(href="", tg-nav="project-admin-project-profile-details:project=project.slug")
                    span.title(translate="ADMIN.PROJECT_PROFILE.PROJECT_DETAILS")
            li#adminmenu-default-values
                a(href="", tg-nav="project-admin-project-profile-default-values:project=project.slug")
                    span.title(translate="ADMIN.PROJECT_PRESETS.MENU_TITLE")
            li#adminmenu-modules
                a(href="", tg-nav="project-admin-project-profile-modules:project=project.slug")
                    span.title(translate="ADMIN.MODULES.TITLE")
            li#adminmenu-export
                a(href="", tg-nav="project-admin-project-profile-export:project=project.slug")
                    span.title(translate="ADMIN.PROJECT_EXPORT.TITLE")
            li#adminmenu-reports
                a(href="", tg-nav="project-admin-project-profile-reports:project=project.slug")
                    span.title(translate="ADMIN.REPORTS.TITLE")
