section.admin-submenu
    header
        h1 Custom Attributes

    nav
        ul
            li#adminmenu-values-us-status
                a(href="", tg-nav="project-admin-project-values-us-status:project=project.slug")
                    span.title US statuses
                    span.icon.icon-arrow-right

            li#adminmenu-values-us-points
                a(href="", tg-nav="project-admin-project-values-us-points:project=project.slug")
                    span.title US points
                    span.icon.icon-arrow-right

            li#adminmenu-values-us-extras
                a(href="", tg-nav="project-admin-project-values-us-extras:project=project.slug")
                    span.title US extras
                    span.icon.icon-arrow-right

            li#adminmenu-values-task-status
                a(href="", tg-nav="project-admin-project-values-task-status:project=project.slug")
                    span.title Task statuses
                    span.icon.icon-arrow-right

            li#adminmenu-values-issue-status
                a(href="", tg-nav="project-admin-project-values-issue-status:project=project.slug")
                    span.title Issue statuses
                    span.icon.icon-arrow-right

            li#adminmenu-values-issue-types
                a(href="", tg-nav="project-admin-project-values-issue-types:project=project.slug")
                    span.title Issue types
                    span.icon.icon-arrow-right

            li#adminmenu-values-priorities
                a(href="", tg-nav="project-admin-project-values-issue-priorities:project=project.slug")
                    span.title Issue Priorities
                    span.icon.icon-arrow-right

            li#adminmenu-values-severities
                a(href="", tg-nav="project-admin-project-values-issue-severities:project=project.slug")
                    span.title Issue Severities
                    span.icon.icon-arrow-right
