section.admin-submenu
    header
        h1(translate) Roles

    nav
        ul
            li
                a(href="", translate="ADMIN.SUBMENU.ROLE_UX")
                  span.icon.icon-arrow-right
            li
                a(href="", translate="ADMIN.SUBMENU.ROLE_PRODUCT_OWNER")
                  span.icon.icon-arrow-right
            li
                a(href="", translate="ADMIN.SUBMENU.ROLE_DESIGNER")
                  span.icon.icon-arrow-right
            li
                a(href="", translate="ADMIN.SUBMENU.ROLE_BACK")
                  span.icon.icon-arrow-right
            li
                a(href="", translate="ADMIN.SUBMENU.ROLE_FRONT")
                  span.icon.icon-arrow-right

        a.button-gray(href="", title="{{'ADMIN.SUBMENU.TITLE_ACTION_NEW_ROLE' | translate}}")
            span.text(translate="ADMIN.SUBMENU.ACTION_NEW_ROLE")
