section.admin-submenu
    nav
        ul
            li#adminmenu-values-status
                a(href="", tg-nav="project-admin-project-values-status:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.STATUS")

            li#adminmenu-values-points
                a(href="", tg-nav="project-admin-project-values-points:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.POINTS")

            li#adminmenu-values-priorities
                a(href="", tg-nav="project-admin-project-values-priorities:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.PRIORITIES")

            li#adminmenu-values-severities
                a(href="", tg-nav="project-admin-project-values-severities:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.SEVERITIES")

            li#adminmenu-values-types
                a(href="", tg-nav="project-admin-project-values-types:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.TYPES")

            li#adminmenu-values-custom-fields
                a(href="", tg-nav="project-admin-project-values-custom-fields:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.CUSTOM_FIELDS")

            li#adminmenu-values-tags
                a(href="", tg-nav="project-admin-project-values-tags:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.TAGS")

            li#adminmenu-values-due-dates
                a(href="", tg-nav="project-admin-project-values-due-dates:project=project.slug")
                    span.title(translate="ADMIN.SUBMENU_PROJECT_VALUES.DUE_DATES")