section.admin-submenu
    header
        h1 Services

    nav
        ul
            li#adminmenu-third-parties-webhooks.third-parties-webhooks
                a(href="", tg-nav="project-admin-third-parties-webhooks:project=project.slug")
                    span.title Webhooks
                    span.icon.icon-arrow-right
            li#adminmenu-third-parties-github
                a(href="", tg-nav="project-admin-third-parties-github:project=project.slug")
                    span.title Github
                    span.icon.icon-arrow-right
            li#adminmenu-third-parties-gitlab
                a(href="", tg-nav="project-admin-third-parties-gitlab:project=project.slug")
                    span.title Gitlab
                    span.icon.icon-arrow-right
            li#adminmenu-third-parties-bitbucket
                a(href="", tg-nav="project-admin-third-parties-bitbucket:project=project.slug")
                    span.title Bitbucket
                    span.icon.icon-arrow-right
