section.admin-menu
    header
        h1(translate="ADMIN.MENU.TITLE")

    nav
        ul
            li#adminmenu-project-profile
                a(href="", tg-nav="project-admin-project-profile-details:project=project.slug")
                    span.title(translate="ADMIN.MENU.PROJECT")
                    span.icon.icon-arrow-right
            li#adminmenu-project-values
                a(href="", tg-nav="project-admin-project-values-status:project=project.slug")
                    span.title(translate="ADMIN.MENU.ATTRIBUTES")
                    span.icon.icon-arrow-right
            li#adminmenu-memberships
                a(href="" tg-nav="project-admin-memberships:project=project.slug")
                    span.title(translate="ADMIN.MENU.MEMBERS")
                    span.icon.icon-arrow-right
            li#adminmenu-roles
                a(href="" tg-nav="project-admin-roles:project=project.slug")
                    span.title(translate="ADMIN.MENU.PERMISSIONS")
                    span.icon.icon-arrow-right
            li#adminmenu-third-parties
                a(href="" tg-nav="project-admin-third-parties-webhooks:project=project.slug")
                    span.title(translate="ADMIN.MENU.INTEGRATIONS")
                    span.icon.icon-arrow-right
            li#adminmenu-contrib(ng-show="adminPlugins.length > 0")
                a(href="" tg-nav="project-admin-contrib:project=project.slug,plugin=adminPlugins[0].slug")
                    span.title(translate="COMMON.PLUGINS")
                    span.icon.icon-arrow-right
