section.admin-submenu
    header
        h1 Project Profile

    nav
        ul
            li#adminmenu-details
                a(href="", tg-nav="project-admin-project-profile-details:project=project.slug")
                    span.title Project Details
                    span.icon.icon-arrow-right
            li#adminmenu-default-values
                a(href="", tg-nav="project-admin-project-profile-default-values:project=project.slug")
                    span.title Default Values
                    span.icon.icon-arrow-right
            li#adminmenu-modules
                a(href="", tg-nav="project-admin-project-profile-modules:project=project.slug")
                    span.title Modules
                    span.icon.icon-arrow-right
            li#adminmenu-export
                a(href="", tg-nav="project-admin-project-profile-export:project=project.slug")
                    span.title Export
                    span.icon.icon-arrow-right
