section.admin-submenu
    nav
        ul
            li#adminmenu-third-parties-webhooks.third-parties-webhooks
                a(href="", tg-nav="project-admin-third-parties-webhooks:project=project.slug")
                    span.title Webhooks
            li#adminmenu-third-parties-github
                a(href="", tg-nav="project-admin-third-parties-github:project=project.slug")
                    span.title Github
            li#adminmenu-third-parties-gitlab
                a(href="", tg-nav="project-admin-third-parties-gitlab:project=project.slug")
                    span.title Gitlab
            li#adminmenu-third-parties-bitbucket
                a(href="", tg-nav="project-admin-third-parties-bitbucket:project=project.slug")
                    span.title Bitbucket
            li#adminmenu-third-parties-gogs
                a(href="", tg-nav="project-admin-third-parties-gogs:project=project.slug")
                    span.title Gogs
