
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

section.admin-menu
    nav
        ul
            li#adminmenu-project-profile
                a(href="", tg-nav="project-admin-project-profile-details:project=project.slug")
                    span.title(translate="ADMIN.MENU.PROJECT")
            li#adminmenu-project-values
                a(href="", tg-nav="project-admin-project-values-status:project=project.slug")
                    span.title(translate="ADMIN.MENU.ATTRIBUTES")
            li#adminmenu-memberships
                a(href="" tg-nav="project-admin-memberships:project=project.slug")
                    span.title(translate="ADMIN.MENU.MEMBERS")
            li#adminmenu-roles
                a(href="" tg-nav="project-admin-roles:project=project.slug")
                    span.title(translate="ADMIN.MENU.PERMISSIONS")
            li#adminmenu-third-parties
                a(href="" tg-nav="project-admin-third-parties-webhooks:project=project.slug")
                    span.title(translate="ADMIN.MENU.INTEGRATIONS")
            li#adminmenu-contrib(ng-if="adminPlugins.length > 0")
                a(href="" tg-nav="project-admin-contrib:project=project.slug,plugin=adminPlugins[0].slug")
                    span.title(translate="COMMON.PLUGINS")
