section.admin-submenu
    header
        h1 Attributes

    nav
        ul
            li#adminmenu-values-us
                a(href="", tg-nav="project-admin-project-values-us:project=project.slug")
                    span.title US
                    span.icon.icon-arrow-right

            li#adminmenu-values-task
                a(href="", tg-nav="project-admin-project-values-task:project=project.slug")
                    span.title Task
                    span.icon.icon-arrow-right

            li#adminmenu-values-issue
                a(href="", tg-nav="project-admin-project-values-issue:project=project.slug")
                    span.title Issue
                    span.icon.icon-arrow-right
