div.backlog-table-header
    div.row.backlog-table-title
        div.input(tg-check-permission="modify_us")
        div.votes(translate="COMMON.FIELDS.VOTES")
        div.user-stories(translate="BACKLOG.TABLE.COLUMN_US")
        div.status(translate="COMMON.FIELDS.STATUS")
        div.points(tg-us-role-points-selector, title="{{'BACKLOG.TABLE.TITLE_COLUMN_POINTS' | translate}}")
            span.header-points(translate="COMMON.FIELDS.POINTS")
            span.icon.icon-arrow-bottom

div.backlog-table-body(tg-backlog-sortable, ng-class="{'show-tags': ctrl.showTags, 'active-filters': ctrl.activeFilters}" )
    include ../components/backlog-row
