
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.backlog-table-header
    div.row.backlog-table-title
        div.draggable-us-column(tg-check-permission="modify_us")
        div.input(tg-check-permission="modify_us")
        div.user-stories(translate="BACKLOG.TABLE.COLUMN_US")
        div.status(translate="COMMON.FIELDS.STATUS")
        div.points(title="{{'BACKLOG.TABLE.TITLE_COLUMN_POINTS' | translate}}")
            div.inner(tg-us-role-points-selector)
                span.header-points(translate="COMMON.FIELDS.POINTS")
                tg-svg(svg-icon="icon-filter")
        div.us-header-options
div.backlog-table-body(
    tg-backlog-sortable,
    ng-class="{'show-tags': ctrl.showTags, 'active-filters': ctrl.activeFilters, 'forecasted-stories': ctrl.displayVelocity}"
    infinite-scroll="ctrl.loadUserstories()"
    infinite-scroll-disabled="ctrl.disablePagination || !ctrl.firstLoadComplete"
    infinite-scroll-immediate-check='false'
)
    include ../components/backlog-row

    div(tg-loading="ctrl.loadingUserstories")
