
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

div.cancel-account(tg-cancel-account)
    p
        strong(translate="CANCEL_ACCOUNT.TITLE")
    p
        span(translate="CANCEL_ACCOUNT.SUBTITLE")

    form
        fieldset
            input(type="hidden", name="cancel_token", ng-model="data.cancel_token", data-required="true",
                  placeholder="{{'CANCEL_ACCOUNT.PLACEHOLDER_INPUT_TOKEN' | translate}}")

            button.button-cancel-account.button-gray(type="submit", title="{{'CANCEL_ACCOUNT.ACTION_LEAVING' | translate}}", translate="CANCEL_ACCOUNT.ACTION_LEAVING")
