div.change-password-form-container(tg-change-password-from-recovery)
    p.change-password-text
        strong(translate="CHANGE_PASSWORD_RECOVERY_FORM.TITLE")
        br
        span(translate="CHANGE_PASSWORD_RECOVERY_FORM.SUBTITLE")

    form
        fieldset.token-change-password(ng-hide="tokenInParams")
            input(type="text", tg-capslock, name="token", ng-model="data.token", data-required="true",
                  placeholder="{{'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_RECOVER_PASSWORD_TOKEN' | translate}}")
            a.get-token(href="", tg-nav="forgot-password",
                        title="{{'CHANGE_PASSWORD_RECOVERY_FORM.TITLE_LINK_NEED_TOKEN' | translate}}", translate="CHANGE_PASSWORD_RECOVERY_FORM.LINK_NEED_TOKEN")
        fieldset
            input(type="password", tg-capslock, name="password", id="password", ng-model="data.password",
                  data-required="true", placeholder="{{'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_NEW_PASSWORD' | translate}}")
        fieldset
            input(type="password", tg-capslock, name="password2", id="password2", ng-model="data.password2",
                  data-required="true", data-equalto="#password", placeholder="{{'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_RE_TYPE_NEW_PASSWORD' | translate}}")
        fieldset
            button.button-change-password.button-gray.submit-button(type="submit", title="{{'CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD' | translate}}", translate="CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD")
