div.change-password-form-container(tg-change-password-from-recovery)
    p.change-password-text
        strong Create a new Taiga pass <br />
        span And hey, you may want to eat some more iron-rich food, it's good for your brain :P

    form
        fieldset.token-change-password(ng-hide="tokenInParams")
            input(type="text", name="token", ng-model="data.token", data-required="true",
                  placeholder="Recover password token")
            a.get-token(href="", tg-nav="forgot-password",
                        title="Did you need a token to recover your password because you forgot it?") Need one?
        fieldset
            input(type="password", name="password", id="password", ng-model="data.password",
                  data-required="true", placeholder="New password")
        fieldset
            input(type="password", name="password2", id="password2", ng-model="data.password2",
                  data-required="true", data-equalto="#password", placeholder="Re-type new password")
        fieldset
            button.button-change-password.button-gray.submit-button(type="submit", title="Reset Password") Reset Password
