div.change-email-form-container(tg-change-email)
    p.change-password-text
        strong Change your email <br />
        span One click more and your email will be updated!

    form
        fieldset
            input(type="hidden", name="email_token", ng-model="data.email_token", data-required="true",
                  placeholder="change email token")

            a.button-change-email.button-gray(href="", title="Change email") Change email
            button(type="submit", class="hidden")
