section.colors-table
    div.table-header
        div.row
            div.color-column(translate="COMMON.FIELDS.COLOR")
            div.status-name(translate="COMMON.FIELDS.NAME")
            div.is-closed-column(translate="COMMON.IS_CLOSED")
            div.options-column

    div.table-main
        div.row.row-edit
            div.color-column
                div.current-color
                include ../components/select-color

            div.status-name
                input(type="text")
            div.is-closed-column
                input(type="checkbox")
            div.options-column
                a.icon.icon-floppy(href="#")
                a.icon.icon-delete(href="#")
