div.us-activity
    a.activity-title(ng-show="ctrl.countChanges(comment)", href="", title="{{'ACTIVITY.SHOW_ACTIVITY' | translate}}")
        span(tg-bo-bind="ctrl.buildChangesText(comment)")
        span.icon.icon-arrow-up

    div.activity-inner(ng-repeat="(key, change) in comment.values_diff")
        div.activity-changed
            span(tg-bo-bind="key")
        div.activity-fromto
            p
                strong(translate="COMMON.FROM")
                br
                span(tg-bo-bind="ctrl.getChangeText(change[0])")
            p
                strong(translate="COMMON.TO")
                br
                span(tg-bo-bind="ctrl.getChangeText(change[1])")
