section.filter-tags
    div.filter-tag.active(style="background-color: red")
        div.tag-name Tagname
        div.tag-count 4

    div.filter-tag(style="background-color: blue")
        div.tag-name Tagname
        div.tag-count 4

    div.filter-tag(style="background-color: green")
        div.tag-name Tagname
        div.tag-count 4