form.login-form
    p.form-header I already have a Taiga login
    fieldset
        input(type="text", name="username", ng-model="dataLogin.username", data-required="true",
              placeholder="Username or email (case sensitive)")
    fieldset.login-password
        input(type="password", name="password", ng-model="dataLogin.password", data-required="true",
              placeholder="Password")
        a.forgot-pass(href="", tg-nav="forgot-password", title="Did you forgot your password?") Forgot it?
    fieldset
        button.button-login.button-gray.submit-button(type="submit", title="Enter") Enter

    fieldset(tg-github-login-button)
