section.issues-table.basic-table(ng-class="{empty: !issues.length}")
    div.row.title
        div.level-field(data-fieldname="type", translate="ISSUES.FIELDS.TYPE")
        div.level-field(data-fieldname="severity", translate="ISSUES.FIELDS.SEVERITY")
        div.level-field(data-fieldname="priority", translate="ISSUES.FIELDS.PRIORITY")
        div.subject(data-fieldname="subject", translate="COMMON.FIELDS.SUBJECT")
        div.issue-field(data-fieldname="status", translate="COMMON.FIELDS.STATUS")
        div.created-field(data-fieldname="created_date", translate="ISSUES.TABLE.COLUMN_CREATED")
        div.assigned-field(data-fieldname="assigned_to", translate="COMMON.FIELDS.ASSIGNED_TO")
    div.row.table-main(ng-repeat="issue in issues track by issue.id")
        div.level-field(tg-listitem-type="issue")
        div.level-field(tg-listitem-severity="issue")
        div.level-field(tg-listitem-priority="issue")
        div.subject
            a(href="", tg-nav="project-issues-detail:project=project.slug,ref=issue.ref", title="#{{ ::issue.ref }} {{ ::issue.subject }}")
                span(tg-bo-ref="issue.ref")
                span(ng-bind="issue.subject")

        div.issue-field(tg-issue-status-inline-edition="issue")
            a.issue-status(href="", title="{{'ISSUES.TABLE.TITLE_ACTION_CHANGE_STATUS' | translate}}")
                span.issue-status-bind
                span.icon.icon-arrow-bottom(tg-check-permission="modify_issue")

        div.created-field(tg-bo-bind="issue.created_date|momentFormat:'DD MMM YYYY HH:mm'")

        div.assigned-field(tg-issue-assigned-to-inline-edition="issue")
            div.issue-assignedto(title="{{'COMMON.FIELDS.ASSIGNED_TO' | translate}}")
                figure.avatar
                span.icon.icon-arrow-bottom(tg-check-permission="modify_issue")

section.empty.empty-issues(ng-class="{hidden: issues.length}")
    span.icon.icon-issues
    span.title(translate="ISSUES.TABLE.EMPTY.TITLE")
    span(translate="ISSUES.TABLE.EMPTY.SUBTITLE")
    a(href="", title="{{'ISSUES.TABLE.EMPTY.ACTION_CREATE_ISSUE' | translate}}", ng-click="ctrl.addNewIssue()", translate="ISSUES.TABLE.EMPTY.ACTION_CREATE_ISSUE")
