section.filters
    div.filters-inner
        h1
            span.title(translate="ISSUES.FILTERS.TITLE")
        form
            fieldset
                input(type="text", placeholder="{{'ISSUES.FILTERS.INPUT_SEARCH_PLACEHOLDER' | translate}}",
                      ng-model="filtersQ")
                svg.icon.icon-search(title="{{'ISSUES.FILTERS.TITLE_ACTION_SEARCH' | translate}}")
                    use(xlink:href="#icon-search")
        div.filters-step-cat
            div.filters-applied
            a.hide.button.button-gray.save-filters(href="", title="{{'COMMON.SAVE' | translate}}", ng-class="{hide: filters.length}", translate="ISSUES.FILTERS.ACTION_SAVE_CUSTOM_FILTER")
            h2.hidden.breadcrumb
                a.back(href="", title="{{'ISSUES.FILTERS.TITLE_BREADCRUMB' | translate}}", translate="ISSUES.FILTERS.BREADCRUMB")
                svg.icon.icon-arrow-right
                    use(xlink:href="#icon-arrow-right")
                a.subfilter(href="", title="cat-name")
                    span.title(translate="COMMON.FILTERS.BREADCRUMB_STATUS")
            div.filters-cats
                ul
                    li
                        a(href="", title="{{ 'ISSUES.FILTERS.CATEGORIES.TYPE' | translate}}", data-type="types")
                            span.title(translate="ISSUES.FILTERS.CATEGORIES.TYPE")
                            svg.icon.icon-arrow-right
                                use(xlink:href="#icon-arrow-right")
                    li
                        a(href="", title="{{ 'ISSUES.FILTERS.CATEGORIES.STATUS' | translate}}", data-type="status")
                            span.title(translate="ISSUES.FILTERS.CATEGORIES.STATUS")
                            svg.icon.icon-arrow-right
                                use(xlink:href="#icon-arrow-right")
                    li
                        a(href="", title="{{ 'ISSUES.FILTERS.CATEGORIES.SEVERITY' | translate}}", data-type="severities")
                            span.title(translate="ISSUES.FILTERS.CATEGORIES.SEVERITY")
                            svg.icon.icon-arrow-right
                                use(xlink:href="#icon-arrow-right")
                    li
                        a(href="", title="{{ 'ISSUES.FILTERS.CATEGORIES.PRIORITIES' | translate}}", data-type="priorities")
                            span.title(translate="ISSUES.FILTERS.CATEGORIES.PRIORITIES")
                            svg.icon.icon-arrow-right
                                use(xlink:href="#icon-arrow-right")
                    li
                        a(href="", title="{{ 'ISSUES.FILTERS.CATEGORIES.TAGS' | translate}}", data-type="tags")
                            span.title(translate="ISSUES.FILTERS.CATEGORIES.TAGS")
                            svg.icon.icon-arrow-right
                                use(xlink:href="#icon-arrow-right")
                    li
                        a(href="", title="{{ 'ISSUES.FILTERS.CATEGORIES.ASSIGNED_TO' | translate}}", data-type="assignedTo")
                            span.title(translate="ISSUES.FILTERS.CATEGORIES.ASSIGNED_TO")
                            svg.icon.icon-arrow-right
                                use(xlink:href="#icon-arrow-right")
                    li
                        a(href="", title="{{ 'ISSUES.FILTERS.CATEGORIES.CREATED_BY' | translate}}", data-type="createdBy")
                            span.title(translate="ISSUES.FILTERS.CATEGORIES.CREATED_BY")
                            svg.icon.icon-arrow-right
                                use(xlink:href="#icon-arrow-right")
                    li.custom-filters(ng-if="filters.myFilters.length")
                        a(href="", title="{{ 'ISSUES.FILTERS.CATEGORIES.CUSTOM_FILTERS' | translate}}",
                          data-type="myFilters")
                            span.title(translate="ISSUES.FILTERS.CATEGORIES.CUSTOM_FILTERS")
                            svg.icon.icon-arrow-right
                                use(xlink:href="#icon-arrow-right")

        div.filter-list.hidden
