section.issues-options(tg-check-permission="add_issue")
    div.new-issue
        a.button-green(href="", ng-click="ctrl.addNewIssue()")
            span.text(translate="ISSUES.ACTION_NEW_ISSUE")
        a.button-bulk.button-green.button-small(href="", ng-click="ctrl.addIssuesInBulk()")
            tg-svg(svg-icon="icon-bulk")
