a.close(
    href=""
    title="{{'COMMON.CLOSE' | translate}}"
)
    svg.icon.icon-close
        use(xlink:href="#icon-close")
section
    h2.title
    .options
        a.button-green(
            href=""
            title="{{'COMMON.ACCEPT' | translate}}"
        )
            span(translate="COMMON.ACCEPT")
