tg-lightbox-close
form
    h2.title(translate="LIGHTBOX.DELETE_PROJECT.TITLE")
    p
        span.question(translate="LIGHTBOX.DELETE_PROJECT.QUESTION")
        span.subtitle(translate="LIGHTBOX.DELETE_PROJECT.SUBTITLE")
    .options
        button.btn-link.btn-cancel.js-cancel(
            variant="icon"
        )
            span(translate="COMMON.CANCEL")

        button.btn-small.btn-confirm.js-confirm(
            variant="destructive"
        )
            tg-svg(svg-icon="icon-trash")
            span(translate="LIGHTBOX.DELETE_PROJECT.CONFIRM")
