tg-lightbox-close
form
    h2.title(translate="LIGHTBOX.DELETE_PROJECT.TITLE")
    p
        span.question(translate="LIGHTBOX.DELETE_PROJECT.QUESTION")
        span.subtitle(translate="LIGHTBOX.DELETE_PROJECT.SUBTITLE")
    .options
        a.button-green(href="", title="{{'LIGHTBOX.DELETE_PROJECT.CONFIRM' | translate}}")
            span(translate="LIGHTBOX.DELETE_PROJECT.CONFIRM")
        a.button-red(href="", title="{{'COMMON.CANCEL' | translate}}")
            span(translate="COMMON.CANCEL")
