a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title Delete project
    p
        span.question Are you sure you want to delete this project?
        span.subtitle All project data US/Tasks/Issues/Sprints/WikiPages will be lost! :-(
    div.options
        a.button-green(href="", title="Yes, I'm really sure")
            span Yes, I'm really sure
        a.button-red(href="", title="Cancel")
            span Cancel
