a.close(href="", title="close")
    svg.icon.icon-close
        use(xlink:href="#icon-close")
form
    h2.title(translate="LIGHTBOX.ADD_MEMBER.TITLE")

    //- Form is set in a directive
    .add-member-forms

    button.button-green.submit-button(type="submit", title="{{'COMMON.CREATE' | translate}}", translate="COMMON.CREATE")

    p.help-text(translate="LIGHTBOX.ADD_MEMBER.HELP_TEXT")
