tg-lightbox-close
section
    h2.title
    p.message
    .options
        button.btn-small.js-confirm(
            variant="primary"
            title="{{'COMMON.ACCEPT' | translate}}"
        )
            span(translate="COMMON.ACCEPT")
