a.close(href="", title="{{'COMMON.CLOSE' | translate}}")
    span.icon.icon-delete
form
    h2.title(translate="COMMON.NEW_BULK")
    fieldset
        textarea(cols="200", wrap="off", tg-limit-line-length,  placeholder="{{'COMMON.ONE_ITEM_LINE' | translate}}", ng-model="new.bulk", data-required="true", data-linewidth="200")

    button.button-green.submit-button(type="submit", title="{{'COMMON.SAVE' | translate}}", translate="COMMON.SAVE")