//- See $confirm.loader to undestand this template

section
    div.spin.hidden
        img(src="/svg/spinner-circle.svg", alt="loading...")

    div.progress-bar-wrapper.hidden
        div.bar
        span.progress

    h2.title
    p.message
