tg-lightbox-close

form
    h2.title
    p.question
    p.subtitle
    p.replacement
    select.choices
    p.warning

    .options
        a.button-green(href="", title="{{'COMMON.ACCEPT' | translate}}")
            span(translate="COMMON.ACCEPT")
        a.button-red(href="", title="{{'COMMON.CANCEL' | translate}}")
            span(translate="COMMON.CANCEL")
