tg-lightbox-close

form
    h2.title
    p
        span.subtitle
        span.message

    div.options
        button.btn-link.btn-cancel.js-cancel(
            variant="icon"
        )
            span(translate="COMMON.CANCEL")

        button.btn-small.js-confirm(variant="primary")
            span(translate="COMMON.ACCEPT")

