a.close(href="", title="{{'COMMON.CLOSE' | translate}}")
    span.icon.icon-delete
section
    h2.title
    p.message
    div.options
        a.button-green(href="", title="{{'COMMON.ACCEPT' | translate}}")
            span(translate="COMMON.ACCEPT")
