tg-lightbox-close

form
    h2.title
    p
        span.subtitle
        span.message

    div.options
        button.btn-link.button-red
            span(translate="COMMON.CANCEL")

        button.btn-small.button-green(variant="primary")
            span(translate="COMMON.ACCEPT")

