
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

tg-lightbox-close

form
    h2.title
    p
        span.subtitle
        span.message

    .options
        button.btn-link.btn-cancel.js-cancel(
            variant="icon"
        )
            span(translate="COMMON.CANCEL")

        button.btn-small.btn-confirm.js-confirm(
            variant="destructive"
        )
            tg-svg(svg-icon="icon-trash")
            span(translate="COMMON.DELETE")

