
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

//- See $confirm.loader to undestand this template

section
    div.spin.hidden
        img(src="#{v}/svg/spinner-circle.svg", alt="{{'COMMON.LOADING' | translate}}")

    div.progress-bar-wrapper.hidden
        div.bar
        span.progress

    h2.title
    p.message
