tg-lightbox-close

form
    h2.title
    p
        span.subtitle
        span.message

    div.options
        button.btn-small.btn-form
            span(translate="COMMON.CANCEL")

        button.btn-small.btn-delete.btn-confirm
            tg-svg(svg-icon="icon-trash")
            span(translate="COMMON.DELETE")

