tg-lightbox-close

form
    h2.title
    p
        span.subtitle
        span.message

    div.options
        button.btn-link
            span(translate="COMMON.CANCEL")

        button.btn-small(variant="primary")
            span(translate="COMMON.ACCEPT")

