a.close(href="", title="close")
    span.icon.icon-delete
form
    h2.title
    p.question
    p.subtitle
    p.replacement
    select.choices
    p.warning

    div.options
        a.button-green(href="", title="Accept")
            span Accept
        a.button-red(href="", title="Delete")
            span Cancel
