tg-lightbox-close

form
    h2.title
    p
        span.subtitle
        span.message
    div.options
        a.button-green(
            href=""
            title="{{'COMMON.ACCEPT' | translate}}"
        )
            span(translate="COMMON.ACCEPT")
        a.button-red(href="", title="{{'COMMON.CANCEL' | translate}}")
            span(translate="COMMON.CANCEL")
