tg-lightbox-close
section
    h2.title
    p.message
    .options
        a.button-green(
            href=""
            title="{{'COMMON.ACCEPT' | translate}}"
        )
            span(translate="COMMON.ACCEPT")
