div.login-form-container(tg-login)
    form.login-form
        fieldset
            input(type="text", name="username", data-required="true",
                  placeholder="Username or Email (case sensitive)")
        fieldset.login-password
            input(type="password", name="password", data-required="true",
                  placeholder="Password (case sensitive)")
            // This should be hidden when focus on pass
            a.forgot-pass(href="", tg-nav="forgot-password", title="Did you forgot your password?") Forgot it?

        fieldset
            button.button-green.submit-button(type="submit", title="Sign in") Sign in

        fieldset(tg-github-login-button)

    tg-public-register-message
