.projects-nav-overlay
    div.container
        p(translate="COMMON.LOADING_PROJECT")

div.wizard-create-project(tg-lb-create-project)
    include wizard-create-project

nav.projects-nav(tg-projects-nav)
