section.related-tasks(
    tg-related-tasks
    ng-show="showRelatedTasks()"
)
    .related-tasks-header
        span.related-tasks-title(translate="COMMON.RELATED_TASKS")
        div(tg-related-task-create-button)
    .related-tasks-body
        .row.single-related-task.js-related-task(
            ng-repeat="task in tasks"
            ng-class="{closed: task.is_closed, blocked: task.is_blocked, iocaine: task.is_iocaine}"
            tg-related-taskboard-row
            ng-model="task"
        )
        div(tg-related-task-create-form)
