section.search-in
    header
        fieldset
            input(
                type="text"
                placeholder="{{'SEARCH.PLACEHOLDER_SEARCH' | translate}}"
                ng-model="searchTerm"
            )
            .icon-search-wrapper(tg-loading="loading")
                svg.icon.icon-search(title="{{'SEARCH.TITLE_ACTION_SEARCH' | translate}}")
                    use(xlink:href="#icon-search")
