
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

section.search-in
    input.search-input(
        type="text"
        placeholder="{{'SEARCH.PLACEHOLDER_SEARCH' | translate}}"
        ng-model="searchTerm"
    )
    .icon-search-wrapper(tg-loading="loading")
        tg-svg(svg-icon="icon-search", title="{{'SEARCH.TITLE_ACTION_SEARCH' | translate}}")
