section.search-filter
    ul
        li.userstories(data-name="userstories")
            a.active(href="#")
                span.icon.icon-bulk
                span.num 0
                span.name(translate="SEARCH.FILTER_USER_STORIES")

        li.issues(data-name="issues")
            a(href="#")
                span.icon.icon-issues
                span.num 0
                span.name(translate="SEARCH.FILTER_ISSUES")

        li.tasks(data-name="tasks")
            a(href="#")
                span.icon.icon-bulk
                span.num 0
                span.name(translate="SEARCH.FILTER_TASKS")

        li.wikipages(data-name="wikipages")
            a(href="#")
                span.icon.icon-wiki
                span.num 0
                span.name(translate="SEARCH.FILTER_WIKI")

        //- li
        //-     a(href="#")
        //-         span.icon.icon-edit
        //-         | 3 Users
