section.sprints
    header
        h1(translate="BACKLOG.SPRINTS.TITLE")
        div.summary
            div.total-sprints
                span.number(ng-bind="project.total_milestones") --
                span.description(translate="BACKLOG.SPRINTS.NUMBER_SPRINTS")
            a.button-green.add-sprint(href="", title="{{ 'BACKLOG.TITLE_ACTION_NEW_SPRINT' | translate }}",
                                      ng-click="ctrl.addNewSprint()", tg-check-permission="add_milestone")
                span.text(translate="BACKLOG.SPRINTS.ACTION_NEW_SPRINT")

    div.sprint.sprint-open(ng-repeat="sprint in openSprints track by sprint.id",
                           tg-backlog-sprint="sprint",
                           tg-sprint-sortable)
        include sprint

    a.filter-closed-sprints(href="", tg-backlog-toggle-closed-sprints-visualization,
                            ng-show="totalClosedMilestones")
        span.icon.icon-archive
        span.text(translate="BACKLOG.SPRINTS.ACTION_SHOW_CLOSED_SPRINTS")

    div.sprint.sprint-closed(ng-repeat="sprint in closedSprints track by sprint.id",
                             tg-backlog-sprint="sprint",
                             tg-sprint-sortable)
        include sprint
