section.admin-menu
    nav
        ul
            li#usersettingsmenu-user-profile
                a(href="", tg-nav="user-settings-user-profile")
                    span.title(translate="USER_SETTINGS.MENU.USER_PROFILE")
            li#usersettingsmenu-change-password
                a(href="" tg-nav="user-settings-user-change-password")
                    span.title(translate="USER_SETTINGS.MENU.CHANGE_PASSWORD")
            li#usersettingsmenu-mail-notifications
                a(href="", tg-nav="user-settings-mail-notifications")
                    span.title(translate="USER_SETTINGS.MENU.EMAIL_NOTIFICATIONS")
