section.admin-menu
    nav
        ul
            li#usersettingsmenu-user-profile
                a(href="", tg-nav="user-settings-user-profile", title="{{ 'USER_SETTINGS.MENU.USER_PROFILE' | translate }}")
                    span.title(translate="USER_SETTINGS.MENU.USER_PROFILE")
            li#usersettingsmenu-change-password
                a(href="" tg-nav="user-settings-user-change-password", title="{{ 'USER_SETTINGS.MENU.CHANGE_PASSWORD' | translate }}")
                    span.title(translate="USER_SETTINGS.MENU.CHANGE_PASSWORD")
            li#usersettingsmenu-custom-homepage
                a(href="", tg-nav="user-settings-user-project-settings", title="{{ 'USER_SETTINGS.PROJECT_SETTINGS.CUSTOM_HOMEPAGE' | translate }}")
                    span.title(translate="USER_SETTINGS.PROJECT_SETTINGS.CUSTOM_HOMEPAGE")
            li#usersettingsmenu-mail-notifications
                a(href="", tg-nav="user-settings-mail-notifications", title="{{ 'USER_SETTINGS.MENU.EMAIL_NOTIFICATIONS' | translate }}")
                    span.title(translate="USER_SETTINGS.MENU.EMAIL_NOTIFICATIONS")
            li#usersettingsmenu-live-notifications
                a(href="", tg-nav="user-settings-live-notifications", title="{{ 'USER_SETTINGS.MENU.DESKTOP_NOTIFICATIONS' | translate }}")
                    span.title(translate="USER_SETTINGS.MENU.DESKTOP_NOTIFICATIONS")
            li#usersettings-contrib(ng-repeat="plugin in userSettingsPlugins")
                a(
                    href=""
                    tg-nav="user-settings-contrib:plugin=plugin.slug"
                    ng-class="{active: plugin.slug == currentPlugin.slug}"
                )
                    span.title {{ plugin.name }}
