/* stylelint-disable color-named, color-no-hex */
.auth {
    background: url('../images/bg.png') no-repeat center center;
    background-size: cover;
}

.navbar {
    background: rgba($black, .5);
    &::after {
        background: url('../images/menu-vert.png') repeat top left;
    }
    .nav-right {
        svg {
            fill: $secondary-dark;
            stroke: $secondary-dark;
        }
        .active svg {
            fill: $secondary-dark;
            stroke: $secondary-dark;
        }
    }
}
tg-project-menu {
    background-color: $primary-dark;
    background-image: url('../images/menu.png');
}
.menu-tertiary ul li a,
.menu-tertiary ul li a:hover {
    color: white;
}

.button-green {
    background: $primary;
}
.button-gray {
    background: $grey-60;
}
.button-red {
    background: $red-25;
}
.button-green,
.button-gray,
.button-red {
    @include font-type(light);
}
.button-green,
.button-gray {
    &:hover,
    &.active,
    &:visited:hover {
        background: $secondary;
    }
}

.button-check input + label {
    background-color: $grey-40;
}

.button-check input:checked + label {
    background-color: $primary;
}

.check input:checked + div {
    background-color: $primary-50;
}
.check-toggle.active {
    background-color: $primary;
}

//// OVERRIDE

.topnav-dropdown-wrapper .counter {
    color: $top-icon-color;
}
/* stylelint-enable color-named, color-no-hex */
