//*************************
//** COLORS
//************************

$primary: #5b8200;
$primary-75: #9dce0a;
$primary-50: #9dce0a;
$primary-25: #F5FAE6;
$primary-10: #F5FAE6;

$secondary: #9dce0a;
$secondary-50: #D3E391;

$tertiary: #879b89;

$red:  #f00;
$red-25: #FF8082;
$red-10: #FFE6E6;

$white: #fff;
$grey-02: #F9F9F9;
$grey-05: #F1F1F1;
$grey-10: #E2E2E2;
$grey-20: #C6C6C6;
$grey-30: #B8B8B8;
$grey-40: #8D8D8D;
$grey-50: #767676;
$grey-60: #555;
$grey-70: #444;
$grey-80: #2D2D2D;
$grey-90: #020202;
$black: #000;

// Color aliases for retrocompatibility with external plugins
$blackish: $grey-90;
$grayer: $grey-70;
$gray: $grey-60;
$gray-light: $grey-50;
$gray-lighter: $grey-30;
$whitish: $grey-10;
$mass-white: $grey-05;
$primary-light: $primary-75;
$primary-lighter: $primary-10;
$primary: $primary;
$primary-dark: $primary-50;
$primary-background: $primary-25;
$secondary-light: $secondary-50;
$secondary-dark: $tertiary;
$red-light: $red-25;

//Status colors
$green-light: #D1DFC5;
$my-sin: #fcaf3e;
$yellow-green: #9dce0a;

//Card color
$card: #fff8e4;
$card-hover: #f1e8cd;
$card-dark: #cfc29b;

$green-japanese-laurel: #237400;
$green-olive: #618000;
$red-amaranth: #e43050;
$purple-eggplant: #810061;
$yellow-pear: #bbe831;

$tribe-primary: #107a8a;
$tribe-secondary: darken($tribe-primary, 10%);

$top-icon-color: #11241f;
$dropdown-color: rgba(darken($grayer, 20%), 1);
$code-bg: #272822;

$highlight: #E5F390;

// TAIGA 6

// Primary colors
$color-solid-primary: #83EEDE;
$color-link-primary: #008AA8;
$color-link-tertiary: #70728F;

// Grayscale
$color-gray100: #F9F9FB;
$color-gray200: #ECEFF4;
$color-gray300: #E5E9F0;
$color-gray400: #D8DEE9;

$color-black600: #4C566A;
$color-black700: #434C5E;
$color-black800: #3B4252;
$color-black900: #2E3440;

// State colors
$color-solid-red: #E44057;
$color-solid-orange: #EA7B4B;
$color-solid-yellow: #F6C95C;
$color-solid-green: #93C45D;
$color-solid-purple: #CA81BE;
