section.attachments
    div.attachments-header
        div.attachments-inner
            h3.attachments-title
                span.icon.icon-attachment
                span.attachments-num {{5}}
                span.attachemnts-text attachments
            a(href="", title="Add new attachment")
                span.icon.icon-plus
