section.backlog-table
    div.row.title
        div.user-stories.width-4 User Stories
        div.status.width-2 Status
        div.points.width-1 Points
        div.points.width-1
      div.row.sub-title
        div.user-stories.width-4
        div.status.width-2
        div.points.width-1 Front
        div.points.width-1 Back
      - for (var x = 0; x < 50; x++)
            div.row.table-main
                div.user-stories.width-4
                    div.user-story-name
                        input(type="checkbox", name="")
                        a(href="") Crear el perfil de usuario Senior en el admin
                        a.icon.icon-edit(href="", title="Edit")
                        a.icon.icon-delete(href="", title="Delete")
                    div.user-story-tags
                        - for(var y = 0; y < 3; y++)
                            include ../components/tag
                div.status.width-2 Status
                div.points.width-1 Front
                div.points.width-1 Back
