section.backlog-table
  div.row.title
    div.user-stories.width-4 User Stories
    div.status.width-2 Status
    div.points.width-1 Points
    div.points.width-1
  div.row.sub-title
    div.user-stories.width-4
    div.status.width-2
    div.points.width-1 Front
    div.points.width-1 Back
  div.row.table-main
    div.user-stories.width-4
      input(type="checkbox", name="", id="")
      span Crear el perfil de usuario Senior en el admin
      a(href="", title="Edit")
      span.icon.icon-edit
      a(href="", title="Delete")
      span.icon.icon-delete
    div.status.width-2 Status
    div.points.width-1 Front
    div.points.width-1 Back
  div.row.table-main
    div.user-stories.width-4
      input(type="checkbox", name="", id="")
      span Crear el perfil de usuario Senior en el admin
      a(href="", title="Edit")
      span.icon.icon-edit
      a(href="", title="Delete")
      span.icon.icon-delete
    div.status.width-2 Status
    div.points.width-1 Front
    div.points.width-1 Back
