section.table.backlog
  header
    div.row
      div.user-stories.width-6 User Stories
      div.status.width-2 Status
      div.points.width-2 Points
    div.row.sub-header
      div.width-8
      div.status.width-1 Front
      div.points.width-1 Total
  body
    div.row
      div.user-stories.width-6 User Stories
        input(type="checkbox", name="", id="")
        span Crear el perfil de usuario Senior en el admin
        a(href="", title="Edit")
          span.ico(data-icon="edit") Edit
        a(href="", title="Delete")
          span.ico(data-icon="delete") Delete
      div.status.width-2
        span Ready for test
      div.status.width-1 3points
      div.points.width-1 8points
