nav.menu
  h1.logo
    a(href="", title="Home")
      img(src="images/logo.png", alt="Taiga")
  ul.main-nav
    li
      a(href="", title="Search")
        span.icon.icon-search
        span Search
    li
      a(href="", title="Backlog")
        span.icon.icon-backlog
        span Backlog
    li
      a(href="", title="Kanban")
        span.icon.icon-kanban
        span Kanban
    li
      a(href="", title="Issues")
        span.icon.icon-issues
        span Issues
    li
      a(href="", title="Wiki")
        span.icon.icon-wiki
        span Wiki
    li
      a(href="", title="Video")
        span.icon.icon-video
        span Video
  div.user
    a.avatar(href="", title="User preferences")
      img(src="http://thecodeplayer.com/u/uifaces/23.jpg", alt="username")
    a(href="", title="User preferences") Pilar
    a(href="", title="Site preferences")
      span.icon.icon-settings
