section.search-filter
    ul
        li
            a.active(href="#")
                span.icon.icon-bulk
                | 20 User Stories

        li
            a(href="#")
                span.icon.icon-issues
                | 3 Issues

        li
            a(href="#")
                span.icon.icon-bulk
                | 23 Task

        li
            a(href="#")
                span.icon.icon-wiki
                | 2 Wiki pages

        li
            a(href="#")
                span.icon.icon-edit
                | 12 Documents

        li
            a(href="#")
                span.icon.icon-edit
                | 3 Users