// Basic layout styles
html {
    min-height: 100%;
    width: 100%;
}
body {
    @extend %text;
    background: $white; // fallback
    color: $grayer;
    min-height: 100%;
    width: 100%;
    .master {
        &.ng-animate {
            transition: 0;
        }
    }
    .menu {
        transform: translate3d(0, 0, 0);
        transition: transform 1s ease;
    }
    &.open-projects-nav {
        .projects-nav {
            transform: translate3d(0, 0, 0);
            transition: transform 1s ease;
        }
        .master {
            transform: translate3d(300px, 0, 0);
            transition: transform 1s ease;
            &.ng-animate {
                transition: 0;
            }
        }
        .menu {
            transform: translate3d(300px, 0, 0);
            transition: transform 1s ease;
        }
        .projects-nav-overlay {
            opacity: .9;
            transform: translate3d(300px, 0, 0);
            transition: all 1s ease;
        }
        &.closed-projects-nav {
            .projects-nav {
                transform: translate3d(-300px, 0, 0);
                transition: transform 1s ease;
            }
            .projects-nav-overlay {
                opacity: 0;
                transform: translate3d(0, 0, 0);
                transition: all 1s ease;
            }
            .master {
                transform: translate3d(0, 0, 0);
            }
            .menu {
                transform: translate3d(0, 0, 0);
            }
        }
    }
    &.loading-project {
        overflow: hidden;
        .projects-nav-overlay {
            opacity: 1;
            overflow: hidden;
            transition: opacity 1s ease;
            div {
                opacity: 1;
                transition: opacity 1s ease;
            }
        }
    }
}

.loader-active {
    overflow: hidden;
}

.master {
    background: $white;
    height: 100%;
    min-height: 100%;
    position: relative;
}

.centered {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 960px;
    width: 90%;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    padding-left: 90px;
}

.menu-secondary {
    background: $whitish;
    flex: 0 0 auto;
    min-height: 100vh;
    min-width: 0;
    padding: 1rem;
    width: 320px;
    &.filters-bar {
        flex: 0 0 auto;
        padding: 0;
        transition: all .2s linear;
        width: 0;
        &.active {
            padding: 2em 1em;
            transition: all .2s linear;
            width: 260px;
            .filters-inner {
                opacity: 1;
                transition: all .4s ease-in;
            }
        }
    }
    .search-in {
        margin-top: .5rem;
    }
}

.menu-tertiary {
    background-color: $dark-taiga;
    flex: 0 0 auto;
    min-height: 100vh;
    padding: 2em 1em;
    width: 255px;
}

.extrabar {
    background: $whitish;
}

.main {
    flex: 4;
    min-width: 600px;
    padding: 1rem 2rem;
}

.icon {
    @extend %taiga;
}

.hidden {
    // scss-lint:disable ImportantRule
    display: none !important;
}

.header-with-actions {
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    .action-buttons {
        flex-shrink: 0;
    }
    .button {
        color: $white;
        float: right;
        margin-left: 10px;
        &:hover {
            color: $white;
        }
    }
    h1 {
        margin-bottom: 0;
    }
}
