// Typography
// Font face

@each $font-face in
    OpenSans-CondLight,
    OpenSans-Light,
    OpenSans-Regular,
    OpenSans-Semibold {
    @font-face {
        font-family: '#{$font-face}';
        src: url('../fonts/#{$font-face}.ttf') format('truetype');
    }
}

@font-face {
    font-family: 'taiga';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/taiga.eot');
    /* stylelint-disable declaration-colon-newline-after */
    src: url('../fonts/taiga.eot?') format('eot'),
        url('../fonts/taiga.woff') format('woff'),
        url('../fonts/taiga.ttf')  format('truetype');
    /* stylelint-enable declaration-colon-newline-after */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $grey-90;
    font-weight: normal;
    line-height: 1.5;

    a {
        font-weight: inherit;
    }
}

h1 {
    @include font-type(text);
    @include font-size(larger);
    align-items: baseline;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-transform: uppercase;
    @include from($fullhd) {
        display: flex;
    }
    .title {
        @include font-type(light);
    }
    span {
        @include font-type(text);
        @include font-size(larger);
        margin-right: .5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
        white-space: nowrap;

        &.green,
        &:last-child {
            flex-shrink: 0;
        }
    }

    .project-name {
        @include font-type(light);
        color: $grey-40;
        display: inline-block;
        margin-bottom: 0;
        @include from($widescreen) {
            max-width: 580px;
        }
        @include desktop() {
            max-width: 380px;
        }
        @include until($desktop) {
            max-width: 250px;
        }
    }

    .project-name-short {
        @include font-type(light);
        display: inline-block;
        max-width: 40%;
    }

    .date {
        @include ellipsis(500px);
        @include font-type(text);
        @include font-size(small);
        color: $grey-70;
    }

    .green {
        color: $primary;
        fill: $primary;
    }
}

h2 {
    @include font-size(larger);
    @include font-type(text);
    line-height: 1.2;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
    margin: 0 0 20px;

    img {
        margin: 0;
    }
}

em {
    font-style: italic;
}

small {
    @include font-size(x-small);
}

strong {
    font-weight: bold;
}

hr {
    border: solid $blackish;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 10px 0 30px;
}

// __Links__
a,
a:visited {
    color: $grey-80;
    text-decoration: none;

    &:hover {
        color: $primary;
        transition: color .3s linear;
    }
}
