
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.blocked-project-detail(ng-controller="Project as vm")
    .blocked-project-inner
        .blocked-project-title
            .project-image
                img(
                    tg-project-logo-small-src="vm.project"
                    alt="{{::vm.project.get('name')}}"
                )
                tg-svg(
                    svg-icon="icon-blocked-project"
                    svgTitleTranslate: "PROJECT.BLOCKED_PROJECT.BLOCKED"
                )
            span.project-title {{::vm.project.get("name")}}
        .blocked-project-message
            h1.project-block-title {{'PROJECT.BLOCKED_PROJECT.BLOCKED' | translate}}
            tg-blocked-project-explanation.project-block-message
