div(ng-if="!vm.project.get('i_am_owner')")
    div {{'PROJECT.BLOCKED_PROJECT.THIS_PROJECT_IS_BLOCKED' | translate}}

div(ng-if="vm.project.get('i_am_owner')")
    div {{'PROJECT.BLOCKED_PROJECT.TO_UNBLOCK_CONTACT_THE_ADMIN_STAFF' | translate}}
