extends layout

block head
    title Taiga  Project management web application with scrum in mind!

block content
    section.main.usstory
        include views/components/mainTitle

    sidebar.menu-secondary.sidebar


