// Shame SCSS declarations to be refactorized

_:-ms-fullscreen,
:root .taskboard-table-body {
    .task-row {
        min-height: auto;
    }
}


// External lybrary makes weird things. Please destroy
.markItUpEditor {
    @extend %small;
    line-height: 1.5;
    font-family: monospace;
}
