// Shame SCSS declarations to be refactorized

_:-ms-fullscreen,
:root .taskboard-table-body {
    .task-row {
        min-height: auto;
    }
}


// External lybrary makes weird things. Please destroy
.markItUpEditor {
    @include font-size(small);
    line-height: 1.5;
    font-family: monospace;
}

// Prevent IE Bug when the user clicks in the svg path the js event click doesn't work

svg {
    pointer-events: none;
}

// Avoid previous selector to remove event on child SVG click.

a[ng-click] svg {
    pointer-events: auto;
}
