div(class!="priority-data <% if(editable){ %>clickable<% }%>")
    span(class="level", style!="background-color:<%- priority.color %>")
    span
        span.label(class="priority-priority") <%- priority.name %>
        <% if(editable){ %>
        tg-svg(svg-icon="icon-arrow-down")
        <% }%>
    span(class="level-name", translate="COMMON.FIELDS.PRIORITY")

    ul(class="popover pop-priority")
        <% _.each(priorityes, function(pr) { %>
        li
            a(href="", class="priority", title!="<%- pr.name %>",
               data-priority-id!="<%- pr.id %>") <%- pr.name %>
        <% }); %>
