
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

div(class!="priority-data <% if(editable){ %>clickable<% }%>")
    .label.level-name(translate="COMMON.FIELDS.PRIORITY")
    .level-data
        span.label(class="priority-priority") <%- priority.name %>    
        span.level-color(style!="background-color:<%- priority.color %>")

    ul(class="popover pop-priority")
        <% _.each(priorityes, function(pr) { %>
        li
            a(href="", class="priority", title!="<%- pr.name %>",
               data-priority-id!="<%- pr.id %>") <%- pr.name %>
        <% }); %>
