<% _.each(filters, function(f) { %>
<% if (!f.selected) { %>
.single-filter(
    data-type!="<%- f.type %>"
    data-id!="<%- f.id %>"
)
    span.name(style!="<%- f.style %>") <%- f.name %>
    <% if (f.count){ %>
    span.number <%- f.count %>
    <% } %>
    <% if (f.type == "myFilters"){ %>
    a.remove-filter(href="")
        tg-svg(svg-icon="icon-trash")
    <% } %>
<% } %>
<% }) %>
span(class="new")
input.hidden.my-filter-name(
    type="text"
    placeholder="{{'ISSUES.PLACEHOLDER_FILTER_NAME' | translate}}"
)
