.severity-data(class!="<% if(editable){ %>clickable<% }%>")
    span.level(style!="background-color:<%- severity.color %>")
    span
        span.label <%- severity.name %>
        <% if(editable){ %>
        tg-svg(svg-icon="icon-arrow-down")
        <% }%>
    span.label.level-name(translate="COMMON.FIELDS.SEVERITY")

    ul.popover.pop-severity
        <% _.each(severityes, function(sv) { %>
        li
            a.severity(
                href=""
                title!="<%- sv.name %>"
                data-severity-id!="<%- sv.id %>"
            )
                <%- sv.name %>
        <% }); %>
