<% _.each(filters, function(f) { %>
a(class="single-filter selected",
   data-type!="<%- f.type %>",
   data-id!="<%- f.id %>")
    span(class="name", style!="<%- f.style %>")
        | <%- f.name %>
    span(class="icon icon-delete")
<% }) %>