div(class!="type-data <% if(editable){ %>clickable<% }%>")
    span(class="level", style!="background-color:<%- type.color %>")
    span(class="type-type") <%- type.name %>
    <% if(editable){ %>
    svg.icon.icon-arrow-down
        use(xlink:href="#icon-arrow-down")
    <% }%>
    span(class="level-name", translate="COMMON.FIELDS.TYPE")

    ul(class="popover pop-type")
        <% _.each(typees, function(tp) { %>
        li
            a(href="", class="type", title!="<%- tp.name %>",
               data-type-id!="<%- tp.id %>")
                | <%- tp.name %>
        <% }); %>
