include ../includes/components/beta
div.profile.centered
    div.profile-bar User bar
    div.main
        div.hero
        div.content-wrapper
            div.content
            div.sidebar Sidebar


