include ../includes/components/beta
div.profile.centered
    include ../includes/modules/profile/profile-bar
    div.main
        div.hero
        div.content-wrapper
            div.content
            div.sidebar Sidebar


