div.wrapper.memberships(ng-controller="MembershipsController as ctrl",
                        ng-init="section='admin'", tg-memberships)
    sidebar.menu-secondary.sidebar(tg-admin-navigation="memberships")
        include ../includes/modules/admin-menu

    section.main.admin-membership
        .header-with-actions
            header
                include ../includes/components/mainTitle

            .action-buttons
                a.button.button-green(title="Add new member" href="" ng-click="ctrl.addNewMembers()")
                   span.text + New member

        include ../includes/modules/admin/admin-membership-table

        div.paginator.memberships-paginator

    div.lightbox.lightbox-add-member(tg-lb-create-members)
        include ../includes/modules/lightbox-add-member
