
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.owner-avatar
    img(tg-avatar="owner", alt="{{::owner.full_name_display}}")

.owner-info
    .owner-info-title {{ 'ADMIN.PROJECT_PROFILE.PROJECT_OWNER' | translate }}
    .owner-name {{::owner.full_name_display}}

a.request(
    href="",
    ng-click="changeOwner()",
    ng-if="members > 1") {{ 'ADMIN.PROJECT_PROFILE.CHANGE_OWNER' | translate }}
