
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

ul.paginator
    <% if (showPrevious) { %>
    li.previous
        a(href="", class="previous next_prev_button", class="disabled")
            span(translate="PAGINATION.PREVIOUS")
    <% } %>

    <% _.each(pages, function(item) { %>
    li(class!="<%- item.classes %>")
        <% if (item.type === "page") { %>
        a(href="", data-pagenum!="<%- item.num %>") <%- item.num %></a>
        <% } else if (item.type === "page-active") { %>
        span(class="active") <%- item.num %>
        <% } else { %>
        span ...
        <% } %>
    <% }); %>

    <% if (showNext) { %>
    li.next
        a(href="", class="next next_prev_button", class="disabled")
            span(translate="PAGINATION.NEXT")
    <% } %>
