doctype html

div.wrapper.memberships(ng-controller="MembershipsController as ctrl",
                        ng-init="section='admin'; sectionName='ADMIN.MEMBERSHIPS.TITLE'", tg-memberships)
    nav.menu.hidden(tg-project-menu)

    sidebar.menu-secondary.sidebar(tg-admin-navigation="memberships")
        include ../includes/modules/admin-menu

    section.main.admin-membership
        .header-with-actions
            header
                include ../includes/components/mainTitle

            .action-buttons
                a.button-green(href="", title="{{ ADMIN.MEMBERSHIPS.ADD_BUTTON_TITLE | translate }}",
                               ng-click="ctrl.addNewMembers()")
                   span.text(translate="ADMIN.MEMBERSHIPS.ADD_BUTTON")

        include ../includes/modules/admin/admin-membership-table

        div.paginator.memberships-paginator

    div.lightbox.lightbox-add-member(tg-lb-create-members)
        include ../includes/modules/lightbox-add-member
