
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.owner-avatar
    img(tg-avatar="owner", alt="{{::owner.full_name_display}}")

.owner-info
    .title {{ 'ADMIN.PROJECT_PROFILE.PROJECT_OWNER' | translate }}
    .owner-name {{::owner.full_name_display}}

.request
    a(href="", ng-click="requestOwnership()") {{ 'ADMIN.PROJECT_PROFILE.REQUEST_OWNERSHIP' | translate }}

    p.limit-message(
        ng-if="!canRequest"
        translate="ADMIN.PROJECT_PROFILE.REQUEST_OWNERSHIP_LIMIT"
        translate-values="{ 'maxProjects': owner.max_private_projects}"
    ) {{ 'ADMIN.PROJECT_PROFILE.REQUEST_OWNERSHIP_LIMIT ' | translate }}
