fieldset(ng-if="!project.can_is_private_be_updated")
    p(ng-if="!project.is_private")
      span(ng-if="project.total_memberships < project.max_memberships") {{ 'ADMIN.PROJECT_PROFILE.MAX_PRIVATE_PROJECTS' | translate }}

      span(ng-if="project.total_memberships >= project.max_memberships") {{ 'ADMIN.PROJECT_PROFILE.MAX_PRIVATE_PROJECTS_MEMBERS' | translate }}

    p(ng-if="project.is_private")
      span(ng-if="project.total_memberships < project.max_memberships") {{ 'ADMIN.PROJECT_PROFILE.MAX_PUBLIC_PROJECTS' | translate }}

      span(ng-if="project.total_memberships >= project.max_memberships") {{ 'ADMIN.PROJECT_PROFILE.MAX_PUBLIC_PROJECTS_MEMBERS' | translate }}
