.owner-avatar
    img(tg-avatar="owner", alt="{{::owner.full_name_display}}")

.owner-info
    .owner-info-title {{ 'ADMIN.PROJECT_PROFILE.PROJECT_OWNER' | translate }}
    .owner-name {{::owner.full_name_display}}

a.request(
    href="",
    ng-click="changeOwner()",
    ng-if="members > 1") {{ 'ADMIN.PROJECT_PROFILE.CHANGE_OWNER' | translate }}
