doctype html

div.wrapper.roles(tg-bitbucket-webhooks, ng-controller="BitbucketController as ctrl",
                        ng-init="section='admin'")
    nav.menu.hidden(tg-project-menu)
    sidebar.menu-secondary.sidebar(tg-admin-navigation="third-parties")
        include ../includes/modules/admin-menu
    sidebar.menu-tertiary.sidebar(tg-admin-navigation="third-parties-bitbucket")
        include ../includes/modules/admin-submenu-third-parties

    section.main.admin-common.admin-third-parties
        include ../includes/components/mainTitle

        form
            fieldset
                label(for="secret-key", translate="ADMIN.THIRD_PARTIES.SECRET_KEY")
                input(type="text", name="secret-key", ng-model="bitbucket.secret", placeholder="{{'ADMIN.THIRD_PARTIES.SECRET_KEY' | translate}}", id="secret-key")

            fieldset
                .select-input-text(tg-select-input-text)
                    div
                        label(for="payload-url", translate="ADMIN.THIRD_PARTIES.PAYLOAD_URL")
                        .field-with-option
                            input(type="text", ng-model="bitbucket.webhooks_url", name="payload-url", readonly="readonly", placeholder="{{'ADMIN.THIRD_PARTIES.PAYLOAD_URL' | translate}}", id="payload-url")
                            .option-wrapper.select-input-content
                                .icon.icon-copy
                        .help-copy(translate="COMMON.COPY_TO_CLIPBOARD")

            fieldset
                label(for="valid-origin-ips", translate="ADMIN.THIRD_PARTIES.VALID_IPS")
                input(type="text", name="valid-origin-ips", tg-valid-origin-ips, ng-model="bitbucket.valid_origin_ips", placeholder="{{'ADMIN.BITBUCKET.INFO_VERIFYING_IP' | translate}}", id="valid-origin-ips")

            button.button-green.submit-button(type="submit", title="{{'COMMON.SAVE' | translate}}", translate="COMMON.SAVE")

        a.help-button(href="https://taiga.io/support/bitbucket-integration/", target="_blank")
            span.icon.icon-help
            span(translate="ADMIN.HELP")
