
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

doctype html

div.wrapper(tg-project-default-values, ng-controller="ProjectProfileController as ctrl",
            ng-init="section='admin'; sectionName='ADMIN.PROJECT_PRESETS.TITLE'")
    tg-project-menu

    sidebar.menu-secondary.sidebar.settings-nav(tg-admin-navigation="project-profile")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="default-values")
        include ../includes/modules/admin-submenu-project-profile

    section.main.admin-common
        header
            include ../includes/components/mainTitle
            p.admin-subtitle(translate="ADMIN.PROJECT_PRESETS.SUBTITLE")

        include ../includes/modules/admin/default-values
