div.wrapper(tg-project-values, ng-controller="ProjectValuesController as ctrl",
            ng-init="section='admin'; resource='userstories'; type='points'; sectionName='Us points'",
            type="points")
    sidebar.menu-secondary.sidebar(tg-admin-navigation="project-values")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="values-us-extras")
        include ../includes/modules/admin-submenu-project-values

    section.main.admin-common
        include ../includes/components/mainTitle
        p.admin-subtitle Specify here user story custom fields. The new field will appear on your user story detail.

        div.custom-field-options
            a.button.button-green.add-custom-field(href="",title="Add a custom field in user stories") Add custom field

        include ../includes/modules/admin/admin-us-extras

div.lightbox.lightbox-generic-notion.notion-admin-project-values-us-points(id="notion-admin-project-values-us-points", tg-lb-notion)
    include ../includes/modules/help-notions/lightbox-notion-admin-project-values-us-points
