doctype html

div.wrapper(ng-controller="ProjectProfileController as ctrl",
            ng-init="section='admin'; sectionName='ADMIN.PROJECT_EXPORT.TITLE'")
    nav.menu.hidden(tg-project-menu)

    sidebar.menu-secondary.sidebar(tg-admin-navigation="project-profile")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="export")
        include ../includes/modules/admin-submenu-project-profile

    section.main.admin-common(tg-project-export)
        header
            include ../includes/components/mainTitle
            p.admin-subtitle(translate="ADMIN.PROJECT_EXPORT.SUBTITLE")

        div.admin-project-export-buttons
            a.button-green.button-export(href="", title="{{ 'ADMIN.PROJECT_EXPORT.EXPORT_BUTTON_TITLE' | translate }}")
                span(translate="ADMIN.PROJECT_EXPORT.EXPORT_BUTTON")

        div.admin-project-export-result.hidden
            div.spin.hidden
                img(src="/svg/spinner-circle.svg", alt="{{ 'COMMON.LOADING' | translate }}")
            h3.result-title
            p.result-message

        a.help-button(href="https://taiga.io/support/import-export-projects/", target="_blank")
            span.icon.icon-help
            span(translate="ADMIN.HELP")
