doctype html

div.wrapper(ng-controller="ProjectProfileController as ctrl",
            ng-init="section='admin'; sectionName='ADMIN.REPORTS.TITLE'")
    sidebar.menu-secondary.sidebar(tg-admin-navigation="project-profile")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="reports")
        include ../includes/modules/admin-submenu-project-profile

    section.main.admin-common(tg-project-export)
        header
            include ../includes/components/mainTitle
            p.admin-subtitle(translate="ADMIN.REPORTS.SUBTITLE")

        p(translate="ADMIN.REPORTS.DESCRIPTION")

        div.admin-attributes-section(tg-csv-us)
        div.admin-attributes-section(tg-csv-task)
        div.admin-attributes-section
            div(tg-csv-issue)
            a.help-button(href="https://taiga.io/support/csv-reports/", target="_blank")
                span.icon.icon-help
                span(translate="ADMIN.REPORTS.HELP")
