figure.avatar
    img(
        style!="background-color: <%- bg %>"
        src!="<%- imgurl %>", alt!="<%- full_name %>"
    )
    figcaption
        span.name(ng-non-bindable) <%- full_name %>
            <% if (isOwner) { %>
            tg-svg(
                svg-icon="icon-badge",
                svg-title-translate="COMMON.OWNER"
            )
            <% }  %>
        div
            span.pending <%- pending %>
            span.email <%- email %>
