figure.avatar
    img(src!="<%- imgurl %>", alt!="<%- full_name %>")
    figcaption
        span.name <%- full_name %>
        div
            span.pending <%- pending %>
            span.email <%- email %>
