section.project-csv(tg-select-input-text)
    div.project-values-title
        h2(translate="ADMIN.CSV.TITLE",  translate-values='{ csvType: csvType}')
        a.button.button-gray(title="{{'ADMIN.CSV.DOWNLOAD' | translate}}", ng-href="{{csvUrl}}", ng-show="csvUrl", target="_blank")
            span(translate="ADMIN.CSV.DOWNLOAD")

    div.csv-regenerate-field
        .field-with-options
            input(type="text", placeholder="{{'ADMIN.CSV.URL_FIELD_PLACEHOLDER' | translate}}", readonly, ng-model="csvUrl")
            .option-wrapper.select-input-content
                .icon.icon-copy
        a(href="", title="{{'ADMIN.CSV.TITLE_REGENERATE_URL' | translate}}", ng-click="ctrl.regenerateUuid()")
           span.icon.icon-plus(ng-hide="csvUrl")
           span(ng-hide="csvUrl", translate="ADMIN.CSV.ACTION_GENERATE_URL")
           span.icon.icon-reload(ng-Show="csvUrl")
           span(ng-Show="csvUrl", translate="ADMIN.CSV.ACTION_REGENERATE")
