section.project-csv(tg-select-input-text)
    div.project-values-title
        h2(translate="{{::sectionTitle}}")
        a.button.button-gray(title="{{'ADMIN.CSV.DOWNLOAD' | translate}}",
                             ng-href="{{csvUrl}}", ng-show="csvUrl", target="_blank")
            span(translate="ADMIN.CSV.DOWNLOAD")

    div.csv-regenerate-field
        div.field-with-options
            input(type="text", placeholder="{{'ADMIN.CSV.URL_FIELD_PLACEHOLDER' | translate}}",
                  readonly, ng-model="csvUrl")
            div.option-wrapper.select-input-content
                tg-svg(svg-icon="icon-clipboard")

        a(href="", title="{{'ADMIN.CSV.TITLE_REGENERATE_URL' | translate}}", ng-click="ctrl.regenerateUuid()")
           tg-svg(svg-icon="icon-add", ng-hide="csvUrl")
           span(ng-hide="csvUrl", translate="ADMIN.CSV.ACTION_GENERATE_URL")

           tg-svg(svg-icon="icon-reload", ng-show="csvUrl")
           span(ng-Show="csvUrl", translate="ADMIN.CSV.ACTION_REGENERATE")

        a(href="", ng-show="csvUrl" title="{{'ADMIN.CSV.TITLE_DELETE_URL' | translate}}", ng-click="ctrl.deleteUuid()")
           tg-svg(svg-icon="icon-trash", ng-show="csvUrl")
           span(ng-Show="csvUrl", translate="ADMIN.CSV.ACTION_DELETE_URL")
