tg-related-userstory-row {
    @include font-size(small);
    align-items: center;
    border-bottom: 1px solid $whitish;
    display: flex;
    padding: .5rem 0 .5rem .5rem;
    &.sortable {
        cursor: move;
        &:hover {
            background: $primary-lighter;
            .userstory-settings {
                opacity: 1;
                transition: all .2s ease-in;
            }
            .icon-drag {
                opacity: 1;
            }
        }
        .icon-drag {
            @include svg-size(.75rem);
            cursor: move;
            fill: $whitish;
            opacity: 0;
            transition: opacity .1s;
        }
    }
    .status {
        flex-shrink: 0;
        position: relative;
        width: 125px;
    }
    .assigned-to-column {
        flex-shrink: 0;
        width: 150px;
        img {
            flex-basis: 35px;
            height: 35px;
            width: 35px;
        }
    }
    .project {
        cursor: pointer;
        flex-basis: 100px;
        img {
            width: 40px;
        }
    }
    .userstory-name {
        display: flex;
        flex: 1;
        margin-right: 1rem;
        a {
            cursor: pointer;
        }
        span {
            display: inline-block;
            margin-left: .25rem;
        }
    }
    .closed {
        border-left: 10px solid $whitish;
        color: $whitish;
        a,
        svg {
            fill: $whitish;
        }
        .userstory-name a {
            color: $whitish;
            text-decoration: line-through;

        }
    }
    .blocked {
        background: rgba($red-light, .2);
        border-left: 10px solid $red-light;
    }
    .userstory-settings {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        opacity: 0;
        width: 60px;
        svg {
            @include svg-size(1.1rem);
            fill: $gray-light;
            margin-right: .5rem;
            transition: fill .2s ease-in;
            &:hover {
                fill: $gray;
            }
        }
        a {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .delete-userstory {
        &:hover {
            .icon-trash {
                fill: $red-light;
            }
        }
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            flex-basis: 35px;
            // width & height they are only required for IE
            height: 35px;
            width: 35px;
        }
        figcaption {
            margin-left: .5rem;
        }
    }
}
