@import '../../../styles/dependencies/mixins/project-card';

.home-project {
    @include project-card;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: .2s;
    transition-delay: .1s;
    &:hover {
        border: 1px solid $primary-light;
    }
}

.projects-empty {
    text-align: center;
    svg {
        height: 100px;
        margin: 1rem auto;
        text-align: center;
        width: 100%;
        path {
            fill: $whitish;
        }
    }
    p {
        @extend %small;
        @extend %light;
    }
    .create-project-button {
        display: block;
        margin-bottom: .25rem;
    }
    .import-project-button {
        display: block;
    }
}
