ul.home-project-list
    li.home-project-list-single(tg-bind-scope, ng-repeat="project in vm.projects.all")
        a(href="#", tg-nav="project:project=project.slug")
            h2.home-project-list-single-title
                span.project-name(ng-bind="::project.name", title="{{ ::project.name }}")
                span.private(ng-if="project.is_private", title="{{'PROJECT.PRIVATE' | translate}}")
                    include ../../../svg/lock.svg
            p {{ ::project.description | limitTo:150 }}
                span(ng-if="::project.description.length > 150") ...
a.see-more-projects-btn.button-gray(href="#", tg-nav="projects", title="{{'PROJECT.NAVIGATION.SEE_MORE_PROJECTS' | translate}}",         translate="PROJECT.NAVIGATION.SEE_MORE_PROJECTS")
