ul.home-project-list
    li.home-project-list-single(tg-bind-scope, ng-repeat="project in vm.projects.all")
        h2.home-project-list-single-title
            a(href="#", ng-bind="::project.name", tg-nav="project:project=project.slug")
                span {{project.is_private}}
        p {{ ::project.description | limitTo:150 }}
            span(ng-if="::project.description.length > 150") ...
