.admin-membership {

    .header-message {
        background: lighten($primary, 65%);
        padding: 1rem;
    }
    .limit-users-warning {
        @include font-size(small);
        color: $primary;
        margin-right: 1rem;
    }
    .check {
        input { // IE needs smaller size
            height: 40px;
            width: 85px;
        }
    }
}
