.admin-membership {
    header {
        @include clearfix;
        margin-bottom: 1rem;
        h1 {
            float: left;
            margin-bottom: 0;
        }
        a {
            float: right;
        }
    }
}
