.auth {
    @include triangled-bg;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    .auth-container {
        flex-basis: 400px;
    }
    .logo-svg {
        text-align: center;
        width: 100%;
        svg {
            height: 8rem;
            width: 8rem;
        }
    }
    .logo {
        @include font-size(xxlarge);
        @include font-type(light);
        color: $white;
        margin-bottom: 1rem;
        text-align: center;

    }
    .tagline {
        @include font-size(xlarge);
        color: $white;
        line-height: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    form {
        margin-bottom: 1rem;
    }
    fieldset {
        margin-bottom: .5rem;
    }
    .login-text,
    .register-text {
        margin-left: .5rem;
        padding-bottom: 1rem;
        a {
            text-decoration: underline;
            &:hover {
                color: $primary-light;
            }
        }
    }
    .register-terms {
        margin: .5rem 0 .75rem;
    }
    .button {
        color: $white;
        display: block;
        text-align: center;
    }
    a {
        &:hover {
            color: $white;
        }
    }
}

.moustache {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: moustache;
    animation-timing-function: ease-in-out;
    fill: rgba($primary, .9);
    stroke: $primary-light;
    stroke-width: 1px;
    transform-origin: 50% 50%;
    transition: .3s;
    &:hover {
        fill: rgba($primary-light, .9);
        transition: .3s;
    }
}
@keyframes moustache {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(0);
    }
    70% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(10deg);
    }
    90% {
        transform: rotate(0);
    }
}
