.backlog-manager {
    align-items: flex-start;
    display: flex;
}

.backlog-table {
    flex: 1;
}

.backlog-filter {
    tg-filter {
        background: none;
        border: 1px solid $color-gray200;
        margin-right: 1.5rem;
        opacity: 1;
        padding: .5rem;
        position: relative;
        transform: translate(0);
        width: 210px;
        @include ultrawide {
            width: 285px;
        }
    }
}

.backlog-menu {
    color: $color-black900;
    margin: 1rem 0;
}

.backlog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &-title {
        align-items: baseline;
        display: flex;
    }

    h2 {
        margin: 0;
    }
}

.backlog-stories-number {
    @include font-size(small);
    color: $color-link-tertiary;
    margin-left: .5rem;
}

.backlog-table-options {
    display: flex;
    justify-content: space-between;
}

.backlog-table-options-start {
    align-items: center;
    display: flex;

    tg-input-search {
        width: 185px;
    }

    > * {
        margin-right: .5rem;
    }
}

.display-tags-button {
    align-items: center;
    display: flex;

    label {
        @include font-size(small);

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .check {
        margin-right: .5rem;
    }
}


.multiple-drag-mirror.us-item-row {
    background: $white;
    border-radius: 4px;
    box-shadow: 2px 2px 5px $gray;
    min-height: calc(40px + 1rem);
    opacity: .9;
    padding: 1rem;
    .tags-block,
    .votes,
    .us-settings,
    .status,
    .points,
    .icon-drag,
    input {
        display: none;
    }
    &.is-checked,
    &:hover {
        background: $white;
    }
}

.empty-backlog {
    padding: 1rem 2rem;

    .no-match {
        @include font-size(large);

        color: $color-black900;
        margin-bottom: 15px;
    }

    .no-match-help {
        @include font-size(small);

        color: $color-link-tertiary;
    }
}
