.backlog-menu {
    background: $whitish;
    color: $blackish;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .backlog-table-options {
        .trans-button {
            @extend %trans-button;
            color: $blackish;
            display: inline-block;
            padding: .4rem 1.5rem;
            &:hover {
                background: $gray-light;
                color: $whitish;
            }
            &.move-to-current-sprint {
                display: none;
            }
        }
    }
    .button-bulk {
        margin-left: .2rem;
    }
}
