.backlog-manager {
    display: flex;
}

.backlog-table {
    flex: 1;
}

.backlog-filter {
    tg-filter {
        background: none;
        border: 1px solid $color-gray200;
        margin-right: 1.5rem;
        opacity: 1;
        padding: .5rem;
        position: relative;
        transform: translate(0);
        width: 210px;
    }
}

.backlog-menu {
    color: $color-black900;
    margin: 1rem 0;
}

.backlog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &-title {
        align-items: baseline;
        display: flex;
    }

    h2 {
        margin: 0;
    }
}

.backlog-stories-number {
    @include font-size(small);
    color: $color-link-tertiary;
    margin-left: .5rem;
}

.backlog-table-options {
    display: flex;
    justify-content: space-between;
}


.multiple-drag-mirror.us-item-row {
    background: $white;
    border-radius: 4px;
    box-shadow: 2px 2px 5px $gray;
    min-height: calc(40px + 1rem);
    opacity: .9;
    padding: 1rem;
    .tags-block,
    .votes,
    .us-settings,
    .status,
    .points,
    .icon-drag,
    input {
        display: none;
    }
    &.is-checked,
    &:hover {
        background: $white;
    }
}
