.backlog {
    .new-us {
        float: right;
    }
}

.backlog-menu {
    @include clearfix;
    background: $whitish;
    color: $blackish;
    margin-bottom: 1rem;
    padding: .5rem;
    .trans-button {
        display: inline-block;
        margin-right: 1rem;
        padding: .3rem 0;
        &.move-to-current-sprint {
            display: none;
        }
        span {
            vertical-align: middle;
        }
    }
}


.menu-secondary.sidebar,
.backlog {
    height: 100vh;
    overflow-x: auto;
}
