.kanban {
    .kanban-detail-header {
        h1 {
            display: inline-block;
        }
    }
    .kanban-settings {
        float: right;
    }
    .burndown-container {
        display: none;
    }
    .list-filters {
        margin-bottom: 1rem;
    }
}
