.error-main {
    @extend %background-taiga;
    @include display(flex);
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(center);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    .error-container {
        @include flex-basis(400px);
        color: $white;
        text-align: center;
    }
    .logo-svg {
        padding: 0 32%;
        text-align: center;
        width: 100%;
    }
    h1 {
        color: $white;
        margin-bottom: 3rem;
    }
    a {
        color: $green-taiga;
        &:hover {
            color: $fresh-taiga;
        }
    }
}
