.error-main {
    @extend %background-taiga;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    .error-container {
        color: $white;
        flex-basis: 400px;
        text-align: center;
    }
    .logo-svg {
        padding: 0 32%;
        text-align: center;
        width: 100%;
    }
    h1 {
        color: $white;
        margin-bottom: 3rem;
    }
    a {
        color: $primary;
        &:hover {
            color: $primary-light;
        }
    }
}
