.profile {
    display: flex;
    min-height: 100vh;
    padding: 2rem 0;
    .profile-bar {
        margin-right: 1rem;
        width: 200px;
    }
    .main {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0;
    }
    .hero {
        background: lighten($whitish, 10%);
        margin-bottom: .3rem;
        min-height: 200px;
    }
    .content-wrapper {
        display: flex;
        min-height: 100vh;
    }
    .content {
        background: lighten($whitish, 10%);
        flex: 1;
        margin-right: 1rem;
        max-width: 786px;
        section {
            opacity: 1;
            padding-top: 0;
            position: relative;
            transition: all .3s cubic-bezier(.09, .43, .35, .95);
            &.ng-hide {
                opacity: 0;
                padding-top: .5vh;
            }
        }
    }
    .profile-sidebar {
        width: 150px;
    }
}
