.taskboard {
    height: 100vh;
    overflow: hidden;
    h1,
    .graphics-container,
    .summary {
        flex-shrink: 0;
    }
    .graphics-container {
        @include slide(300px, hidden);
    }
}

.taskboard-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
