.us-story-main-data {
    margin-bottom: 2rem;
    .us-title {
        @extend %large;
        @extend %text;
        @include transition(all .2s linear);
        background: $whitish;
        margin-bottom: .5rem;
        padding: 1rem;
        position: relative;
        &.blocked {
            background: $red;
            vertical-align: middle;
            @include transition(all .2s linear);
            .us-title-text,
            input {
                margin-bottom: .5rem;
            }
            .us-number,
            .us-name,
            .us-related-task {
                color: $white;
                a {
                    @include transition(color .3s linear);
                    color: $white;
                    &:hover {
                        color: $red-light;
                    }
                }
            }
            .unblock {
                @extend %bold;
                color: $white;
                float: right;
                &:hover {
                    @include transition(color .3s linear);
                    color: $red-light;
                }
            }
            .issue-nav {
                a {
                    color: $white;
                }
            }
        }
        p {
            margin-bottom: 0;
        }
        .us-edit-name-inner {
            @include table-flex();
        }
        input {
            background: $white;
            @include table-flex-child(1, 90%, 0);
        }
        .us-title-text {
            display: flex;
            margin-bottom: 0;
            max-width: 94%;
        }
        .us-number {
            @extend %xlarge;
            @extend %title;
            color: $gray-light;
            flex-shrink: 0;
            line-height: 2.2rem;
            margin-right: .5rem;
        }
        .us-name {
            @extend %xlarge;
            color: $grayer;
            display: inline-block;
            line-height: 2.2rem;
            padding-right: 1rem;
        }
        .us-related-task {
            @extend %small;
            color: $gray-light;
            margin-top: .5rem;
            a {
                @include transition(color .3s linear);
                border-left: 1px solid $gray-light;
                padding: 0 .2rem;
                &:hover {
                    color: $green-taiga;
                }
                &:first-child {
                    border: 0;
                }
            }
        }
        .block-desc-container {
            @extend %small;
        }
        .block-description-title {
            @extend %bold;
            color: $white;
            margin-right: .5rem;
        }
        .block-description {
            color: $white;
            display: inline-block;
            margin-right: 5rem;
        }
    }
}

.blocked-warning {
    margin-bottom: 1rem;
    .blocked {
        @extend %title;
        @extend %xlarge;
        color: $red;
        line-height: 2.5rem;
        margin-bottom: .5rem;
    }
    .icon {
        @extend %xlarge;
        vertical-align: middle;
    }
    .block-description {
        color: $grayer;
        margin: 0;
    }
}

.issue-nav {
    position: absolute;
    right: 1rem;
    top: 1rem;
    a {
        @extend %xlarge;
    }
}

.us-content {
    textarea {
        background: $white;
        height: 10rem;
        margin-bottom: 2rem;
    }
}

.comment-list {
    padding: 1rem;
}

.us-detail-status {
    @extend %large;
    color: $green-taiga;
    vertical-align: middle;
}

.us-detail-progress-bar {
    background: $grayer;
    height: 26px;
    margin-bottom: 1rem;
    position: relative;
    .current-progress {
        background: $fresh-taiga;
        height: 26px;
        left: 0;
        position: absolute;
        top: 0;
        width: 60%;
    }
    .tasks-completed {
        @extend %small;
        color: $white;
        left: 10px;
        position: absolute;
        top: 2px;
    }
}

.points-per-role {
    @include table-flex();
    position: relative;
    > li {
        @include table-flex-child(1, 18%, 0);
        @include transition(color .3s linear);
        border-right: 1px solid rgba($grayer, .3);
        color: rgba($grayer, .3);
        display: inline-block;
        margin: .5rem .1rem;
        position: relative;
        text-align: center;
        &.active {
            color: rgba($green-taiga, 1);
        }
        &:first-child {
            opacity: 1;
        }
        &:last-child {
            border: 0;
        }
    }
    .points {
        @extend %xlarge;
        @extend %title;
        display: block;
        text-align: center;
    }
    .role {
        display: inline-block;
        max-width: 90%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .popover {
        @include popover(200px, $top: 105%, $left: 35%, $arrow-width: 10px, $arrow-top: -5px, $arrow-left: 10px);
        li {
            display: inline-block;
            width: 23%;
        }
        a {
            display: block;
            text-align: center;
            &:hover,
            &.active {
                background: $fresh-taiga;
                color: $white;
            }
        }
        &.fix {
            @include popover(200px, $top: 105%, $left: -160px, $arrow-width: 10px, $arrow-top: -5px, $arrow-left: 90%);
        }
    }
}

.issue-data {
    @extend %small;
    div {
        @include clearfix();
        @include transition(background .2s ease-in);
        background: darken($whitish, 5%);
        margin-bottom: .5rem;
        padding: .5rem;
        padding-right: 1rem;
        &:last-child {
            margin: 0;
        }
        &.clickable {
            &:hover {
                @include transition(background .2s ease-in);
                background: darken($whitish, 10%);
            }
        }
    }
    .level {
        display: inline-block;
        margin-right: .5rem;
        vertical-align: top;
    }
    .level-name {
        color: darken($whitish, 20%);
        float: right;
    }
}

.us-detail-settings {
    margin-top: 2rem;
    .button {
        color: $white;
        display: block;
        margin-bottom: .5rem;
        text-align: center;
        width: 100%;
    }
    .button-gray {
        background: $gray-light;
        &:hover,
        &.active {
            background: $grayer;
        }
    }
    .button-red {
        &:hover,
        &.active {
            background: $red;
        }
    }
    label {
        cursor: pointer;
        +input {
            display: none;
        }
    }
    span {
        &.button-gray,
        &.button-gray:hover {
            background: $gray-light;
            &.active {
                background: $gray;
            }
        }
        &.button-red,
        &.button-red:hover {
            background: $red-light;
            &.active {
                background: $red;
            }
        }
    }
}

.us-status {
    .type-data {
        position: relative;
        .pop-type {
            @include popover(150px, '', 30px, '', '');
        }
    }
    .severity-data {
        position: relative;
        .pop-severity {
            @include popover(150px, '', 30px, '', '');
        }
    }
    .priority-data {
        position: relative;
        .pop-priority {
            @include popover(150px, '', 30px, '', '');
        }
    }
    .status-data {
        position: relative;
        .pop-status {
            @include popover(150px, '', 30px, '', '');
        }
    }
}
