.us-detail-header {
    position: relative;
    .button {
        color: $white;
        position: absolute;
        right: 0;
        top: 0;
    }
    .cancel {
        right: 7rem;
    }
}

.us-story-main-data {
    margin-bottom: 2rem;
    .us-title {
        @extend %large;
        @extend %text;
        @include transition(all .2s linear);
        background: $whitish;
        margin-bottom: .5rem;
        padding: 1rem;
        position: relative;
        &.blocked {
            background: $red;
            vertical-align: middle;
            @include transition(all .2s linear);
            .us-title-text,
            input {
                margin-bottom: .5rem;
            }
            .us-number,
            .us-name {
                color: $white;
            }
            .unblock {
                @extend %bold;
                color: $white;
                float: right;
                &:hover {
                    @include transition(color .3s linear);
                    color: $red-light;
                }
            }
        }
        input {
            background: $white;
        }
        .us-title-text {
            margin-bottom: 0;
        }
        .us-number {
            color: $gray-light;
            margin-right: .5rem;
        }
        .us-name {
            color: $grayer;
            display: inline-block;
            line-height: 1.5rem;
            max-width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
            white-space: nowrap;
        }
        .block-desc-container {
            @extend %small;
            margin-bottom: 0;
        }
        .block-description-title {
            @extend %bold;
            color: $white;
            margin-right: .5rem;
        }
        .block-description {
            color: $white;
        }
    }
}

.blocked-warning {
    margin-bottom: 1rem;
    .blocked {
        @extend %title;
        @extend %xlarge;
        color: $red;
        line-height: 2.5rem;
        margin-bottom: .5rem;
    }
    .icon {
        @extend %xlarge;
        vertical-align: middle;
    }
    .block-description {
        color: $grayer;
        margin: 0;
    }
}

.issue-nav {
    position: absolute;
    right: 1rem;
    top: .7rem;
    a {
        @extend %xlarge;
    }
}

.us-content {
    ul {
        margin-left: 1rem;
    }
    li {
        list-style-type: disc;
    }
    a {
        color: $green-taiga;
    }
    textarea {
        background: $white;
        height: 10rem;
        margin-bottom: 2rem;
    }
}

.user-story-tags {
    .tags-container {
        display: inline-block;
        vertical-align: middle;
    }
    input {
        display: inline-block;
        padding: .4rem;
        width: 14rem;
    }
    .tag {
        @extend %small;
        margin: 0 .5rem .5rem 0;
        padding: .5rem;
    }
}

.us-activity-tabs {
    @extend %title;
    border-bottom: 3px solid $gray-light;
    padding: .5rem 0;
    li {
        @extend %large;
        display: inline-block;
        &:first-child {
            border-right: 1px solid $gray-light;
        }
    }
    a {
        @include transition(color .2s ease-in);
        color: $gray-light;
        padding: 0 2rem;
        &.active {
            color: $grayer;
        }
        &:hover {
            @include transition(color .2s ease-in);
            color: $green-taiga;
        }
    }
    .icon {
        margin-right: .5rem;
    }
}

.comment-list {
    padding: 1rem 2rem;
}

.us-detail-status {
    @extend %large;
    color: $green-taiga;
    vertical-align: middle;
}

.us-detail-progress-bar {
    background: $grayer;
    height: 26px;
    margin-bottom: 1rem;
    position: relative;
    .current-progress {
        background: $fresh-taiga;
        height: 26px;
        left: 0;
        position: absolute;
        top: 0;
        width: 60%;
    }
    .tasks-completed {
        @extend %small;
        color: $white;
        left: 10px;
        position: absolute;
        top: 2px;
    }
}

.points-per-role {
    position: relative;
    > li {
        @include transition(color .3s linear);
        border-right: 1px solid rgba($grayer, .3);
        color: rgba($grayer, .3);
        display: inline-block;
        margin: .5rem .1rem;
        position: relative;
        text-align: center;
        width: 18%;
        &.active {
            color: rgba($green-taiga, 1);
        }
        &:first-child {
            opacity: 1;
        }
        &:nth-child(5n) {
            border: 0;
        }
    }
    .points {
        @extend %xlarge;
        @extend %title;
        display: block;
        text-align: center;
    }
    .role {
        display: inline-block;
        max-width: 90%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .pop-points-open {
        @include popover(200px, 60px, 40px, '', '');
        li {
            display: inline-block;
            width: 23%;
        }
        a {
            display: block;
            text-align: center;
            &:hover,
            &.active {
                background: $fresh-taiga;
                color: $white;
            }
        }
    }
}

.issue-data {
    @extend %small;
    div {
        @include clearfix();
        @include transition(background .2s ease-in);
        background: darken($whitish, 5%);
        margin-bottom: .5rem;
        padding: .5rem;
        padding-right: 1rem;
        &:last-child {
            margin: 0;
        }
        &:hover {
            @include transition(background .2s ease-in);
            background: darken($whitish, 10%);
        }
    }
    .level {
        display: inline-block;
        margin-right: .5rem;
        vertical-align: top;
    }
    .level-name {
        color: darken($whitish, 20%);
        float: right;
    }
}

.us-detail-settings {
    margin-top: 2rem;
    .button {
        color: $white;
        display: block;
        margin-bottom: .5rem;
        text-align: center;
        width: 100%;
    }
    .button-gray {
        background: $gray-light;
        &:hover,
        &.active {
            background: $grayer;
        }
    }
    .button-red {
        &:hover,
        &.active {
            background: $red;
        }
    }
    label {
        cursor: pointer;
        &+input {
            display: none;
        }
    }
    span {
        &.button-gray,
        &.button-gray:hover {
            background: $gray-light;
            &.active {
                background: $gray;
            }
        }
        &.button-red,
        &.button-red:hover {
            background: $red-light;
            &.active {
                background: $red;
            }
        }
    }
}

.us-status {
    .type-data {
        position: relative;
        .pop-type {
            @include popover(150px, '', 30px, '', '');
        }
    }
    .severity-data {
        position: relative;
        .pop-severity {
            @include popover(150px, '', 30px, '', '');
        }
    }
    .priority-data {
        position: relative;
        .pop-priority {
            @include popover(150px, '', 30px, '', '');
        }
    }
    .status-data {
        position: relative;
        .pop-status {
            @include popover(150px, '', 30px, '', '');
        }
    }
}
