.us-detail-header {
    position: relative;
    .button {
        color: $white;
        position: absolute;
        right: 0;
        top: 0;
    }
}
.us-story-main-data {
    margin-bottom: 2rem;
    .us-title {
        @extend %xlarge;
        background: $whitish;
        font-family: 'DroidSans';
        padding: 2rem 1rem;
        .us-number {
            color: $gray-light;
            margin-right: .5rem;
        }
        .us-name {
            color: $grayer;
        }
    }
}

.us-content {
    ul {
        margin-left: 1rem;
    }
    li {
        list-style-type: disc;
    }
    a {
        color: $green-taiga;
    }
}

.user-story-tags {
    input {
        display: inline-block;
        width: 14rem;
    }
}

.us-activity-tabs {
    border-bottom: 3px solid $gray-light;
    font-family: 'ostrichSans';
    padding: .5rem 0;
    li {
        @extend %large;
        display: inline-block;
        &:first-child {
            border-right: 1px solid $gray-light;
        }
    }
    a {
        @include transition(color .2s ease-in);
        color: $gray-light;
        padding: 0 2rem;
        &.active {
            color: $grayer;
        }
        &:hover {
            @include transition(color .2s ease-in);
            color: $green-taiga;
        }
    }
    .icon {
        margin-right: .5rem;
    }
}

.comment-list {
    padding: 1rem 2rem;
}

.activity-single {
    @include table-flex;
    border-bottom: 2px solid $gray-light;
    padding: 1rem 0;
    position: relative;
    .username {
        color: $green-taiga;
        margin-bottom: 1rem;
    }
    .date {
        @extend %small;
        color: $gray-light;
        margin-left: 1rem;
    }
}

.activity-user {
    @include table-flex-child(1, 50px, 0);
    img {
        max-width: 70px;
        width: 100%;
    }
}

.activity-content {
    @include table-flex-child(20, 150px, 0);
}
