.wiki {
    .wiki-title {
        @include font-type(light);
        @include font-size(larger);
    }
    .remove {
        @include font-size(small);
        color: $gray-light;
        &:hover {
            color: $red-light;
            transition: color .1s linear;
            .icon {
                fill: $red-light;
                transition: fill .1s linear;
            }
        }
        .icon {
            color: $gray-light;
            margin-right: .2rem;
        }
    }
}

.wiki-content {
    @include cursor-progress;
    margin-bottom: 2rem;
    position: relative;
    &.editable {
        &:hover {
            .wysiwyg {
                background: $mass-white;
                cursor: pointer;
            }
        }
    }
    .view-wiki-content {
        &:hover {
            .edit {
                opacity: 1;
                top: -1.5rem;
                transition: all .2s linear;
            }
        }
    }
    .edit {
        @include svg-size(2rem);
        background: $mass-white;
        left: 0;
        opacity: 0;
        padding: .2rem .5rem;
        position: absolute;
        top: 0;
        transition: all .2s linear;
        &:hover {
            cursor: pointer;
        }
    }
    .preview {
        padding-top: 1.8rem;
    }
}

.edit-wiki-content {
    a {
        display: inline-block;
        margin-right: .5rem;
        &:last-child {
            margin: 0;
        }
        &:hover {
            cursor: pointer;
            .icon {
                fill: $primary-dark;
                opacity: .3;
                transition: all .2s linear;
            }
        }
    }
    .preview-icon {
        position: absolute;
        right: 3.5rem;
    }
    .action-container {
        position: absolute;
        right: 1rem;
        top: .3rem;
    }
    .edit {
        position: absolute;
        right: 3.5rem;
        top: .4rem;
    }
}

.wiki-pages-table {
    display: flex;
    margin-bottom: 2rem;
    &.empty {
        display: none;
    }
    .row {
        &:hover {
            background: lighten($primary, 65%);
            transition: background .2s ease-in;
        }
        .icon {
            display: inline;
        }
    }
    .title {
        @include font-size(medium);
        @include font-type(bold);
        border-bottom: 1px solid $gray-light;
        &:hover {
            background: transparent;
        }
        div {
            cursor: pointer;
        }
        .votes {
            color: $gray;
        }
    }
    .table-main {
        @include font-size(small);
        border-bottom: 1px solid darken($whitish, 4%);
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            width: 35px;
        }
        figcaption {
            flex-basis: 60%;
            flex-grow: 1;
            margin-left: .5rem;
        }
    }
    .title-field {
        overflow: hidden;
        padding-right: 1rem;
        width: 100%;
        a {
            @include ellipsis(100%);
            display: block;
        }
        span {
            vertical-align: middle;
            &:first-child {
                margin-right: .5rem;
            }
        }
    }
    .editions-field,
    .created-field,
    .modified-field,
    .creator-field ,
    .last-modifier-field {
        flex-basis: 140px;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 0 1rem;
        position: relative;
        text-align: left;
    }
    .creator-field ,
    .last-modifier-field {
        display: flex;
        flex-basis: 180px;
        flex-direction: row;
        .user-avatar {
            flex-grow: 0;
            img {
                height: 48px;
            }
        }
        .user-full-name {
            flex-grow: 1;
            padding: .5rem;
        }
    }
}
