.wiki {
    max-width: 1024px;
    .wysiwyg {
        margin-bottom: 0;
    }
    .wiki-title {
        @include font-type(light);
        @include font-size(xxlarge);
        margin-bottom: 0;
        padding: 1rem;
    }
}

.wiki-content {
    @include font-size(large);
    position: relative;
    &.editable {
        &:hover {
            .wysiwyg {
                background: $mass-white;
                cursor: pointer;
            }
        }
    }
    .view-wiki-content {
        &:hover {
            .edit {
                opacity: 1;
                top: -1.5rem;
                transition: all .2s linear;
            }
        }
    }
    .edit {
        @include svg-size(2rem);
        background: $mass-white;
        left: 0;
        opacity: 0;
        padding: .2rem .5rem;
        position: absolute;
        top: 0;
        transition: all .2s linear;
        &:hover {
            cursor: pointer;
        }
    }
    .preview {
        padding-top: 1.8rem;
    }
}

.edit-wiki-content {
    a {
        display: inline-block;
        margin-right: .5rem;
        &:last-child {
            margin: 0;
        }
        &:hover {
            cursor: pointer;
            .icon {
                fill: $primary-dark;
                opacity: .3;
                transition: all .2s linear;
            }
        }
    }
    .preview-icon {
        position: absolute;
        right: 3.5rem;
    }
    .action-container {
        position: absolute;
        right: 1rem;
        top: .3rem;
    }
    .edit {
        position: absolute;
        right: 3.5rem;
        top: .4rem;
    }
}
