.detail-ref {
    @include font-type(bold);
    color: $grayer;
    font-size: 1.625em;
}

.detail-nav {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 99;
    a {
        display: inline-block;
    }
    svg {
        @include svg-size(1.2rem);
        fill: currentColor;
    }
}

.detail-header {
    flex: 1;
    padding: 0 0 0 1rem;
    position: relative;
    &:hover {
        .detail-edit {
            opacity: 1;
        }
    }

    .detail-header-line {
        @include font-size(small);
        margin: .5rem 0 0;
        a {
            color: $primary;
            padding: 0 .2rem;
            &:hover {
                color: $primary-light;
            }
        }
        .item-ref {
            margin-right: .25rem;
        }
    }
    .relate-to-epic {
        margin: .5rem 1rem 0 0;

        .relate-to-epic-button {
            align-content: flex-end;
            color: $gray-light;
            cursor: pointer;
            display: flex;
            &:hover {
                color: $primary-light;
            }
            .icon-epics {
                fill: currentColor;
                margin-right: .25rem;
            }
            .relate-to-epic-text {
                font-size: .9375rem;
            }
        }
    }
}

.detail-title-wrapper {
    display: flex;
    margin: 0 2rem .5rem 0;
    transition: all .2s linear;
    .detail-title-text {
        color: $grayer;
        font-size: 1.75rem;
        line-height: 2rem;
        margin: 0;
    }
    .detail-subject {
        color: $gray;
        flex-grow: 1;
    }
    .edit-title-input {
        font-size: 1.2rem;
    }
    .detail-edit {
        cursor: pointer;
        margin-left: .5rem;
        opacity: 0;
        transition: opacity .2s;
        svg {
            @include svg-size(1.3rem);
        }
    }

    .due-date-icon {
        position: relative;
        top: .1rem;
        svg {
            @include svg-size(1.2rem);
        }
    }
}

.edit-title-wrapper {
    @include font-size(larger);
    @include font-type(text);
    display: flex;
    flex: 1;
    margin-right: 1.5rem;
    .edit-title-input {
        background: $white;
        flex: 1;
    }
    .edit-title-button {
        background: none;
        display: inline;
        transition: fill .2s;
        &:hover {
            fill: $primary;
        }
    }
    .save-title-button {
        margin-left: .5rem;
    }
}

.detail-project {
    @include font-type(text);
    display: flex;
    margin: 0 0 1rem;
    text-transform: uppercase;
    .section-name {
        color: $secondary;
        margin-left: .5rem;
    }
}

.block-desc-container {
    padding: .25rem 0;
    .block-description-title {
        @include font-type(semibold);
        background: $white;
        color: $red-light;
        margin-right: .5rem;
        padding: .1rem .25rem;
        text-transform: uppercase;
    }
}
