.detail-ref {
    @include font-type(bold);
    @include font-size(xlarge);
    color: $color-link-primary;
    margin-right: .5rem;
}

.detail-nav {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: $third-layer;
    a {
        display: inline-block;
    }
    svg {
        @include svg-size(1.2rem);
        fill: currentColor;
    }
}

.detail-header {
    flex: 1;
    padding-inline-start: .5rem;
    position: relative;

    .detail-header-line {
        @include font-size(small);
        display: flex;
        margin: .5rem 0 0;
        a {
            color: $color-link-primary;
            padding: 0 .2rem;
        }
        .item-ref {
            margin-right: .25rem;
        }
        p {
            margin-bottom: 0;
        }
    }
    .block-desc-container {
        margin-bottom: .5rem;
    }
    .relate-to-epic {
        flex-basis: 100%;
        margin: 0 1rem .5rem 0;

        .relate-to-epic-button {
            align-content: flex-end;
            color: $color-link-primary;
            cursor: pointer;
            display: flex;
            .icon-epics {
                fill: currentColor;
                margin-right: .25rem;
            }
            .relate-to-epic-text {
                font-size: .9375rem;
            }
        }
    }
    & > .color-selector {
        display: block;
        margin-bottom: -2rem;
        position: relative;
        top: -2.6rem;
    }

    [item='epic'] {
        .detail-project {
            padding: .5rem 3rem 0 0;
        }
    }

    .detail-project {
        .section-name {
            color: $color-black600;
            text-transform: uppercase;
        }
    }
}

.detail-title-wrapper {
    display: flex;
    margin: 0 2rem .5rem 0;
    transition: all .2s linear;


    .detail-title-text {
        @include font-size(xlarge);
        align-items: baseline;
        color: $color-black900;
        display: flex;
        line-height: 2rem;
        margin: 0;

        &:hover {
            .detail-edit {
                opacity: 1;
            }
        }

    }
    .detail-subject {
        color: $color-black900;
        flex-grow: 1;
        word-break: break-word;
    }
    .edit-title-input {
        font-size: 1.2rem;
    }
    .detail-edit {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-inline-start: .5rem;
        opacity: 0;
        transition: opacity .2s;
        svg {
            @include svg-size(1.2rem);
        }
    }

    .due-date-icon {
        margin-inline-start: .5rem;
        svg {
            @include svg-size(1.2rem);
        }
    }
}

.edit-title-wrapper {
    @include font-size(larger);
    @include font-type(regular);
    display: flex;
    flex: 1;
    margin-right: 1.5rem;
    .edit-title-input {
        background: $white;
        flex: 1;
    }
    .edit-title-button {
        background: none;
        display: inline;
        transition: fill .2s;
        &:hover {
            fill: $primary;
        }
    }
    .save-title-button {
        margin-left: .5rem;
    }
}

.detail-project {
    @include font-type(regular);
    color: $color-black900;
    display: flex;
    margin: 0 0 1rem;
    text-transform: uppercase;
    .section-name {
        color: $color-link-tertiary;
    }
}

.block-desc-container {
    background: $color-link-red;
    padding: .5rem .75rem;
    .blocked-sign {
        align-items: flex-start;
        display: flex;
        tg-svg {
            fill: $color-white;
        }
    }
    .block-description {
        p {
            color: $color-white;
            line-height: 1rem;
            opacity: .8;
        }
    }
    .block-description-title {
        @include font-type(bold);
        @include font-size(small);

        color: $color-white;
        height: 1rem;
        line-height: 1rem;
        margin-top: .05rem;
        padding: 0 .5rem;
    }
}

