.epic-row {
    @include font-size(small);
    align-items: center;
    border-bottom: 1px solid $whitish;
    cursor: pointer;
    display: flex;
    &:hover {
        .icon-drag {
            cursor: move;
            opacity: 1;
        }
    }
    &.is-blocked {
        background: rgba($red-light, .5);
    }
    &.is-closed {
        .name {
            color: $gray-light;
            text-decoration: line-through;
        }
    }
    .icon-drag {
        @include svg-size(.75rem);
        fill: $whitish;
        opacity: 0;
        transition: opacity .1s;
    }
    .status {
        cursor: pointer;
        position: relative;
        button {
            background: none;
        }
        .icon {
            @include svg-size(.7rem);
            fill: $gray-light;
            margin-left: .1rem;
        }
    }
    .progress-bar,
    .progress-status {
        height: 1.5rem;
        left: 0;
        position: absolute;
        top: .25rem;
    }
    .progress-bar {
        background: $mass-white;
        max-width: 40vw;
        width: 100%;
    }
    .progress-status {
        background: $primary-light;
        width: 10vw;
    }
    .vote {
        color: $gray;
    }
    .icon-upvote {
        @include svg-size(.75rem);
        fill: $gray;
        margin-right: .25rem;
        vertical-align: middle;
    }
    .epic-statuses {
        @include font-type(light);
        @include font-size(small);
        background: rgba($blackish, .9);
        border-bottom: 1px solid $grayer;
        box-shadow: 3px 3px 2px rgba($black, .1);
        color: $white;
        left: 0;
        list-style-type: none;
        margin: 0;
        position: absolute;
        top: 2.5rem;
        width: 200px;
        z-index: 99;
        &:last-child {
            border: 0;
        }
        li {
            padding: .5rem;
            &:hover {
                color: $primary-light;
                transition: color .3s linear;
            }
        }
    }
}
