.admin-submenu {
    h1 {
        @extend %xlarge;
        color: $white;
    }
    li {
        @extend %larger;
        @extend %title;
        border-bottom: 1px solid $gray-light;
        text-transform: uppercase;
        &:last-child {
            border-bottom: 0;
        }
    }
    a {
        color: $white;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 1rem 1rem;
        &.active,
        &:hover {
            color: $blackish;
            .icon {
                color: $blackish;
                opacity: 1;
                transition: opacity .3s linear;
            }
        }
        span {
            display: block;
            max-width: 85%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .icon {
        color: $white;
        float: right;
        opacity: 0;
    }
    .button-gray {
        padding: .5rem 0;
        text-align: center;
        &:hover {
            background-color: $blackish;
        }
    }
}
