.custom-field-options {
    margin-bottom: 1rem;
    text-align: right;
}

.custom-fields-table {
    .row {
        border-bottom: 0;
        padding: .5rem 0;
        &:hover {
            .custom-options-wrapper {
                opacity: 1;
                transition: opacity .2s linear;
            }
        }
    }
    .table-header {
        @extend %bold;
        border-bottom: 1px solid $gray-light;
    }
    .table-body {
        .custom-description {
            color: $gray-light;
        }
    }
    .single-custom-field {
        border-bottom: 1px solid $whitish;
        color: $gray;
    }
    .custom-name,
    .custom-description {
        color: $gray;
        margin-right: .5rem;
    }
    .custom-name {
        flex-basis: 25%;
        flex-shrink: 0;
    }
    .custom-description {
        @include ellipsis(100%);
        flex-basis: 90%;
        flex-grow: 8;
    }
    .custom-options {
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
        a {
            color: $gray-light;
            margin-right: 0.5rem;
            transition: color .2s linear;
            vertical-align: middle;
            &:hover {
                color: $green-taiga;
                transition: color .2s linear;
            }
        }
    }
    .custom-options-wrapper {
        opacity: 0;
        transition: opacity .3s linear;
    }
    form {
        .custom-options-wrapper {
            opacity: 1;
        }
    }

}
