.project-details {
    form {
        max-width: 700px;
        width: 100%;
    }
    input[type="text"],
    textarea {
        @extend %title;
    }
    fieldset {
        @include table-flex();
        margin-bottom: 1rem;
    }
    label {
        @extend %title;
        display: block;
        margin-bottom: .2rem;
    }
    textarea {
        height: 10rem;
    }
    .button-green {
        color: $white;
        display: block;
        text-align: center;
    }
}
