.admin-submenu-roles {
    h1 {
        @extend %xlarge;
        color: $white;
    }
    li {
        @extend %larger;
        @extend %title;
        border-bottom: 1px solid $gray-tower-gray;
        text-transform: uppercase;
        &:last-child {
            border-bottom: 0;
        }
    }
    a {
        color: $white;
        display: block;
        padding: 1rem 0 1rem 1rem;
        &.active,
        &:hover {
            color: $blackish;
            .icon {
                opacity: 1;
                transition: opacity .3s linear;
            }
        }
    }
    .single-role {
        @include ellipsis(175px);
        display: inline-block;
    }
    .icon {
        color: $white;
        float: right;
        opacity: 0;
    }
    .button-gray {
        padding: .5rem 0;
        text-align: center;
        &:hover {
            background-color: $blackish;
        }
    }
}
