.admin-membership-table {
    .title {
        @extend %bold;
    }
    .avatar {
        align-items: center;
        display: flex;
        figcaption {
            margin-left: 1rem;
        }
        img {
            flex-basis: 35px;
        }
        .name,
        .email {
            display: block;
            width: 100%;
        }
        .name {
            @extend %bold;
        }
        .email {
            color: $gray-light;
        }
    }
    .active,
    .pending {
        padding: 8px;
        width: 115px;
        .icon {
            @extend %large;
        }
    }
    .active {
        background-color: $whitish;
    }
    .pending {
        background-color: $red-light;
        color: $white;
        .icon {
            float: right;
        }
        &:hover {
            @include transition (background-color .3s linear);
            background-color: $red;
            color: $white;
        }
    }
    .header-role,
    .header-status {
        padding-left: .5rem;
    }
    .row-role {
        padding-right: 1rem;
    }
    .row-status {
        display: flex;
        .delete {
            @extend %large;
            align-items: center;
            color: $gray-light;
            display: flex;
            margin-left: 15px;
            padding: 0 15px;
            &:hover {
                color: $red;
            }
        }
    }
    .row-admin {
        input {
            vertical-align: middle;
        }
        label {
            @extend %small;
        }
    }
    .row-member,
    .row-role,
    .header-member,
    .header-role {
        flex: 3 0 50px;
    }
    .row-status,
    .row-admin,
    .header-admin,
    .header-status {
        flex: 1 0 50px;
    }
}
