.custom-field-options {
    margin-bottom: 1rem;
    text-align: right;
}

.custom-fields-table {
    margin-bottom: 2em;
    .row {
        border-bottom: 0;
    }
    .table-header {
        @include font-type(medium);
        border-bottom: 3px solid $whitish;
        .custom-name,
        .custom-description {
            padding-left: 1.1rem;
        }
    }
    .table-body {
        .row:hover {
            background: rgba($primary-light, .05);
            cursor: move;
            transition: background .2s linear;
            .icon-draggable,
            .custom-options {
                opacity: 1;
                transition: opacity .2s linear;
            }
        }
        form {
            &.row:hover {
                background: none;
                cursor: default;
            }
        }
    }
    .single-custom-field {
        border-bottom: 1px solid $whitish;
        color: $gray;
    }
    .js-view-custom-field {
        padding: .75rem 0;
        .custom-extra-attr-wrapper {
            margin-left: 1em;
        }
    }
    .icon-draggable {
        fill: $gray-light;
        opacity: 0;
        padding: 0 .25rem 0 .1rem;
        transition: color .2s linear;
    }
    .custom-name,
    .custom-description {
        margin-right: .5rem;
    }
    .custom-name {
        align-items: center;
        display: flex;
        flex-basis: 25%;
        flex-shrink: 0;
        a {
            padding: 0 .5em;
        }
        svg {
            height: 1rem;
            width: 1rem;
        }
    }
    .custom-description {
        @include ellipsis(100%);
        flex-basis: 50%;
        flex-grow: 8;
    }
    .custom-field-type {
        flex-basis: 12%;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .custom-options {
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
        opacity: 0;
        text-align: center;
        svg {
            cursor: pointer;
            fill: $gray-light;
            margin-right: .5rem;
            transition: color .2s linear;
            vertical-align: middle;
            &:hover {
                fill: $primary;
                transition: color .2s linear;
            }
            &.icon-trash {
                fill: $color-link-red;
            }
            &.icon-close,
            &.icon-check-empty {
                fill: $color-link-primary;
            }
        }
    }
    .custom-options-wrapper {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        opacity: 0;
        padding-right: 1rem;
        transition: opacity .3s linear;
        &:hover {
            opacity: 1;
        }
        a {
            display: inline-block;
        }
    }
    .custom-field-extra {
        align-items: center;
        border-bottom: 1px solid $whitish;
        color: $gray-light;
        font-size: .95em;
    }
    .js-view-custom-field-extra {
        padding: .5em;
    }
    .js-edit-custom-field {
        margin-left: .4rem;
    }
    .custom-extra-attr-wrapper {
        flex-grow: 1;
    }
    .custom-extra-actions {
        padding: .5em 0;
        a {
            color: $color-link-primary;
            display: flex;
        }
        svg {
            height: 1rem;
            margin-right: .25em;
            width: 1rem;
        }
    }
    .js-form,
    .js-new-custom-field:hover {
        .custom-options-wrapper {
            opacity: 1;
        }
    }

}
