@import '../dependencies/mixins/profile-form';

.project-details {
    @include profile-form;
    .looking-for-people {
        @extend %light;
        border-bottom: 1px solid $whitish;
        border-top: 1px solid $whitish;
        padding: 1rem 0;
    }
    .looking-for-people-selector {
        align-items: center;
        display: flex;
        svg {
            @include svg-size();
            fill: $gray-light;
            margin-left: .5rem;
        }
        .check {
            margin-left: auto;
        }
    }
    .looking-for-people-reason {
        display: block;
        margin-top: 1rem;
        &.ng-hide-remove-active {
            animation: dropdownFade .3s;
        }
        &.ng-hide-add-active {
            animation: dropdownFade .2s reverse;
            animation-delay: .1s;
        }
    }

    .delete-project {
        @extend %xsmall;
        display: block;
        margin-top: 1rem;
        text-align: right;
        &:hover {
            color: $red;
        }
    }
    .private-or-public {
        @extend %xsmall;
        color: $gray-light;
        margin-bottom: 2rem;
        svg {
            @include svg-size(1.1rem);
            fill: $gray-light;
            margin-right: .5rem;
            vertical-align: middle;
        }
    }

}

.project-privacy-settings {
    display: flex;
    margin-bottom: .5rem;
    .privacy-option {
        flex: 1;
        transition: .2 linear;
        &:first-child {
            margin-right: .5rem;
        }
    }
    input[type="radio"] {
        display: none;
    }
    input[type="text"] {
        display: none;
    }
    label {
        background: $whitish;
        color: $grayer;
        text-align: center;
        transition: all .2s linear;
        &:hover {
            background: rgba($primary-light, .4);
            color: $grayer;
            svg {
                fill: $grayer;
            }
        }
        svg {
            @include svg-size(1.1rem);
            fill: $grayer;
            margin-left: .5rem;
            vertical-align: middle;
        }
    }
    .privacy-project:checked {
        + label {
            background: $primary-light;
            color: $white;
            svg {
                @include svg-size(1.1rem);
                fill: $white;
            }
        }
        ~input[type="text"] {
            display: block;
        }
    }
}
