.admin-roles {
    .total {
        @extend %large;
        @extend %title;
        background-color: $whitish;
        padding: .5rem 1rem;
        span {
            @extend %medium;
            @extend %text;
            padding-left: .5rem;
        }
    }
    .general-category {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 2rem;
        .check {
            margin-left: .5rem;
        }
    }
    .check {
        background-color: #cfcfcf;
        border-radius: 2px;
        cursor: pointer;
        height: 25px;
        overflow: hidden;
        position: relative;
        width: 65px;
        input[type=checkbox] {
            cursor: pointer;
            height: 500px;
            left: -10px;
            opacity: 0;
            position: absolute;
            top: -10px;
            width: 500px;
            + div {
                @include transition (all .2s linear);
                background-color: $button-gray;
                height: 25px;
                width: 50%;
            }
        }
        input[type=checkbox]:checked {
            + div {
                @include transition (all .2s linear);
                background-color: #74a218;
                margin-left: 50%;
            }
        }
    }
}
