.project-details {
    form {
        max-width: 700px;
        width: 100%;
    }
    input,
    textarea {
        @extend %title;
    }
    fieldset {
        margin-bottom: 1rem;
    }
    label {
        @extend %title;
        display: block;
        margin-bottom: .2rem;
    }
    textarea {
        height: 10rem;
    }
    .privacy-settings {
        display: flex;
        margin-bottom: 2rem;
        > div {
            flex-basis: 0;
            flex-grow: 1;
            overflow: hidden;
            position: relative;
            &:first-child {
                margin-right: .5rem;
            }
        }
        label {
            @extend %title;
            border: 1px solid $gray-light;
            cursor: not-allowed;
            display: block;
            text-align: center;
            transition: all .2s linear;
            span {
                color: $gray-light;
            }
        }
    }
    .privacy-project {
        cursor: pointer;
        height: 500px;
        left: -10px;
        opacity: 0;
        position: absolute;
        top: -10px;
        width: 500px;
        z-index: 999;
    }
    .privacy-project:checked {
        + label {
            background: $primary-light;
            border: 1px solid $primary-light;
            span {
                color: $white;
            }
        }
    }
    .button-green {
        color: $white;
        display: block;
        text-align: center;
    }
    .delete-project {
        @extend %small;
        display: block;
        margin-top: 1rem;
    }
}
