.admin-roles {
    .total {
        background-color: $whitish;
        padding: 1rem;
        &:hover {
            .edit-value {
                @include transition(opacity .3s linear);
                opacity: 1;
            }
        }
    }
    .role-name {
        @extend %xlarge;
        @extend %title;
        color: $grayer;
    }
    .edit-value {
        @include transition(opacity .3s linear);
        @extend %medium;
        color: $gray-light;
        cursor: pointer;
        margin-left: .5rem;
        opacity: 0;
    }
    .edit-role {
        @include table-flex(stretch, left, center, row, wrap);
<<<<<<< HEAD
<<<<<<< HEAD
        margin-bottom: 1rem;
        input {
=======
=======
>>>>>>> Admin roles design and UX
        background-color: $whitish;
        margin-bottom: 1rem;
        padding: .5rem;
        input {
            background-color: $white;
<<<<<<< HEAD
>>>>>>> fix #1397 - rename role
            width: auto;
=======
            width: 50%;
>>>>>>> Admin roles design and UX
        }
        .icon-floppy {
            @include transition(color.3s linear);
            color: $gray-light;
            margin-left: .5rem;
            &:hover {
                @include transition(color.3s linear);
                color: $green-taiga;
            }
        }
    }
    .total {
        @extend %large;
        @extend %title;
        background-color: $whitish;
        color: $grayer;
        padding: 1rem;
        span {
            @extend %medium;
            @extend %text;
            padding-left: .5rem;
        }
    }
    .any-computable-role {
        background: $red;
        color: $white;
        margin-bottom: .5rem;
        padding: .5rem;
    }
    .general-category {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 2rem;
        .check {
            margin-left: .5rem;
        }
    }
    .check {
        background-color: darken($whitish, 10%);
        border-radius: 2px;
        cursor: pointer;
        height: 1.5rem;
        overflow: hidden;
        position: relative;
        width: 65px;
        input[type=checkbox] {
            cursor: pointer;
            height: 500px;
            left: -10px;
            opacity: 0;
            position: absolute;
            top: -10px;
            width: 500px;
            z-index: 999;
            + div {
                @include transition (all .2s linear);
                background-color: $button-gray;
                height: 25px;
                width: 50%;
            }
            ~ .check-text {
                //@include transition(opacity .3s linear);
                @extend %small;
                color: $white;
                position: absolute;
                top: .1rem;
            }
            ~ .check-yes {
                opacity: 0;
                right: .5rem;
            }
            ~ .check-no {
                left: .5rem;
                opacity: .6;
            }
        }
        input[type=checkbox]:checked {
            + div {
                @include transition (all .2s linear);
                background-color: #74a218;
                margin-left: 50%;
            }
            ~ .check-yes {
                opacity: .6;
                right: .4rem;
            }
            ~ .check-no {
                left: .4rem;
                opacity: 0;
            }
        }
    }
}
