.admin-contrib {
    form {
        margin: 1rem 0;
        max-width: 700px;
        width: 100%;
    }
    h2 {
        @include font-type(regular);
        @include font-size(large);
        margin-bottom: 0;
    }
    fieldset {
        border-bottom: 1px solid $whitish;
        margin-bottom: 1rem;
    }
    input {
        margin-bottom: 1rem;
    }
    label {
        @include font-type(regular);
        display: block;
        margin-bottom: .25rem;
    }
    .select-input-text {
        .field-with-option {
            display: flex;
        }
        .option-wrapper {
            align-items: center;
            border: 1px solid $gray-light;
            border-left: 0;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            display: flex;
            margin-bottom: 1rem;
            padding: 0 1rem;
        }
    }
    .check-item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        &:last-child {
            border-bottom: 0;
            margin-bottom: 1rem;
        }
    }
}

.contrib-form-wrapper {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
    input {
        margin: 0;
    }
    .contrib-input {
        border: 0;
        flex: 5;
        margin: 0;
    }
    .contrib-test {
        border: 0;
        flex: 1;
        margin: 0;
        margin-left: 1rem;
    }
}
