.admin-contrib {
    form {
        margin: 1rem 0;
        max-width: 700px;
        width: 100%;
    }
    input,
    textarea {
        @extend %title;
    }
    fieldset {
        margin-bottom: 1rem;
    }
    label {
        @extend %title;
        display: block;
        margin-bottom: .2rem;
    }
    textarea {
        height: 10rem;
    }
    .button-green {
        color: $white;
        display: block;
        text-align: center;
    }
    .select-input-text {
        .field-with-option {
            display: flex;
        }
        .option-wrapper {
            align-items: center;
            border: 1px solid $gray-light;
            border-left: 0;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            display: flex;
            padding: 0 1rem;
        }
        .help-copy {
            @extend %small;
            opacity: 0;
            &.visible {
                opacity: 1;
                transition: opacity .2s linear;
            }
        }
    }
    .help {
        margin-top: 2rem;
        h3 {
            font-family: opensans-semibold;
            margin-bottom: 1rem;
        }
        ol {
            padding: 0 0 0 2rem;
            span {
                font-family: opensans-semibold;
            }
        }
        .img {
            margin-bottom: 1rem;
        }
        .alt-image {
            @extend %small;
            font-style: italic;
        }
        code {
            @extend %small;
            background: $whitish;
            direction: ltr;
            display: block;
            font-family: 'courier new', 'monospace';
            line-height: 1.4rem;
            margin-bottom: 1rem;
            padding: .5rem;
            unicode-bidi: embed;
            white-space: pre;
            width: 100%;
        }
        .code-info {
            padding-left: 1rem;
            li {
                margin-bottom: .5rem;
            }
            span {
                font-family: opensans-semibold;
            }
        }
    }
}
