.ticket-section-label
    span {{ 'COMMON.FIELDS.POINTS'|translate }}

ul.points-per-role
    <% _.each(roles, function(role) { %>
    li.ticket-role-points.total(
        class!="<% if(editable){ %>clickable<% } %>"
        data-role-id!="<%- role.id %>"
        title!="<%- role.name %>"
    )
        span.points
            <%- role.points %>
            tg-svg(svg-icon="icon-arrow-down")
        span.role(tg-loading!="<%- loading == role.id %>") <%- role.name %>
    <% }); %>
    li.ticket-role-points.total
        span.points <%- totalPoints %>
        span.role(translate="US.TOTAL_POINTS")
