a.us-points(href="", title!="<%= title %>", class!="<% if (!editable) { %>not-clickable<% } %>")
    span.points-value <%= text %>
    <% if (editable) { %>
    tg-svg(
        svg-icon="icon-arrow-down",
        tg-check-permission="modify_us"
    )
    <% } %>
