ul.popover.pop-points-open(class!="<% if (horizontal) { %>horizontal<% }; %>")
    <% _.each(points, function(point) { %>
    li
        <% if (point.selected) { %>
        a(href="", class="point", title!="<%- point.name %>",
           data-point-id!="<%- point.id %>", data-role-id!="<%- roleId %>")
            span.item-text <%- point.name %>
        <% } else { %>
        a(href="", class="point active", title!="<%- point.name %>",
           data-point-id!="<%- point.id %>", data-role-id!="<%- roleId %>")
            span.item-text <%- point.name %>
        <% } %>
    <% }); %>
