
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

ul.popover.pop-role
    <% _.each(roles, function(role) { %>
    li
        a.role(href="", title!="<%- role.name %>", data-role-id!="<%- role.id %>")
            span.item-text <%- role.name %> (<%- role.points %>)
    <% }); %>
