tg-lightbox-close
form
    h2.title(translate="LIGHTBOX.FEEDBACK.TITLE")
    fieldset
        textarea(ng-model="feedback.comment", data-required="true",
                 ng-attr-placeholder="{{'LIGHTBOX.FEEDBACK.COMMENT' | translate}}")
    fieldset
        button.button-green.button-large.button-block(type="submit", title="{{'LIGHTBOX.FEEDBACK.ACTION_SEND' | translate}}", translate="LIGHTBOX.FEEDBACK.ACTION_SEND")
