config = {
    host: "localhost:8000"
    scheme: "http"
    debug: true
    pubblicRegisterEnabled: true
    defaultLanguage: "en"
    languageOptions: {
        "es": "Spanish"
        "en": "English"
    }
}

angular.module("taigaLocalConfig", []).value("localconfig", config)
