config = {
    host: "localhost:8000"
    scheme: "http"

    debug: true

    defaultLanguage: "en"
    languageOptions: {
        "es": "Spanish"
        "en": "English"
    }

    pubblicRegisterEnabled: true
}

angular.module("taigaLocalConfig", []).value("localconfig", config)
