a.close(href="", title="{{'close' | translate}}")
    span.icon.icon-delete
form
    h2.title(translate="LIGHTBOX.DELETE_ACCOUNT.SECTION_NAME")
    p
        span.question(translate="LIGHBOX.DELETE_ACCOUNT.CONFIRM")
        span.subtitle(translate="LIGHBOX.DELETE_ACCOUNT.SUBTITLE")
    div.options
        a.button-green(href="", title="{{'COMMON.ACCEPT' | translate}}")
            span(translate="COMMON.ACCEPT") Accept
        a.button-red(href="", title="{{'Cancel' | translate}}", )
            span(translate="COMMON.CANCEL") Accept
