include ../../partials/includes/components/beta
div.profile.centered
    include includes/profile-bar
    div.main
        div.timeline-wrapper(tg-profile-tabs)
                div(tg-profile-tab="activity", tab-title="{{'USER.PROFILE.ACTIVITY_TAB' | translate}}", tab-icon="icon-timeline", tab-active)
                    div(tg-profile-timeline)

                div(tg-profile-tab="projects", tab-title="{{'USER.PROFILE.PROJECTS_TAB' | translate}}", tab-icon="icon-project")
                    div(tg-profile-projects)

                div(tg-profile-tab="contacts", tab-title="{{'USER.PROFILE.CONTACTS_TAB' | translate}}", tab-icon="icon-team")
                    div(tg-profile-contacts)

                // div(tg-profile-tab="favorites", tab-title="{{'USER.PROFILE.FAVORITES_TAB' | translate}}", tab-icon="icon-star-fill")
                //     include includes/profile-favorites

        include includes/profile-sidebar
