div.single-attachment
    blockquote
        a(ng-href="{{ attachment.url }}", title="Click to download {{ attachment.filename }}", target="_blank")
            span.icon.icon-document
            span {{attachment.filename}}
