.search-result-table {

    .row {
        @include table-flex;
        padding: 20px;
        &:hover {
            background: lighten($green-taiga, 60%);
            @include transition (background .2s ease-in);
        }
        >div {
            @include table-flex-child(1, 0, 0);
        }
        .user-stories {
            @include table-flex-child(5, 500px, 0, 500px);
        }
    }
    .row-selected {
        background: lighten($green-taiga, 60%);
        @include transition (background .2s ease-in);
    }

      // TODO: refactor xaviju
    .user-story-name {
        input {
            vertical-align: top;
        }
        span {
            display: inline-block;
            max-width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .icon {
            @extend %medium;
            color: $gray-light;
            &:hover {
                color: $grayer;
                @include transition (color .3s linear);
            }
        }
    }
    .title {
        @extend %medium;
        @extend %bold;
        border-bottom: 1px solid $gray-light;
        &:hover {
            background: transparent;
        }
    }
    .table-main {
        @extend %small;
        border-bottom: 1px solid $gray-light;
    }
    .status,
    .points {
        position: relative;
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            flex-basis: 35px;
        }
        figcaption {
            margin-left: 1rem;
        }
    }
}
