.search-filter {
    border-top: 1px solid $whitish;
    display: flex;
    margin-bottom: 0;
    z-index: 9;
    a {
        background: $white;
        color: $gray-light;
        display: inline-block;
        margin-right: 1rem;
        padding: 1rem 1.25rem;
        &:hover {
            transition: color .3s linear;
            .name {
                padding-left: 5px;
            }
            .icon {
                fill: currentColor;
            }
        }
        &.active {
            border-left: 1px solid $whitish;
            border-right: 1px solid $whitish;
            color: $grayer;
            position: relative;
            top: 1px;
            .icon {
                fill: $primary-light;
            }
        }
    }
    .icon {
        fill: currentColor;
        margin-right: .4rem;
    }
    .name {
        padding-left: 5px;
    }
}
