.search-in {
    .icon-search-wrapper {
        position: absolute;
        right: .7rem;
        top: calc(50% - .5rem);
    }
    .icon-search {
        fill: $gray-light;
    }
    .loading-spinner {
        margin-top: .1rem;
    }
}
