.search-in {
    input {
        background: $grayer;
        color: $white;
        @include placeholder {
            color: $gray-light;
        }
    }
    .icon-search {
        color: $gray-light;
        position: absolute;
        right: .7rem;
        top: .7rem;
    }
}
