.search-filter {
    ul {
        border-bottom: 3px solid $gray-light;
        display: flex;
        padding-bottom: .5rem;
    }
    li {
        margin-right: 1rem;
    }
    a {
        @extend %large;
        @extend %title;
        opacity: .2;
        &:hover {
            color: $gray;
            opacity: 1;
            transition: opacity .3s linear;
        }
    }
    .active {
        color: $gray;
        opacity: 1;
        transition : opacity .3s linear;
    }
    .icon {
        margin-right: .4rem;
    }
    .name {
        padding-left: 5px;
    }
}
