.search-result-table {
    border-top: 1px solid $whitish;
    .row {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: .5rem;

        .ref {
            flex-basis: 30px;
            flex-grow: 1;
            padding: 0 1rem;
        }
        .user-stories {
            flex-basis: 300px;
            flex-grow: 10;
            flex-shrink: 1;
        }
        .status,
        .points,
        .sprint {
            flex-basis: 150px;
            flex-grow: 0;
            padding: 0 1rem;
            text-align: center;
        }
        .assigned-to {
            flex-basis: 150px;
            flex-grow: 0;
            padding: 0 1rem;
        }
    }
    .row-selected {
        background: lighten($primary, 60%);
        transition: background .2s ease-in;
    }

      // TODO: refactor xaviju
    .user-story-name {
        input {
            vertical-align: top;
        }
        span {
            display: inline-block;
            max-width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .icon {
            @extend %medium;
            color: $gray-light;
            &:hover {
                color: $grayer;
                transition: color .3s linear;
            }
        }
    }
    .table-main {
        @extend %small;
        border-bottom: 1px solid $whitish;
    }
    .status,
    .points,
    .sprint {
        position: relative;
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            width: 35px;
        }
        .avatar-caption {
            display: block;
            margin-left: .5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 80px;
        }
    }
}

.search-result-table-header {
    @extend %bold;
}

.empty-search-results {
    margin-top: 4rem;
    text-align: center;
    img {
        margin-bottom: 1rem;
    }
    .title {
        @extend %large;
        text-transform: uppercase;
    }
    p {
        @extend %light;
        margin: 0;
    }
}
