section.history
    tg-history-tabs(
        on-active-comments="onActiveHistoryTab(true)"
        on-active-activities="onActiveHistoryTab(false)"
    )
    tg-comments(ng-if="vm.viewComments")
    tg-history(ng-if="!vm.viewComments")
