section.policy-table
    div.policy-table-header
        div.policy-table-row
            div.policy-table-project
                span(translate="USER_SETTINGS.EVENTS.COLUMN_PROJECT")
            div.policy-table-enabled
                span(translate="USER_SETTINGS.EVENTS.COLUMN_ENABLED")
    div.policy-table-body(tg-user-web-notifications-list, ng-model="notifyPolicies")
