.diff-status-wrapper
    span.key(
        translate="ACTIVITY.FIELDS.ASSIGNED_TO"
    )
    span.diff(ng-if="diff[0]") {{diff[0]}}
    tg-svg(
        svg-icon="icon-arrow-right"
    )
    span.diff(ng-if="diff[1]") {{diff[1]}}
