
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.diff-subject-wrapper
    span.key(
        translate="ACTIVITY.FIELDS.SUBJECT"
    )
    span.diff(ng-if="vm.diff[0]") {{vm.diff[0]}}
    tg-svg(
        svg-icon="icon-arrow-right"
    )
    span.diff(ng-if="vm.diff[1]") {{vm.diff[1]}}
