.diff-status-wrapper
    span.key(
        translate="ACTIVITY.FIELDS.SEVERITY"
    )
    span.diff(ng-if="vm.diff[0]") {{vm.diff[0]}}
    tg-svg(
        svg-icon="icon-arrow-right"
    )
    span.diff(ng-if="vm.diff[1]") {{vm.diff[1]}}
