
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.diff-tags-wrapper
    p(ng-if="vm.diffRemoveTags")
        span.key(translate="ACTIVITY.TAGS_REMOVED")
        span.diff {{vm.diffRemoveTags}}
    
    p(ng-if="vm.diffAddTags")
        span.key(translate="ACTIVITY.TAGS_ADDED")
        span.diff {{vm.diffAddTags}}
