.diff-status-wrapper
    span.key(
        translate="ACTIVITY.FIELDS.DUE_DATE"
    )
    span.diff(ng-if="vm.diff[0]") {{vm.diff[0] | momentFormat:'DD MMM YYYY'}}
    span.diff(ng-if="!vm.diff[0]" translate="ACTIVITY.VALUES.NOT_SET")

    tg-svg(
        svg-icon="icon-arrow-right"
    )

    span.diff(ng-if="vm.diff[1]") {{vm.diff[1] | momentFormat:'DD MMM YYYY'}}
    span.diff(ng-if="!vm.diff[1]" translate="ACTIVITY.VALUES.NOT_SET")