
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.diff-milestone-wrapper
    span.key(
        translate="ACTIVITY.FIELDS.MILESTONE"
    )
    span.diff(ng-if="vm.diff[0]") {{vm.diff[0]}}
    span.diff(ng-if="!vm.diff[0]" translate="ACTIVITY.VALUES.NOT_SET")
    tg-svg(
        svg-icon="icon-arrow-right"
    )

    span.diff(ng-if="vm.diff[1]") {{vm.diff[1]}}
    span.diff(ng-if="!vm.diff[1]" translate="ACTIVITY.VALUES.NOT_SET")
