div.activity-image
    span.activity-date {{::activity.created_formated}}
    div.activity-info
        div.profile-contact-picture
            a(tg-nav="user-profile:username=activity.user.username", title="{{::activity.user.name }}")
                img(ng-src="{{::activity.user.photo}}", alt="{{::activity.user.name}}")

        p(tg-compile-html="activity.title")

    .activity-comment-quote(ng-if="::activity.description")
        p(ng-bind-html="activity.description")

    .activity-member-view(ng-if="::activity.member")
        .profile-member-picture
            img(ng-src="{{::activity.member.user.photo}}", alt="{{::activity.member.user.name}}")
        .activity-member-info
            a(tg-nav="user-profile:username=activity.member.user.username", title="{{::activity.member.user.name }}")
                span {{::activity.member.user.name}}
            p {{::activity.member.role.name}}

div(ng-repeat="attachment in activity.attachments")
        div(tg-timeline-attachment="attachment")