$tag-input-width: 250px;

.add-tag-input {
    align-items: flex-start;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: $tag-input-width;
    input {
        border-color: $gray-light;
        margin-right: .25rem;
        max-height: 2rem;
        padding: 6px;
        width: 14rem;
    }
    .save {
        cursor: pointer;
        display: inline-block;
        fill: $grayer;
        margin: .5rem 0 0 .5rem;
        transition: .2s linear;
        &:hover {
            fill: $primary;
        }
    }
    .tags-dropdown {
        @include font-size(small);
        background: $white;
        border: 1px solid $gray-light;
        border-top: 0;
        box-shadow: 2px 2px 3px rgba($black, .2);
        left: 0;
        max-height: 20vh;
        min-height: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 2.25rem;
        width: 85%;
        z-index: $first-layer;
    }
    .tags-dropdown-option {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
    }
    .tags-dropdown-color {
        height: 1rem;
        width: 1rem;
    }
    li {
        &:hover,
        &.selected {
            background: lighten($primary-light, 50%);
            cursor: pointer;
            transition: .2s;
            transition-delay: .1s;
        }
    }
}
