.backlog-table-header,
.backlog-table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    &.show-tags {
        .tags-block {
            display: block;
        }
    }
    .row {
        @include font-size(small);
        align-items: center;
        display: flex;
        margin-bottom: .5rem;
        padding: .5rem 0 .5rem .5rem;
        text-align: left;
        width: 100%;
    }
    .backlog-table-title,
    .row {
        .draggable-us-row {
            flex-basis: 25px;
            flex-grow: 0;
            flex-shrink: 0;
            height: 22px;

            tg-svg {
                justify-content: flex-start;
                svg {
                    @include svg-size(1.4rem);
                }
            }
        }
        .input {
            align-items: center;
            display: flex;
            flex-basis: 25px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        .user-stories {
            flex: 1;
        }
        .status {
            flex-basis: 150px;
            flex-grow: 0;
            flex-shrink: 0;
            text-align: right;
            white-space: nowrap;
        }
        .points {
            align-items: center;
            display: flex;
            flex-grow: 0;
            justify-content: center;
            margin-left: 20px;
            width: 75px;

            .inner {
                align-items: center;
                display: flex;
            }

            tg-svg {
                margin-left: .2rem;
                width: 12px;
            }
        }
    }
    .backlog-table-title {
        .points {
            margin-right: -4px;

            tg-svg {
                width: 17px;
            }

            .icon {
                @include svg-size(1.5rem);
                margin-top: -1px;
            }
        }
        .us-header-options {
            flex-basis: 50px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
    .draggable-us-column {
        flex-basis: 25px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .status,
    .points {
        position: relative;
        .popover {
            a {
                text-align: left;
                width: 100%;
            }
            .point {
                text-align: center;
            }
        }
        .icon {
            @include svg-size(1rem);
            fill: $color-link-primary;
            margin-top: .1rem;
        }
    }
    .pop-status {
        @include popover(200px, 0, 65%, '', '');
        padding-right: 1rem;
        &.fix {
            bottom: 0;
            top: auto;
        }
    }
    .pop-role {
        @include popover(170px, 20px, '', '', -10px);
        a {
            &.active {
                background: $primary-light;
                color: $white;
            }
        }
    }
    .pop-points {
        @include popover(150px, '', 30px, 10px, '');
        padding-right: 3rem;
    }
    .pop-points-open {
        @include popover(200px, 0, 30px, '', '');
        &.pop-bottom {
            @include popover(200px, 'auto', 30px, 0, '');
        }
        li {
            float: left;
            width: 25%;
            &:nth-last-child(4n) {
                clear: left;
            }
        }
        a {
            display: block;
            text-align: center;
            &:hover,
            &.active {
                background: $primary-light;
                color: $white;
            }
        }
    }
}

.backlog-table-header {
    .backlog-table-title {
        span {
            @include font-type(text);
            @include font-size(xsmall);
            @include font-type(semibold);
            flex-wrap: nowrap;
            text-transform: uppercase;
        }
    }
    .points {
        cursor: pointer;

        &.popover-open {
            .header-points {
                color: $color-black900;
            }

            .icon {
                fill: $color-black900;
            }
        }
    }
    .header-points {
        /* stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix */
        -webkit-box-orient: vertical;
        color: $color-link-primary;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        overflow-wrap: break-word;
        text-align: right;
        width: 55px;
        /* stylelint-enable property-no-vendor-prefix, value-no-vendor-prefix */
    }
}

.backlog-table-body,
.gu-mirror {
    .tags-block {
        margin-bottom: .3rem;
        .tag {
            @include font-size(small);
            margin-right: .5rem;
            padding: .2rem .5rem;
        }
    }
}

@keyframes new-us-blink {
    0% {
        background-color: $color-gray200;
        border: 1px solid $color-solid-primary;
    }
    100% {
        background-color: $color-gray100;
        border: 1px solid $color-solid-primary;
    }
}

.backlog-table-body {
    .us-item-row.gu-transit {
        background-color: $white;
        border: 0;
        border-top: 2px dashed $color-solid-primary;
        height: 0;
        opacity: 1;
        padding: 0;

        > * {
            display: none;
        }
    }
    .new {
        animation: new-us-blink .5s ease-in 2;
    }
    .points-value {
        background-color: $color-gray200;
        color: $color-black900;
        padding: .25rem;

        span {
            color: $color-link-tertiary;
        }
    }
}

.backlog-table-body,
.multiple-drag-mirror {
    &.forecasted-stories {
        border: .5rem solid $mass-white;
        border-bottom: 0;
    }
    .row {
        background-color: $color-gray100;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: move;
        flex-wrap: nowrap;
        position: relative;
        &:hover:not(.blocked) {
            background-color: $primary-10;
            .us-settings {
                opacity: 1;
            }
        }
        &:last-child {
            border-bottom: 0;
        }
        &.gu-mirror {
            background: lighten($primary, 60%);
            box-shadow: 1px 1px 10px rgba($black, .1);
            opacity: .9;
        }
        .points {
            .not-clickable:hover {
                color: $black;
                cursor: text;
            }
        }
        .icon-arrow-down {
            fill: $gray-light;
            height: .7rem;
            width: .7rem;
        }
    }
    .gu-transit {
        background: $color-gray100;
    }
    .sortable-placeholder {
        background: $mass-white;
        height: 40px;
        width: 100%;
        * {
            display: none;
        }
    }
    input {
        &:checked {
            color: $primary-light;
            transition: color .2s ease-in;
        }
    }
    .user-story-main-data {
        @include font-type(light);
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    .user-story-number {
        color: $color-link-primary;
        margin-right: .5rem;
    }
    .user-story-name {
        color: $color-black600;
        margin-right: 1rem;
    }
    .tags-block {
        display: none;

        .tag {
            margin-bottom: 0;
        }
    }
    .blocked {
        background: $red-light;
        border-bottom: 1px solid $white;
        color: $white;
        a {
            color: $white !important; /* stylelint-disable-line declaration-no-important */
            &:hover {
                color: $white;
            }
        }
        .icon,
        .icon:hover,
        .due-date-icon {
            fill: $white;
            stroke: $white;
            &:hover {
                color: $white;
            }
        }
    }
    .us-settings {
        flex-shrink: 0;
        margin-left: auto;
        opacity: 0;
        svg {
            fill: $gray-light;
            margin-right: .5rem;
            transition: fill .2s ease-in;
            &:hover {
                fill: $primary-light;
            }
        }
    }
    .readonly {
        cursor: auto;
        padding-right: 45px;
    }
    .us-status {
        tg-svg {
            display: inline-block;
        }
    }
    .loading {
        margin: 2% auto;
        width: 3rem;
        img {
            @include loading-spinner;
            max-height: 3rem;
            max-width: 3rem;
        }
    }
}

.us-item-row {
    .us-option {
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;

        svg {
            fill: $color-link-primary;
        }
    }
}

// drag & drop
.empty-large {
    .row {
        display: none;
    }
}
