.backlog-table-header,
.backlog-table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    &.show-tags {
        .tags-block {
            display: block;
        }
    }
    .row {
        @include font-size(small);
        align-items: flex-start;
        display: flex;
        margin-bottom: .5rem;
        padding: 1rem;
        padding-block-end: .75rem;
        text-align: left;
        width: 100%;
    }
    .backlog-table-title,
    .row {
        .draggable-us-row {
            flex-grow: 0;
            flex-shrink: 0;
            margin-inline-end: .5rem;
            tg-svg {
                svg {
                    @include svg-size(1rem);
                    fill: $color-link-primary;
                }
            }
        }
        .input {
            align-items: center;
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            margin-inline-end: .75rem;
        }
        .user-stories {
            flex: 1;
        }
        .status {
            flex-basis: 150px;
            flex-grow: 0;
            flex-shrink: 0;
            text-align: right;
            white-space: nowrap;
        }
        .points {
            align-items: center;
            display: flex;
            flex-grow: 0;
            justify-content: flex-end;
            margin-left: 20px;
            width: 75px;

            .inner {
                align-items: center;
                display: flex;
            }

            tg-svg {
                margin-left: .2rem;
                width: 12px;
            }
        }
    }
    .backlog-table-title {
        .points {
            margin-right: -4px;

            tg-svg {
                width: 17px;
            }

            .icon {
                @include svg-size(1.5rem);
                margin-top: -1px;
            }
        }
        .us-header-options {
            flex-basis: 50px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
    .draggable-us-column {
        flex-basis: 25px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .status,
    .points {
        position: relative;
        .popover {
            a {
                text-align: left;
                width: 100%;
            }
            .point {
                text-align: center;
            }
        }
        .icon {
            @include svg-size(1rem);
            fill: $color-link-primary;
            margin-top: .1rem;
        }
    }
    .pop-status {
        @include popover(200px, 0, 65%, '', '');
        padding-right: 1rem;
        &.fix {
            bottom: 0;
            top: auto;
        }
    }
    .pop-role {
        @include popover(170px, 20px, '', '', -10px);
        a {
            &.active {
                background: $primary-light;
                color: $white;
            }
        }
    }

    .pop-points {
        @include popover(150px, '', 30px, 10px, '');
        padding-right: 3rem;
    }
    .pop-points-open {
        @include popover(200px, 0, 30px, '', '');
        &.pop-bottom {
            @include popover(200px, 'auto', 30px, 0, '');
        }
        li {
            float: left;
            width: 25%;
            &:nth-last-child(4n) {
                clear: left;
            }
        }
        a {
            display: block;
            text-align: center;
            &:hover,
            &.active {
                background: $primary-light;
                color: $white;
            }
        }
    }
}

.backlog-table-header {
    background-color: $white;
    position: sticky;
    // backlog-top.height
    top: 115px;
    z-index: 99;

    .backlog-table-title {
        align-items: center;
        margin-bottom: 0;

        > div {
            @include font-type(regular);
            @include font-size(xsmall);
            @include font-type(medium);

            color: $color-link-tertiary;
            flex-wrap: nowrap;
            text-transform: uppercase;
        }
    }
    .points {
        cursor: pointer;

        &:hover,
        .popover-open {
            .header-points {
                color: $color-black900;
            }

            .icon {
                fill: $color-black900;
            }
        }
    }
    .header-points {
        /* stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix */
        -webkit-box-orient: vertical;
        color: $color-link-primary;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        overflow-wrap: break-word;
        text-align: right;
        width: 55px;
        /* stylelint-enable property-no-vendor-prefix, value-no-vendor-prefix */
    }
}

.backlog-table-body,
.gu-mirror {
    .tags-block {
        margin-bottom: .3rem;
        .tag {
            @include font-size(small);
            margin-right: .5rem;
            padding: .2rem .5rem;
        }
    }
}

@keyframes new-us-blink {
    0% {
        background-color: $color-gray200;
        border: 1px solid $color-solid-primary;
    }
    100% {
        background-color: $color-gray100;
        border: 1px solid $color-solid-primary;
    }
}

.backlog-table-body {
    .us-item-row.gu-transit {
        background-color: $white;
        border: 0;
        border-top: 2px dashed $color-solid-primary;
        height: 0;
        opacity: 1;
        padding: 0;

        > * {
            display: none;
        }
    }
    .us-item-row-left {
        align-items: center;
        display: flex;
    }
    .new {
        animation: new-us-blink .5s ease-in 2;
    }

}

.backlog-table-body,
.multiple-drag-mirror {
    &.forecasted-stories {
        border: .5rem solid $mass-white;
        border-bottom: 0;
    }
    .row {
        background-color: $color-gray100;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: move;
        flex-wrap: nowrap;
        position: relative;
        &:hover:not(.blocked) {
            background-color: $color-gray200;
        }
        &:last-child {
            border-bottom: 0;
        }
        &.gu-mirror {
            background: lighten($primary, 60%);
            box-shadow: 1px 1px 10px rgba($black, .1);
            opacity: .9;
        }
        .points {
            .not-clickable:hover {
                color: $black;
                cursor: text;
            }
        }
        .icon-arrow-down {
            @include svg-size(1rem);
            fill: $gray-light;
        }
    }
    .gu-transit {
        background: $color-gray100;
    }
    .user-story-main-data {
        margin-top: -.1rem;
    }
    .sortable-placeholder {
        background: $mass-white;
        height: 40px;
        width: 100%;
        * {
            display: none;
        }
    }
    input {
        &:checked {
            color: $primary-light;
            transition: color .2s ease-in;
        }
    }
    .user-story-link {
        @include font-size(small);
        @include font-type(regular);
        line-height: 1.75;
        &:hover {
            .user-story-name {
                color: $color-link-primary;
            }
        }
    }
    .user-story-number {
        color: $color-link-primary;
        margin-inline-end: .25rem;
    }
    .user-story-name {
        color: $color-black600;
        margin-inline-end: .5rem;
    }
    .due-date-icon {
        margin-block-start: -.25rem;
        margin-inline-end: .5rem;
        position: relative;
        top: .25rem;
    }
    .tag {
        position: relative;
        top: .25rem;
        &.last {
            margin-inline-end: .75rem;
        }
    }
    .belong-to-epic-pill {
        position: relative;
        top: .1rem;
    }
    .blocked {
        background: $color-solid-red;
        .user-story-name,
        a {
            color: $color-black900 !important; /* stylelint-disable-line declaration-no-important */
            &:hover {
                color: $color-black900;
            }
        }
    }
    .readonly {
        cursor: auto;
        padding-right: 45px;
    }
    .us-status {
        @include font-size(small);
        align-items: center;
        display: inline-flex;
        padding-block-start: .25rem;
        tg-svg {
            margin-inline-start: .25rem;
        }
    }
    .loading {
        margin: 2% auto;
        width: 3rem;
        img {
            @include loading-spinner;
            max-height: 3rem;
            max-width: 3rem;
        }
    }
    .us-points {
        background-color: $color-gray200;
        color: $color-black900;
        padding: .25rem;
    }
    .us-option {
        display: flex;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        &.popover-open {
            background: $color-gray400;
        }
    }
    .us-option-popup {
        @include popover(145px, 40px, '', '', 1rem);
        button {
            appearance: none;
            background: none;
            color: $color-link-primary;
            display: flex;
            padding: .25rem;
            width: 100%;
            &:hover {
                background: $color-gray200;
                color: $color-link-tertiary;
            }
            svg {
                @include svg-size(1rem);
                fill: $color-link-primary;
                margin-inline-end: .5rem;
            }
        }
    }
    .us-option-popup-button {
        appearance: none;
        background: transparent;
        border-radius: 2px;
        cursor: pointer;
        padding: .25rem 0;
        &:hover {
            background: $color-gray400;
        }
        svg {
            fill: $color-link-primary;
        }

    }
}

// drag & drop
.empty-large {
    .row {
        display: none;
    }
}
