.backlog-table-header,
.backlog-table-body {
    @include table-flex();
    width: 100%;
    &.show-tags {
        .user-story-tags {
            display: block;
        }
    }
    .row {
        @include table-flex();
        @extend %small;
        border-bottom: 1px solid $gray-light;
        padding: .5rem 0 .5rem .5rem;
        text-align: left;
        width: 100%;
    }
    .backlog-table-title,
    .backlog-table-subtitle,
    .row {
        &:hover {
            background: transparent;
        }
        .user-stories {
            @include table-flex-child(20, 100px, 0, 0);
        }
        .status {
            @include table-flex-child(2, 100px, 0, 0);
        }
        .points {
            @include table-flex-child(1, 100px, 0, 0);
        }
    }
    .status,
    .points {
        padding-right: 3rem;
        position: relative;
        text-align: right;
        .popover {
            text-align: left;
        }
        .icon {
            color: $gray-light;
            margin-left: .2rem;
        }
    }
    .pop-status {
        @include popover(200px, 0, 65%, '', '');
    }
    .pop-role {
        @include popover(200px, 0, 65%, '', '');
        a {
            &.active {
                background: $fresh-taiga;
                color: $white;
            }
        }
    }
    .pop-points {
        @include popover(150px, '', 30px, 10px, '');
    }
    .pop-points-open {
        @include popover(200px, 0, 260px, '', '');
        li {
            display: inline-block;
            width: 23%;
        }
        a {
            display: block;
            text-align: center;
            &:hover,
            &.active {
                background: $fresh-taiga;
                color: $white;
            }
        }
    }
}

.backlog-table-header {
    .backlog-table-title {
        @extend %medium;
        @extend %bold;
        border-bottom: 2px solid $gray-light;
    }
    .points {
        cursor: pointer;
    }
    .header-points {
        span {
            color: $gray-light;
        }
    }
}

.backlog-table-body {
    .row {
        cursor: move;
        position: relative;
        &:hover {
            @include transition (background .2s ease-in);
            background: lighten($green-taiga, 60%);
            .us-settings,
            .icon-drag-v {
                @include transition (all .2s ease-in);
                opacity: 1;
            }
        }
    }
    .row-selected {
        @include transition (background .2s ease-in);
        background: lighten($green-taiga, 60%);
    }
    .user-story-name {
        flex-basis: 500px;
        input {
            margin-right: 1rem;
            vertical-align: middle;
            &:checked {
                +a {
                    @include transition (color .2s ease-in);
                    color: $fresh-taiga;
                }
            }
        }
        span {
            display: inline-block;
            max-width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .user-story-tags {
        display: none;
        margin-top: .3rem;
        .tag {
            margin-right: .1rem;
        }
    }
    .blocked {
        background: $red-light;
        color: $white;
        &:hover {
            background: $red;
            @include transition (background .2s ease-in);
        }
        a {
            color: $white;
            &:hover {
                color: $white;
            }
        }
        .icon {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
    .doom-line {
        background: rgba($red, .5);
        padding: .5rem 0;
        position: relative;
        width: 100%;
        span {
            @extend %small;
            @extend %title;
            color: $white;
            position: absolute;
            right: .5rem;
            top: -3px;
        }
    }
    .us-settings a,
    .icon-drag-v {
        @include transition (all .2s ease-in);
        @extend %large;
        color: $gray-light;
        &:hover {
            @include transition (all .2s ease-in);
            color: $grayer;
        }
    }
    .us-settings {
        float: right;
        margin-right: 2rem;
        opacity: 0;
    }
    .icon-drag-v {
        cursor: move;
        opacity: 0;
        position: absolute;
        right: .5rem;
        top: .6rem;
    }
}
