//Table basic shared vars

$column-width: 300px;
$column-flex: 0;
$column-shrink: 0;
$column-margin: 0 10px 0 0;

%fold {
    .taskboard-task {
        background: none;
        border: 0;
        margin: 0;
        min-height: 0;
        .taskboard-task-inner {
            padding: .2rem;
        }
        .taskboard-tagline,
        .taskboard-text {
            display: none;
        }
        .avatar {
            height: 35px;
            width: 35px;
        }
        .icon {
            display: none;
        }
        &.ui-sortable-helper {
            box-shadow: none;
        }
    }
    &.task-column,
    .task-column {
        @include table-flex(flex-start);
        @include flex-direction(row);
    }
    .avatar-task-link {
        display: block;
    }
    .avatar-assigned-to {
        display: none;
    }
}

.taskboard-table {
    overflow: hidden;
    width: 100%;
}

.taskboard-table-header {
    margin-bottom: .5rem;
    position: relative;
    width: 100%;
    .taskboard-table-inner {
        @include table-flex();
        overflow: hidden;
        position: absolute;
    }
    .task-colum-name {
        @include table-flex-child($column-flex, $column-width, $column-shrink, $column-width);
        @include table-flex();
        @include justify-content(space-between);
        @extend %large;
        background: $whitish;
        border-top: 3px solid $gray-light;
        margin: $column-margin;
        max-width: $column-width;
        padding: .5rem 1rem;
        position: relative;
        text-transform: uppercase;
        width: $column-width;
        &:last-child {
            margin-right: 0;
        }
        .icon {
            @extend %medium;
            @include transition(color .2s linear);
            color: $gray-light;
            margin-right: .3rem;
            &:hover {
                color: $green-taiga;
            }
            &.hfold,
            &.hunfold {
                @include transform(rotate(90deg));
                display: inline-block;
            }
        }
        &.column-fold {
            @include align-items(center);
            @include justify-content(center);
            padding: .3rem 0;
            span {
                display: none;
            }
            .icon {
                &.hfold,
                &.hunfold {
                    margin: 0;
                }
            }
        }
    }
}

.taskboard-table-body {
    height: 700px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    .task-column {
        @include table-flex-child($column-flex, $column-width, $column-shrink, $column-width);
        margin: $column-margin;
        max-width: $column-width;
        width: $column-width;
        &:last-child {
            margin-right: 0;
        }
    }
    .row-fold {
        @extend %fold;
    }
    .column-fold {
        @extend %fold;
        .taskboard-task {
            max-width: 40px;
            width: 40px;
        }
    }
    .task-row {
        @include table-flex();
        margin-bottom: .5rem;
        min-height: 10rem;
        width: 100%;
        &:hover {
            .new-task {
                @include transition(opacity .3s linear);
                opacity: 1;
            }
        }
        &.blocked {
            .taskboard-userstory-box {
                background: rgba($red, .6);
                border-radius: 3px;
                a,
                .points-value {
                    @include transition(color .3s linear);
                    color: rgba($white, .9);
                    &:hover {
                        @include transition(color .3s linear);
                        color: rgba($white, 1);
                    }
                }
            }
            .taskboard-tasks-box {
                background: rgba($red, .1);
            }
        }
        &.row-fold {
            min-height: 0;
            .taskboard-userstory-box {
                .us-title {
                    @include ellipsis(100%);
                }
                .points-value,
                .icon-plus,
                .icon-bulk {
                    display: none;
                }
            }
        }
    }
    .taskboard-tasks-box {
        background: $whitish;
    }

    .taskboard-userstory-box {
        padding: .5rem .5rem .5rem 1.5rem;
        .icon {
            @include transition(color .2s linear);
            color: $gray-light;
            position: absolute;
            right: .5rem;
            top: .7rem;
            &:hover {
                color: $green-taiga;
            }
            &.icon-plus {
                right: 2rem;
            }
            &.icon-vfold,
            &.icon-vunfold {
                left: 0;
                right: inherit;
            }
        }
    }
    .avatar-task-link {
        display: none;
    }
    .avatar-assigned-to {
        display: block;
    }
}

.taskboard-userstory-box {
    position: relative;
    .tag-list {
        display: none;
        margin-bottom: 1rem;
    }
    .us-title {
        @extend %large;
        @extend %title;
        margin-bottom: 0;
        margin-right: 3rem;
    }
    .points-value {
        @extend %small;
        color: $gray-light;
        span {
            margin-right: .1rem;
        }
    }
}

.points-list {
    a {
        color: $green-taiga;
        margin-left: .5rem;
        &:hover {
            span {
                @include transition (opacity .2s linear);
                opacity: 1;
            }
        }
    }
    span {
        @include transition (opacity .2s linear);
        opacity: 0;
    }
}
