//Table basic shared vars

$column-width: 300px;
$column-flex: 1;
$column-shrink: 0;
$column-margin: 0 10px 0 0;


.taskboard-table {
    overflow: hidden;
    width: 100%;
}

.taskboard-table-header {
    margin-bottom: .5rem;
    position: relative;
    width: 100%;
    .taskboard-table-inner {
        @include table-flex();
        overflow: hidden;
        position: absolute;
    }
    .task-colum-name {
        @include table-flex-child($column-flex, $column-width, $column-shrink, $column-width);
        @extend %large;
        background: $whitish;
        border-top: 3px solid $gray-light;
        margin: $column-margin;
        padding: .5rem 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        &:last-child {
            margin-right: 0;
        }
    }
}

.taskboard-table-body {
    height: 700px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    .task-column {
        @include table-flex-child($column-flex, $column-width, $column-shrink, $column-width);
        margin: $column-margin;
        &:last-child {
            margin-right: 0;
        }
    }
    .task-row {
        @include table-flex();
        margin-bottom: .5rem;
        min-height: 10rem;
        width: 100%;
        &:hover {
            .new-task {
                @include transition(opacity .3s linear);
                opacity: 1;
            }
        }
        &.blocked {
            .taskboard-userstory-box {
                background: rgba($red, .6);
                border-radius: 3px;
                a,
                .points-value {
                    @include transition(color .3s linear);
                    color: rgba($white, .9);
                    &:hover {
                        @include transition(color .3s linear);
                        color: rgba($white, 1);
                    }
                }
            }
            .taskboard-tasks-box {
                //@include filter(saturate(20%));
                background: rgba($red, .1);
            }
        }
    }
    .taskboard-tasks-box {
        background: $whitish;
        //background: $very-light-gray;
    }

    .taskboard-userstory-box {
        padding: .5rem;
        .icon {
            @include transition(color .2s linear);
            color: $gray-light;
            position: absolute;
            right: .5rem;
            top: 1rem;
            &:hover {
                color: $green-taiga;
            }
            &.icon-plus {
                right: 2rem;
            }
        }
    }
}

.taskboard-userstory-box {
    position: relative;
    .tag-list {
        display: none;
        margin-bottom: 1rem;
    }
    .us-title {
        @extend %large;
        @extend %title;
        margin-bottom: 0;
        margin-right: 3rem;
    }
    .points-value {
        @extend %small;
        color: $gray-light;
        span {
            margin-right: .1rem;
        }
    }
}

.points-list {
    a {
        color: $green-taiga;
        margin-left: .5rem;
        &:hover {
            span {
                @include transition (opacity .2s linear);
                opacity: 1;
            }
        }
    }
    span {
        @include transition (opacity .2s linear);
        opacity: 0;
    }
}
