div(class!="activity-single <%- mode %>")
    .activity-user
        a.avatar(href="" title!="<%- userFullName %>")
            img(src!="<%- avatar %>", alt!="<%- userFullName %>")
    .activity-content
        .activity-username
            a.username(href="", title!="<%- userFullName %>")
                | <%- userFullName %>
            span.date
                | <%- creationDate %>

        <% if (comment.length > 0) { %>
        <% if ((deleteCommentDate || deleteCommentUser)) { %>
        .deleted-comment
            span(translate="COMMENTS.DELETED_INFO",
                 translate-values!="{ user: '<%- deleteCommentUser %>', date: '<% deleteCommentDate %>'}")
        <% } %>
        .comment.wysiwyg
            | <%= comment %>
            <% if (!deleteCommentDate && mode !== "activity" && canDeleteComment) { %>
            a(href="", class="icon icon-delete comment-delete", data-activity-id!="<%- activityId %>")
            <% } %>
        <% } %>

        <% if(changes.length > 0) { %>
        .changes
            <% if (mode != "activity") { %>
            a.changes-title(href="", title="{{'ACTIVITY.SHOW_ACTIVITY' | translate}}")
                span <%- changesText %>
                span.icon.icon-arrow-up
            <% } %>
            <% _.each(changes, function(change) { %>
            | <%= change %>
            <% }) %>
        <% } %>
