.change-entry
    .activity-changed
        span <%- name %>
    .activity-fromto
        <% _.each(diff, function(change) { %>
        p
            strong <%- change.name %>&nbsp;
            strong(translate="COMMON.FROM")
            br
            span <%- change.from %>
            p
                strong <%- change.name %>&nbsp;
                strong(translate="COMMON.TO")
                br
                span <%- change.to %>
        <% }) %>
