.activity-single(class!="<%- mode %>")
    .activity-user
        a.avatar(href!="<%- userProfileUrl %>", title!="<%- userFullName %>")
            img(src!="<%- avatar %>", alt!="<%- userFullName %>")
    .activity-content
        .activity-username
            a.username(href!="<%- userProfileUrl %>", title!="<%- userFullName %>")
                | <%- userFullName %>
            span.date
                | <%- creationDate %>

        <% if (comment.length > 0) { %>
        <% if ((deleteCommentDate || deleteCommentUser)) { %>
        .deleted-comment
            span(translate="COMMENTS.DELETED_INFO",
                 translate-values!="{ user: '<%- deleteCommentUser %>', date: '<%- deleteCommentDate %>'}")
        <% } %>
        .comment.wysiwyg(ng-non-bindable)
            | <%= comment %>
            <% if (!deleteCommentDate && mode !== "activity" && canDeleteComment) { %>
            svg.icon.icon-trash.comment-delete(
                data-activity-id!="<%- activityId %>"
                title!="<%- deleteCommentActionTitle %>"
            )
                use(xlink:href="#icon-trash")
            <% } %>
        <% } %>

        <% if(changes.length > 0) { %>
        .changes
            <% if (mode != "activity") { %>
            a.changes-title(href="", title="{{'ACTIVITY.SHOW_ACTIVITY' | translate}}")
                span <%- changesText %>
                svg.icon.icon-arrow-right
                    use(xlink:href="#icon-arrow-right")
            <% } %>
            <% _.each(changes, function(change) { %>
            | <%= change %>
            <% }) %>
        <% } %>
