include ../components/wysiwyg.jade

section.history
    <% if (commentsVisible || historyVisible) { %>
    ul.history-tabs
        <% if (commentsVisible) { %>
        li
            a(href="#", class="active", data-section-class="history-comments")
                svg.icon.icon-writer
                    use(xlink:href="#icon-writer")
                span.tab-title(translate="COMMENTS.TITLE")
        <% } %>
        <% if (historyVisible) { %>
        li
            a(href="#", data-section-class="history-activity")
                svg.icon.icon-timeline
                    use(xlink:href="#icon-timeline")
                span.tab-title(translate="ACTIVITY.TITLE")
        <% } %>
    <% } %>
    section.history-comments
        .comments-list
        div(tg-editable-wysiwyg, ng-model!="<%- ngmodel %>")
          div(tg-check-permission!="modify_<%- type %>", tg-toggle-comment, class="add-comment")
              textarea(ng-attr-placeholder="{{'COMMENTS.TYPE_NEW_COMMENT' | translate}}", ng-model!="<%- ngmodel %>.comment", tg-markitup="tg-markitup")
              <% if (mode !== "edit") { %>
              +wysihelp
              button(type="button", ng-disabled!="!<%- ngmodel %>.comment.length" title="{{'COMMENTS.COMMENT' | translate}}", translate="COMMENTS.COMMENT", class="button button-green save-comment")
              <% } %>
    section.history-activity.hidden
        .changes-list
