.change-entry
    .activity-changed
        span <%- name %>
     .activity-fromto
         p
            strong(translate="COMMON.FROM")
            br
            span <%- from %>
         p
            strong(translate="COMMON.TO")
            br
            span <%- to %>
