section.table-team.basic-table
    header.row.team-header
        div.username
        div.attribute.attribute-name
            span Mr. Wolf
            div.popover.attribute-explanation
                span I see, you solve issues!
        div.attribute
            span Poison Drinker
            div.popover.attribute-explanation
                span Hey, are you a iocaine-holic?
        div.attribute
            span Cervantes
            div.popover.attribute-explanation
                span You have no fear to the blank page!
        div.attribute
            Total Bug Hunter
            div.popover.attribute-explanation
                span Thaks to you, this project still alive.
        div.attribute
            span Night Shift
            div.popover.attribute-explanation
                span Poor Devil, you work too much.
        div.attribute
            Total Power
            div.popover.attribute-explanation
                span How far did you go into this Taiga?

    div.hero(tg-team-current-user, stats="stats", currentuser="currentUser", projectid="projectId")

h2
    span Team >
    span  {{filtersRole.name || "All"}}

section.table-team.basic-table(tg-team-members, memberships="memberships", stats="stats", filtersq="filtersQ", filtersrole="filtersRole")
