section.team-filters
    div.team-filters-inner
        header
            h1 filters

        form.search-in
            fieldset
                input(type="text", placeholder="Search by username or role...")
                a.icon.icon-search(href="", title="search")

        nav
            ul
                li
                    a(href="", title="")
                        span.title Team
                        span.icon.icon-arrow-right
                li
                    a(href="", title="")
                        span.title UX
                        span.icon.icon-arrow-right
                li
                    a(href="", title="")
                        span.title Design
                        span.icon.icon-arrow-right
                li
                    a(href="", title="")
                        span.title Front
                        span.icon.icon-arrow-right
                li
                    a(href="", title="")
                        span.title Back
                        span.icon.icon-arrow-right
                li
                    a(href="", title="")
                        span.title Product Owner
                        span.icon.icon-arrow-right
                li
                    a(href="", title="")
                        span.title StakeHolders
                        span.icon.icon-arrow-right
