section.table-team.basic-table
    header.row.team-header
        div.username
        div.attribute.attribute-name
            span Bug Killer
            div.popover.attribute-explanation
                span Thanks to you, this project still steady!
        div.attribute
            span Poison Drinker
            div.popover.attribute-explanation
                span Hey, are you a iocaine-holic?
        div.attribute
            span Brown Dispatcher
            div.popover.attribute-explanation
                span Oh, stop dealing work!
        div.attribute
            Total Brown Eater
            div.popover.attribute-explanation
                span Oh, poor devil, you are valuable!
        div.attribute
            span Chatter
            div.popover.attribute-explanation
                span This is not a chat... but I love your comments!
        div.attribute
            Total Power
            div.popover.attribute-explanation
                span How far did you go into this Taiga?

    div.hero(tg-team-members, memberships="currentUser" currentuser=true)

h2
    span Team >
    span  {{filtersRole.name || "All"}}

section.table-team.basic-table(tg-team-members, memberships="memberships", filtersq="filtersQ", filtersrole="filtersRole")
