// Rotating loader
@include keyframes(spin) {
    100% {
        @include transform(rotate(360deg));
    }
}

.icon-spinner {
    @include animation(spin .5s linear);
}

//Spinner
@include keyframes(fadeIn) {
    0% {
        @include transform(translateX(1rem));
        @include filter(blur(5px));
        opacity: 0;
    }
    1.6% {
        @include transform(translateX(.2rem));
        @include filter(blur(0));
        opacity: 1;
    }
    12% {
        @include transform(translateX(-.2rem));
        @include filter(blur(0));
        opacity: 1;
    }
    16% {
        @include transform(translateX(-1rem));
        @include filter(blur(5px));
        opacity: 0;
    }
    100% {
        @include transform(translateX(-1rem));
        @include filter(blur(5px));
        opacity: 0;
    }
}
