// Colors

$black: #000;
$blackish: #050505;
$grayer: #444;
$gray: #555;
$gray-light: #b8b8b8;
$gray-tower-gray: #a6b2a7;
$gray-saltpan: #e9f0da;
$gray-silver: #cdcdcd;
$gray46-47: #777;
$gray60: #999;
$gray80: #ccc;
$gray87-88: #ddd;
$gray-mine-shaft: #232323;
$whitish: #f5f5f5;
$white: #fff;

$green-japanese-laurel: #237400;
$green-olive: #618000;
$green-christi: #74a218;

$green-taiga: #72a114;
$fresh-taiga: #9dce0a;
$dark-taiga: #879b89;

$red-light: #ff8282;
$red: #f00;

$red-amaranth: #e43050;
$purple-eggplant: #810061;
$yellow-pear: #bbe831;

$postit: #fff8e4;
$postit-hover: #f1e8cd;
$postit-dark-hover: #cfc29b;
