/* Colors */

$black: #000000;
$blackish: #050505;
$gray: #555555;
$grayer: #444444;
$grayLight: #cdcdcd;
$whitish: #f5f5f5;
$white: #FFFFFF;

$greenTaiga: #72a114;
$freshTaiga: #9dce0a;
$darkTaiga: #879b89;
$dryTaiga: #70a87d;
$morningTaiga: #7ab987;

$lightRed: #ff8282;
$red: #ff0000;

$buttonGreen: #699b05;
$buttonGreenHover: #9dce0a;
$buttonGray: #585858;
$buttonGrayHover: #879b89;
