// Colors

$black: #000;
$blackish: #050505;
$grayer: #444;
$gray: #555;
$gray-light: #b8b8b8;
$whitish: #f5f5f5;
$very-light-gray: #fcfcfc;
$white: #fff;

$green-taiga: #72a114;
$fresh-taiga: #9dce0a;
$dark-taiga: #879b89;
$dry-taiga: #70a87d;
$morning-taiga: #7ab987;
$dark-grayish-lime-green: #8b9e8d;


$red-light: #ff8282;
$red: #f00;

$rgba-red: 240, 15, 0, .8;

$orange: #d98a0b;

$button-green: #699b05;
$button-green-hover: #9dce0a;
$button-gray: #585858;
$button-gray-hover: #879b89;

$postit: #fff8e4;
$postit-hover: #f1e8cd;
$postit-dark-hover: #cfc29b;
