// Elements

// Blockquotes
blockquote,
blockquote p {
    color: #777;
    font-style: italic;
    line-height: 24px;
}
blockquote {
    border-left: 1px solid #ddd;
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    cite {
        @extend %small;
        color: #555;
        display: block;
        &:before {
            content: '\2014 \0020';
        }
    }
}

// __Lists__

ul,
ol {
    margin-bottom: 20px;
}
ul { list-style: none outside; }
ol { list-style: decimal; }

.icon {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: default;
}

.draggable {
    cursor: move;
}

// Background
%triangled-bg {
    background: url('/images/bg.png') no-repeat center center;
    background-size: cover;
}

%backgound-taiga {
    background: url('/images/invitation_bg.jpg') no-repeat center center;
    background-size: cover;
}


//Datepicker
.pika-single {
    z-index: 999999;
    .pika-title {
        color: $grayer;
    }
    .is-selected {
        .pika-button {
            background: $green-taiga;
            box-shadow: inset 0 1px 3px $green-taiga;
            border-radius: 0 !important;
        }
    }
    .is-today {
        .pika-button {
            color: $green-taiga;
        }
    }
    .pika-button {
        &:hover {
            background: $fresh-taiga !important; //Important added because plugin has it :S
            border-radius: 0 !important; //Important added because plugin has it :S
            box-shadow: inset 0 1px 3px $fresh-taiga !important; //Important added because plugin has it :S
        }
    }
}
