// Elements

// Blockquotes
blockquote,
blockquote p {
    color: #777;
    font-style: italic;
    line-height: 24px;
}
blockquote {
    border-left: 1px solid #ddd;
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    cite {
        @extend %small;
        color: #555;
        display: block;
        &:before {
            content: '\2014 \0020';
        }
    }
    a,
    a:visited {
        color: #555;
    }
}

a {
    color: $blackish;
    &:hover {
        @include transition (color .3s linear);
        color: $green-taiga;
    }
}

// __Lists__

ul,
ol {
    margin-bottom: 20px;
}
ul { list-style: none outside; }
ol { list-style: decimal; }

.icon {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.draggable {
    cursor: move;
}
