// Elements

// Blockquotes
blockquote,
blockquote p {
    color: #777;
    font-style: italic;
    line-height: 24px;
}
blockquote {
    border-left: 1px solid #ddd;
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    cite {
        @extend %small;
        color: #555;
        display: block;
        &:before {
            content: '\2014 \0020';
        }
    }
}

// __Lists__

ul,
ol {
    margin-bottom: 20px;
}
ul { list-style: none outside; }
ol { list-style: decimal; }

.icon {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.draggable {
    cursor: move;
}

// Background
%triangled-bg {
    background: url('/images/bg.png') no-repeat center center;
    background-size: cover;
}
