fieldset{
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    .icon {
        position: absolute;
        top: 6px;
        right: 10px;
    }
}

input[type="text"], input[type="email"], input[type="date"], select, textarea{
    font-family: 'ostrichSans';
    @extend .large;
    padding: 8px;
    height: 40px;
    background: $grayLight;
    width: 100%;
    border: 0;
    margin: 0;
    color: $grayer;
    @include placeholder {
        color: $white;
    }
}
