fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select,
textarea {
    @extend %large;
    background: $gray-light;
    border: 0;
    color: $grayer;
    font-family: 'ostrichSans';
    height: 40px;
    margin: 0;
    padding: 8px;
    width: 100%;
    @include placeholder {
        color: $white;
    }
}
input[type="password"] {
    font-family: 'DroidSans';
}
