doctype html

div.wrapper(tg-search, ng-controller="SearchController as ctrl",
            ng-init="section='search'")
    tg-project-menu

    sidebar.menu-secondary.sidebar
        include ../includes/modules/search-in

    section.main.search-result
        include ../includes/components/mainTitle
        include ../includes/modules/search-filter
        include ../includes/modules/search-results/search-result-table
