
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

html
  head
    title E2E test gallery

    link(rel="stylesheet", href="photoswipe/photoswipe.css")
    link(rel="stylesheet", href="photoswipe/default-skin/default-skin.css")
    link(rel="stylesheet", href="e2e/gallery/gallery.css")
  body
    div.browsers
      div.browser.active(data-browser="internet explorer") IE
      div.browser.active(data-browser="firefox") Firefox
      div.browser.active(data-browser="chrome") Chrome

      select
        option(value="all") ---section---

      div.search Search

    div.pswp(tabindex="-1", role="dialog", aria-hidden="true")
      div.pswp__bg
      div.pswp__scroll-wrap
        div.pswp__container
          div.pswp__item
          div.pswp__item
          div.pswp__item

        div.pswp__ui.pswp__ui--hidden
            div.pswp__top-bar
                div.pswp__counter
                button.pswp__button.pswp__button--close(title="Close (Esc)")
                button.pswp__button.pswp__button--share(title="Share")
                button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
                button.pswp__button.pswp__button--zoom(title="Zoom in/out")

                div.pswp__preloader
                    div.pswp__preloader__icn
                      div.pswp__preloader__cut
                        div.pswp__preloader__donut

            div.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                div.pswp__share-tooltip

            button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
            button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")

            div.pswp__caption
                div.pswp__caption__center

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="/photoswipe/photoswipe.min.js")
  script(src="/photoswipe/photoswipe-ui-default.min.js")
  script(src="/e2e/gallery/gallery-front.js")
