tg-input-search {
    display: block;
    position: relative;

    tg-svg {
        height: 14px;
        position: absolute;
        right: 1rem;
        top: 9px;
        width: 14px;

        svg {
            fill: $color-link-primary;
        }
    }
}

