.row.member(ng-repeat='user in memberships | filter:filtersQ | membersRoleFilter:filtersRole')
    .username
        figure.avatar
          img(tg-bo-src='user.photo', tg-bo-alt='user.full_name')

          figcaption
            span.name(tg-bo-bind='user.full_name')

            span.position(tg-bo-bind='user.role_name')

      .member-stats(tg-team-member-stats, stats="stats", user="user.user", issuesEnabled="issuesEnabled", tasksenabled="tasksEnabled", wikienabled="wikiEnabled")
