ul.popover.pop-status
    <% _.each(statuses, function(status) { %>
    li.status
        a(
            href=""
            class!="<% if(currentStatus == status.id) { %> active-popover <% } %>"
            title!="<%- status.name %>"
            data-status-id!="<%- status.id %>"
        )
            | <%- status.name %>
    <% }); %>
