.feedbacks {
    margin-bottom: 2rem;

    button {
        cursor: pointer;
    }
}

.feedback-header {
    align-content: center;
    align-items: center;
    background: $grey-05;
    display: flex;
    justify-content: space-between;
    min-height: 36px;
    .feedback-title {
        @include font-size(medium);
        @include font-type(medium);
        color: $grey-70;
        margin-left: 1rem;
    }
}

.feedback-empty {
    border: 3px dashed $color-gray200;
    color: $color-link-tertiary;
    margin-top: .5rem;
    padding: 1rem;
    text-align: center;
    transition: all .2s linear;
}

dialog#taskFeedbackDialog {
    background: rgba(255, 255, 255, .95);
    border: none;
    border-radius: 0;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    width: 100vw;
    z-index: 1000;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    top: 0;
}

button.close {
    background: none;
    border: none;
    color: rgb(90, 91, 114);
    height: 2rem;
    padding: 0;
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 2rem;
    z-index: 1010;

    svg {
        height: 2rem;
        width: 2rem;
    }

    &:hover svg,
    &:focus svg {
        fill: $color-link-red;
        opacity: .6;
    }
}

.feedback-modal-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    max-width: 640px;
    width: 100%;
}

.feedback-server-error {
    align-items: center;
    background: $color-gray100;
    border-radius: 4px;
    color: $color-link-red;
    display: flex;
    font-size: 1em;
    min-height: 44px;
    opacity: 0;
    padding: .75em 1em;
    text-align: left;
    transition: opacity .2s;
    width: 100%;
    word-break: break-word;

    &.is-visible {
        opacity: 1;
    }
}

.feedback-radios {
    align-self: flex-start;
    display: flex;
    gap: 1rem;
    margin: 1rem 0 1rem 0;

    .radio-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;

        input[type='radio'] {
            height: 0;
            opacity: 0;
            position: absolute;
            width: 0;
        }

        span {
            background-color: $color-gray200;
            border-radius: 4px;
            color: rgba($color-black600, .5);
            cursor: pointer;
            display: inline-block;
            font-size: 1rem;
            padding: .5rem .75rem;
            transition: background .2s, color .2s;
        }

        input[type='radio']:checked + span {
            background-color: $color-solid-primary;
            color: $color-black;
        }

        input[type='radio']:not(:checked):hover + span {
            background-color: $color-gray400;
        }
    }
}

.feedback-field {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.feedback-label {
    align-self: flex-start;
    margin-right: 1rem;
}

.feedback-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.feedback-submit {
    width: 100%;

    &:hover,
    &:focus {
        background-color: darken($color-solid-primary, 10%);
        color: $color-black900;
    }
}

.feedback-bin {
    align-self: flex-end;
    background-color: transparent;
    width: fit-content;

    svg {
        fill: $color-black600;
    }

    &:hover svg,
    &:focus svg {
        fill: $color-link-red;
        opacity: .7;
    }
}

.feedback-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: .5em;
}

.feedback-item {
    align-items: flex-start;
    border-bottom: 1px solid $color-gray200;
    display: flex;
    gap: 1.5em;
    padding: 1em 0;
}

.feedback-col-avatar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feedback-avatar {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 60px;
    justify-content: center;
    width: 60px;
}

.feedback-avatar img {
    height: 60px;
    object-fit: cover;
    width: 60px;
}

.avatar-placeholder {
    align-items: center;
    background: $color-gray100;
    border-radius: 50%;
    color: $color-gray400;
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    height: 60px;
    justify-content: center;
    width: 60px;
}

.feedback-col-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: .3em;
}

.feedback-row-user-date {
    align-items: center;
    display: flex;
    gap: .5em;
    margin-bottom: .2em;
}

.feedback-user-name {
    color: $color-link-primary;
    font-weight: 600;
}

.feedback-updated-at {
    color: $color-link-tertiary;
    font-size: .875em;
}

.feedback-date {
    color: $color-gray400;
    font-size: .95em;
}

.feedback-row-text-rating {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.feedback-text {
    color: $color-black600;
    word-break: break-word;
}

.feedback-rating {
    background: $color-gray300;
    border-radius: 12px;
    color: $color-gray800;
    font-size: .85em;
    font-weight: 500;
    padding: .1em .7em;
    width: fit-content;
}

.feedback-col-actions {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40px;
}

.edit-feedback-button {
    margin-top: 0;
}

.feedback-error-msg-inline {
    align-self: center;
    color: $red;
    display: inline-block;
    font-size: .75em;
    min-width: 120px;
}
