div.single-attachment
    blockquote
        a(ng-href="{{ attachment.get('url') }}", title="Click to download {{ attachment.get('filename') }}", target="_blank")
            span.icon.icon-document
            span {{attachment.get('filename')}}
