div.single-attachment
    blockquote
        a(ng-href="{{ attachment.get('url') }}", title="Click to download {{ attachment.get('filename') }}", target="_blank")
            tg-svg(svg-icon="icon-attachment")
            span {{attachment.get('filename')}}
