
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

// timeline-attachment directive
div.activity-image-attachment
    blockquote
        a(href="{{::attachment.get('url')}}", title="See {{::attachment.get('filename')}}", target="_blank")
            img(ng-src="{{::attachment.get('thumb_url') || attachment.get('url')}}", alt="{{::attachment.get('filename')}}")
