.epics-table {
    margin-top: 2rem;
}

.epics-table-header,
.epics-table-body {
    .assigned,
    .project,
    .vote,
    .status,
    .sprint,
    .name,
    .progress {
        padding: 1rem .5rem;
    }

    .assigned,
    .project,
    .vote {
        flex-basis: 80px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-wrap: wrap;
        text-align: center;
    }
    .status,
    .sprint {
        flex-basis: 150px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-wrap: wrap;
        max-width: 150px;
    }
    .name,
    .progress {
        flex: 1;
        max-width: 40vw;
    }
    .name,
    .sprint {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
    }
    .progress {
        position: relative;
    }
}

.epics-table-header {
    @include font-type(bold);
    border-bottom: 1px solid $gray-light;
    display: flex;
    padding: .5rem;
    position: relative;
}

.epics-table-options-wrapper {
    bottom: 1rem;
    position: absolute;
    right: .5rem;
}

.epics-table-option-button {
    @include font-type(light);
    @include font-size(small);
    background: none;
    .icon {
        @include svg-size(.7rem);
    }
}

.epics-table-dropdown {
    background: $white;
    border-bottom: 1px solid rgba($black, .1);
    border-left: 1px solid rgba($black, .1);
    border-right: 1px solid rgba($black, .1);
    box-shadow: 3px 3px 2px rgba($black, .1);
    padding: .5rem;
    position: absolute;
    right: 0;
    top: 1.3rem;
    width: 250px;
    z-index: 99;
    .fieldset {
        @include font-size(small);
        border-bottom: 1px solid $whitish;
        color: $gray-light;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        &:last-child {
            border: 0;
        }
    }
}
