.epics-table {
    margin-top: 2rem;
}

.epics-table-header,
.epics-table-body {
    display: flex;
    .assigned,
    .vote {
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .status,
    .sprint {
        flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .name,
    .project,
    .progress {
        flex: 1;
    }
    .progress {
        position: relative;
    }
}

.epics-table-header {
    @include font-type(bold);
    border-bottom: 1px solid $gray-light;
    padding: .5rem;
    position: relative;
    .epics-table-options {
        @include font-type(text);
        @include font-size(small);
    }
}

.epics-table-options-wrapper {
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.epics-table-option-button {
    @include font-type(light);
    background: none;
    .icon {
        @include svg-size(.7rem);
    }
}

.epics-table-dropdown {
    background: $white;
    box-shadow: 3px 3px 2px rgba($black, .1);
    padding: .5rem;
    position: absolute;
    right: 0;
    top: 1.25rem;
    width: 250px;
    .fieldset {
        @include font-size(small);
        border-bottom: 1px solid $whitish;
        color: $gray-light;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        &:last-child {
            border: 0;
        }
    }
}
