@import '../../../../styles/dependencies/mixins/epics-dashboard';

.epics-table {
    margin-top: 2rem;
    .loading {
        margin: 2% auto;
        width: 3rem;
        img {
            @include loading-spinner;
            max-height: 3rem;
            max-width: 3rem;
        }
    }
}

.epics-table-header {
    @include epics-table;
    @include font-type(medium);
    display: flex;
    padding-left: 1rem;
    position: relative;
    > div {
        color: $color-link-tertiary;
    }
    .project,
    .assigned {
        padding: 1rem .5rem;
    }
}

.epics-table-options-wrapper {
    bottom: 1rem;
    position: absolute;
    right: .5rem;
}

.epics-table-option-button {
    @include font-type(regular);
    @include font-size(small);
    align-items: center;
    background: none;
    display: flex;
    .icon {
        @include svg-size(.7rem);
    }
}

.epics-table-dropdown {
    background: $white;
    border-bottom: 1px solid rgba($black, .1);
    border-left: 1px solid rgba($black, .1);
    border-right: 1px solid rgba($black, .1);
    box-shadow: 3px 3px 2px rgba($black, .1);
    padding: .5rem;
    position: absolute;
    right: 0;
    top: 1rem;
    width: 250px;
    z-index: $first-layer;
    &.ng-hide-remove {
        animation: dropdownFade .2s;
    }
    &.ng-hide-add {
        animation: dropdownFade .2s reverse;
    }
    .fieldset {
        @include font-size(small);
        border-bottom: 1px solid $whitish;
        color: $gray-light;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        &:last-child {
            border: 0;
        }
    }
}
