// Any styles in this stylesheet will override any previous defined style in Taiga.

//    Max: Beat it or I'll call the Brute Squad!
//    Fezzik: I'm on the Brute Squad.
//    Max: [sees Fezzik's size] You are the Brute Squad!

//**************************
//** TYPOGRAPHY
//**************************

@each $font-face in OpenSans-CondLight, OpenSans-Light, opensans-regular, opensans-semibold, taiga {
    @font-face {
        font-family: '#{$font-face}';
        src: url('../fonts/#{$font-face}.eot?#iefix') format('embedded-opentype'),
            url('../fonts/#{$font-face}.woff') format('woff'),
            url('../fonts/#{$font-face}.ttf')  format('truetype'),
            url('../fonts/#{$font-face}.svg#{$font-face}') format('svg');
    }
}

//************************
//** NAVIGATION
//***********************

// Top navigation bar
.navbar {
    background: rgba($red-amaranth, .6);
    &::after {
        background: url('../images/menu-vert.png') repeat top left;
    }
}



//In project left navigation bar
tg-project-menu {
    background-color: rgba(darken($primary-dark, 15%), 1);
    background-image: none;
}

.main-nav {
    svg path {
        fill: $white;
    }
}
