//*************************
//** COLORS
//************************

$primary: #3f51b5;
$primary-75: #8c9eff;
$primary-50: #8c9eff;
$primary-25: #929dd8;
$primary-10: #ECEDFB;

$secondary: #384070;
$secondary-50: #929dd8;

$tertiary: #C6C6C6;

$red:  #FF6363;
$red-25: #FFA5A5;
$red-10: #FFE7E7;

$white: #fff;
$grey-02: #F9F9F9;
$grey-05: #F1F1F1;
$grey-10: #E2E2E2;
$grey-20: #C6C6C6;
$grey-30: #B8B8B8;
$grey-40: #8D8D8D;
$grey-50: #767676;
$grey-60: #555;
$grey-70: #444;
$grey-80: #2D2D2D;
$grey-90: #020202;
$black: #000;

// Color aliases for retrocompatibility with external plugins
$blackish: $grey-90;
$grayer: $grey-70;
$gray: $grey-60;
$gray-light: $grey-50;
$gray-lighter: $grey-30;
$whitish: $grey-10;
$mass-white: $grey-05;
$primary-light: $primary-75;
$primary-lighter: $primary-10;
$primary: $primary;
$primary-dark: #1a237e;
$primary-background: $primary-25;
$secondary-light: $secondary-50;
$secondary-dark: #1a237e;
$red-light: $red-25;

// Status colors
$green-light: #91DF85;
$my-sin: #fcaf3e;
$yellow-green: #9dce0a;

//Card color
$card: #fff8e4;
$card-hover: #f1e8cd;
$card-dark: #cfc29b;

$green-japanese-laurel: #009688;
$green-olive: #cddc39;
$red-amaranth: #e91e63;
$purple-eggplant: #9c27b0;
$yellow-pear: #ffc107;

$tribe-primary: #107a8a;
$tribe-secondary: darken($tribe-primary, 10%);

$top-icon-color: $white;
$dropdown-color: rgba(darken($primary-dark, 20%), 1);
$code-bg: #272822;

$highlight: rgba(255,255,255,.95);


/* Overwrite mixins */

@mixin triangled-bg {
    background: url('https://lh4.googleusercontent.com/-k7YewfrSQ_Q/VGdNZND0NBI/AAAAAAAAD1A/UDZBeSGR7iM/w1465-h824-no/Ultimate%2BMaterial%2BLollipop%2BCollection%2B-%2B480') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('https://lh6.googleusercontent.com/-2l_mJ5g6j4k/VGdNZCpaERI/AAAAAAAAD2o/zCx5Z3cYv6Y/w1465-h824-no/Ultimate%2BMaterial%2BLollipop%2BCollection%2B-%2B497') no-repeat center center;
    background-size: cover;
}

// TAIGA 6

// Primary colors
$color-solid-primary: #83EEDE;
$color-link-primary: #008AA8;
$color-link-tertiary: #70728F;

// Grayscale
$color-gray100: #F9F9FB;
$color-gray200: #ECEFF4;
$color-gray300: #E5E9F0;
$color-gray400: #D8DEE9;

$color-black600: #4C566A;
$color-black700: #434C5E;
$color-black800: #3B4252;
$color-black900: #2E3440;

// State colors
$color-solid-red: #E44057;
$color-solid-orange: #EA7B4B;
$color-solid-yellow: #F6C95C;
$color-solid-green: #93C45D;
$color-solid-purple: #CA81BE;
