tg-filter {
    background-color: $mass-white;
    box-shadow: 1px 1px 5px rgba($primary, .2);
    display: block;
    left: 0;
    min-height: 100%;
    padding: 1rem 0;
    position: absolute;
    top: 0;
    transform: translateX(-260px);
    transition-duration: .5s;
    width: 260px;
    z-index: 1;
    .filters-applied {
        padding: 0 1rem 1rem;
        .single-filter {
            &:hover {
                color: currentColor;
                cursor: default;
                opacity: .5;
                transition: none;
            }
        }
    }
    h1,
    form {
        padding: 0 1rem;
    }
    input {
        background: $grayer;
        color: $white;
        padding-right: 2rem;
        @include placeholder {
            color: $gray-light;
        }
    }
    .search-action {
        position: absolute;
        right: .7rem;
        top: .7rem;
    }
    &.open {
        transform: translateX(0);
    }
}

.filter-list {
    overflow-y: auto;
    padding: 1rem;
}

.filters-step-cat {
    margin-top: 2rem;
}

.filters-cats {
    ul {
        margin-bottom: 0;
    }
    li {
        border-bottom: 1px solid $gray-light;
        text-transform: uppercase;
        &.selected {
            border-bottom: 0;
        }
    }
    .custom-filters {
        .title {
            color: $primary;
        }
    }
    .filters-cat-single {
        align-items: center;
        color: $grayer;
        display: flex;
        justify-content: space-between;
        padding: .5rem .5rem .5rem 1.5rem;
        transition: color .2s ease-in;
        &:hover,
        &.selected {
            background-color: rgba(darken($whitish, 10%), 1);
            color: $grayer;
            transition: background-color .2s ease-in;
            .icon {
                opacity: 1;
                transition: opacity .2s ease-in;
            }
        }
    }
    .icon-arrow-down {
        fill: currentColor;
        float: right;
        height: .9rem;
        opacity: 0;
        transition: opacity .2s ease-in;
        width: .9rem;
    }
}

.single-filter {
    @include font-type(text);
    @include clearfix;
    align-items: center;
    background: darken($whitish, 5%);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    opacity: .5;
    padding-right: .5rem;
    position: relative;
    &:hover {
        background: darken($whitish, 8%);
        opacity: 1;
        transition: opacity .2s linear;
    }
    &.selected,
    &.active {
        color: $grayer;
        opacity: 1;
        transition: opacity .2s linear;
    }
    .name,
    .number {
        padding: 8px 10px;
    }
    .name {
        @include ellipsis(100%);
        display: block;
        width: 100%;
        img {
            vertical-align: middle;
        }
    }
    .number {
        background: darken($whitish, 20%); // Fallback
        position: absolute;
        right: 0;
        top: 0;
    }
    .remove-filter {
        cursor: pointer;
        display: block;
        svg {
            fill: $gray;
            transition: fill .2s linear;
        }
        &:hover {
            svg {
                fill: $red;
            }
        }
    }
}
