h4
    svg.icon.icon-question
        use(xlink:href="#icon-question")
    span(translate="HINTS.SECTION_NAME")

p {{::vm.hint.title}}
p {{::vm.hint.text}}
    | &nbsp;
    a(ng-if="::vm.hint.url", target="_blank", ng-href="{{::vm.hint.url}}", title="{{'HINTS.LINK_TITLE' | translate}}", translate="{{::vm.hint.linkText}}")
