label(for="client-requirement",
       class!="button button-gray client-requirement <% if(canEdit){ %>editable<% }; %> <% if(isRequired){ %>active<% }; %>")
    | Client requirement

input(type="checkbox", id="client-requirement", name="client-requirement")