label(for="client-requirement",
       class!="button button-gray client-requirement <% if(canEdit){ %>editable<% }; %> <% if(isRequired){ %>active<% }; %>", translate="US.FIELDS.CLIENT_REQUIREMENT")

input(type="checkbox", id="client-requirement", name="client-requirement")