button.btn-icon.team-requirement(
    type="button"
    class!=" <% if(canEdit){ %>is-editable<% }; %> <% if(isRequired){ %>active<% }; %>"
    title="{{ 'COMMON.TEAM_REQUIREMENT' | translate }}"
)
    tg-svg(svg-icon="icon-team-requirement")
