label(for="team-requirement", class!="button button-gray team-requirement <% if(canEdit){ %>editable<% }; %> <% if(isRequired){ %>active<% }; %>")
    | Team requirement

input(type="checkbox", id="team-requirement", name="team-requirement")