
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

button.btn-icon.team-requirement(
    type="button"
    class!=" <% if(canEdit){ %>is-editable<% }; %> <% if(isRequired){ %>active<% }; %>"
    title="{{ 'COMMON.TEAM_REQUIREMENT' | translate }}"
)
    tg-svg(svg-icon="icon-team-requirement")
