.preview
    .actions
        svg.edit.icon.icon-edit(title="{{'COMMON.WYSIWYG.EDIT_BUTTON' | translate}}")
            use(xlink:href="#icon-edit")
        .content.wysiwyg
            | <%= data %>
