section.profile-bar
    div.profile-image-wrapper
        img.profile-img(ng-src="{{::vm.user.big_photo}}", alt="{{::vm.user.full_name}}")
        a.profile-edition(title="{{ 'USER.PROFILE.EDIT' | translate }}", tg-nav="user-settings-user-profile", translate="USER.PROFILE.EDIT")
    // a.button-green
    //     span(translate="USER.PROFILE.FOLLOW")
    div.profile-data
        h1 {{::vm.user.full_name}}
        h2 {{::vm.stats.get('roles').join(", ")}}
        // div.location
        //     include ../../../svg/location.svg
        //     span Madrid
        // Remove Abuse Flag when a user is seeing itself
        // a.flag(href="", title="{{ 'USER.PROFILE.REPORT' | translate }}")
        //     include ../../../svg/flag.svg
    // These values in profile stats are not defined yet in UX. Please ask
    div.profile-stats
        div.stat
            span.stat-number {{::vm.stats.get('projects')}}
            span.stat-name(translate="USER.PROFILE.PROJECTS")
        div.stat
            span.stat-number {{::vm.stats.get('closed_userstories')}}
            span.stat-name(translate="USER.PROFILE.CLOSED_US")
        div.stat
            span.stat-number {{::vm.stats.get('contacts')}}
            span.stat-name(translate="USER.PROFILE.CONTACTS")
    // TODO Hide until organizations come
        // div.profile-organizations
        //     h3 Organizations
        //     div.profile-organizations-wrapper
        //         div.organization
        //         div.organization
        //         div.organization
        //         div.organization

    div.profile-quote(ng-if="::vm.user.bio")
        span {{::vm.user.bio | limitTo:210 }}{{vm.user.bio.length < 210 ? '' : '...'}}
