.user-profile {
    fieldset {
        margin-bottom: 1rem;
        width: 37%;
        &:last-child {
            margin-top: 2rem;
        }
        &.avatar {
            float: left;
            margin: 0 1% 0 0;
            width: 12%;
            img {
                border: 2px solid $white;
                border-radius: 8%;
                width: 100%;
            }
            p {
                @extend %xsmall;
                margin-bottom: 0;
                text-align: center;
            }
            .button {
                bottom: 15px;
                cursor: pointer;
                height: 34px;
                margin: 5px 10%;
                padding: 7px;
                width: 80%;
            }
            .use-gravatar {
                @extend %small;
                cursor: pointer;
                display: inline-block;
                text-align: center;
                width: 100%;
            }
        }
    }
    .submit {
        width: 50%;
    }
    label {
        @extend %title;
        display: block;
        margin-bottom: .5rem;
    }
    .button-green {
        color: $white;
        display: block;
        padding: 12px;
        text-align: center;
    }
    .delete-account {
        @extend %small;
        display: block;
        margin-top: 1rem;
    }
}
