.user-avatar {
    fieldset {
        margin-bottom: 1rem;
        width: 50%;
        &:last-child {
            margin-top: 2rem;
        }
    }
    img {
        border: 2px solid $white;
        border-radius: 8%;
        width: 300px;
    }
    .button {
        bottom: 20px;
        cursor: pointer;
        height: 34px;
        left: 85px;
        position: absolute;
        width: 130px;
    }
}
