
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

.card-tags(ng-if="vm.visible('tags') && vm.item.get('colorized_tags').size")
    span.card-tag(
        tg-repeat="tag in vm.item.get('colorized_tags') track by tag.get('name')"
        ng-style="{'background-color': vm.getTagColor(tag.get('color'))}"
        title="{{::tag.get('name')}}"
    ) {{ vm.zoomLevel == 3 ? tag.get('name') : '' }}
