.card-unfold.ng-animate-disabled(
    ng-click="vm.toggleFold()"
    ng-if="vm.visible('unfold') && (vm.hasTasks() || vm.hasVisibleAttachments())"
    role="button"
)
    tg-svg(svg-icon="icon-view-more")

.loading-extra(
    tg-loading="vm.item.get('loading-extra')"

 )
