.live-announcement(ng-class="{visible: vm.open}")
    .live-announcement-inner
        img.anouncement-decoration(src="/#{v}/images/notification-decoration.png", alt="Loading...")
        .text
            h2.title {{vm.title}}
            p.warning(ng-bind-html="vm.desc")
            a.close(
              ng-click="vm.close()"
              href=""
              title="{{ COMMON.CLOSE | translate }}"
            )
                svg.icon.icon-close
                    use(xlink:href="#icon-close")
