
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.live-announcement(ng-class="{visible: vm.open}")
    .live-announcement-inner
        img.anouncement-decoration(src="#{v}/images/notification-decoration.png", alt="Loading...")
        .text
            h2.title {{vm.title}}
            p.warning(ng-bind-html="vm.desc")
            a.close(
              ng-click="vm.close()"
              href=""
              ng-title="COMMON.CLOSE | translate"
            )
                tg-svg(svg-icon="icon-close")
