.assigned-to-container {
    width: 600px;
}

.assignable-member-list {
    margin-top: 1rem;
    .assigned-member {
        align-items: center;
        background: rgba($primary-light, .05);
        border-bottom: 1px solid $whitish;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .unassign-epic {
        cursor: pointer;
        margin-right: 1rem;
    }
    .icon {
        fill: $red-light;
        transition: fill .2s;
        &:hover {
            cursor: pointer;
            fill: $red;
        }
    }
}
