fieldset
    textarea.e2e-create-project-description(
        ng-model="vm.projectForm.description"
        placeholder="{{'PROJECT.COMMON.PROJECT_DESCRIPTION' | translate}}"
        data-required="true"
        required
    )
