@mixin triangled-bg {
    background: url('../images/bg.png') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('../images/invitation_bg.jpg') no-repeat center center;
    background-size: cover;
}
