@mixin loading-spinner {
    animation-timing-function: ease-in-out;
    animation: rotate 1.5s cubic-bezier(.00, .05, .87, 1.04) infinite alternate;
    margin: 0 auto;
    max-height: 1rem;
    max-width: 1rem;
    transform-origin: 32 32;
}
