@mixin popover(
    $width,
    $top: '',
    $left: '',
    $bottom: '',
    $right: '',
    $arrow-width: 0,
    $arrow-top: '',
    $arrow-left: '',
    $arrow-bottom: '',
    $arrow-height: 15px,
    $align: 'center'
) {
    @include font-type(light);
    @include font-size(small);
    background: $white;
    border: 1px solid $color-gray400;
    border-radius: 4px;
    bottom: #{$bottom};
    box-shadow: 4px 4px 8px rgba(46, 52, 64, .1);
    color: $color-link-primary;
    display: none;
    left: #{$left};
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    right: #{$right};
    top: #{$top};
    width: $width;
    z-index: 99;
    text-align: $align;
    a {
        @include font-size(small);
        border-bottom: 1px solid $grayer;
        color: $color-link-primary;
        display: block;
        padding: .3rem 0 .3rem .2rem;
        &:last-child {
            border: 0;
        }
        &:hover {
            color: $color-link-tertiary;
            background-color: $color-gray200;
            transition: color .3s linear;
            &.point {
                color: $white;
            }
        }
        &.active-popover {
            color: $color-link-tertiary;
        }
    }
    &:after {
        background: $blackish;
        bottom: #{$arrow-bottom};
        content: '';
        height: #{$arrow-height};
        left: #{$arrow-left};
        position: absolute;
        top: #{$arrow-top};
        transform: rotate(45deg);
        width: #{$arrow-width};
    }
}
