@mixin popover(
    $width,
    $top: '',
    $left: '',
    $bottom: '',
    $right: '',
    $arrow-width: 0,
    $arrow-top: '',
    $arrow-left: '',
    $arrow-bottom: '',
    $arrow-height: 15px,
    $align: 'center'
) {
    @include font-type(regular);
    @include font-size(small);
    background: $color-black900;
    border: 1px solid $color-gray400;
    border-radius: 4px;
    bottom: #{$bottom};
    box-shadow: 4px 4px 8px rgba(46, 52, 64, .1);
    color: $color-gray100;
    display: none;
    left: #{$left};
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    position: absolute;
    right: #{$right};
    text-align: $align;
    top: #{$top};
    width: $width;
    z-index: $first-layer;
    &:before {
        background: $color-black900;
        bottom: #{$arrow-bottom};
        content: '';
        height: #{$arrow-height};
        left: #{$arrow-left};
        position: absolute;
        top: #{$arrow-top};
        transform: rotate(45deg);
        width: #{$arrow-width};
    }
    &:after {
        background: $color-black900;
        bottom: #{$arrow-bottom};
        content: '';
        height: #{$arrow-height};
        left: #{$arrow-left};
        position: absolute;
        top: #{$arrow-top};
        transform: rotate(45deg);
        width: #{$arrow-width};
    }
}
