@mixin project-card {
    background: $white;
    border: 1px solid $whitish;
    margin: .5rem;
    .tags-container {
        display: flex;
        height: .3rem;
    }
    .project-tag {
        flex: 1;
    }
    .project-card-inner {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .project-card-description {
        @include font-size(small);
        @include font-type(light);
        color: $gray;
    }
    .project-card-statistics {
        display: flex;
        margin-top: auto;
        svg {
            &:not(.icon-key) {
                @include svg-size(.75rem);
            }
            fill: currentColor;
            margin-right: .25rem;
        }
    }
    .statistic {
        @include font-size(small);
        color: $gray-light;
        display: inline-block;
        margin-right: .5rem;
        &.active {
            color: $primary;
            svg {
                fill: currentColor;
            }
        }
    }
    .project-card-header {
        display: flex;
        flex-grow: 0;
        .icon-badge {
          fill: $primary-light;
        }
    }
    .project-card-logo {
        display: inline-block;
        flex-basis: 50px;
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        margin-right: .5rem;
        img {
            width: 100%;
        }
    }
    .project-card-name {
        line-height: 1.25;
        a {
            @include font-size(large);
            @include font-size(large);
            color: $primary;
            &:hover {
                color: $primary-light;
            }
        }
    }
}
