// __Font Sizes__ //

@mixin font-size($size) {
    @if $size == xsmall {
        font-size: .7rem;
    } @else if $size == small {
        font-size: .875rem;
    } @else if $size == medium {
        font-size: 1rem;
    } @else if $size == large {
        font-size: 1.1rem;
    } @else if $size == larger {
        font-size: 1.4rem;
    } @else if $size == xlarge {
        font-size: 1.7rem;
    } @else if $size == xxlarge {
        font-size: 2.1rem;
    } @else if $size == gigantic {
        font-size: 4rem;
    } @else {
        font-size: .875rem;
    }
}

@mixin font-type($type) {
    @if $type == title {
        font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif;
    } @else if $type == light {
        font-family: 'Ubuntu-Light', Arial, Helvetica, sans-serif;
    } @else if $type == text {
        font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif;
    } @else if $type == semibold {
        font-family: 'Ubuntu-Medium', Arial, Helvetica, sans-serif;
    } @else if $type == bold {
        font-family: 'Ubuntu-Bold', Arial, Helvetica, sans-serif;
    } @else if $type == mono {
        font-family: 'courier new', 'monospace';
    } @else {
        font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif;
    }
}
