.assignable-member-single {
    align-items: center;
    background: $white;
    border-bottom: 1px solid $whitish;
    display: flex;
    padding: .25rem 0;
    &:hover {
        background: rgba($primary-light, .05);
        cursor: pointer;
    }
    .assignable-member-avatar {
        flex-basis: 3rem;
        margin-right: .5rem;
        max-height: 3rem;
        max-width: 3rem;
    }
    .assignable-member-name {
        flex: 1;
    }
}
