.assignable-member-single {
    align-items: center;
    display: flex;
    padding: .25rem 0;
    .assigned-members-option & {
        background: $white;
        border-bottom: 1px solid $whitish;
        cursor: pointer;
    }
    &:hover {
        background: rgba($primary-light, .05);
    }
    .assignable-member-avatar {
        flex-basis: 3rem;
        margin-right: .5rem;
        max-height: 3rem;
        max-width: 3rem;
    }
    .assignable-member-name {
        flex: 1;
    }
}
