section.team-filters
    div.team-filters-inner
        header
            h1(translate="COMMON.FILTERS.TITLE")

        form.search-in
            fieldset
                input(type="text", placeholder="{{'TEAM.PLACEHOLDER_INPUT_SEARCH' | translate}}", ng-model="filtersQ")
                .icon-search-wrapper
                    svg.icon.icon-search(title="{{'COMMON.FILTERS.TITLE_ACTION_FILTER_BUTTON' | translate}}")
                        use(xlink:href="#icon-search")

        nav(tg-team-filters)
