section.table-team.basic-table
    header.row.team-header
        div.username
        div.member-stats
            div.attribute.attribute-name(ng-if="issuesEnabled")
                span Mr. Wolf
                div.popover.attribute-explanation
                    span Closed issues
            div.attribute(ng-if="tasksEnabled")
                span Iocaine Drinker
                div.popover.attribute-explanation
                    span Iocaine doses ingested
            div.attribute(ng-if="wikiEnabled")
                span Cervantes
                div.popover.attribute-explanation
                    span Wiki pages edited
            div.attribute(ng-if="issuesEnabled")
                Total Bug Hunter
                div.popover.attribute-explanation
                    span Bugs reported
            div.attribute(ng-if="tasksEnabled")
                span Night Shift
                div.popover.attribute-explanation
                    span Tasks closed
            div.attribute
                Total Power
                div.popover.attribute-explanation
                    span Total Points

    div.hero(tg-team-current-user, stats="stats", currentuser="currentUser", projectid="projectId", issuesEnabled="issuesEnabled", tasksenabled="tasksEnabled", wikienabled="wikiEnabled", ng-if="::currentUser")

h2(ng-show="memberships.length")
    span Team >
    span  {{filtersRole.name || "All"}}

section.table-team.basic-table(tg-team-members, memberships="memberships", stats="stats", filtersq="filtersQ", filtersrole="filtersRole", issuesEnabled="issuesEnabled", tasksenabled="tasksEnabled", wikienabled="wikiEnabled")
