@import '../../../../styles/dependencies/mixins/epics-dashboard';

.story-row {
    @include font-size(small);
    @include epics-table;
    align-items: center;
    background: $white;
    border-radius: 3px;
    display: flex;
    margin-left: 5rem;
    transition: background .2s;
    &:hover {
        background-color: $color-gray100;
    }
    &.is-blocked {
        background: $color-solid-red;
        a,
        span,
        div {
            color: $white;
        }
        svg {
            fill: $white;
            stroke: $white;
        }
    }
    &.is-closed {
        .name {
            color: $gray-light;
            text-decoration: line-through;
        }
    }
    .name {
        flex-basis: 16vw;
        a {
            cursor: pointer;

            &:hover {
                .ref,
                .subject {
                    color: $color-link-primary;
                }
            }
        }
        .subject {
            color: $color-black600;
            margin-left: .25rem;
        }
        tg-belong-to-epics {
            margin-left: .5rem;
        }
    }
    .progress-bar,
    .progress-status {
        height: 1.5rem;
        left: 0;
        position: absolute;
        top: .25rem;
    }
    .progress-bar {
        background: $mass-white;
        max-width: 40vw;
        width: 100%;
    }
    .progress-status {
        background-color: $color-link-primary;
        width: 10vw;
    }
    .project {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    .project,
    .assigned {
        img {
            width: 30px;
        }
    }
    .assigned {
        align-items: center;
        display: flex;
        justify-content: center;
        img {
            border-radius: 50%;
            height: 2rem;
            overflow: hidden;
            width: 2rem;
        }
    }
}
