.history-tabs {
    background: $whitish;
    display: flex;
    flex-direction: row;
    a {
        color: $grayer;
        display: inline-block;
        padding: .75rem 1rem;
        &:hover {
            color: $grayer;
        }
    }
    .history-tab {
        @include font-type(bold);
        border-bottom: 3px solid transparent;
        color: $gray-light;
        transition: all .1s linear;
        &.active {
            border-bottom: 3px solid $grayer;
            color: $grayer;
        }
    }
    .order-comments {
        @include font-type(light);
        margin-left: auto;
    }
    .icon-arrow-down {
        @include svg-size(.8rem);
    }
}




//     @include font-type(light);
//     border-bottom: 1px solid $whitish;
//     border-top: 1px solid $whitish;
//     margin-bottom: 0;
//     li {
//         background: $white;
//         display: inline-block;
//         position: relative;
//         &.active {
//             border-left: 1px solid $whitish;
//             border-right: 1px solid $whitish;
//             color: $primary;
//             top: 1px;
//         }
//         &:hover {
//             color: $grayer;
//             transition: color .2s ease-in;
//         }
//     }
//     a {
//         color: $gray-light;
//         display: block;
//         padding: .5rem 2rem;
//         transition: color .2s ease-in;
//     }
//     .icon {
//         fill: currentColor;
//         height: .75rem;
//         margin-right: .5rem;
//         width: .75rem;
//     }
// }
