.history-tabs {
    .order-comments {
        @include font-type(regular);
        display: flex;
        margin-left: auto;
        transition: none;
    }
    .icon-arrow-up,
    .icon-arrow-down {
        @include svg-size(.75rem);
    }
}
