section.custom-fields-table.basic-table
    div.table-header
        div.row
            div.custom-name Name
            div.custom-description Description
            div.custom-options
    div.table-body
        div.row
            div.custom-name
            div.custom-description Description
            div.custom-options
        form.row
            fieldset.custom-name
                input(type="text")
            fieldset.custom-description Description
                input(type="text")
            fieldset.custom-options

