section.custom-fields-table.basic-table
    div.table-header
        div.row
            div.custom-name
                span Name
            div.custom-description
                span Description
            div.custom-options
    div.table-body
        div.row.single-custom-field
            span.icon.icon-drag-v
            div.custom-name
                span Custom field name
            div.custom-description
                span Custom field looong Description
            div.custom-options
                div.custom-options-wrapper
                    a.edit-webhook.icon.icon-edit(href="", title="Edit Custom Field")
                    a.delete-webhook.icon.icon-delete(href="", title="Delete Custom Field")
        form.row.single-custom-field
            fieldset.custom-name
                input(type="text", placeholder="Set your custom field name")
            fieldset.custom-description
                input(type="text", placeholder="Set your custom field description")
            fieldset.custom-options
                div.custom-options-wrapper
                    a.edit-webhook.icon.icon-floppy(href="", title="Save Custom Field")
                    a.delete-webhook.icon.icon-delete(href="", title="Delete Custom Field")

