section.admin-membership-table.basic-table
    div.row.title
        div.header-member Member
        div.header-admin Admin
        div.header-role Role
        div.header-status Status

    div.row(ng-repeat="member in memberships")
        div.row-member(tg-memberships-row-avatar="member")
        div.row-admin(tg-memberships-row-admin-checkbox="member")
        div.row-role(tg-memberships-row-role-selector="member")
        div.row-status(tg-memberships-row-actions="member")
