
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

section.admin-membership-table.basic-table
    .row.title
        div.header-member(translate="ADMIN.MEMBERSHIP.COLUMN_MEMBER")
        div.header-admin(translate="ADMIN.MEMBERSHIP.COLUMN_ADMIN")
        div.header-role(translate="ADMIN.MEMBERSHIP.COLUMN_ROLE")
        div.header-status(translate="ADMIN.MEMBERSHIP.COLUMN_STATUS")

    .row(ng-repeat="member in memberships")
        div.row-member(tg-memberships-row-avatar="member")
        div.row-admin(tg-memberships-row-admin-checkbox="member")
        div.row-role(tg-memberships-row-role-selector="member")
        div.row-status(tg-memberships-row-actions="member")
