//*************************
//** LAYOUT
//*************************

// Default body color and background
body {
    background: $white; // fallback
    color: $grayer;
}

// Main
.master {
    background: $white;
}

// Secondary panel
.menu-secondary {
    background: $mass-white;
}

// Tertiary panel
.menu-tertiary {
    background-color: $primary-dark;
}

// Extra bar panel
.extrabar {
    background: $mass-white;
}



// Titles
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $blackish;
}

a {
    color: $grayer;
    &:hover {
        color: $primary;
    }
}

//**************************
//** SCAFFOLDING
//**************************

//Forms
input[type="text"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea {
    background: $mass-white;
    border-color: $gray-light;
    color: $grayer;
    @include placeholder {
        color: lighten($gray-light, 10%);
    }
    &.checksley-error {
        border: 1px solid $red;
    }
}


// Input errors
.checksley-error-list {
    @include font-type(light);
    background: rgba($red, .7);
    color: $white;
}

// Blockquote
blockquote {
    border-left: 5px solid $mass-white;
}

blockquote,
blockquote p {
    color: $gray;
}

cite {
    color: $gray;
}


.summary {
    background: $grayer;
    color: $white;
}


//************************
//** NAVIGATION
//***********************

// Top navigation bar
.navbar {
    background: rgba($black, .5);
    &::after {
        background: url('../images/menu-vert.png') repeat top left;
    }
}

//In project left navigation bar
tg-project-menu {
    background-color: $primary-dark;
    background-image: url('../images/menu.png');
}

.main-nav {
    svg {
        fill: $white;
    }
}

//*****************************
//** TASKBOARD
//******************************

//Taskboard table
.taskboard-table-header {
    .task-colum-name {
        background: $mass-white;
        border-top: 3px solid $gray-light;
        .icon {
            fill: $gray-light;
        }
    }
}
.taskboard-table-body {
    .taskboard-cards-box {
        background: $mass-white;
    }
}

//*****************************
//** KANBAN
//******************************

//Kanban table
.kanban-table-header {
    .task-colum-name {
        background: $mass-white;
        border-top: 3px solid $gray-light;
        .icon {
            color: $gray-light;
        }
    }
}

.kanban-table-body {
    .kanban-uses-box {
        background: $mass-white;
    }
}
