//************************
//** COLORS
//************************

$primary: #25A28C;
$primary-75: #5CBAA9;
$primary-50: #92D1C5;
$primary-25: #C9E8E2;
$primary-10: #E9F6F3;

$secondary: #A7CB23;
$secondary-75: #BDD65A;
$secondary-50: #D3E391;
$secondary-25: #E9F1C8;

$tertiary: #C6C6D4;

$red:  #FF6363;
$red-25: #FFA5A5;
$red-10: #FFE7E7;

$grey-02: #F9F9FB;
$grey-05: #F1F1F4;
$grey-10: #E2E3E9;
$grey-20: #C6C6D4;
$grey-30: #A9AABC;
$grey-40: #8D8EA5;
$grey-50: #70728F;
$grey-60: #5A5B72;
$grey-70: #434456;
$grey-80: #2D2D39;
$grey-90: #16171D;


// Color aliases for retrocompatibility
$black: #000;
$blackish: $grey-90;
$grayer: $grey-70;
$gray: $grey-60;
$gray-light: $grey-50;
$gray-lighter: $grey-30;
$whitish: $grey-10;
$mass-white: $grey-05;
$white: #fff;

// Primary colors
$primary-light: $primary-75;
$primary-lighter: $primary-10;
$primary-dark: $primary-50;
$primary-background: $primary-25;

// Secondary colors
$secondary-light: $secondary-50;
$secondary-dark: #91B011;

//Status colors
$green-light: #D1DFC5;
$red-light: lighten($red, 12%);
$my-sin: #fcaf3e;
$yellow-green: #9dce0a;

//Card color
$card: #fff8e4;
$card-hover: #f1e8cd;
$card-dark: #cfc29b;

$green-japanese-laurel: #237400;
$green-olive: #618000;
$red-amaranth: #e43050;
$purple-eggplant: #810061;
$yellow-pear: #bbe831;

$tribe-primary: #107a8a;
$tribe-secondary: darken($tribe-primary, 10%);

$top-icon-color: #11241f;
$dropdown-color: rgba(darken($grayer, 20%), 1);
$code-bg: #272822;

$highlight: #E5F390;

// TAIGA 6

// Primary colors
$color-solid-primary: #83EEDE;
$color-link-primary: #008AA8;
$color-link-tertiary: #70728F;

// Grayscale
$color-gray100: #F9F9FB;
$color-gray200: #ECEFF4;
$color-gray300: #E5E9F0;
$color-gray400: #D8DEE9;

$color-black600: #4C566A;
$color-black700: #434C5E;
$color-black800: #3B4252;
$color-black900: #2E3440;

// State colors
$color-solid-red: #E44057;
$color-solid-orange: #EA7B4B;
$color-solid-yellow: #F6C95C;
$color-solid-green: #93C45D;
$color-solid-purple: #CA81BE;

// TAIGA 6

// Primary colors
$color-solid-primary: #83EEDE;
$color-link-primary: #008AA8;
$color-link-tertiary: #70728F;

// Grayscale
$color-gray100: #F9F9FB;
$color-gray200: #ECEFF4;
$color-gray300: #E5E9F0;
$color-gray400: #D8DEE9;

$color-black600: #4C566A;
$color-black700: #434C5E;
$color-black800: #3B4252;
$color-black900: #2E3440;

// State colors
$color-solid-red: #E44057;
$color-solid-orange: #EA7B4B;
$color-solid-yellow: #F6C95C;
$color-solid-green: #93C45D;
$color-solid-purple: #CA81BE;
