// Colors

$black: #000;
$blackish: #050505;
$grayer: #444;
$gray: #555;
$gray-light: #b8b8b8;
$whitish: #f5f5f5;
$white: #fff;

$green-taiga: #72a114;
$fresh-taiga: #9dce0a;
$dark-taiga: #879b89;

$red-light: #ff8282;
$red: #f00;

$postit: #fff8e4;
$postit-hover: #f1e8cd;
$postit-dark-hover: #cfc29b;


//Loading bar
$green-japanese-laurel: #237400;
$green-olive: #618000;
$red-amaranth: #e43050;
$purple-eggplant: #810061;
$yellow-pear: #bbe831;

$menu: #232323;
$star-fill: #edd400;

// Top menu values
$top-icon-color: #11241f;
$dropdown-width: 350px;
$dropdown-color: rgba(darken($grayer, 20%), 1);
