<% if (assignedTo) { %>
.user-avatar(class!="<% if(isIocaine){ %> is-iocaine <% }; %>")
    img(src!="<%- assignedTo.photo %>", alt!="<%- assignedTo.full_name_display %>")
    <% if(isIocaine){ %>
    .iocaine-symbol(title="{{ 'TASK.TITLE_ACTION_IOCAINE' | translate }}")
        include ../../../svg/iocaine.svg
    <% }; %>
<% } %>

.assigned-to
    span.assigned-title(translate="COMMON.FIELDS.ASSIGNED_TO")

    a(href="" title="{{ 'COMMON.ASSIGNED_TO.TITLE_ACTION_EDIT_ASSIGNMENT'|translate }}",
      class!="user-assigned <% if(isEditable){ %>editable<% }; %>")
        span.assigned-name
            <%- assignedTo.full_name_display %>
            <% if(isEditable){ %>
            span.icon.icon-arrow-bottom
            <% }; %>
    <% if (assignedTo!==null && isEditable) { %>
    a.icon.icon-delete(href="" title="{{'COMMON.ASSIGNED_TO.DELETE_ASSIGNMENT' | translate}}")
    <% } %>
