<% if (assignedTo) { %>
.user-avatar
    img(src!="<%- assignedTo.photo %>", alt!="<%- assignedTo.full_name_display %>")
<% } %>

.assigned-to
    span.assigned-title Assigned to

    a(href="" title="edit assignment", class!="user-assigned <% if(isEditable){ %>editable<% }; %>")
        span.assigned-name
        <% if (assignedTo) { %>
        <%- assignedTo.full_name_display %>
        <% } else { %>
        | Not assigned
        <% } %>
        <% if(isEditable){ %>
        span.icon.icon-arrow-bottom
        <% }; %>
    <% if (assignedTo!==null && isEditable) { %>
    a.icon.icon-delete(href="" title="delete assignment")
    <% } %>
