a.button-gray.item-block(
    href=""
    title="{{ 'COMMON.BLOCK' | translate }}"
)
    include ../../../svg/lock.svg
a.button-red.item-unblock(
    href=""
    title="{{ 'COMMON.UNBLOCK' | translate }}"
)
    include ../../../svg/unlock.svg
