
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

button.btn-icon.button-lock(
    ng-class="{'item-unblock': item.is_blocked,'item-block': !item.is_blocked}"
    title="{{ 'COMMON.BLOCK_TITLE' | translate }}"
)
    tg-svg(
        svg-icon="icon-lock"
    )
