a.button-gray.item-block(
    href=""
    title="{{ 'COMMON.BLOCK_TITLE' | translate }}"
)
    tg-svg(svg-icon="icon-block")
a.button-red.item-unblock(
    href=""
    title="{{ 'COMMON.UNBLOCK_TITLE' | translate }}"
)
    tg-svg(svg-icon="icon-block")
