a.button-gray.item-block(
    href=""
    title="{{ 'COMMON.BLOCK_TITLE' | translate }}"
)
    svg.icon.icon-lock
        use(xlink:href="#icon-lock")
a.button-red.item-unblock(
    href=""
    title="{{ 'COMMON.UNBLOCK_TITLE' | translate }}"
)
    svg.icon.icon-lock
        use(xlink:href="#icon-unlock")
