.user-avatar
    img(src!="<%- owner.photo %>", alt!="<%- owner.full_name_display %>")

.created-by
    span.created-title
      | Created by <%- owner.full_name_display %>
    span.created-date
      | <%- date %>
