include wysiwyg.jade

.view-description
    section.us-content.wysiwyg(tg-bind-html="item.description_html || noDescriptionMsg")
    tg-svg.edit(svg-icon="icon-edit")

.edit-description
    textarea(ng-attr-placeholder="{{'COMMON.DESCRIPTION.EMPTY' | translate}}", ng-model="item.description", tg-markitup="tg-markitup")
    +wysihelp
    div.save-container
        span.save
            tg-svg(
                svg-icon="icon-save",
                svg-title-translate="COMMON.SAVE"
            )
