.view-description
    section.us-content.wysiwyg(tg-bind-html="item.description_html || noDescriptionMsg")
    span.edit.icon.icon-edit

.edit-description
    textarea(ng-attr-placeholder="{{'COMMON.DESCRIPTION.EMPTY' | translate}}", ng-model="item.description", tg-markitup="tg-markitup")
    a.help-markdown(href="https://taiga.io/support/taiga-markdown-syntax/", target="_blank", title="{{'COMMON.WYSIWYG.MARKDOWN_HELP' | translate}}")
        span.icon.icon-help
        span(translate="COMMON.WYSIWYG.MARKDOWN_HELP")
    span.save-container
        a.save.icon.icon-floppy(href="", title="{{'COMMON.SAVE' | translate}}")
