
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

span.detail-status-inner.js-edit-status(
    class!="<% if(editable){ %>clickable<% }%>"
)
    span(style!="background-color:<%- status.color %>")
        span.e2e-status <%- status.name %>
        <% if(editable){ %>
        tg-svg(svg-icon="icon-arrow-down")
        <% }%>

ul.pop-status.popover
    <% _.each(statuses, function(st) { %>
    li
        a.status(
            href=""
            title!="<%- st.name %>"
            data-status-id!="<%- st.id %>"
        )
            span.item-text <%- st.name %>
    <% }); %>
