span(translate="COMMON.STATUS.OPEN", ng-if="is_closed")
span(translate="COMMON.STATUS.CLOSED", ng-if="!is_closed")

span(class="us-detail-status", style!="color:<%- status.color %>")
    | <%- status.name %>
