<% if (is_closed) { %>
span(translate="COMMON.STATUS.CLOSED")
<% } else { %>
span(translate="COMMON.STATUS.OPEN")
<% } %>
span(class="detail-status", style!="color:<%- status.color %>")
    | <%- status.name %>
