
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

ng-container(ng-if="!ctrl.notFoundTasks")
    .placeholder-board-card.clean
        .placeholder-board-row
            .placeholder-board-text.small
            .placeholder-board-text.big
        .placeholder-board-row
            .placeholder-board-text
        .placeholder-board-row
            .placeholder-board-last-text
    p.title {{'TASKBOARD.PLACEHOLDER_CARD_TITLE' | translate}}
    p.text(
        translate="TASKBOARD.PLACEHOLDER_CARD_TEXT"
        translate-values="{backlogUrl: ctrl.backToBacklogUrl}"
    )

ng-container(ng-if="ctrl.notFoundTasks")
    p.title(translate="TASKBOARD.TASK_NOT_FOUND_TITLE")
    p(translate="TASKBOARD.TASK_NOT_FOUND_TEXT")
