<% _.each(watchers, function(watcher) { %>
<% if(watcher) { %>
.user-list-single
    .user-list-avatar
        img(
            src!="<%- watcher.photo %>"
            alt!="<%- watcher.full_name_display %>"
        )
    .user-list-name
        span <%- watcher.full_name_display %>

        <% if(isEditable){ %>
        svg.icon.icon-trash.js-delete-watcher.delete-watcher(
            data-watcher-id!="<%- watcher.id %>"
            title="{{'COMMON.WATCHERS.DELETE' | translate}}"
        )
            use(xlink:href="#icon-trash")
        <% }; %>
<% } %>
<% }); %>
