<% if(isEditable){ %>
.watchers-header
    span.title(translate="COMMON.WATCHERS.TITLE")
    a.icon.icon-plus.add-watcher(href="", title="{{'COMMON.WATCHERS.ADD' | translate}}")
<% } else if(watchers.length > 0){ %>
.watchers-header
    span.title(translate="COMMON.WATCHERS.TITLE")
<% }; %>

<% _.each(watchers, function(watcher) { %>
<% if(watcher) { %>
.watcher-single
    .watcher-avatar
        img(src!="<%- watcher.photo %>" alt!="<%- watcher.full_name_display %>")
    .watcher-name
        span <%- watcher.full_name_display %>

        <% if(isEditable){ %>
        a.icon.icon-delete(data-watcher-id!="<%- watcher.id %>" href="" title="{{'COMMON.WATCHERS.DELETE' | translate}}")
        <% }; %>
<% } %>
<% }); %>
