
//- This source code is licensed under the terms of the
//- GNU Affero General Public License found in the LICENSE file in
//- the root directory of this source tree.
//-
//- Copyright (c) 2021-present Kaleidos INC

tg-lightbox-close

.history-container
    h2.title(translate="COMMENTS.HISTORY.TITLE")
    .history-wrapper
        tg-history-entry.entry(
            ng-repeat="entry in vm.commentHistoryEntries"
            entry="entry"
        )
