.entry {
    display: block;
    .entry-wrapper {
        align-items: flex-start;
        border-bottom: 1px solid $whitish;
        display: flex;
        padding: 2rem 0;
    }
    .entry-avatar {
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 1.5rem;
        width: 50px;
    }
    .entry-main {
        flex: 1;
        max-width: calc(100% - 100px);
    }
    .entry-data {
        align-items: flex-start;
        display: flex;
        margin-bottom: .5rem;
    }
    .entry-creator {
        color: $primary;
        margin-right: .5rem;
    }
    .entry-date {
        @include font-size(small);
        color: $grey-50;
    }
    .display-full-entry {
        @include svg-size(1.25rem);
        cursor: pointer;
        fill: $primary;
        margin-left: auto;
        transform: rotate(0);
        transition: transform .2s;
        &.inactive {
            transform: rotate(180deg);
        }
    }
    .entry-text {
        margin-bottom: 0;
        &.ellipsed {
            max-height: 3rem;
            overflow: hidden;
        }
        &.blurry {
            position: relative;
            &::after {
                background-image: linear-gradient(to top, $white, transparent);
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}
