nav.profile-content-tabs
    a.tab.active(href="", title="Activity Tab")
        span.icon.icon-timeline
        span activity
    a.tab(href="", title="Projects Tab")
        span.icon.icon-project
        span projects
    a.tab(href="", title="Contacts Tab")
        span.icon.icon-team
        span contacts
    a.tab(href="", title="Favorites Tab")
        span.icon.icon-star-fill
        span favorites
