section.profile-favorites
    nav.profile-favorites-filters
        a.active(href="", title="No Filter") all
        a(href="", title="Only show your team") projects
        a(href="", title="Only show people you follow") US
        a(href="", title="Only show people follow you") tasks
