nav.profile-content-tabs
    a.tab.active(href="", title="Activity Tab")
        span.icon.icon-plus
        span activity
    a.tab(href="", title="Projects Tab")
        span.icon.icon-plus
        span projects
    a.tab(href="", title="Contacts Tab")
        span.icon.icon-plus
        span contacts
    a.tab(href="", title="Favorites Tab")
        span.icon.icon-plus
        span favorites
