section.profile-bar
    img.profile-img(src="http://i.imgur.com/gPiHzHN.jpg", alt="{{ user.nickname }}")
    a.button-green
        span Follow
    h1 Silvia Rodríguez
    // If user has no defined role in its profile use all its project defined roles followed by an &
    h2 Backend Developer & Stackeholder
    div.location
        // span.icon.icon-location
        span Madrid
    // These values in profile stats are not defined yet in UX. Please ask
    div.profile-stats
        div.stat
            span.stat-number 3
            span.stat-name projects
        div.stat
            span.stat-number 67
            span.stat-name us done
        div.stat
            span.stat-number 34
            span.stat-name contacts
    // These badges are not defined yet in UX. Please ask
    div.profile-badges
        div.badge
        div.badge
        div.badge
        div.badge

    div.profile-organizations
        h3 Organizations
        div.profile-organizations-wrapper
            div.organization
            div.organization
            div.organization
            div.organization

    div.profile-quote
        span "Small minds talk about people, average minds discuss events, great minds discuss ideas"
