extends ../../dummy-layout

block head
    title Taiga  Your agile, free, and open source project management tool

block content
    div.wrapper(ng-controller="TeamController as ctrl", ng-init="section='team'")
        sidebar.menu-secondary
            include ../modules/team/team-filters
        section.main.team
            include ../components/mainTitle
            include ../modules/team/team-table
