// this :not(code) prevent to override prismjs (wysiwyg) styles
.tag {
    @include font-size(xsmall);
    @include font-type(medium);
    @include ellipsis(20ch);
    background: $color-link-tertiary;
    border-radius: 2px;
    color: $color-white;
    margin-inline-end: .25rem;
    padding: .1rem .25rem;
    text-align: center;
    .icon-close {
        @include svg-size(.7rem);
        cursor: pointer;
        fill: $color-link-red;
        margin-inline-start: .25rem;
    }
    .loading-spinner {
        height: 1rem;
        width: 1rem;
    }
}
