div.project-list-wrapper.centered
    div.project-list-title
        h1 My projects
        a.create-project-btn.button-green(href="#", ng-click="vm.newProject()", title="{{'PROJECT.NAVIGATION.ACTION_CREATE_PROJECT' | translate}}", translate="PROJECT.NAVIGATION.ACTION_CREATE_PROJECT")
        div(tg-import-project-button)
            a.button-blackish.import-project-button(href="", title="{{'PROJECT.NAVIGATION.TITLE_ACTION_IMPORT' | translate}}")
                span.icon.icon-upload
            input.import-file.hidden(type="file")

    section.project-list-section
        div.project-list
            ul.js-sortable
                li.project-list-single(tg-bind-scope, tg-repeat="project in vm.projects")
                    div.project-list-single-left
                        div.project-list-single-title
                            h1
                                a(href="#", ng-bind="::project.name", tg-nav="project:project=project.slug", title="{{ ::project.name }}")
                                    span {{::project.is_private}}
                            p {{ ::project.description | limitTo:300 }}
                                span(ng-if="::project.description.length > 300") ...

                        div.project-list-single-tags.tags-container(ng-if="::project.tags")
                            div.tags-block(tg-colorize-tags="project.tags", tg-colorize-tags-type="backlog")

                    div.project-list-single-right
                    span.drag.icon.icon-drag-v

        aside.help-area
            p(translate="PROJECT.HELP")
