.project-list-single {
    border-bottom: 1px solid $whitish;
    display: flex;
    justify-content: space-between;
    min-height: 9rem;
    padding: 1rem;
    position: relative;
}

.project-list-single-left {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    h1 {
        @extend %text;
        @extend %larger;
        color: $gray;
        display: inline-block;
        margin-bottom: 0;
        text-transform: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    p {
        @extend %text;
        @extend %xsmall;
        color: $gray;
        margin-bottom: 0;
    }
    .project-list-single-tags {
        align-self: flex-end;
        display: flex;
        flex: 3;
        flex-wrap: wrap;
        margin-top: .5rem;
    }
    .tag {
        align-self: flex-end;
        margin-right: .5rem;
        padding: .5rem;
    }
}

.project-list-single-right {
    flex-shrink: 0;
    justify-content: space-between;
    width: 200px;
    .project-list-single-stats {
        align-self: flex-end;
        display: flex;
        div {
            color: $gray-light;
            margin-right: .5rem;
            .icon {
                margin-right: .2rem;
                vertical-align: center;
            }
        }
        .active {
            .icon {
                color: $primary-light;
            }
        }
    }
    .project-list-single-members {
        align-self: flex-end;
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 0;
        flex-wrap: wrap-reverse;
        margin-top: 1rem;
        a {
            display: block;        }
        img {
            border-radius: .1rem;
            margin-right: .3rem;
            width: 34px;
        }
    }
}
